@import "../../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

#contrat-travail-div-infos-lieu-travail {
  margin-bottom: 1rem !important;

  img {
    width: 1.4375rem;
    height: 1.4375rem;
  }

  span {
    color: $color-blue-1;
    font-style: italic;
  }

  .col-auto {
    padding-left: 0;
    padding-right: 0;
  }

  .col {
    padding-left: 0.625rem;
  }
}

input {
  max-width: 6rem;
}

.net-ou-brut {
  color: $color-blue-2;
  line-height: 2.2rem;

  @media #{$extra-small-device} {
    text-align: center;

  }
}