@import "../../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

#contrat-travail-div-infos-lieu-travail {
  margin-bottom: 1rem !important;
  img {
    width: 23px;
    height: 23px;
  }
  span {
    color: $color-blue-1;
    font-style: italic;
  }
  .col-auto {
    padding-left: 0;
    padding-right: 0;
  }
  .col {
    padding-left: 10px;
  }
}

.form-group-nombre-mois {
  @media #{$extra-small-device} {
    padding-left: 0;
  }
  @media #{$small-device} {
    margin-right: -15px;
    margin-left: -15px;
  }
}

input {
  max-width: 6rem;
}

.net-ou-brut {
  color: $color-blue-2;
  line-height: 2.2rem;
}