<div class="container-fluid form-container-fluid">
    <div class="div-title-formulaire">
        <h1 class="h1-style-2">1. {{pageTitlesEnum.CONTRAT_TRAVAIL}}</h1>
        <div class="text-under-h1">
            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
        </div>
    </div>
    <div class="card card-body card-form card-form-style-1">
        <form
            id="futurTravailForm"
            [ngClass]="{'submitted':isFuturTravailFormSubmitted}"
            #futurTravailForm="ngForm">
            <div class="row">
                <div class="col-12 col-md-3 form-group">
                    <div class="row mb-1">
                        <label
                            class="label"
                            for="typeContrat">
                            * Type de contrat
                        </label>
                    </div>
                    <div class="row">
                        <div class="custom-control custom-radio">
                            <input
                                id="typeContratCDI"
                                name="typeContratCDI"
                                data-testid="btn-type-contrat-cdi"
                                type="radio"
                                class="custom-control-input"
                                [(ngModel)]="futurTravail.typeContrat"
                                (click)="unsetNombreMoisContrat(typesContratTavailEnum.CDI)"
                                [value]="typesContratTavailEnum.CDI"
                                required
                                #typeContrat="ngModel"
                                (keyup)="handleKeyUpOnButtonTypeContrat($event, typesContratTavailEnum.CDI)">
                            <label
                                class="custom-control-label"
                                for="typeContratCDI">
                                {{typesContratTavailEnum.CDI}}
                            </label>
                        </div>
                        <div class="custom-control custom-radio ml-2">
                            <input
                                id="typeContratCDD"
                                name="typeContratCDD"
                                data-testid="btn-type-contrat-cdd"
                                type="radio"
                                class="custom-control-input"
                                [(ngModel)]="futurTravail.typeContrat"
                                [value]="typesContratTavailEnum.CDD"
                                required
                                #typeContrat="ngModel"
                                (keyup)="handleKeyUpOnButtonTypeContrat($event, typesContratTavailEnum.CDD)">
                            <label
                                class="custom-control-label"
                                for="typeContratCDD">
                                {{typesContratTavailEnum.CDD}}
                            </label>
                        </div>
                    </div>
                    <span
                        class="row error-input-message"
                        *ngIf="(isFuturTravailFormSubmitted || typeContrat.touched)  && typeContrat.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div
                    class="col-12 col-md form-group form-group-nombre-mois"
                    *ngIf="futurTravail.typeContrat == 'CDD'">
                    <label
                        class="label mb-2"
                        for="nombreMoisCDD">
                        * Nombre de mois
                    </label>
                    <select
                        id="nombreMoisCDD"
                        name="nombreMoisCDD"
                        data-testid="select-nombre--mois-cdd"
                        [(ngModel)]="futurTravail.nombreMoisContratCDD"
                        class="form-control"
                        data-width="auto"
                        required
                        [ngClass]="{'option-selected': futurTravail.nombreMoisContratCDD !== null}"
                        #nombreMoisCDD="ngModel">
                        <option
                            [value]="null"
                            disabled>
                            Sélectionner
                        </option>
                        <option
                            *ngFor="let nombreMois of nombreMoisCDDSelectOptions"
                            [value]="nombreMois.value">
                            {{ nombreMois.label }}
                        </option>
                    </select>
                    <span
                        class="error-input-message"
                        *ngIf="(isFuturTravailFormSubmitted || nombreMoisCDD.touched)  && nombreMoisCDD.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row flex-column mb-2">
                    <label
                        class="label"
                        for="dureeHebdomadaire">
                        * Durée hebdomadaire
                    </label>
                </div>
                <div class="row">
                    <input
                        class="form-control"
                        data-testid="input-duree-hebdomadaire"
                        id="dureeHebdomadaire"
                        inputmode="decimal"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        maxlength="4"
                        name="dureeHebdomadaire"
                        [ngClass]="{'ng-invalid': (futurTravail.nombreHeuresTravailleesSemaine && futurTravail.nombreHeuresTravailleesSemaine == 0) || futurTravail.nombreHeuresTravailleesSemaine > this.controleChampFormulaireService.MONTANT_NBR_HEURE_HEBDO_TRAVAILLE_MAX}"
                        [(ngModel)]="futurTravail.nombreHeuresTravailleesSemaine"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        placeholder="Nombre"
                        required
                        type="text"
                        #dureeHebdomadaire="ngModel">
                    <span class="text-side-input">heures par semaine</span>
                </div>
                <span
                    *ngIf="this.futurTravail.nombreHeuresTravailleesSemaine && futurTravail.nombreHeuresTravailleesSemaine > this.controleChampFormulaireService.MONTANT_NBR_HEURE_HEBDO_TRAVAILLE_MAX"
                    class="row error-input-message">
                    {{controleChampFormulaireService.MESSAGE_NBR_HEURE_HEBDO_TRAVAILLE}}
                </span>
                <span
                    *ngIf="futurTravail.nombreHeuresTravailleesSemaine && futurTravail.nombreHeuresTravailleesSemaine == 0"
                    class="row error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || dureeHebdomadaire.touched)  && dureeHebdomadaire.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || dureeHebdomadaire.touched)  && dureeHebdomadaire.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_DUREE_HEBDO_INCORRECTE}}
                </span>
            </div>
            <div class="form-group">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="salaire-mensuel-net">
                        * Indiquez le salaire mensuel brut ou net
                        <div
                            class="img-interrogation-icon"
                            [ngClass]="{'popover-open': popoverSalaireNet.isOpen}"
                            placement="right"
                            [popover]="popoverSalaireNetTemplate"
                            #popoverSalaireNet="bs-popover"></div>
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <input
                                id="salaireMensuelBrut"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                                name="salaireMensuelBrut"
                                data-testid="input-salaire-mensuel-brut"
                                type="text"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event);"
                                (keyup)="calculSalaireMensuelNet();"
                                maxlength="6"
                                class="form-control"
                                [ngClass]="{'ng-invalid':futurTravail.salaireMensuelBrut && futurTravail.salaireMensuelBrut == 0 || (isFuturTravailSalaireFormSubmitted && !futurTravail.salaireMensuelBrut)}"
                                placeholder="Montant"
                                [(ngModel)]="futurTravail.salaireMensuelBrut"
                                inputmode="decimal"
                                #salaireMensuelBrut="ngModel">
                            <span class="text-side-input">€ mensuel brut</span>
                        </div>
                        <span
                            *ngIf="futurTravail.salaireMensuelBrut && futurTravail.salaireMensuelBrut == 0"
                            class="row error-input-message">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                        <span
                            class="row error-input-message"
                            *ngIf="isFuturTravailSalaireFormSubmitted && !futurTravail.salaireMensuelBrut">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                        <span
                            class="row error-input-message"
                            *ngIf="(isFuturTravailSalaireFormSubmitted || salaireMensuelBrut.touched)  && salaireMensuelBrut.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                        </span>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <span class="net-ou-brut">ou</span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <input
                                id="salaireMensuelNet"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                                name="salaireMensuelNet"
                                data-testid="input-salaire-mensuel-net"
                                type="text"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                (keyup)="calculSalaireMensuelBrut();"
                                maxlength="6"
                                class="form-control"
                                placeholder="Montant"
                                [(ngModel)]="futurTravail.salaireMensuelNet"
                                [ngClass]="{'ng-invalid':futurTravail.salaireMensuelNet && futurTravail.salaireMensuelNet == 0 || (isFuturTravailSalaireFormSubmitted && !futurTravail.salaireMensuelNet)}"
                                inputmode="decimal"
                                #salaireMensuelNet="ngModel">
                            <span class="text-side-input">€ mensuel net</span>
                        </div>
                        <span
                            *ngIf="futurTravail.salaireMensuelNet && futurTravail.salaireMensuelNet == 0"
                            class="row error-input-message">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                        <span
                            class="row error-input-message"
                            *ngIf="(isFuturTravailSalaireFormSubmitted || salaireMensuelNet.touched)  && salaireMensuelNet.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                        </span>
                        <span
                            class="row error-input-message"
                            *ngIf="isFuturTravailSalaireFormSubmitted   && !futurTravail.salaireMensuelNet">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                </div>
            </div>
            <div
                id="contrat-travail-div-infos-lieu-travail"
                class="row  mb-2">
                <div class="col-auto">
                    <div>
                        <img src="./assets/images/info-grey.svg">
                    </div>
                </div>
                <div class="col">
                    <span>
                        Les informations ci-dessous servent à déterminer si vous pourrez bénéficier de l'aide à la mobilité
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row flex-column mb-2">
                    <label
                        class="label"
                        for="distance-domicile-lieu-travail">
                        * Distance entre votre domicile et le futur lieu de travail
                    </label>
                </div>
                <div class="row">
                    <input
                        id="distanceDomicileLieuTravail"
                        name="distanceDomicileLieuTravail"
                        data-testid="input-distance-domicile-lieu-travail"
                        type="text"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                        min="0"
                        maxlength="4"
                        class="form-control"
                        placeholder="Distance"
                        [(ngModel)]="futurTravail.distanceKmDomicileTravail"
                        required
                        inputmode="numeric"
                        #distanceDomicileLieuTravail="ngModel">
                    <span class="text-side-input">km</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || distanceDomicileLieuTravail.touched)  && distanceDomicileLieuTravail.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
            </div>
            <div class="form-group">
                <div class="row flex-column mb-2">
                    <label
                        class="label"
                        for="nombreTrajetsDomicileTravail">
                        * Nombre de trajets aller depuis votre domicile vers votre futur lieu de travail
                        <div
                            class="img-interrogation-icon"
                            [ngClass]="{'popover-open': popoverNombreTrajet.isOpen}"
                            placement="right"
                            [popover]="popoverNombreTrajetTemplate"
                            #popoverNombreTrajet="bs-popover"></div>
                    </label>
                </div>
                <div class="row">
                    <input
                        id="nombreTrajetsDomicileTravail"
                        name="nombreTrajetsDomicileTravail"
                        data-testid="input-nombre-trajets-domicile-travail"
                        type="text"
                        min="0"
                        maxlength="2"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                        class="form-control"
                        placeholder="Nombre"
                        [(ngModel)]="futurTravail.nombreTrajetsDomicileTravail"
                        required
                        inputmode="numeric"
                        #nombreTrajetsDomicileTravail="ngModel">
                    <span class="text-side-input">par mois</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || nombreTrajetsDomicileTravail.touched)  && nombreTrajetsDomicileTravail.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
            </div>
        </form>
    </div>
</div>
<div class="div-buttons-form container-fluid d-flex justify-content-center">
    <button
        class="btn-style-perso-2 first-btn"
        (click)="onClickButtonRetour()"
        data-testid="btn-futur-travail-retour">
        <div>
            <img src="./assets/images/return-arrow-v2.svg">
            <span>Retour</span>
        </div>
    </button>
    <button
        class="btn-style-perso-1 second-btn"
        type="submit"
        data-testid="btn-futur-travail-suivant"
        (click)="onSubmitFuturTravailForm(futurTravailForm)">
        <div>
            <span>Suivant</span>
            <img src="./assets/images/icon-bt-primaire.svg">
        </div>
    </button>
</div>

<ng-template #popoverSalaireNetTemplate>
    <div class="container">
        <div class="close-popover row">
            <i
                class="fas fa-times-circle mb-2  ml-auto"
                (click)="popoverSalaireNet.hide()"></i>
        </div>
        <div class="row">
            <b>Qu'est ce que le salaire brut et net ?</b>
            <p>
                Le salaire net correspond à la somme versée sur votre compte bancaire après soustraction des cotisations sociales et du prélévement à la source.
            </p>
            <p>
                En général, le salaire indiqué dans les offres publiées par Pôle emploi est brut. Il s'agit des sommes perçues avant déduction des cotisations sociales.
            </p>
        </div>
    </div>
</ng-template>

<ng-template #popoverNombreTrajetTemplate>
    <div class="container">
        <div class="close-popover row">
            <i
                class="fas fa-times-circle mb-2  ml-auto"
                (click)="popoverNombreTrajet.hide()"></i>
        </div>
        <div class="row">
            <p>
                <b>
                    Les informations sur vos trajets permettront de déterminer le montant de l'aide à la mobilité auquel vous pourrez prétendre.
                </b>
            </p>
            <p>
                <b>Exemples de calculs :</b>
            </p>
            <p>
                Julie réside à Strasbourg. Elle est intéressée par un poste à temps plein à Colmar. Elle pense effectuer le trajet tous les jours de la semaine (5 allers Strasbourg - Colmar par semaine) . Elle va donc indiquer
                <b>
                    20 trajets aller par mois (5 allers x 4 semaines)
                </b>
                .
            </p>
            <p>
                Rachid habite à Reims et envisage un emploi à Marseille. Il pense y déménager mais revenir à Reims le weekend le temps de sa période d'essai d'un mois. Il va indiquer
                <b>
                    4 trajets aller par mois (4 weekends par mois)
                </b>
                .
            </p>
        </div>
    </div>
</ng-template>
