@import "../../../../assets/scss/variables";

footer {
  padding-left: 10px;
  background-color: $color-white-1;
  bottom: 0;
  display: block;
  height: 15rem;
  left: 0;
  position: absolute;
  right: 0;
  @media #{$tablet-device} {
    height: 11rem;
  }
  @media #{$medium-device} {
    height: 17rem;
  }
  @media #{$extra-small-device} {
    // bottom: calc(#{$espace-se-connecter-sticky-height} + 1rem);
  }
  a {
    color: $color-blue-1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      outline: none;
    }
  }
  .row-1-footer {
    padding-top: 20px;
    @media #{$medium-device} {
      padding-bottom: 15px;
      padding-right: 15px;
      padding-top: 45px;
    }
    .row-1-footer-div-1 {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
      justify-content: center;
      align-items: center;
      line-height: 26px !important;
      @media #{$medium-device} {
        margin-left: 0;
        margin-right: auto;
      }
      .row {
        max-width: 260px;
        img {
          cursor: pointer;
          width: 69px;
          @media #{$medium-device} {
            width: 157px;
          }
        }
        .col-texte-service-estime {
          max-width: 265px;
          span {
            font-size: 12px;
          }
        }
      }
    }
    .row-1-footer-div-2 {
      font-size: 12px;
      margin-left: 0;
      margin-right: auto;
      @media #{$medium-device} {
        font-size: 16px;
        min-width: 380px;
      }
      div {
        padding-top: 9px;
        padding-bottom: 9px;
        @media #{$medium-device} {
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
    .row-1-footer-div-3 {
      line-height: 4px !important;
      padding-top: 15px;
      padding-bottom: 15px;
      @media #{$medium-device} {
        line-height: 10px !important;
        margin-left: auto;
        margin-right: 0;
        max-width: 285px;;
      }
      .row-col-1 {
        padding-right: 0;
        @media #{$medium-device} {
          margin-bottom: 12px;
          padding-right: 15px;
        }
        #logo-pole-emploi-colored {
          width: 45px;
          margin-right: 10px;
          @media #{$medium-device} {
            margin-left: 45px;
            margin-right: 0;
            width: 78px;
          }
        }
        #logo-fonds-social-europeen-footer {
          width: 51px;
          margin-left: 10px;
          margin-right: 10px;
          @media #{$medium-device} {
            margin-left: 0;
            margin-right: 0;
            width: 98px;
          }
        }
      }
      .row-col-2 {
        padding-right: 7px;
        padding-left: 7px;
        @media #{$medium-device} {
          margin-top: 12px;
        }
        #logo-ue-footer {
          margin-left: 10px;
          margin-right: 10px;
          @media #{$medium-device} {
            margin-top: 2px;
          }
          width: 41px;
          @media screen and (min-width: 768px) {
            width: 65px;
          }
        }
        #text-fse-footer {
          width: 84px;
          @media #{$medium-device} {
            width: 176px;
          }
          span {
            font-size: 6px !important;
            @media #{$medium-device} {
              font-size: 9px !important;
            }
          }
        }
      }
    }
  }
  .row-2-footer {
    border-top: 1px solid $color-grey-1;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    span {
      font-size: 8px;
      width: 100%;
      @media #{$medium-device} {
        font-size: 12px;
      }
    }
  }
}

.footer-avec-sticky-button {
  @media #{$extra-small-device} {
    bottom: calc(#{$espace-se-connecter-sticky-height} + 1rem);
  }
}
