<footer>
    <div class="container-fluid">
        <div class="row  h-100">
            <div
                id="div-1-footer"
                class="col-sm-12 col-md-auto my-auto">
                <div>
                  <img src="./assets/images/logo-estime.svg">
                  <a (click)="onClickLinkCGU()">Conditions Générales d'Utilisation</a>
                </div>
            </div>
            <div
                id="div-2-footer"
                class="col-sm-12 col-md-auto d-flex my-auto">
                <div>
                    <img
                        id="logo-fonds-social-europeen-footer"
                        src="./assets/images/logo-fonds-social-europeen.png">
                </div>
                <div>
                    <img
                        id="logo-ue-footer"
                        src="./assets/images/logo-ue.svg">
                </div>
                <div id="text-fse-footer">
                    <span>
                        Ce dispositif est cofinancé par le Fonds Social Européen dans le cadre du Programme opérationnel national "Emploi et inclusion" 2014-2020
                    </span>
                </div>
            </div>
            <div
                id="div-3-footer"
                class="col-lg-12 col-xl-auto my-auto">
                <div>
                  <span>
                      Copyright 2020 ©ESTIME propulsé par POLE EMPLOI
                  </span>
                </div>
            </div>
        </div>
    </div>
</footer>
