<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 col-md-1">
        <img id="logo-pole-emploi-footer" src="./assets/images/logo-pole-emploi-mono-blue-text-under.svg" />
      </div>
      <div id="div-cgu" class="col-10 col-md-6">
        <a (click)="onClickLinkCGU()">Conditions Générales d'Utilisation</a>
      </div>
      <div id="div-copyright" class="col-12 col-md-5">
        <span>Copyright 2020 ©ESTIME propulsé par POLE EMPLOI</span>
      </div>
    </div>
  </div>
</footer>