<footer [ngClass]="this.stickyFooter?'footer-avec-sticky-button':''">
    <div *ngIf="!screenService.isExtraSmallScreen();">
        <div class="row desktop-row-1-footer">
            <div class="col-md-6 row row-1-col-1-footer">
                <div class="col-4">
                    <img id="logo-estime-footer" alt="Logo du service Estime"
                        src="./assets/images/logos/logo-estime.svg" (click)="onClickLogoEstime()"
                        tag-navigation="clic_logo_estime_footer_retour_accueil">
                </div>
                <div class="col-8 pt-2">
                    <p class="caption-typo">
                        Estime est un service de Pôle emploi
                        qui vous donne vos futures ressources en cas de reprise d’emploi sur les 6 mois à venir.
                    </p>
                </div>
            </div>
            <div class="col-md-6 row-1-col-2-footer row">
                <div class="col-2">
                    <img id="logo-fonds-social-europeen-footer" alt="Logo du Fond Social Européen"
                        src="./assets/images/logos/logo-fse.png">
                </div>
                <div class="col-2">
                    <img id="logo-pole-emploi-colored" alt="Logo de Pôle emploi"
                        src="./assets/images/logos/logo-pe.png">
                </div>
                <div class="col-2">
                    <img id="logo-ue-footer" alt="Logo Union Européenne" src="./assets/images/logos/logo-ue.svg">
                </div>
                <div class="col-6">
                    <span id="text-fse-footer">
                        Ce dispositif est cofinancé par le Fonds Social Européen dans le cadre du Programme
                        opérationnel national "Emploi et inclusion" 2014-2020
                    </span>
                </div>
            </div>
        </div>
        <div class="row desktop-row-2-footer">
            <div class="row-footer-content row">
                <div class="col-2">
                    <a class="body-2-typo" (click)="onClickAides()"
                        tag-navigation="clic_lien_footer_toutes_les_aides">Toutes les aides</a>
                </div>
                <div class="col-2">
                    <a class="body-2-typo" (click)="onClickLinkContact()"
                        tag-navigation="clic_lien_footer_nous_contacter">Nous contacter</a>
                </div>
                <div class="col-2">
                    <a class="body-2-typo" (click)="onClickLinkStatistiques()"
                        tag-navigation="clic_lien_footer_statistiques">Statistiques</a>
                </div>
                <div class="col-2">
                    <a class="body-2-typo" (click)="onClickLinkAccessibilite()"
                        tag-navigation="clic_lien_footer_accessibilite">Accessibilité</a>
                </div>
                <div class="col-4">
                    <a class="body-2-typo" (click)="onClickLinkCGU()" tag-navigation="clic_lien_footer_cgu">Conditions
                        Générales d'Utilisation</a>
                </div>
                <div class="col-12 col-copyright">
                    <p class="caption-typo">
                        Copyright 2022 ©ESTIME propulsé par PÔLE EMPLOI
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="screenService.isExtraSmallScreen();">
        <div class="row mobile-row-1-footer">
            <div class="row-footer-content row">
                <div class="col-12">
                    <a class="body-2-typo" (click)="onClickAides()"
                        tag-navigation="clic_lien_footer_toutes_les_aides">Toutes les aides</a>
                </div>
                <div class="col-12 mt-2">
                    <a class="body-2-typo" (click)="onClickLinkContact()"
                        tag-navigation="clic_lien_footer_nous_contacter">Nous contacter</a>
                </div>
                <div class="col-12 mt-2">
                    <a class="body-2-typo" (click)="onClickLinkStatistiques()"
                        tag-navigation="clic_lien_footer_statistiques">Statistiques</a>
                </div>
                <div class="col-12 mt-2">
                    <a class="body-2-typo" (click)="onClickLinkAccessibilite()"
                        tag-navigation="clic_lien_footer_accessibilite">
                        Accessibilité
                    </a>
                </div>
                <div class="col-12 mt-2 mb-2">
                    <a class="body-2-typo" (click)="onClickLinkCGU()" tag-navigation="clic_lien_footer_cgu">
                        Conditions Générales d'Utilisation
                    </a>
                </div>
            </div>
        </div>
        <div class="row mobile-row-2-footer">
            <div class="col-md-12 row-1-col-2-footer row">
                <div class="col-2">
                    <img id="logo-pole-emploi-colored" alt="Logo de Pôle emploi"
                        src="./assets/images/logos/logo-pe.png">
                </div>
                <div class="col-3">
                    <img id="logo-fonds-social-europeen-footer" alt="Logo du Fond Social Européen"
                        src="./assets/images/logos/logofse.png">
                </div>
                <div class="col-3">
                    <img id="logo-ue-footer" alt="Logo Union Européenne" src="./assets/images/logos/logo-ue.svg">
                </div>
                <div class="col-4">
                    <span id="text-fse-footer">
                        Ce dispositif est cofinancé par le Fonds Social Européen dans le cadre du Programme
                        opérationnel national "Emploi et inclusion" 2014-2020
                    </span>
                </div>
            </div>
            <div class="col-12 col-copyright">
                <p class="caption-typo">
                    Copyright 2022 ©ESTIME propulsé par PÔLE EMPLOI
                </p>
            </div>
        </div>
    </div>
</footer>