@import "../../../../assets/scss/variables";

#section-temoignages {
  padding-bottom: 2rem;
  padding-top: 2rem;
  h1 {
    padding-bottom: 2rem;
    font-size: 24px;
    font-weight: bold;
    @media #{$large-device} {
      font-size: 30px;
    }
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
