@import "../../../../assets/scss/variables";

#section-temoignages {
  background-color: white;

  padding-bottom: 4rem;
  padding-top: 2rem;

  h1 {
    padding-bottom: 2rem;
  }

  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}