@import "../../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

#div-title-ma-situation {
  @media #{$medium-device}, #{$large-device} {
    padding-left: 172px !important;
  }
}

.form-container-fluid {
  @media #{$small-device} {
    padding-left: 0;
    padding-right: 0;
  }
}
