@import "../../../../../assets/scss/variables";

.card-group {
  max-width: 65.625rem;
  margin-left: auto;
  margin-right: auto;

  .card {
    background-color: $color-white-2;
    border: 0.0625rem solid $color-blue-2;
    border-radius: 0.5rem;
    box-shadow: none;
    padding: 1.875em;
    margin-left: 1rem;
    margin-right: 1rem;

    div {
      position: relative;
      height: 100%;
      margin-top: 2.1875rem;

      p {
        bottom: 0;
        position: absolute;
        font-weight: bold !important;
        margin-bottom: 0;
      }
    }
  }
}