@import "../../../../../assets/scss/variables";

.card-deck {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  .card {
    background-color: $color-white-2;
    border: 1px solid $color-blue-2;
    border-radius: 8px;
    box-shadow: none;
    padding: 30px;
    span {
      font-size: 1em!important;
    }
    div {
      position: relative;
      height: 100%;
      margin-top: 35px;
      span {
        bottom: 0;
        font-weight: bold;
        position: absolute;
        font-size: 1em!important;
      }
    }
  }
}
