<section id="section-aides">
    <div class="container-fluid">
        <h2 id="titre-section-aides" class="text-center"
            [ngClass]="screenService.isExtraSmallScreen()?'headline-3-typo':'headline-2-typo'">
            Tout savoir sur les aides et comment en bénéficier
        </h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card card-aides"
                    (click)="screenService.isExtraSmallScreen() && onClickVoirAides(codesAidesEnum.AIDE_MOBILITE)">
                    <div class="card-title-aides row">
                        <div class="col-2 col-md-2">
                            <div class="mt-auto mb-auto code-ressource"
                                [ngClass]="[codesAidesEnum.AIDE_MOBILITE.toLowerCase()]">
                                <div>
                                    <span class="overline-typo">{{codesAidesEnum.AIDE_MOBILITE}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-10">
                            <span class="intitule-aide headline-4-typo">
                                Aide à la mobilité
                            </span>
                        </div>
                        <div class="col-2" *ngIf="screenService.isExtraSmallScreen()">
                            <div class="col-auto mt-auto mb-auto col-picto-arrow text-end">
                                <span class="span-chevron">
                                    <em class="fas fa-chevron-right"></em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!screenService.isExtraSmallScreen()" class="description-aide-container">
                        <hr class="am">
                        <div class="card-body card-body-aides">
                            <p class="body-1-typo">
                                Vous reprenez un emploi éloigné de votre lieu de résidence, une aide à la mobilité peut
                                vous être accordée sous la forme d’une prise en charge de tout ou partie de vos frais de
                                déplacement, de repas, et d’hébergement.
                            </p>
                            <a class="en-savoir-plus-aide button-typo"
                                (click)="onClickVoirAides(codesAidesEnum.AIDE_MOBILITE)">
                                En savoir plus
                                <img alt="" class="icon-fleche-en-savoir-plus"
                                    src="./assets/images/icones/fleche-droite-red.svg">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card card-aides"
                    (click)="screenService.isExtraSmallScreen() && onClickVoirAides(codesAidesEnum.PRIME_ACTIVITE)">
                    <div class="card-title-aides row">
                        <div class="col-2 col-md-2">
                            <div class="mt-auto mb-auto code-ressource"
                                [ngClass]="[codesAidesEnum.PRIME_ACTIVITE.toLowerCase()]">
                                <div>
                                    <span class="overline-typo">{{codesAidesEnum.PRIME_ACTIVITE}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-10">
                            <span class="intitule-aide headline-4-typo">La prime d'activité</span>
                        </div>
                        <div class="col-2" *ngIf="screenService.isExtraSmallScreen()">
                            <div class="col-auto mt-auto mb-auto col-picto-arrow text-end">
                                <span class="span-chevron">
                                    <em class="fas fa-chevron-right"></em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!screenService.isExtraSmallScreen()" class="description-aide-container">
                        <hr class="pa">
                        <div class="card-body card-body-aides">
                            <p class="body-1-typo">
                                La Prime d’activité est une aide financière, versée par la CAF ou la MSA, qui vise à
                                soutenir le pouvoir d’achat des travailleurs aux ressources modestes. Elle est calculée
                                sur la base d’une déclaration trimestrielle.
                            </p>
                            <a class="en-savoir-plus-aide button-typo"
                                (click)="onClickVoirAides(codesAidesEnum.PRIME_ACTIVITE)">
                                En savoir plus
                                <img alt="" class="icon-fleche-en-savoir-plus"
                                    src="./assets/images/icones/fleche-droite-red.svg">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card card-aides"
                    (click)="screenService.isExtraSmallScreen() && onClickVoirAides(codesAidesEnum.AGEPI)">
                    <div class="card-title-aides row">
                        <div class="col-2 col-md-2">
                            <div class="mt-auto mb-auto code-ressource"
                                [ngClass]="[codesAidesEnum.AGEPI.toLowerCase()]">
                                <div>
                                    <span class="overline-typo">{{codesAidesEnum.AGEPI}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-10">
                            <span class="intitule-aide headline-4-typo">
                                L'aide à la garde d'enfants pour parent isolé
                            </span>
                        </div>
                        <div class="col-2" *ngIf="screenService.isExtraSmallScreen()">
                            <div class="col-auto mt-auto mb-auto col-picto-arrow text-end">
                                <span class="span-chevron">
                                    <em class="fas fa-chevron-right"></em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!screenService.isExtraSmallScreen()" class="description-aide-container">
                        <hr class="agepi">
                        <div class="card-body card-body-aides">
                            <p class="body-1-typo">
                                L’AGEPI est une participation aux frais de garde d’enfants de moins de 10 ans en cas de
                                reprise d'emploi ou d'entrée en formation pour un parent isolé (célibataire, veuf,
                                divorcé).
                            </p>
                            <a class="en-savoir-plus-aide button-typo" (click)="onClickVoirAides(codesAidesEnum.AGEPI)">
                                En savoir plus
                                <img alt="" class="icon-fleche-en-savoir-plus"
                                    src="./assets/images/icones/fleche-droite-red.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>