<div class="card card-body card-form card-form-style-3">
    <form (ngSubmit)="onSubmitRessourcesFinancieresConjointForm(ressourcesFinancieresConjointForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresConjointFormSubmitted}"
        #ressourcesFinancieresConjointForm="ngForm">
        <div *ngIf="conjoint.informationsPersonnelles.isSalarie" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointSalaireNet">
                    *&nbsp;
                    <span class="sr-only">Montant mensuel du</span>
                    Salaire net perçu
                    <span class="sr-only">&nbsp;par votre conjoint</span>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointSalaireNet" name="salaireNet" data-testid="input-salaire-conjoint" type="text"
                        class="form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet && (conjoint.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                        placeholder="Montant" inputmode="decimal"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet"
                        #salaireNet="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampSalaireNetNonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampSalaireNetErreurMontantConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampSalaireNetMontantZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet && (conjoint.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <fieldset class="fieldset-row">
            <div class="row pb-2">
                <legend class="label headline-4-typo">
                    * A-t-il/elle travaillé en tant que salarié au cours des
                    {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                    derniers
                    mois ?
                </legend>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input id="hasTravailleAuCoursDerniersMoisOuiConjoint" name="hasTravailleAuCoursDerniersMois"
                            type="radio" [value]="true" class="form-check-input"
                            data-testid="btn-has-travaille-au-cours-derniers-mois-oui-conjoint"
                            tag-action="clic_conjoint_a_travaille_au_cours_14_derniers_mois_oui"
                            [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.hasTravailleAuCoursDerniersMois"
                            #hasTravailleAuCoursDerniersMois="ngModel"
                            (click)="onClickButtonRadioHasTravailleAuCoursDerniersMoisConjoint(true)"
                            (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMoisConjoint($event, true)"
                            required>
                        <label class="form-check-label body-2-typo" for="hasTravailleAuCoursDerniersMoisOuiConjoint">
                            oui
                            <span class="sr-only">
                                , conjoint.e a travaillé au cours des
                                {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                                derniers mois
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-inline ms-2">
                        <input id="hasTravailleAuCoursDerniersMoisNonConjoint" name="hasTravailleAuCoursDerniersMois"
                            type="radio" class="form-check-input" [value]="false"
                            data-testid="btn-has-travaille-au-cours-derniers-mois-non-conjoint"
                            tag-action="clic_conjoint_a_travaille_au_cours_14_derniers_mois_non"
                            [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.hasTravailleAuCoursDerniersMois"
                            #hasTravailleAuCoursDerniersMois="ngModel"
                            (click)="onClickButtonRadioHasTravailleAuCoursDerniersMoisConjoint(false)"
                            (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMoisConjoint($event, false)"
                            required>
                        <label class="form-check-label body-2-typo" for="hasTravailleAuCoursDerniersMoisNonConjoint">
                            non
                            <span class="sr-only">
                                , conjoint.e a n'a pas travaillé au cours des
                                {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                                derniers mois
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampATravailleNonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || hasTravailleAuCoursDerniersMois.touched)  && hasTravailleAuCoursDerniersMois.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
            </div>
        </fieldset>
        <fieldset *ngIf="isAfficherChampsSalairesConjoint()" class="fieldset-row">
            <div class="row pb-2">
                <legend class="label headline-4-typo">
                    Indiquez le montant des salaires de
                    {{optionsNombreMoisTravailles[optionsNombreMoisTravailles.length-1].label}} à
                    {{optionsNombreMoisTravailles[0].label}}.
                    <br>
                    <span class="body-2-typo">Nécessaire pour calculer vos droits à l'aide au
                        logement.</span>
                </legend>
            </div>
            <div class="row">
                <div *ngFor="let optionNombreMoisTravailles of optionsNombreMoisTravailles" class="col-12 col-md-4 mt-2"
                    [ngClass]="{'col-salaire-with-border':optionNombreMoisTravailles.index-12<0}">
                    <div class="ms-2 me-2">
                        <div class="row pb-2">
                            <label class="label headline-4-typo"
                                [for]="'salaireMoisMoins'+optionNombreMoisTravailles.index+'AvantSimulation'">
                                *&nbsp;
                                <span class="sr-only">Montant du&nbsp;</span>
                                Salaire en {{ optionNombreMoisTravailles.label }}
                                <span class="sr-only">&nbsp;de votre conjoint</span>
                            </label>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <input id="salaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationConjoint"
                                    name="salaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationConjoint"
                                    type="text" class="max-with-input-type-montant form-control d-inline"
                                    [ngClass]="{'ng-invalid': hasDouzeMoisSansSalaireConjoint()}"
                                    attr.data-testid="input-salaire-mois-moins-{{optionNombreMoisTravailles.index}}-avant-simulation-conjoint"
                                    pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                                    placeholder="Montant" inputmode="decimal"
                                    [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire.montantMensuelNet"
                                    #salaireMoisAvantPeriodeSimulee="ngModel"
                                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                    (blur)="this.ressourcesFinancieresAvantSimulationUtileService.calculSalaireMensuelBrut(conjoint.ressourcesFinancieresAvantSimulation.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire);"
                                    required
                                    attr.aria-label="Montant du salaire mensuelle de {{ optionNombreMoisTravailles.label }} de votre conjoint">
                                <app-text-with-euro-symbol message="net"></app-text-with-euro-symbol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span [id]="'erreurChampSalaire'+optionNombreMoisTravailles.index+'ConjointMontant'"
                                    class="error-input-message" role="alert"
                                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireMoisAvantPeriodeSimulee?.touched)  && salaireMoisAvantPeriodeSimulee?.errors?.pattern">
                                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurSaisieSalairesConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted)  && erreurSaisieSalaires">
                        Vous avez déclaré que votre conjoint(e) a travaillé lors de ces
                        {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                        derniers mois. Veuillez renseigner au moins un salaire.
                    </p>
                </div>
            </div>
        </fieldset>
        <div *ngIf="conjoint.beneficiaireAides.beneficiaireARE" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointAllocationMensuelleNetARE">
                    *&nbsp;
                    <span class="sr-only">Montant mensuel de l'</span>
                    ARE (Allocation Retour Emploi) perçue
                    <span class="sr-only">&nbsp;par votre conjoint</span>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointAllocationMensuelleNetARE" name="allocationMensuelleNetARE" type="text"
                        class="form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet && (conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                        placeholder="Montant" inputmode="decimal"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet"
                        #allocationMensuelleNetARE="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantARENonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantAREErreurConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantAREAAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet && (conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="conjoint.beneficiaireAides.beneficiaireASS" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointAllocationMensuelleNetASS">
                    *&nbsp;
                    <span class="sr-only">Montant mensuel de l'</span>
                    ASS (Allocation Solidarité Spécifique) perçue
                    <span class="sr-only">&nbsp;par votre conjoint</span>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointAllocationMensuelleNetASS" name="allocationMensuelleNetASS" type="text"
                        class="form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                        placeholder="Montant" inputmode="decimal"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet"
                        #allocationMensuelleNetASS="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantASSNonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantASSErreurConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantASSAAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (conjoint.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="conjoint.beneficiaireAides.beneficiaireAAH" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointAllocationMensuelleNetAAH">
                    *&nbsp;
                    <span class="sr-only">Montant mensuel de l'</span>
                    AAH (Allocation Adulte Handicapé) perçue
                    <span class="sr-only">&nbsp;par votre conjoint</span>
                    <button id="infobulle-montant-aah" type="button" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_aah"
                        (click)="modalService.openModalOnEvent($event, modalMontantAAHTemplate)"
                        aria-describedby="labelInfobulleAAHConjoint">
                        <span id="labelInfobulleAAHConjoint" class="sr-only">
                            Où trouver le montant de l'AAH de votre conjoint ?
                        </span>
                        <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointAllocationMensuelleNetAAH" name="allocationAAH" type="text"
                        class="form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH && (conjoint.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                        placeholder="Montant" inputmode="numeric"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH"
                        #allocationAAH="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantAAHNonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationAAH?.touched)  && allocationAAH?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantAAHErreurConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationAAH.touched)  && allocationAAH.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantAAHAAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH && (conjoint.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="conjoint.beneficiaireAides.beneficiairePensionInvalidite" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointPensionInvalidite">
                    *&nbsp;
                    <span class="sr-only">Montant mensuel de la</span>
                    Pension d'invalidité nette imposable perçue
                    <span class="sr-only">&nbsp;par votre conjoint</span>
                    <button id="infobulle-pension-invalidite" type="button" class="img-interrogation-icon"
                        placement="right" tag-action="clic_infobulle_pension_invalidite"
                        (click)="modalService.openModalOnEvent($event, modalPensionInvaliditeTemplate)"
                        aria-describedby="labelInfobullePensionInvaliditeConjoint">
                        <span id="labelInfobullePensionInvaliditeConjoint" class="sr-only">
                            Où trouver le montant de la pension invalidité de votre conjoint ?
                        </span>
                        <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointPensionInvalidite" name="pensionInvalidite" type="text"
                        class="form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite && conjoint.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite == 0}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                        placeholder="Montant" inputmode="numeric"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite"
                        #pensionInvalidite="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantPensionInvaliditeNonPresentConjoint" class="error-input-message"
                        role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantPensionInvaliditeErreurConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || pensionInvalidite.touched)  && pensionInvalidite.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantPensionInvaliditeAAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite && (conjoint.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="conjoint.informationsPersonnelles.isMicroEntrepreneur" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointBeneficesMicroEntrepriseDernierExercice">
                    *&nbsp;
                    <span class="sr-only">Montant des&nbsp;</span>
                    Bénéfices en tant que micro entrepreneur
                    <span class="sr-only">&nbsp;de votre conjoint sur le dernier exercice clos</span>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointBeneficesMicroEntrepriseDernierExercice"
                        name="conjointBeneficesMicroEntrepriseDernierExercice" type="text"
                        class="max-with-input-type-montant form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice && (conjoint.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                        placeholder="Montant" inputmode="numeric"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice"
                        #conjointBeneficesMicroEntrepriseDernierExercice="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="sur le dernier exercice clos"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantMicroEntrepriseAAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointBeneficesMicroEntrepriseDernierExercice?.touched)  && conjointBeneficesMicroEntrepriseDernierExercice?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantMicroEntrepriseAAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointBeneficesMicroEntrepriseDernierExercice?.touched)  && conjointBeneficesMicroEntrepriseDernierExercice?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantMicroEntrepriseAAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice && (conjoint.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="conjoint.informationsPersonnelles.isTravailleurIndependant" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointChiffreAffairesIndependantDernierExercice">
                    *&nbsp;
                    <span class="sr-only">Montant du&nbsp;</span>
                    Chiffre d'affaires en tant qu'indépendant
                    <span class="sr-only">&nbsp;de votre conjoint sur le dernier exercice clos</span>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointChiffreAffairesIndependantDernierExercice"
                        name="conjointChiffreAffairesIndependantDernierExercice" type="text"
                        class="max-with-input-type-montant form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice && (conjoint.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                        placeholder="Montant" inputmode="numeric"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice"
                        #conjointChiffreAffairesIndependantDernierExercice="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="sur le dernier exercice clos"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantIndependantNonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointChiffreAffairesIndependantDernierExercice?.touched)  && conjointChiffreAffairesIndependantDernierExercice?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantIndependantErreurConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointChiffreAffairesIndependantDernierExercice?.touched)  && conjointChiffreAffairesIndependantDernierExercice?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantIndependantAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice && (conjoint.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="conjoint.informationsPersonnelles.hasPensionRetraite" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointPensionRetraite">
                    *&nbsp;
                    <span class="sr-only">Montant de la&nbsp;</span>
                    Pension de retraite nette perçue
                    <span class="sr-only">&nbsp;par votre conjoint</span>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointPensionRetraite" name="conjointPensionRetraite" type="text"
                        class="max-with-input-type-montant form-control d-inline"
                        [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieresAvantSimulation.pensionRetraite && (conjoint.ressourcesFinancieresAvantSimulation.pensionRetraite == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                        placeholder="Montant" inputmode="numeric"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.pensionRetraite"
                        #conjointPensionRetraite="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantPensionRetraiteNonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointPensionRetraite?.touched)  && conjointPensionRetraite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantPensionRetraiteErreurConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointPensionRetraite?.touched)  && conjointPensionRetraite?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantPensionRetraiteAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="conjoint.ressourcesFinancieresAvantSimulation.conjointPensionRetraite && (conjoint.ressourcesFinancieresAvantSimulation.conjointPensionRetraite == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="conjoint.informationsPersonnelles.hasRevenusImmobilier" class="fieldset-row">
            <div class="row pb-2">
                <label class="label headline-4-typo" for="conjointRevenusImmobilier">
                    *&nbsp;
                    <span class="sr-only">Montant net des&nbsp;</span>
                    Revenus annuels de placement ou du patrimoine
                    <span class="sr-only">&nbsp;de votre conjoint sur les 3 derniers mois</span>
                    <button id="infobulle-revenus-immobilier" type="button" class="img-interrogation-icon"
                        placement="right" aria-describedby="labelInfobulleRevenusDePlacementConjoint"
                        tag-action="clic_infobulle_ressources_du_foyer_revenus_annuels_placement_patrimoine"
                        (click)="modalService.openModalOnEvent($event, modalRevenusImmobiliersTemplate)">
                        <span id="labelInfobulleRevenusDePlacementConjoint" class="sr-only">
                            Où trouver les revenus immobiliers de votre conjoint ?
                        </span>
                        <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="conjointRevenusImmobilier" name="conjointRevenusImmobilier" type="text"
                        class="max-with-input-type-montant form-control d-inline"
                        [ngClass]="{'ng-invalid': this.conjoint.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois && (this.conjoint.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois == 0)}"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                        placeholder="Montant" inputmode="decimal"
                        [(ngModel)]="conjoint.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois"
                        #conjointRevenusImmobilier="ngModel"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                    <app-text-with-euro-symbol message="net total 3 derniers mois"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <p id="erreurChampMontantRevenusImmoNonPresentConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointRevenusImmobilier?.touched)  && conjointRevenusImmobilier?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantRevenusImmoErreurConjoint" class="error-input-message" role="alert"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointRevenusImmobilier?.touched)  && conjointRevenusImmobilier?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </p>
                </div>
                <div class="col-12">
                    <p id="erreurChampMontantRevenusImmoAZeroConjoint" class="error-input-message" role="alert"
                        *ngIf="this.conjoint.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois && (this.conjoint.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-button-valider">
            <div class="col">
                <button type="submit" class="btn-style-perso-3 button-typo"
                    data-testid="btn-ressources-conjoint-valider" tag-action="clic_bouton_valider_ressources_conjoint">
                    <div>
                        <span>Valider</span>
                        <span class="sr-only">&nbsp;les ressources financières de votre conjoint</span>
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #modalMontantAAHTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 id='modalTitle' class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-1-typo'>
            Sur votre dernière attestation de paiement CAF 👇
        </p>
        <figure class='row mb-5'>
            <img alt='' src='./assets/images/exemples/attestation-aah.png'>
            <figcaption class='sr-only'>
                L'information se trouve à la ligne Allocation Adulte Handicapé de la rubrique prestations de votre dernière attestation de paiement CAF .
            </figcaption>
        </figure>">
    </app-tooltip>
</ng-template>

<ng-template #modalRevenusImmobiliersTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 id='modalTitle' class='headline-3-typo headline-3-typo-color'>
            Retrouvez cette information sur le dernier avis d'imposition sur le revenu :
        </h3>
        <p class='body-1-typo'> * revenus fonciers ou micro-fonciers
            <br>
            * revenus des capitaux (actions, obligations)
            <br>
            * bénéfices d'une rente viagère
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalPensionInvaliditeTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 id='modalTitle' class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-1-typo'>
            Sur votre dernière attestation de paiement de pension 👇
        </p>
        <figure class='row mb-5'>
            <img alt='' src='./assets/images/exemples/attestation-pi.png'>
            <figcaption class='sr-only'>
                L'information se trouve sous le tableau récapitulatif de la période de paiment de votre dernière attestation de paiement de pension d\'invalidité.
            </figcaption>
        </figure>">
    </app-tooltip>
</ng-template>