@import "../../../assets/scss/variables";


.container-fluid {
  margin-top:1rem;
  margin-bottom:1rem;

  @media #{$extra-small-device} {

    padding:0rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: unset !important;

    .row {
      margin:0rem;
    }
  }

  .title-container {
    h1 {
      text-align: left;
      @media #{$extra-small-device} {
        margin-bottom: 1rem;
      }
    }
  }
}

.card-buttons-choix-simulation {
  padding:1.5rem;

  .row {
    margin: 0;
  }
  .col-12 {
    @media #{$extra-small-device} {
      padding: 0;
    }
  }

  .button-card-choix-simulation {
    min-height: 6rem;
    margin-top: 1rem;
    padding: 0.75rem;

    border-radius: 0.5rem;

    .row {
      padding: 0rem;
      padding-right: 0.25rem;
      padding-left: 0.25rem;

      &>* {
        padding: 0rem;
      }
    }
  }
}
