.btn-base, .btn {
  &:hover,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.radio-btn-base {
  @extend .btn-base;
  border: 1px $color-blue-1 solid;
  border-radius: 0.25rem;
  cursor: pointer;
  div {
    align-items: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    height: 100%;
  }
}

.action-btn-base {
  @extend .btn-base;
  border: none;
  border-radius: 30px;
  @media #{$small-device} {
    border-radius: 22px;
  }
  height: 42px;
  div {
    align-items: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    height: 100%;
  }
}

.btn-primary-perso {
  background-color: $color-blue-10;
  &:hover,
  &:focus-visible {
    background-color: $color-blue-2;
  }
  div {
    span {
      color: $color-white-3;
      font-size: 1em;
    }
  }
}

.btn-pe-connect {
  @extend .action-btn-base;
  @extend .btn-primary-perso;
  border-radius: 26.5px;
  height: 53px;
  padding: 6px 0px 6px 9px;
  width: 318px;
  div {
    img {
      width: 62px;
    }
    span {
      font-weight: bold;
      margin-left: 1px;
    }
  }
}

.btn-se-connecter {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid;
  border-radius: 0 0 0 100px;
  border-color: #DEEEFF;
  height: calc(#{$header-height} - 10px);
  width: 367px;
  padding-right: 2rem;
  background-color: #DEEEFF;
  cursor: pointer;
  text-align:center;
  display: flex;
  z-index:100;

  @media #{$small-device} {
    height: calc(#{$header-height-small-device} - 10px);
  }

  .img-btn-se-connecter {
    color: #1B2B67;
  }
  .label-btn-se-connecter {
    width: 228px;
    color: #1B2B67;
    font-family: Lato;
    font-size: 1.125em;
    letter-spacing: 0;
    line-height: 22px;
  }
}

.btn-se-deconnecter {
  @extend .action-btn-base;
  background-color: $color-white-3;
  border: 1px $color-blue-2 solid;
  float: right;
  height: 39px;
  width: 130px;
  &:hover,
  &:focus-visible {
    background-color: $color-blue-2;
    border: none;
    span {
      color: $color-white-3;
    }
    .img-btn-se-deconnecter {
      content: url("../images/signout-white.svg");
    }
  }
  div {
    justify-content: center;
  }
  span {
    color: $color-blue-2;
    font-size: 0.75em;
    margin-left: 7px;
  }
  .img-btn-se-deconnecter {
    background: no-repeat url("../images/signout.svg");
    width: 18px;
    height: 19px;
    background-size: 100% 100%;
  }
}
.btn-se-deconnecter-sm {
  @extend .action-btn-base;
  background-color: $color-white-3;
  float: right;
  height: 18px;
  .img-btn-se-deconnecter {
    background: no-repeat url("../images/signout.svg");
    height: 18px;
    width: 18px;
  }
}

.btn-style-perso-1 {
  @extend .action-btn-base;
  @extend .btn-primary-perso;
  div {
    padding-left: 16px;
    width: 100%;
    span {
      font-size: 1.125em;
    }
    img {
      margin-left: auto;
      margin-right: 6px;
    }
  }
}

.btn-style-perso-2 {
  @extend .action-btn-base;
  background-color: $color-white-3;
  color: $color-blue-10;
  display: inline-flex;
  &:hover,
  &:focus-visible {
    div {
      span {
        text-decoration: underline;
      }
    }
  }
  div {
    span {
      font-size: 1.125em;
      margin-left: 10px;
    }
  }
}

.btn-style-perso-3 {
  @extend .action-btn-base;
  @extend .btn-primary-perso;
  div {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    span {
      font-size: 1.125em;
    }
  }
}

.btn-style-perso-4 {
  @extend .action-btn-base;
  @extend .btn-primary-perso;
  border-radius: 8px;
  div {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    span {
      font-size: 0.875em;
      margin: auto;
      line-height: 15px;
      padding-left: 5px;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.btn-style-perso-5 {
  @extend .btn-style-perso-3;
  box-shadow: 0 10px 20px 0 rgba(27,43,103,0.3);
  min-height: 60px;
  @media #{$small-device} {
    min-height: 42px;
  }
  max-height: fit-content;
}

.btn-group-input-date {
  display: flex !important;
  .jour-input {
    min-width: 55px;
    max-width: 55px;
  }
  .mois-input {
    margin-left: 4px;
    min-width: 55px;
    max-width: 55px;
  }
  .annee-input {
    min-width: 75px;
    margin-left: 4px;
    max-width: 75px;
  }
  select.default-value {
    color: #808080;
  }
}

.btn-group-input-compteur {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  button {
    font-weight: bold;
    &:disabled {
      opacity: 0.35 !important;
    }
    &:focus-visible {
      box-shadow: none;
    }
  }
  span {
    vertical-align: middle;
  }
}

.radio-button-style-1 {
  @extend .radio-btn-base;
  font-size: 1em;
  padding: 0.375rem 0.75rem;
  max-width: 290px;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  @media #{$small-device} {
    max-width: fit-content;
    &:not(.active):hover {
      background-color: $color-blue-1-o5;
      border: 1px $color-black-1 solid;
      box-shadow: -1px 1px 4px 0px $color-blue-1;
    }
  }
  &:focus-visible {
    border-color: $color-grey-4;
    background-color: $color-grey-4;
    div {
      span {
        color: $color-white-3;
      }
    }
  }
  &:not(:disabled):not(.disabled).active {
    background-color: $color-blue-1;
    border-color: $color-blue-1;
    div {
      span {
        color: $color-white-3;
      }
    }
  }
  div {
    span {
      color: $color-blue-1;
    }
  }
}

.disable-radio-button-style-1 {
  cursor: auto;
}


