.pe-connect-button {
  align-items: center;
  background-color: $color-blue-3;
  border: none;
  border-radius: 26.5px;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  height: 53px;
  justify-content: center;
  margin-top: 10px;
  padding: 6px 22px 6px 0px;
  text-decoration: none;
  width: 320px;
  &:not(:disabled):not(.disabled):active,
  &:hover,
  &:focus {
    background-color: $color-blue-2;
    border: none;
    box-shadow: none;
    outline: none;
  }
  div {
    img {
      width: 62px;
    }
    span {
      color: $color-white-3;
      font-size: 16px;
      font-weight: bold;
      margin-left: 1px;
    }
  }
}

.btn-se-deconnecter {
  background-color: $color-white-3;
  border: 1px $color-blue-2 solid;
  border-radius: 22px;
  height: 39px;
  width: 130px;
  &:not(:disabled):not(.disabled):active,
  &:hover,
  &:focus {
    background-color: $color-blue-2;
    border: none;
    box-shadow: none;
    outline: none;
    span {
      color: $color-white-3;
    }
    img {
      content: url("../images/signout-white.svg");
    }
  }
  div {
    align-items: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
  }
  span {
    color: $color-blue-2;
    font-size: 12px;
    margin-left: 7px;
  }
  img {
    content: url("../images/signout.svg");
    width: 18px;
  }
}

.btn {
  font-size: 18px;
  height: 53px;
  &:focus {
    box-shadow: none;
  }
  div {
    justify-content: center;
    align-items: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  }
}

.btn-group-input-date {
  display: flex !important;
  .jour-input {
    min-width: 55px;
    max-width: 55px;
  }
  .mois-input {
    margin-left: 4px;
    min-width: 55px;
    max-width: 55px;
  }
  .annee-input {
    min-width: 75px;
    margin-left: 4px;
    max-width: 75px;
  }

  select.default-value {
    color: #808080;
  }
}

.btn-group-input-compteur {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  button {
    font-weight: bold;
    &:disabled {
      opacity: 0.35 !important;
    }
    &:focus {
      box-shadow: none;
    }
  }
  span {
    vertical-align: middle;
  }
}

.primary-button-base {
  background-color: $color-blue-3;
  border: none;
  border-radius: 100px;
  color: $color-white-1 !important;
  display: flex;
  font-family: "Lato", sans-serif !important;
  padding: 0.3rem 0 0.3rem 0rem;
  @media #{$medium-device}, #{$large-device} {
    padding: 0.2rem 0 0.2rem 0rem;
  }
  text-decoration: none;
  &:hover,
  &:focus-visible {
    background-color: $color-blue-3;
    border: none;
    box-shadow: none;
  }
  .text-button {
    width: 100%;
    margin: auto;
  }
}

.btn-primary-style-0 {
  border: none;
  color: $color-blue-2;
  display: inline-flex;
  margin: auto;
  @media #{$medium-device} {
    margin-right: 15px;
  }
  &:hover,
  &:focus-visible {
    background-color: none;
    border: none;
    box-shadow: none;
    .text-button {
      text-decoration: underline;
    }
  }
  .text-button {
    margin: auto;
    margin-left: 0.4rem;
    text-align: left !important;
  }
}

.btn-primary-style-1 {
  background-color: $color-blue-3;
  border: none;
  border-radius: 100px;
  color: $color-white-3;
  display: flex;
  font-family: "Lato";
  margin: auto;
  text-decoration: none;
  padding: 0.3rem 0 0.3rem 0rem;
  @media #{$medium-device}, #{$large-device} {
    padding: 0.2rem 0 0.2rem 0rem;
  }
  &:hover,
  &:focus-visible {
    background-color: $color-blue-2;
    border: none;
    box-shadow: none;
    color: $color-white-2;
  }
  .text-button {
    color: $color-white-3;
    width: 100%;
    margin: auto;
    margin-left: 1rem;
  }
  img {
    max-width: 28px;
    @media #{$medium-device}, #{$large-device} {
      max-width: 30px;
    }
    margin-left: 0.5rem;
    margin-right: 0.8rem;
  }
}

.btn-suivant {
  @extend .btn-primary-style-1;
  margin-right: auto;
  margin-left: 15px;
  @media #{$medium-device}, #{$large-device} {
    margin-left: 25px;
  }
  width: 150px;
}

.btn-primary-style-2 {
  border: none;
  color: $color-blue-2;
  display: inline-flex;
  margin: auto;
  &:hover,
  &:focus-visible {
    background-color: none;
    border: none;
    box-shadow: none;
    .text-button {
      text-decoration: underline;
    }
  }
  .text-button {
    margin: auto;
    margin-left: 0.4rem;
    text-align: left !important;
  }
}

.btn-primary-style-3 {
  @extend .primary-button-base;
  margin-top: 1rem;
  width: 100%;
  max-width: 310px;
  .text-button {
    text-align: left !important;
    margin-left: 0.2rem;
    font-weight: bold;
  }
  img {
    max-width: 55px;
  }
}

.btn-primary-style-4 {
  background-color: $color-blue-3;
  border: 0;
  border-radius: 100px;
  color: $color-white-1;
  min-width: 100px;
  &:hover,
  &:focus-visible {
    background-color: $color-blue-2;
    color: $color-white-1;
  }
}

.radio-button-style-1 {
  border-color: $color-blue-1;
  font-size: 16px;
  max-height: unset !important;
  max-width: 290px;
  @media #{$medium-device}, #{$large-device} {
    max-width: fit-content;
  }
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  text-align: left;
  @media #{$medium-device}, #{$large-device} {
    &:not(.active):hover {
      background-color: $color-blue-1-o5;
      border-color: $color-black-1;
      box-shadow: -1px 1px 4px 0px $color-blue-1;
    }
  }
  &:focus {
    color: $color-white-3;
    border-color: $color-grey-4;
    background-color: $color-grey-4;
  }
}

.radio-button-style-1:not(:disabled):not(.disabled).active {
  color: $color-white-3;
  background-color: $color-blue-1;
  border-color: $color-blue-1;
}
