.btn {
  font-size: 0.8rem;
  @media #{$medium-device}, #{$large-device} {
    min-height: 2.5rem;
  }
  max-height: 2.5rem;
  margin-top: auto;
  //margin-bottom: auto;
  &:focus {
    box-shadow: none;
  }
  @media #{$medium-device}, #{$large-device} {
    font-size: 14px;
  }
  div {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.button-se-connecter-pe {
  @media #{$medium-device}, #{$large-device} {
    min-height: 3rem;
  }
  max-height: 3rem;
}

.btn-group-input-date {
  display: flex !important;
  .jour-input {
    min-width: 47px;
    max-width: 47px;
  }
  .mois-input {
    margin-left: 4px;
    min-width: 50px;
    max-width: 50px;
  }
  .annee-input {
    min-width: 65px;
    margin-left: 4px;
    max-width: 65px;
  }

  select.default-value {
    color: #808080;
  }
}

.btn-group-input-compteur {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  button {
    font-weight: bold;
    &:disabled {
      opacity: 0.35 !important;
    }
    &:focus {
      box-shadow: none;
    }
  }
  span {
    vertical-align: middle;
  }
}

.primary-button-base {
  background-color: $color-blue-3;
  border: none;
  border-radius: 100px;
  color: $color-white-1 !important;
  display: flex;
  font-family: "Lato", sans-serif !important;
  padding: 0.3rem 0 0.3rem 0rem;
  @media #{$medium-device}, #{$large-device} {
    padding: 0.2rem 0 0.2rem 0rem;
  }
  text-decoration: none;
  &:not(:disabled):not(.disabled):active,
  &:hover,
  &:focus {
    background-color: $color-blue-3;
    border: none;
    box-shadow: none;
  }
  .text-button {
    width: 100%;
    margin: auto;
  }
}

.btn-primary-style-0 {
  border: none;
  color: $color-blue-2;
  display: inline-flex;
  margin: auto;
  &:not(:disabled):not(.disabled):active,
  &:hover,
  &:focus {
    background-color: none;
    border: none;
    box-shadow: none;
    .text-button {
      text-decoration: underline;
    }
  }
  .text-button {
    margin: auto;
    margin-left: 0.4rem;
    text-align: left !important;
  }
}

.btn-primary-style-1 {
  color: $color-blue-2;
  border: 1px $color-blue-2 solid;
  border-radius: 100px;
  &:hover, &:focus {
    background-color: $color-blue-1;
    color: $color-white-1;
  }
}

.btn-primary-style-2 {
  @extend .primary-button-base;
  margin-top: 1rem;
  width: 100%;
  max-width: 310px;
  .text-button {
    text-align: left !important;
    margin-left: 0.2rem;
    font-weight: bold;
  }
  img {
    max-width: 55px;
  }
}

.btn-primary-style-3 {
  @extend .primary-button-base;
  margin: auto;
  max-width: 300px;
  width: fit-content;
  &:hover, &:focus {
    background-color: $color-blue-2;
    color: $color-white-2;
  }
  .text-button {
    width: 100%;
    margin-left: 1rem;
  }
  img {
    max-width: 25px;
    margin-left: 0.5rem;
    margin-right: 0.8rem;
  }
}

.btn-primary-style-4 {
  background-color: $color-blue-3;
  color: $color-white-1;
  border: 0;
  border-radius: 100px;
  &:hover, &:focus {
    background-color: $color-blue-1;
    color: $color-white-1;
  }
}

.btn-primary-style-5 {
  @extend .primary-button-base;
  border-radius: 8px;
  margin: auto;
  max-width: 300px;
  width: 222px;
  &:hover, &:focus {
    background-color: $color-blue-2;
    color: $color-white-2;
  }
  .text-button {
    width: 100%;
  }
  img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
}

.btn-obtenir-ma-simulation {
  @extend .primary-button-base;
  margin: auto;
  max-width: 130px;
  @media #{$medium-device}, #{$large-device} {
    margin-left: 1rem;
    max-width: 300px;
  }
  width: fit-content;
  &:hover, &:focus {
    background-color: $color-blue-2;
    color: $color-white-2;
  }
  .text-button {
    width: 100%;
    margin-left: 1rem;
    line-height: 0.9rem;
  }
  img {
    max-width: 25px;
    margin-left: 0.5rem;
    margin-right: 0.8rem;
  }
}

.radio-button-style-1 {
  border-color: $color-blue-1;
  max-height: unset !important;
  max-width: fit-content;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  text-align: left;
  &:hover, &:focus {
    border-color: $color-black-1;
    box-shadow: -1px 1px 6px 2px $color-black-3;
  }
}

.radio-button-style-1:not(:disabled):not(.disabled).active {
  color: $color-white-1;
  background-color: $color-blue-1;
  border-color: $color-blue-1;
}
