.carousel-indicators {
  bottom: -2.8125rem !important;

  button {
    background-color: $color-pe-grey-dark !important;
  }
}

.carousel {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;

  &:focus {
    outline: none !important;
  }
}