.carousel-indicators {
  bottom: -45px !important;
  li {
    background-color: $color-blue-2 !important;
  }
}

.carousel {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  &:focus {
    outline: none !important;
  }
}
