/** Obligé de mettre ce css à un niveau plus haut pour qu'il soit pris en compte dans le innertHTML **/


#block-detail-aide {

  ol,
  ul {
    padding-inline-start: 0.9375rem;
  }

  h6 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  .texte-style-1 {
    color: #3853B9;
    font-weight: bold;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  display: table;
  width: 100%;
  background-color: $color-white-2;
  padding-bottom: calc(#{$footer-height-desktop} + 3rem);

  @media #{$extra-small-device} {
    padding-bottom: calc(#{$footer-height-mobile} + 3rem);
  }
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

.container-fluid {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @media #{$small-device} {
    max-width: 58.75rem;
  }

  @media #{$medium-device} {
    max-width: 69.375rem;
  }

  @media #{$large-device} {
    max-width: 72.5rem;
  }
}

.card-message-info {
  background-color: $color-grey-1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem 0.5rem 0.5rem 1rem;

  span {
    color: $color-blue-2
  }

  .row {
    width: fit-content;
    line-height: normal;

    .img-card-message-info {
      max-width: fit-content !important;
      padding-right: 0.3125rem;
      padding-left: 0.3125rem;

      div {
        width: 1.25rem;
        height: 100%;
        position: relative;

        img {
          bottom: 0;
          margin: auto;
          position: absolute;
          top: 0;
          width: 1.25rem;
        }
      }
    }
  }
}