/** Obligé de mettre ce css à un niveau plus haut pour qu'il soit pris en compte dans le innertHTML **/


#block-detail-aide {

  ol,
  ul {
    padding-inline-start: 0.9375rem;
  }

  h6 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  .texte-style-1 {
    color: #3853B9;
    font-weight: bold;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  display: table;
  width: 100%;
  background-color: $color-pe-grey-x-light;
}

body.modal-open {
  &:has(.side-modal, .full-height-modal) {
    overflow: hidden;
    position: fixed;
  }
}

.container-fluid {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @media #{$small-device} {
    max-width: 58.75rem;
  }

  @media #{$medium-device} {
    max-width: 69.375rem;
  }

  @media #{$large-device} {
    max-width: 72.5rem;
  }

  &.container-etape {
    margin-bottom: 2rem;
  }
}

.div-vertically-centered {
  align-items: center !important;
  display: flex !important;
}

ol.no_number {
  list-style-type: none;
  padding-left: 0rem !important;
}

ol {
  list-style: none;
  counter-reset: item;
}

li {
  counter-increment: item;
  margin-bottom: 0.6125rem;
}

li.leaf1:before,
li.leaf2:before,
li.leaf3:before,
li.leaf4:before {
  margin-right: 0.6125rem;
  content: counter(item);
  background: $color-pe-red-light;
  border-radius: 100%;
  color: $color-pe-red;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}

legend {
  margin-bottom: 1rem;
}