#block-detail-aide {
  p, ul, li, span {
    font-size: 16px !important;
  }
  ol, ul {
    padding-inline-start: 15px;
  }
  h6 {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  display : table;
  width :100% ;
  background-color: $color-white-2;
  padding-bottom: 14rem;
  @media #{$small-device} {
    padding-bottom: 8rem;
  }
  @media #{$large-device} {
    padding-bottom: 5rem;
  }
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  @media #{$small-device} {
    max-width: 940px;
  }
  @media #{$medium-device} {
    max-width: 1110px;
  }
  @media #{$large-device} {
    max-width: 1160px;
  }
}
