abbr {
  text-decoration:none !important;
}

h1 {
  @extend .font-effect-title;
  font-size: 1.8em;
  text-align: center;

  @media #{$medium-device},
  #{$large-device} {
    font-size: 2.2em;
  }
}

h2 {
  @extend .font-effect-title;
  font-size: 1.7em;
  text-align: center;
  font-weight: 600;

}

h3 {
  @extend .font-effect-title;
  font-size: 1.3em;
  text-align: center;
  font-weight: 400;
  line-height: 2rem;
}

h4,
h5,
h6 {
  @extend .font-effect-title;
  font-size: 1.2em;
  text-align: center;
  margin: unset;
}

p,
span,
ul {
  @extend .font-effect;
  font-size: 1em;
}

.h1-style-1 {
  @extend .font-effect-title;
  text-align: left;
  font-size: 1.5em;

  @media #{$medium-device},
  #{$large-device} {
    font-size: 2.25em;
  }

  color: $color-pe-grey-dark !important;
}

.h2-style-1 {
  @extend .font-effect-title;
  color: $color-blue-1;
  font-size: 1.313em;
  font-weight: bold;
  text-align: left;
}

.h2-style-2 {
  @extend .font-effect-title;
  text-align: left;
  color: $color-pe-red;
  font-size: 1.125em;

  @media #{$medium-device},
  #{$large-device} {
    font-size: 1.5em;
  }
}

.h3-style-1 {
  @extend .font-effect-title;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
}

.font-effect {
  font-family: "Helvetica Neue", "Roboto", Helvetica, sans-serif;
  color: $color-blue-1;
}

.font-effect-title {
  font-family: "Roboto", Helvetica, sans-serif;
  color: $color-blue-1;
}

.text-important {
  color: $color-pe-grey-dark;
  font-weight: bold;
}

.text-under-h1 {
  margin-top: -0.5rem;
  font-size: 0.9em;
  color: $color-pe-grey-dark;
}

/** NEW UI TYPO SYSTEM */

.headline-1-typo {
  font-size: 2.625rem !important; // 42px
  line-height: 3.375rem !important; // 54px
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

.headline-2-typo {
  font-size: 1.75rem !important; // 28px
  line-height: 2.5rem !important; // 40px
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

.headline-3-typo {
  font-size: 1.375rem !important; // 22px
  line-height: 2.0625rem !important; // 33px
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

.headline-4-typo {
  font-size: 1.125rem !important; // 18px
  line-height: 1.6875rem !important; // 27px
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

.headline-5-typo {
  text-align: start;
  font-size: 1rem !important; // 16px
  line-height: 1.5rem !important; // 24px
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

.intro-typo {
  font-size: 1.25rem !important; // 20px
  line-height: 1.875rem !important; // 30px
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

.button-typo {
  font-size: 1rem !important; // 16px
  line-height: 1.5rem !important; // 24px
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
}

.body-1-typo {
  font-size: 1rem !important; // 16px
  line-height: 1.5rem !important; // 24px
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: normal !important;
}

.body-2-typo {
  font-size: 0.875rem !important; // 14px
  line-height: 1.25rem !important; // 20px
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: normal !important;
}

.overline-typo {
  font-size: 0.75rem !important; // 12px
  line-height: 1.125rem !important; // 18px
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: bold !important;
}

.caption-typo {
  font-size: 0.75rem !important; // 12px
  line-height: 1.125rem !important; // 18px
  font-family: 'Helvetica Neue', sans-serif !important;
  font-weight: normal !important;
}

.headline-3-typo-color {
  color: $color-pe-grey-dark !important;
}

.headline-4-typo-color {
  @extend .headline-3-typo-color;
}

.headline-5-typo-color {
  @extend .headline-4-typo-color;
}

.color-blue-2-typo {
  color: $color-pe-grey-dark !important;
}

.color-pe-grey-dark-typo {
  color: $color-pe-grey-dark !important;
}

.color-pe-red-typo {
  color: $color-pe-red !important;
}

.color-pe-red-darken-typo {
  color: $color-pe-red-darken !important;
}
.color-pe-teal-typo {
  color: $color-pe-teal !important;
}

.color-white-typo {
  color: $color-white-1 !important;
}

.pointer:hover {
  cursor: pointer;
  text-decoration: underline;
}