.fa-info-circle {
  span {
    font-size: 0.9rem!important;
    color: black!important;
    font-weight: 300 !important;
    vertical-align: middle!important;
  }
}

.custom-control-label {
  color: $color-blue-1;
  font-size: 16px;
}


.div-buttons-form {
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 0 !important;
  padding-bottom: 30px;
  @media #{$medium-device}, #{$large-device} {
    width: 750px;
  }
  .row {
    .btn-primary-style-0 {
      @media #{$medium-device}, #{$large-device} {
        margin-right: 1rem;
      }
    }
  }
}

.card-form-style-1 {
  margin-top: 2rem;
  @media #{$small-device} {
    padding-left: 33px !important;
    padding-right: 15px !important;
  }
  @media #{$medium-device}, #{$large-device} {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  }
}

.div-title-formulaire {
  padding-left: 15px !important;
  padding-right: 15px !important;
  @media #{$medium-device}, #{$large-device} {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fit-content {
  min-width: fit-content;
  max-width: fit-content;
}


form.submitted input.ng-invalid,
form.submitted select.ng-invalid,
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid $color-red-5;
}

.radio-button-style-1.ng-invalid.ng-touched,
form.submitted .radio-button-style-1.ng-invalid,
form.submitted  .custom-control-input.ng-invalid  ~ .custom-control-label::before {

  border-color: $color-red-1;
}

.error-input-message {
  color: $color-red-5 !important;
  font-size: 12px !important;
  margin-top: 2px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $color-blue-1;
  background-color: $color-blue-1;
  box-shadow: none;
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: $color-blue-1;
}

.form-control {
  border-color: $color-grey-1;
  &:focus {
    border-color: $color-blue-1;
    box-shadow: none;
  }
}

/***** hide arrow number display by default *****/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/** end hide arrow **/

/** change style after autofill **/

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px $color-white-3 inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px $color-white-3 inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
}




/** end change style after autofill **/




.card-form {
  border: 0;
  @media #{$medium-device}, #{$large-device} {
    margin-top: 2rem;
  }
  padding-left: 1.7rem;
  @media #{$medium-device}, #{$large-device} {
    padding-left: 4rem;
  }
  input {
    color: $color-blue-1;
    font-size: 1rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100px;
    @media #{$medium-device}, #{$large-device} {
      max-width: 150px;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-blue-1!important;
      font-size: 16px;
      font-weight: 400 !important;
      opacity: 0.7; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $color-blue-1!important;
      font-size: 16px;
      font-weight: 400 !important;
      opacity: 0.7;
    }
  }
  select {
    color: $color-blue-1;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    @media #{$small-device} {
      max-width: 235px;
    }

  }
  .option-selected {
    font-weight: bold;
  }
  .interrogation-icon {
    cursor: pointer;
  }
  .label, span {
    color: $color-blue-2;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .text-side-input {
    color: $color-blue-1;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-top: auto;
  }
  .text-2-side-input {
    @extend .text-side-input;
    @media #{$small-device} {
      line-height: 1rem;
      max-width: 100px;
    }
  }
  .label-left-style-1 {
    font-weight: 400;
    margin-right: 0.3rem;
    margin-top: auto;
    margin-bottom: auto;
    @media #{$small-device} {
      font-size: 0.9rem;
    }
  }
}