.card-form {
  margin-top: 2rem;
  padding-left: 1.7rem;
  @media #{$medium-device}, #{$large-device} {
    padding-left: 4rem;
  }

  input {
    max-width: 150px;
    font-size: 0.9rem;
  }

  select {
    font-size: 0.9rem;
    width: auto;
  }

  .interrogation-icon {
    margin: auto;
    vertical-align: inherit;
  }

  .label {
    color: $color-blue-2;
    font-weight: 500;
    margin-bottom: 0;
  }
  .text-side-input {

    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-top: auto;
  }
}