.form-container-fluid {
  margin-top: 2rem;
}

.div-buttons-form {
  margin-top: 3.5rem;
  .btn-primary-style-3 {
    margin-left: 1rem;
  }
  .btn-primary-style-0 {
    margin-right: 1rem;
  }
}

.fit-content {
  min-width: fit-content;
  max-width: fit-content;
}


form.submitted input.ng-invalid,
form.submitted select.ng-invalid,
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid $color-error;
}

.radio-button-style-1.ng-invalid.ng-touched,
form.submitted .radio-button-style-1.ng-invalid,
form.submitted  .custom-control-input.ng-invalid  ~ .custom-control-label::before {

  border-color: $color-error;
}

.error-input-message {
  color: $color-error !important;
  font-size: 0.7rem;
  margin-top: 2px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $color-blue-1;
  background-color: $color-blue-1;
  box-shadow: none;
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: $color-blue-1;
}

.form-control:focus {
  border-color: black;
  box-shadow: none;
}

/***** hide arrow number display by default *****/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/** end hide arrow **/

/** change style after autofill **/

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
}




/** end change style after autofill **/

.card-form {
  margin-top: 2rem;
  padding-left: 1.7rem;
  @media #{$medium-device}, #{$large-device} {
    padding-left: 4rem;
  }



  input {
    max-width: 150px;
    font-size: 0.9rem;
  }

  .max-with-input-type-montant {
    max-width: 85px !important;
  }


  select {
    font-size: 0.9rem;
    width: auto;
  }

  .interrogation-icon {
    margin: auto;
    vertical-align: inherit;
  }

  .label, span {
    color: $color-blue-2;
    font-weight: 500;
    margin-bottom: 0;
  }
  .text-side-input {
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-top: auto;
    font-weight: 300;
    color: black;
  }

  .card {
    margin-right: 25px;
    margin-top: 1rem;
    .title-card {
      margin-bottom: 1rem;
      margin-top: -1rem;
      margin-left: -1rem;
      text-decoration-line: underline;
    }
  }

  .label-left-style-1 {
    font-weight: 400;
    margin-right: 0.3rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}