#logo-estime {
  width: 10rem;
  margin-right: 1.5rem;
  @media #{$medium-device}, #{$large-device} {
    width: 12%;
    margin-top: 2rem;
  }
}

#logo-pole-emploi {
  width: 6rem;
  @media #{$medium-device}, #{$large-device}  {
    width: 6%;
    margin-top: 2rem;
  }


}

