.interrogation-icon {
  margin-left: 5px;
  margin-top: -5px;
  width: 23px;
}

.code-ressource {
  background-color: $color-grey-1;
  border-radius: 0.5rem;
  height: 2.5rem !important;
  width: 2.625rem !important;
  text-align: center;

  div {
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    height: 100%;
    justify-content: center;
  }

  &.paie {
    background-color: $color-paie;
  }

  &.immo {
    background-color: $color-immo;
  }

  &.indp,
  &.micro {
    background-color: $color-indp;
  }

  &.ass {
    background-color: $color-ass;
  }

  &.aah {
    background-color: $color-aah;
  }

  &.are {
    background-color: $color-are;
  }

  &.pi {
    background-color: $color-pi;
  }

  &.asi {
    background-color: $color-asi;
  }

  &.rsa {
    background-color: $color-rsa;
  }

  &.apl,
  &.alf,
  &.als {
    background-color: $color-af;
  }

  &.af,
  &.asf,
  &.cf,
  &.paje {
    background-color: $color-af;
  }

  &.agepi {
    background-color: $color-agepi;
  }

  &.am {
    background-color: $color-am;
  }

  &.pa {
    background-color: $color-pa;
  }

  &.paf {
    background-color: $color-paf;
  }
}