#logo-estime {
  @media #{$small-device} {
    width: 20rem;
  }
  @media #{$large-device} {
    width: 12%;
    margin-left: 1rem;
    margin-top: 2rem;
  }
}

#logo-pole-emploi {
  @media #{$small-device} {
    width: 20rem;
  }
  @media #{$large-device} {
    width: 6%;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

