.modal {
  display: block !important;

  .modal-header {
    justify-content: right;
    padding: 0.25rem 0.25rem;

    .btn-close {
      float: right;
      @extend .button-typo;
      color: $color-pe-red !important;
      margin: 0.5rem;
    }

    .label-close {
      float: right;
      margin-left: auto;
      @extend .button-typo;
      color: $color-pe-red !important;
      cursor: pointer;
      font-weight: normal;
    }

  }

  .modal-dialog {
    top: 25%;
    overflow-y: initial !important;
    position: sticky;

    &.full-height-modal {
      @media #{$extra-small-device} {
        height: 100%;
        top: 0;
        margin: 0;

        .modal-content {
          height: 100%;
          border-radius: unset;
        }
      }
    }
  }

  .modal-body {
    overflow-y: auto;

    .link-modal {

      color: $color-pe-red !important;
      text-decoration: none;
    }

    h3 {
      text-align: left;
      margin-bottom: 1.5rem;
    }

    h4 {
      text-align: left;
      margin-bottom: 1.5rem;
    }

    ol {
      padding-left: 1.25rem;

      li {
        padding-left: 0.5rem;
      }
    }
  }
}

.side-modal {
  margin: unset !important;
  margin-left: auto !important;
  width: 37.5% !important;
  overflow-y: auto !important;
  height: unset !important;

  .modal-content {
    min-height: 100vh;
    border: none;
  }

  @media #{$extra-small-device} {
    width: 100% !important;
  }
}

.fade {
  &:not(.modal-backdrop) {
    outline: 0;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;

    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    &:has(.not-side-modal) {

      -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
    }
  }
}

.fade.show {
  &:not(.modal-backdrop) {
    transform: none;
  }
}

body.modal-open {
  @media #{$extra-small-device} {
    position: absolute;
  }
}

.card-message-info {
  background-color: $color-blue-7;
  border-radius: 0.5rem;
  width: unset;
  padding: 1rem;

  span {
    color: $color-pe-grey-dark
  }

  .row {
    width: fit-content;
    line-height: normal;

    .img-card-message-info {
      max-width: fit-content !important;
      padding-right: 0.3125rem;

      div {
        width: 1.25rem;
        height: 100%;
        position: relative;

        img {
          bottom: 0;
          margin: auto;
          position: absolute;
          top: 0;
          width: 1.25rem;
        }
      }
    }
  }
}

.half-top {
  top: 10% !important;
}