.modal {
  display: block !important;

  .modal-header {
    justify-content: right;
    padding: 0.25rem 0.25rem;

    .btn-close {
      float: right;
      @extend .button-typo;
      color: $color-blue-10 !important;
      margin: 0.5rem;
    }

    .label-close {
      float: right;
      margin-left: auto;
      @extend .button-typo;
      color: $color-blue-10 !important;
      cursor: pointer;
      font-weight: normal;
    }

  }

  .modal-dialog {
    top: 25%;
    overflow-y: initial !important;
    position: sticky;

    &.full-height-modal {
      @media #{$extra-small-device} {
        height: 100%;
        top: 0;
        margin: 0;

        .modal-content {
          height: 100%;
          border-radius: unset;
        }
      }
    }
  }

  .modal-body {
    overflow-y: auto;

    .link-modal {

      color: $color-blue-10 !important;
      text-decoration: none;
    }

    h3 {
      text-align: left;
      margin-bottom: 1.5rem;
    }

    h4 {
      text-align: left;
      margin-bottom: 1.5rem;
    }

    ol {
      padding-left: 1.25rem;

      li {
        padding-left: 0.5rem;
      }
    }
  }
}

.side-modal {
  margin: unset !important;
  margin-left: auto !important;
  width: 37.5% !important;
  overflow-y: auto !important;
  height: unset !important;

  .modal-content {
    min-height: 100vh;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }

  @media #{$extra-small-device} {
    width: 100% !important;
  }
}

.fade {
  &:not(.modal-backdrop) {
    outline: 0;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
  }

}

.fade.show {
  &:not(.modal-backdrop) {
    transform: none;
  }
}

body.modal-open {
  @media #{$extra-small-device} {
    position: absolute;
  }
}