popover-container {
  @media #{$small-device} {
    width: 95%;
  }
}

.popover {
  background: $color-blue-5;
  color: $color-white-3;
  font-size: 0.7rem !important;
  p {
    font-size: 0.7rem !important;
  }
  @media #{$medium-device}, #{$large-device} {
    font-size: 0.8rem !important;
    p {
      font-size: 0.8rem !important;
    }
  }
}

.close-popover {
  cursor: pointer;
}

/* Needed to have the triangle match the grey background of the popover */
.popover.top .arrow:after {
  border-top-color: $color-blue-5;
}

.popover.right .arrow:after {
  border-right-color: $color-blue-5;
}

.popover.bottom .arrow:after {
  border-bottom-color: $color-blue-5;
}

.popover.right .arrow:after {
  border-left-color: $color-blue-5;
}
