popover-container {
  @media #{$small-device} {
    width: 95%;
  }
}

.popover {
  background: $color-pe-blue-light;
  color: $color-white-3;

  h5 {
    @extend .headline-5-typo;
  }

  p {
    @extend .body-2-typo;
  }
}

.close-popover {
  cursor: pointer;
  font-size: 1.188em;
}

/* Needed to have the triangle match the grey background of the popover */
.popover.top .arrow:after {
  border-top-color: $color-pe-blue-light;
}

.popover.right .arrow:after {
  border-right-color: $color-pe-blue-light;
  border-left-color: $color-pe-blue-light;
}

.popover.bottom .arrow:after {
  border-bottom-color: $color-pe-blue-light;
}

.popover-container {
  padding: 0 !important;
}