a {
  background-color: transparent;
  color: $color-blue-1;
  cursor: pointer;
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: none;
    outline: unset;
  }
}

a:not([href]) {
  color: $color-blue-1;
  text-decoration: underline;
}
