.img-interrogation-icon {
  display: inline-block;
  vertical-align: sub;
  margin-left: 5px;
  width: 23px;
  height: 23px;
  border: 0;
  background-size: 100% 100%;
  cursor: pointer;
  background: no-repeat  url("../images/question.svg");
  &:hover {
    background: no-repeat  url("../images/question_hover.svg");
  }
  &.popover-open {
    background: no-repeat  url("../images/question_click.svg");
  }
}