.img-interrogation-icon {
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: unset;
  padding:0rem;
  height: 1.4375rem;
  vertical-align: middle;

  img {
    width: 1.4375rem;
    vertical-align: unset;
  }

  &:focus {
    background-color: $color-pe-red;
    border-radius: 100%;
    border-color: $color-pe-red;
    outline-color: $color-pe-red;

    img {
      background-color: $color-pe-red;
      border-radius: 100%;
    }
  }

  &:hover {
    img {
      background-color: $color-pe-red;
      border-radius: 100%;
    }
  }
}