body {
  width :100% ;
  @media #{$medium},#{$desktop}{
    background-image: url("../images/background.png");
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


}

footer {
  min-height: 5rem;
}



