//$small-device:                "screen and (max-width:768px)";
//$desktop:                "screen and (min-width: 769px)";

$small-device:  "screen and (max-width:1023px)";
$medium-device: "screen and (min-width:1024px) and (max-width:1309px)";
$large-device:  "screen and (min-width:1310px)";

$color-blue-1: #23333C;
$color-blue-2: #1B2B67;
$color-blue-3: #3853B9;
$color-blue-4: #DEEEFF;

$color-orange-1: #FF810B;

$color-white-1: white ;
$color-white-2: #fbfbfb;
