<div class="container" style="padding: 10px;">
  <p style="font-size: 20px;">Informations du DE connecté :</p>

  <table class="table" style="width: 75%;">
    <tbody>
      <tr>
        <th scope="row">Nom</th>
        <td>{{this.demandeurEmploiConnecte.nom}}</td>
      </tr>
      <tr>
        <th scope="row">Prénom</th>
        <td>{{this.demandeurEmploiConnecte.prenom}}</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>{{this.demandeurEmploiConnecte.email}}</td>
      </tr>
      <tr>
        <th scope="row">Beneficiaire AAH</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.beneficiaireAAH}}</td>
      </tr>
      <tr>
        <th scope="row">Beneficiaire Assurance Chomage</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.beneficiaireAssuranceChomage}}</td>
      </tr>
      <tr>
        <th scope="row">Beneficiaire Prestation Solidarite</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.beneficiairePrestationSolidarite}}</td>
      </tr>
      <tr>
        <th scope="row">Beneficiaire RSA</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.beneficiaireRSA}}</td>
      </tr>
      <tr>
        <th scope="row">Code Indemnisation</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.codeIndemnisation}}</td>
      </tr>
      <tr>
        <th scope="row">Date reliquat</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.dateReliquat}}</td>
      </tr>
      <tr>
        <th scope="row">Durée reliquat en jour(s)</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.dureeReliquat}}</td>
      </tr>
      <tr>
        <th scope="row">Indemnisation Journaliere Net</th>
        <td>{{this.demandeurEmploiConnecte.detailIndemnisation.indemnisationJournaliereNet}}</td>
      </tr>
    </tbody>
  </table>
</div>

