@import "../../../assets/scss/variables";

.icone-carte {
  float: left;
}

.container {
  display: flex;
}

.rectangle {
  height: 0.188rem;
  width: 100%;
  align-items: left;

  &.agepi {
    background: $color-agepi;
  }

  &.am {
    background: $color-am;
  }

  &.pa {
    background: $color-pa;
  }

  &.ass {
    background: $color-ass;
  }

  &.aah {
    background: $color-aah;
  }
}

.card-aides {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  border: unset;

  @media #{$extra-small-device} {
    cursor: pointer;
  }
}

.card-title-aides {
  padding-bottom: 0.5rem;

  @media #{$extra-small-device} {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin-bottom: 0.1rem;
  }

  div {
    &.col-icon {
      padding-right: 0;

      @media #{$extra-small-device} {
        padding-right: unset;
      }
    }

    &.col-title {
      margin-left: 0.75rem;

      @media #{$extra-small-device} {
        margin-left: unset;
      }
    }

    &.col-chevron {
      @media #{$extra-small-device} {
        padding-left: 0;
        padding-right: 1rem;

        span {
          float: right;
        }
      }
    }
  }

  .icon-aide {
    @media #{$extra-small-device} {
      padding: unset;
    }

    float: left;
  }

  .intitule-aide {
    color: $color-pe-grey-dark;

    .aide-organisme {
      color: $color-pe-blue-light;
    }
  }
}

.card-body-aides {
  padding: 0;
  padding-top: 0.5rem;
}


.en-savoir-plus {
  color: $color-pe-red;
  text-decoration: none;
  float: left;
  cursor: pointer;

  img {
    vertical-align: middle;
  }
}

.titre-aides {
  text-align: left;
  padding-left: 1rem;
  color: $color-pe-grey-dark;

}

.titre-autres-aides {
  @extend .titre-aides;
  margin-top: 2rem;
}

.leaf1,
.leaf2,
.leaf3,
.leaf4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: $color-pe-red-light;
  border-radius: 4.875rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.row-aides {
  &>div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .card-aides {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}