<div class="container-fluid form-container-fluid">
    <div class="row row-aides">
        <div class="col-sm-12 align-self-center toutes-les-aides">
            <h1 *ngIf="!aideSelectedCode" class="h1-style-1 titre-aides">
                {{pageTitlesEnum.AIDES}}
                <div id="liste-aides" placement="right top" tag-action="liste-aides"></div>
            </h1>
        </div>

        <div class="col-sm-12 align-self-center">
            <router-outlet class="row"></router-outlet>
        </div>

        <div class="col-sm-12">
            <h2 *ngIf="aideSelectedCode !== undefined" class="titre-autres-aides row">
                Les autres aides
            </h2>
        </div>

        <div class="col-sm-12 align-self-center">
            <div class="row container-aides">
                <div *ngIf="aideSelectedCode !== 'ASS'" class="card">
                    <div class="card-body">
                        <div class="titre-carte">
                            <div class="row">
                                <a (click)="onClickAideSavoirPlus(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)">
                                <div class="col-lg-1">
                                    <img class="icone-carte" alt="Icone de L’Allocation de Solidarité Spécifique"
                                        src="./assets/images/AssIcon.svg">
                                </div>
                                <div class="col-lg-11">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titre-carte-texte">
                                                L’Allocation de Solidarité Spécifique
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="rectangle ass"></div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <p class="card-text texte-aide">L’allocation spécifique de solidarité (ASS) est une allocation
                            qui
                            peut prendre le relais de l’allocation d’aide au retour à l’emploi (ARE), quand vos droits à
                            l’allocation ARE se terminent. </p>
                        <nav aria-label="En savoir plus sur l'allocation de solidarité spécifique">
                            <a (click)="onClickAideSavoirPlus(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)" tag-navigation="details-en-savoir-plus-ass">
                                <div class="en-savoir-plus">
                                    En savoir plus
                                </div>
                                <img src="./assets/images/fleche-droite.svg" alt="">
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row container-aides">
                <div *ngIf="aideSelectedCode !== codesAidesEnum.AIDE_MOBILITE" class="card">
                    <div class="card-body">
                        <div class="titre-carte">
                            <div class="row">
                                <a (click)="onClickAideSavoirPlus(codesAidesEnum.AIDE_MOBILITE)">
                                <div class="col-lg-1">
                                    <img class="icone-carte" alt="Icone de Aide à la mobilité"
                                        src="./assets/images/AmIcon.svg">
                                </div>
                                <div class="col-lg-11">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titre-carte-texte">
                                                Aide à la mobilité (Pôle emploi)
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="rectangle am"></div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <p class="card-text texte-aide">Vous reprenez un emploi éloigné de votre lieu de résidence, une
                            aide à la mobilité peut vous être accordée sous la forme d’une prise en charge de tout ou
                            partie de vos frais de déplacement, de repas, et d’hébergement.</p>
                        <nav aria-label="En savoir plus sur l'aide à la mobilité">
                            <a (click)="onClickAideSavoirPlus(codesAidesEnum.AIDE_MOBILITE)" tag-navigation="details-en-savoir-plus-am">
                                <div class="en-savoir-plus">
                                    En savoir plus
                                </div>
                                <img src="./assets/images/fleche-droite.svg" alt="">
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row container-aides">
                <div *ngIf="aideSelectedCode !== codesAidesEnum.PRIME_ACTIVITE" class="card">
                    <div class="card-body">
                        <div class="titre-carte">
                            <div class="row">
                                <a (click)="onClickAideSavoirPlus(codesAidesEnum.PRIME_ACTIVITE)">
                                <div class="col-lg-1">
                                    <img class="icone-carte" alt="Icone de La prime d'activité"
                                        src="./assets/images/PaIcon.svg">
                                </div>
                                <div class="col-lg-11">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titre-carte-texte">
                                                La prime d'activité
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="rectangle pa"></div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <p class="card-text texte-aide">La Prime d’activité est une aide financière, versée par la
                            CAF ou la MSA, qui vise à soutenir le pouvoir d’achat des travailleurs aux ressources
                            modestes. Elle est calculée sur la base d’une déclaration trimestrielle.</p>
                        <nav aria-label="En savoir plus sur la prime d'activité">
                            <a (click)="onClickAideSavoirPlus(codesAidesEnum.PRIME_ACTIVITE)" tag-navigation="details-en-savoir-plus-pa">
                                <div class="en-savoir-plus">
                                    En savoir plus
                                </div>
                                <img src="./assets/images/fleche-droite.svg" alt="">
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row container-aides">
                <div *ngIf="aideSelectedCode !== codesAidesEnum.AGEPI" class="card">
                    <div class="card-body">
                        <div class="titre-carte">
                            <div class="row">
                                <a (click)="onClickAideSavoirPlus(codesAidesEnum.AGEPI)">
                                <div class="col-lg-1">
                                    <img class="icone-carte"
                                        alt="Icone de L'aide à la garde d'enfants pour parent isolé"
                                        src="./assets/images/AgepiIcon.svg">
                                </div>
                                <div class="col-lg-11">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titre-carte-texte">
                                                L'aide à la garde d'enfants pour parent isolé
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="rectangle agepi"></div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <p class="card-text texte-aide">L’AGEPI est une participation aux frais de garde
                            d’enfants de moins de 10 ans en cas de reprise d'emploi ou d'entrée en formation
                            pour un parent isolé (célibataire, veuf, divorcé).</p>
                        <nav aria-label="En savoir plus sur l'allocation de solidarité spécifique">
                            <a (click)="onClickAideSavoirPlus(codesAidesEnum.AGEPI)" tag-navigation="details-en-savoir-plus-agepi">
                                <div class="en-savoir-plus">
                                    En savoir plus
                                </div>
                                <img src="./assets/images/fleche-droite.svg" alt="">
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row container-aides">
                <div *ngIf="aideSelectedCode !== codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES" class="card">
                    <div class="card-body">
                        <div class="titre-carte">
                            <div class="row">
                                <a (click)="onClickAideSavoirPlus(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)">
                                <div class="col-lg-1">
                                    <img class="icone-carte" alt="Icone de Allocation Adulte Handicapé"
                                        src="./assets/images/AahIcon.svg">
                                </div>
                                <div class="col-lg-11">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titre-carte-texte">
                                                Allocation Adulte Handicapé
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="rectangle aah"></div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <p class="card-text texte-aide">Lorsque vous commencez à travailler, vos revenus
                            professionnels ne sont pas pris en compte pendant les 6 premiers mois pour le
                            calcul de votre AAH. </p>
                        <nav aria-label="En savoir plus sur l'allocation adultes handicapés" tag-navigation="details-en-savoir-plus-aah">
                            <a (click)="onClickAideSavoirPlus(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)">
                                <div class="en-savoir-plus">
                                    En savoir plus
                                </div>
                                <img src="./assets/images/fleche-droite.svg" alt="">
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>