<div id="details-mois-container">
    <div class="div_bouton_retour_detail_mois div-vertically-centered justify-content-start div_detail_mois_with_padding"
        (click)="sideModalService.closeSideModalMois()" (keyup)="handleKeyUpOnRetour($event);" tabindex="0"
        tag-action="clic_bouton_retour_detail_mois" data-testid="bouton_retour_detail_mois">
        <span class="bouton_retour body-2-typo color-pe-red-typo">
            <em alt class="ps-2 pe-2 fas fa-chevron-left span-montant-mensuel"></em>
            <span class="body-2-typo color-pe-red-typo">Retour</span>
        </span>
    </div>
    <div class="div_mois_montant_mois_detail_mois div_detail_mois_with_padding" data-testid="div-montant-ressource">
        <div class="libelle_mois_apres_simulation_row row">
            <div class="col-md-12">
                <h2 class="headline-2-typo color-blue-2-typo text-start d-inline">
                    {{dateUtileService.getDateStringFormatSimulationMensuelle(simulationActuelle,
                    screenService.isTabletScreen())}}
                </h2>
                <h3 class="headline-3-typo color-pe-red-typo text-start d-inline ms-2" data-testid="montant-ressource">
                    {{simulationService.calculerMontantTotalRessourcesMois(simulationActuelle)}} €
                    net
                </h3>
            </div>
        </div>
    </div>
    <div *ngIf="detailMensuel.details.length != 0" class="div_points_essentiels div_detail_mois_with_padding mt-2"
        data-testid="div-montant-ressource">
        <div class="libelle_mois_apres_simulation_row row">
            <div class="col-md-12">
                <h4 class="headline-4-typo color-blue-2-typo text-start">
                    {{ titrePointEssentielLabel }}
                </h4>
                <ul class="mt-2">
                    <li *ngFor="let detail of detailMensuel.details; let index = index;">
                        <span class="body-2-typo">
                            {{detail}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div_detail_mois_with_padding">
        <app-message-info contenu="Pensez à déclarer tout changement de situation auprès de votre CAF">
        </app-message-info>
    </div>
    <div class="div_detail_mois_with_padding">
        <div class="card my-2 p-3"
            [ngClass]="{'aide-avec-detail':ressourcesFinancieresService.isRessourceFinanciereOuAideAvecDescription(ressourceFinanciereOuAide)}"
            *ngFor="let ressourceFinanciereOuAide of ressourcesFinancieresEtAidesMois">
            <div class="row pe-3">
                <div class="col-md-1 col-2 div-vertically-centered">
                    <div>
                        <div class="code-ressource me-1" [ngClass]="[ressourceFinanciereOuAide.code.toLowerCase()]">
                            <div class="">
                                <span class="overline-typo">{{ressourceFinanciereOuAide.code}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-8">
                    <div *ngIf="screenService.isExtraSmallScreen()" class="row mb-1 ps-2">
                        <div class="col">
                            <span class="headline-4-typo color-pe-red-typo justify-content-start"
                                attr.data-testid="aide_{{ressourceFinanciereOuAide.code}}_mois_{{dateUtileService.getIndexMoisSimule(deConnecteSimulationService.getDatePremierMoisSimule(), simulationActuelle.datePremierJourMoisSimule)}}">
                                {{ ressourceFinanciereOuAide.montant }} €
                            </span>
                        </div>
                    </div>
                    <div class="row ps-2">
                        <div class="col">
                            <span class="body-2-typo">{{ ressourceFinanciereOuAide.nom }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-2 div-vertically-centered">
                    <div>
                        <div *ngIf="ressourceFinanciereOuAide.organisme" class="icone-organisme me-1"
                            [ngClass]="ressourceFinanciereOuAide.organisme.toLowerCase()">
                            <div>
                                <img alt=""
                                    [src]="'./assets/images/logos/logo-carre-'+ressourceFinanciereOuAide.organisme.toLowerCase()+'.png'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="ressourceFinanciereOuAide.messagesAlerte" class="row">
                <div *ngFor="let messageAlerte of ressourceFinanciereOuAide.messagesAlerte" class="pt-2">
                    <app-message-info [contenu]="messageAlerte">
                    </app-message-info>
                </div>
            </div>
            <div class="row mt-3">
                <div *ngIf="!screenService.isExtraSmallScreen()"
                    [ngClass]="ressourcesFinancieresService.isRessourceFinanciereOuAideAvecDescription(ressourceFinanciereOuAide)?'col-md-2 col-2':'col-md-12 col-12'">
                    <div class="col">
                        <span class="headline-4-typo color-pe-red-typo justify-content-start"
                            attr.data-testid="aide_{{ressourceFinanciereOuAide.code}}_mois_{{dateUtileService.getIndexMoisSimule(deConnecteSimulationService.getDatePremierMoisSimule(), simulationActuelle.datePremierJourMoisSimule)}}">
                            {{ ressourceFinanciereOuAide.montant }} €
                        </span>
                    </div>
                </div>
                <div class="col-md-10 col-12 div-vertically-centered justify-content-end"
                    [ngClass]="screenService.isExtraSmallScreen()?'row':''"
                    *ngIf="ressourcesFinancieresService.isRessourceFinanciereOuAideAvecDescription(ressourceFinanciereOuAide)">
                    <span class="button-typo color-pe-red-typo boutons-redirections"
                        [ngClass]="screenService.isExtraSmallScreen()?'col-12 mb-3':'me-5'"
                        *ngIf="ressourcesFinancieresService.isRessourceFinanciereOuAideADemander(ressourceFinanciereOuAide)"
                        tabindex="0" tag-action="clic_bouton_faire_la_demande"
                        (click)="onClickOnFaireLaDemande(ressourceFinanciereOuAide)"
                        (keyup)="handleKeyUpOnFaireLaDemande($event, ressourceFinanciereOuAide)">
                        FAIRE LA DEMANDE
                        <img alt="Ouverture dans une nouvelle fenêtre"
                            src="./assets/images/icones/open-in-new-window.svg" class="icone-open-in-new-window ms-1">
                    </span>
                    <span class="button-typo color-pe-red-typo boutons-redirections"
                        [ngClass]="screenService.isExtraSmallScreen()?'col-12':'me-4'" tabindex="0"
                        tag-action="clic_bouton_en_savoir_plus"
                        (click)="onClickOnEnSavoirPlus(ressourceFinanciereOuAide)"
                        (keyup)="handleKeyUpOnEnSavoirPlus($event, ressourceFinanciereOuAide)">
                        EN SAVOIR PLUS
                        <img alt="Ouverture dans une nouvelle fenêtre"
                            src="./assets/images/icones/open-in-new-window.svg" class="icone-open-in-new-window ms-1">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>