<div class="container-fluid form-container-fluid">
  <h1 class="h1-style-2">2. Ma situation</h1>
  <div class="text-under-h1">
      {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
  </div>
  <div class="card card-body card-form">
      <form
          (ngSubmit)="onSubmitInformationsPersonnellesForm(informationsPersonnellesForm)"
          [ngClass]="{'submitted':isInformationsPersonnellesFormSubmitted}"
          #informationsPersonnellesForm="ngForm">
          <div class="form-group">
              <div class="row mb-2">
                  <label
                      class="label"
                      for="codePostal">
                      * Votre code postal
                  </label>
              </div>
              <div class="row">
                  <input
                      id="codePostal"
                      name="codePostal"
                      type="text"
                      (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                      maxlength="5"
                      minlength="5"
                      class="form-control"
                      placeholder="ex : 75001"
                      [(ngModel)]="informationsPersonnelles.codePostal"
                      required
                      #codePostal="ngModel"
                      inputmode="numeric"
                      ngAutofocus>
              </div>
              <span
                  class="row error-input-message"
                  *ngIf="(isInformationsPersonnellesFormSubmitted || codePostal.touched)  && codePostal.errors?.required">
                  {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
              </span>
              <span
                  class="row error-input-message"
                  *ngIf="(isInformationsPersonnellesFormSubmitted || codePostal.touched)  && codePostal.invalid">
                  {{controleChampFormulaireService.MESSAGE_CODE_POSTAL_INCORRECT}}
              </span>
          </div>
          <div class="form-group">
              <div class="row  mb-2">
                  <label
                      class="label"
                      for="dateNaissance">
                      * Votre date de naissance
                  </label>
              </div>
              <div class="form-group">
                  <div class="row btn-group-input-date">
                      <input
                          name="jourDateNaissance"
                          (focus)="onFocusDateNaissance()"
                          class="form-control jour-input"
                          (change)="onChangeOrKeyUpDateNaissanceJour($event)"
                          maxlength="2"
                          type="text"
                          min="0"
                          (keyup)="onChangeOrKeyUpDateNaissanceJour($event)"
                          (keypress)="this.controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                          placeholder="JJ"
                          [(ngModel)]="dateNaissance.jour"
                          required
                          inputmode="numeric"
                          #jourDateNaissance="ngModel">
                      <input
                          name="moisDateNaissance"
                          (focus)="onFocusDateNaissance()"
                          class="form-control mois-input"
                          (change)="onChangeOrKeyUpDateNaissanceMois($event)"
                          maxlength="2"
                          type="text"
                          min="0"
                          (keyup)="onChangeOrKeyUpDateNaissanceMois($event)"
                          (keypress)="this.controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                          placeholder="MM"
                          [(ngModel)]="dateNaissance.mois"
                          required
                          inputmode="numeric"
                          #moisDateNaissance="ngModel">
                      <input
                          name="anneeDateNaissance"
                          (focus)="onFocusDateNaissance()"
                          class="form-control annee-input"
                          maxlength="4"
                          type="text"
                          min="1900"
                          (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                          placeholder="AAAA"
                          [(ngModel)]="dateNaissance.annee"
                          required
                          inputmode="numeric"
                          #anneeDateNaissance="ngModel">
                  </div>
                  <span
                      class="row error-input-message"
                      *ngIf="(isInformationsPersonnellesFormSubmitted || jourDateNaissance.touched)  && jourDateNaissance.errors?.required">
                      {{controleChampFormulaireService.MESSAGE_DATE_JOUR_OBLIGATOIRE}}
                  </span>
                  <span
                      class="row error-input-message"
                      *ngIf="(isInformationsPersonnellesFormSubmitted || moisDateNaissance.touched)  && moisDateNaissance.errors?.required">
                      {{controleChampFormulaireService.MESSAGE_DATE_MOIS_OBLIGATOIRE}}
                  </span>
                  <span
                      class="row error-input-message"
                      *ngIf="(isInformationsPersonnellesFormSubmitted || anneeDateNaissance.touched) && anneeDateNaissance.errors?.required">
                      {{controleChampFormulaireService.MESSAGE_DATE_ANNEE_OBLIGATOIRE}}
                  </span>
                  <span
                      class="row error-input-message"
                      *ngIf="isInformationsPersonnellesFormSubmitted  && dateNaissance.messageErreurFormat">
                      {{dateNaissance.messageErreurFormat}}
                  </span>
              </div>
          </div>
          <div class="form-group">
              <div class="row mb-2">
                  <label
                      class="label"
                      for="nationalite">
                      * Votre nationalité
                  </label>
              </div>
              <div class="row">
                  <select
                      id="nationalite"
                      name="nationalite"
                      [(ngModel)]="informationsPersonnelles.nationalite"
                      class="form-control"
                      data-width="auto"
                      (ngModelChange)="unsetTitreSejourEnFranceValide($event)"
                      required
                      #nationalite="ngModel">
                      <option [value]="null" disabled>Sélectionner</option>
                      <option
                          *ngFor="let nationalite of nationaliteSelectOptions"
                          [value]="nationalite.label">
                          {{ nationalite.label }}
                      </option>
                  </select>
              </div>
              <span
                  class="row error-input-message"
                  *ngIf="(isInformationsPersonnellesFormSubmitted || nationalite.touched)  && nationalite.errors?.required">
                  {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
              </span>
          </div>
          <div
              class="form-group"
              *ngIf="informationsPersonnelles.nationalite == 'autre'">
              <div class="row mb-2">
                  <label
                      class="label"
                      for="titreSejourValide">
                      Vous résidez en France depuis plus de 5 ans et avez un titre de séjour valide
                  </label>
              </div>
              <div class="row">
                  <div class="custom-control custom-radio">
                      <input
                          id="titreSejourValideTrue"
                          name="titreSejourValide"
                          type="radio"
                          class="custom-control-input"
                          [(ngModel)]="informationsPersonnelles.titreSejourEnFranceValide"
                          [value]="true"
                          required
                          #titreSejourValide="ngModel">
                      <label
                          class="custom-control-label"
                          for="titreSejourValideTrue">
                          oui
                      </label>
                  </div>
                  <div class="custom-control custom-radio ml-2">
                      <input
                          id="titreSejourValideFalse"
                          name="titreSejourValide"
                          type="radio"
                          class="custom-control-input"
                          [(ngModel)]="informationsPersonnelles.titreSejourEnFranceValide"
                          [value]="false"
                          required
                          #titreSejourValide="ngModel">
                      <label
                          class="custom-control-label"
                          for="titreSejourValideFalse">
                          non
                      </label>
                  </div>
              </div>
              <span
                  class="row error-input-message"
                  *ngIf="(isInformationsPersonnellesFormSubmitted || titreSejourValide.touched)  && titreSejourValide.errors?.required">
                  {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
              </span>
          </div>
          <div class="form-group">
              <div class="row mb-2">
                  <label
                      class="label"
                      for="situationsExceptionnelles">
                      Vous êtes
                      <i
                      class="interrogation-icon btn far fa-question-circle"
                      [popover]="popoverSituationDemandeurTemplate"
                      #popoverSituationDemandeur="bs-popover"
                      placement="right"></i>
                  </label>
              </div>
              <div class="row">
                  <label
                      name="isHandicape"
                      class="btn radio-button-style-1"
                      [(ngModel)]="informationsPersonnelles.isHandicape"
                      btnCheckbox
                      tabindex="0"
                      role="button"
                      #isHandicape="ngModel"
                      (click)="isHandicapeClicked()">
                      {{situationPersonneEnum.HANDICAPE}}
                  </label>
                  <label
                      id="btn-is-createur-entreprise"
                      name="isCreateurEntreprise"
                      class="btn radio-button-style-1"
                      [(ngModel)]="informationsPersonnelles.isCreateurEntreprise"
                      btnCheckbox
                      tabindex="0"
                      role="button"
                      #isCreateurEntreprise="ngModel"
                      (click)="isCreateurEntrepriseClicked()">
                      {{situationPersonneEnum.CREATEUR_ENTREPRISE}}
                  </label>
                  <label
                      id="btn-has-revenus-immobilier"
                      name="hasRevenusImmobilier"
                      class="btn radio-button-style-1"
                      [(ngModel)]="informationsPersonnelles.hasRevenusImmobilier"
                      btnCheckbox
                      tabindex="0"
                      role="button"
                      #hasRevenusImmobilier="ngModel"
                      (click)="hasRevenusImmobilierClicked()">
                      {{situationPersonneEnum.BENEFICIAIRE_REVENUS_IMMOBILIER}}
                  </label>
              </div>
          </div>
          <div class="form-group">
              <div class="row mb-2">
                  <label
                      class="label"
                      for="situationFamiliale">
                      * Votre situation familiale
                  </label>
              </div>
              <div class="row">
                  <label
                      #situationFamiliale="ngModel"
                      (click)="onClickSituationFamiliale()"
                      name="situationFamiliale"
                      class="btn radio-button-style-1"
                      [btnRadio]="false"
                      tabindex="0"
                      role="button"
                      required
                      [(ngModel)]="isEnCouple">
                      {{situationsFamilialesEnum.SEULE}}
                  </label>
                  <label
                      #situationFamiliale="ngModel"
                      (click)="onClickSituationFamiliale()"
                      name="situationFamiliale"
                      class="btn radio-button-style-1 ml-2"
                      [btnRadio]="true"
                      tabindex="0"
                      role="button"
                      required
                      [(ngModel)]="isEnCouple">
                      {{situationsFamilialesEnum.EN_COUPLE}}
                  </label>
              </div>
              <span
                  class="row error-input-message"
                  *ngIf="(isInformationsPersonnellesFormSubmitted || situationFamiliale.touched)  && situationFamiliale.errors?.required">
                  {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
              </span>
          </div>
          <div
              class="form-group"
              *ngIf="isEnCouple === true">
              <div class="row mb-2">
                  <label
                      class="label"
                      for="situationConjoint">
                      * Votre conjoint(e) est
                  </label>
              </div>
              <div class="row">
                  <label
                      #conjointIsHandicape="ngModel"
                      name="conjointIsHandicape"
                      class="btn radio-button-style-1"
                      btnCheckbox
                      tabindex="0"
                      role="button"
                      [(ngModel)]="situationConjoint.isHandicape"
                      (click)="onClickCheckBoxConjointIsHandicape()">
                      {{situationPersonneEnum.HANDICAPE}}
                  </label>
                  <label
                      #conjointIsSalarie="ngModel"
                      id="btn-conjoint-is-salarie"
                      name="conjointIsSalarie"
                      class="btn radio-button-style-1"
                      btnCheckbox
                      tabindex="0"
                      role="button"
                      [(ngModel)]="situationConjoint.isSalarie"
                      (click)="onClickCheckBoxConjointIsSalarie()">
                      {{situationPersonneEnum.SALARIE}}
                  </label>
                  <label
                      #conjointIsSansEmploi="ngModel"
                      id="btn-conjoint-is-sans-emploi"
                      name="conjointIsSansEmploi"
                      class="btn radio-button-style-1"
                      btnCheckbox
                      tabindex="0"
                      role="button"
                      [(ngModel)]="situationConjoint.isSansEmploi"
                      (click)="onClickCheckBoxConjointIsSansEmploi()">
                      {{situationPersonneEnum.SANS_EMPLOI}}
                  </label>
              </div>
              <span
                  class="row error-input-message"
                  *ngIf="isInformationsPersonnellesFormSubmitted  && !isSituationConjointCorrect()">
                  {{controleChampFormulaireService.MESSAGE_SITUATION_INCORRECTE}}
              </span>
          </div>
          <div class="div-buttons-form row">
              <button
                  class="btn btn-primary-style-0"
                  (click)="onClickButtonRetour()">
                  <div>
                      <img src="./assets/images/return-arrow.svg">
                  </div>
                  <div class="text-button">Retour</div>
              </button>
              <button
                  class="btn btn-primary-style-3"
                  type="submit">
                  <div class="text-button">Suivant</div>
                  <div>
                      <img src="./assets/images/icon-bt-primaire.svg">
                  </div>
              </button>
          </div>
      </form>
  </div>
</div>

<ng-template #popoverSituationDemandeurTemplate>
  <div class="container">
      <div class="close-popover row">
          <i
              class="fas fa-times-circle mb-2 ml-auto"
              (click)="popoverSituationDemandeur.hide()"></i>
      </div>
      <div class="row">
        <p>

          <b>Pourquoi me pose-t-on ces questions ?</b>
        </p>

          <p>
            Ces situations et les montants des revenus associés ont une incidence sur le calcul de la prime d’activité.
          </p>
          <p>
            C’est pourquoi, il est important de les déclarer.
          </p>
      </div>
  </div>
</ng-template>
