@import "../../../../assets/scss/variables";

#section-description {
  background-color: white;

  padding-bottom: 2.5rem;

  .container-fluid {
    background-color: $color-pe-teal;

    @media #{$medium-device} {
      border-radius: 1.5rem;
    }
  }

  h1,
  p {
    color: white;
    text-align: unset;
  }

  .row {
    padding-top: 0.75rem;
    padding-bottom: .75rem;

    #img-description {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      text-align: center;
    }

    #img-description-small-screen {
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 16.375rem !important;
      }
    }

    #text-description {
      padding-left: 3rem;
      margin-top: auto;
      margin-bottom: auto;

      @media #{$extra-small-device} {
        padding-left: 1rem;
      }

      h4,
      span {
        color: white;
        text-align: start;
      }
    }
  }
}