@import "../../../../assets/scss/variables";

#section-description {
  background-color: $color-pe-grey-dark;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  h1,
  p {
    color: white;
    text-align: unset;
  }

  .row {
    padding-top: 2rem;
    padding-bottom: 2rem;

    #img-description {
      padding-right: 2rem;
      margin-top: 0.5rem;
    }

    #img-description-small-screen {
      padding-top: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 16.375rem !important;
      }
    }

    #text-description {
      color: $color-white-1;
      padding-left: 3rem;

      @media #{$extra-small-device} {
        padding-left: 1rem;
      }

      .body-text-description {
        margin-top: 1rem;
      }
    }
  }
}