<section id="section-description">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="!screenService.isExtraSmallScreen()" id="img-description" class="col-md-5 col-sm-12">
                <img id="image-homepage-desktop" alt="Exemple du résultat d'une simulation"
                    src="./assets/images/illustrations/homepage-desktop-screen.svg">
            </div>
            <div id="text-description" class="col-md-7 col-sm-12">
                <h2 id="titre-text-description"
                    [ngClass]="screenService.isExtraSmallScreen()?'headline-3-typo':'headline-2-typo'">
                    Un simulateur pour calculer
                    vos aides en cas de reprise d’emploi
                </h2>
                <h4 class="body-text-description mb-4"
                    [ngClass]="screenService.isExtraSmallScreen()?'headline-5-typo':'headline-4-typo'">
                    Visualisez l'ensemble de votre budget sur les 6 prochains mois.
                </h4>
                <h4 class="body-text-description"
                    [ngClass]="screenService.isExtraSmallScreen()?'headline-5-typo':'headline-4-typo'">
                    Vous pourrez connaitre les aides auxquelles vous avez droit selon votre situation personnelle :
                </h4>
                <h4 class="body-text-description mt-0"
                    [ngClass]="screenService.isExtraSmallScreen()?'headline-5-typo':'headline-4-typo'">
                    ex : aide à la mobilité, prime d’activité, aide à la garde d’enfant…
                </h4>
            </div>
            <div *ngIf="screenService.isExtraSmallScreen()" id="img-description-small-screen"
                class="col-md-5 col-sm-12">
                <img id="image-homepage-desktop" alt="Exemple du résultat d'une simulation"
                    src="./assets/images/illustrations/homepage-desktop-screen.svg">
            </div>
        </div>
    </div>
</section>