<section id="section-description">
    <div class="container-fluid">
        <div class="container-description">
            <div class="row">
                <div *ngIf="!screenService.isExtraSmallScreen()" id="img-description" class="col-md-5 col-sm-12">
                    <img id="image-homepage-desktop" alt="Exemple du résultat d'une estimation"
                        src="./assets/images/illustrations/homepage-desktop-screen.svg">
                </div>
                <div id="text-description" class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-2 my-auto text-end">
                            <img alt="" src="./assets/images/icones/yoga.svg">
                        </div>
                        <div class="col-10">
                            <h4 class="headline-4-typo">
                                Anticipez vos ressources
                            </h4>
                            <span class="body-1-typo">
                                sur les 6 mois qui suivront votre reprise d'emploi
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 my-auto text-end">
                            <img alt="" src="./assets/images/icones/carte.svg">
                        </div>
                        <div class="col-10">
                            <h4 class="headline-4-typo">
                                Découvrez les aides
                            </h4>
                            <span class="body-1-typo">
                                auxquelles vous aurez droit et les démarches pour les obtenir
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 my-auto text-end">
                            <img alt="" src="./assets/images/icones/chrono.svg">
                        </div>
                        <div class="col-10">
                            <h4 class="headline-4-typo">
                                Gagnez du temps
                            </h4>
                            <span class="body-1-typo">
                                avec une estimation unique qui regroupe toutes les aides et allocations disponibles
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="screenService.isExtraSmallScreen()" id="img-description-small-screen"
                    class="col-md-5 col-sm-12">
                    <img id="image-homepage-desktop" alt="Exemple du résultat d'une estimation"
                        src="./assets/images/illustrations/homepage-desktop-screen.svg">
                </div>
            </div>
        </div>
    </div>
</section>