<div class="container-fluid">
    <alert
        type="danger"
        *ngIf="messageErreur">
        {{messageErreur}}
    </alert>
    <div class="titre-carte">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="mt-auto mb-auto code-ressource" [ngClass]="[aideSelected.code.toLowerCase()]">
                     <div>
                       <span class="overline-typo">{{aideSelected.code}}</span>
                     </div>
                </div>
            </div>
            <div class="col-md-12 col-12">
                <div class="row mx-1">
                    <p class="titre-detail-aide headline-1-typo">
                        {{ this.aideSelected.nom }}
                    </p>
                    <div class="rectangle" [ngClass]="[aideSelected.code.toLowerCase()]"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body card-body-description">
        <div id="block-detail-aide" class="card-text" [innerHTML]="aideSelected.detail"></div>
        <div *ngIf="aideSelected.lienExterne"
            class="text-center">
            <button id="btn-aides-detail"
                type="button"
                aria-label="Faire la demande d'aide"
                class="btn-style-perso-1 btn-aides-suite button-typo"
                data-testid="btn-aides-detail"
                tag-action="clique_bouton_demande_aide"
                (click)="onClickFaireLaDemandeAide()">
                <div class="text-center">
                    <span class="mr-2">Faire la demande d'aide</span>
                    <img alt="" src="./assets/images/icon-bt-primaire.svg">
                </div>
            </button>
        </div>
    </div>
</div>