@import "../../../assets/scss/variables";

.container-fluid {
  margin-bottom: 30px;
  @media #{$small-device} {
    padding-left: 0;
    padding-right: 0;
  }
  margin-top: 2rem;
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }
  .card {
    border: none;
    line-height: 27px;
    max-width: 600px;
    margin: auto;
    padding: 20px 15px 20px 15px;
    @media #{$medium-device}, #{$large-device} {
      padding: 30px 70px 30px 70px;
    }
    .btn-je-continue-avant-commencer {
      img {
        margin-left: 45px;
      }
    }
    #div-info-simulation {
      color: $color-blue-3;
      font-size: 0.8rem;
      border: 1px solid $color-blue-3;
      border-radius: 4px;
      padding: 8px;
      @media #{$medium-device}, #{$large-device} {
        font-size: 1rem;
      }
      #img-info-simulation {
        height: 100%;
        position: relative;
        img {
          width: 20px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          @media #{$small-device} {
          }
        }
      }
      #text-info-simulation {
        padding-left: 7px;
        line-height: 18px;
        span {
          font-size: 12px;
          color: $color-blue-3;
        }
      }
    }
    .text-document {
      @media #{$medium-device}, #{$large-device} {
        margin-left: 2rem;
      }
    }
  }
}
