<div class="container-fluid">
  <h1>Avant de commencer</h1>
  <div class="card card-body">
    <p>Pour faire une estimation au plus juste de vos ressources à venir, nous allons vous demander des informations sur les ressources de votre foyer, notamment les allocations reçues de la CAF.</p>
    <p>Veuillez préparer avec vous les documents suivants :<br>
      - votre dernier relevé d'allocations CAF<br>
      - votre notification d'admission ARE Pôle emploi (si vous touchez des allocations versées par Pôle emploi)
    </p>
    <p id="p-simulation" class="text-center">La simulation dure moins de 10 min. !</p>
    <button type="button" class="btn btn-primary"><div id="text-button-div">J'ai compris</div><div><img src="./assets/images/icon-bt-primaire.svg" /></div></button>
  </div>
</div>
