@import "../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
  .card {
    border: none;
    max-width: 650px;
    margin: auto;
    #p-simulation {
      color: $color-blue-3;
    }
  }
}
