<div class="container-fluid">
  <h1 class="h1-style-1">Avant de commencer</h1>
  <div class="card card-body">
    <div class="row">
      <div class="col-1">
        <img src="./assets/images/hand-finger-right.svg" />
      </div>
      <div class="col-11">
        <p>Pour faire une estimation au plus juste de vos ressources à venir, nous allons vous demander des informations sur les ressources de votre foyer, notamment les allocations reçues de la CAF.</p>
        <p>Veuillez préparer avec vous les documents suivants :<br>
           - votre <span class="text-important">dernier relevé d'allocations CAF</span><br>
           - votre <span class="text-important">notification d'admission ARE Pôle emploi</span> (si vous touchez des allocations versées par Pôle emploi)
        </p>
        <div id="p-simulation" class="row mb-4 justify-content-center"><img class="mr-2" src="./assets/images/chrono.svg"/><div>La simulation dure moins de 10 min. !</div></div>
        <button type="button" class="btn btn-primary-style-3" (click)="redirectVersPageMonContratDeTravail()"><div class="text-button">J'ai compris</div><div><img src="./assets/images/icon-bt-primaire.svg" /></div></button>
      </div>
    </div>

  </div>
</div>
