<app-page-loading *ngIf="isPageLoadingDisplay"></app-page-loading>
<div class="container-fluid">
    <alert
        type="danger"
        *ngIf="messageErreur">
        {{messageErreur}}
    </alert>
    <h1 class="h1-style-2">
        {{pageTitlesEnum.AVANT_COMMENCER_SIMULATION}}
    </h1>
    <div class="card card-body">
        <div class="row">
            <div class="col-12">
                <p>
                    Pour faire l’estimation la plus juste, nous vous demandons les ressources de votre foyer, notamment les allocations que vous percevez.
                </p>
                <p>
                    <img
                        class="mr-2"
                        alt="Icône liste à puce"
                        src="./assets/images/hand-finger-right.svg">
                    <span>Veuillez vous munir de :</span>
                    <br>
                    <span class="text-document">
                        - Votre
                        <span class="text-important">
                            dernière notification
                            <div *ngIf="screenService.isScreenInferieur(376)"></div>
                            ASS Pôle Emploi
                            <a
                                aria-describedby="infobulle-derniere-notification-pole-emploi"
                                target="_blank"
                                href="./assets/documents/attestation-ass.pdf">
                                <div id="infobulle-derniere-notification-pole-emploi" role="tooltip" class="img-interrogation-icon" tag-action="ouverture-infobulle-derniere-notification-pe"></div>
                            </a>
                        </span>
                    </span>
                    <br>
                    <span class="text-document">
                        - Votre
                        <span class="text-important ">
                            notification de droits CAF
                            <a
                                target="_blank"
                                aria-describedby="infobulle-derniere-notification-pole-emploi"
                                href="./assets/documents/attestation-caf.pdf">
                                <div id="infobulle-derniere-notification-pole-emploi" role="infobulle-notification-droits-caf" class="img-interrogation-icon" tag-action="ouverture-infobulle-notification-droits-caf"></div>
                            </a>
                        </span>
                    </span>
                </p>
                <div
                    id="div-info-simulation"
                    class="card">
                    <div class="row">
                        <div
                            id="img-info-simulation"
                            class="col-auto">
                            <div>
                                <img alt="Icône information" src="./assets/images/info-blue-1.svg">
                            </div>
                        </div>
                        <div
                            id="text-info-simulation"
                            class="col">
                            <span>
                              Les résultats qui vous seront donnés ne sont qu’une estimation, ils sont susceptibles d’évoluer en fonction de votre situation, et des évolutions réglementaires.
                            </span>
                        </div>
                    </div>
                </div>
                <button
                    data-testid="btn-je-continue-avant-commencer"
                    type="button"
                    class="btn-style-perso-1 mt-4 d-flex justify-content-center"
                    (click)="onClickButtonJeContinue()">
                    <div>
                        <span>Je continue</span>
                        <img alt="Icône flèche je continue" src="./assets/images/icon-bt-primaire.svg">
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
