@import "../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
  .card {
    border: none;
    max-width: 650px;
    margin: auto;
    #div-warning-simulation-duree {
      color: $color-blue-3;
      font-size: 0.8rem;
      @media #{$medium-device}, #{$large-device} {
        font-size: 1rem;
      }

    }
  }
}
