@import "../../../../assets/scss/variables";

.container-fluid {
  text-align: center;
  margin-top: 2vh;

  @media #{$extra-small-device} {
    margin-bottom: 6rem;
  }

  #not-found-first-col {
    .row-title {
      margin-top: 5rem;
      margin-bottom: 0.5rem;
      text-align: left;

      #not-found-title {
        color: $color-blue-2;
        text-align: unset !important;
      }
    }

    .row-text {
      margin-bottom: 2rem;
      text-align: left;
    }

    .row-button {
      margin-bottom: 2rem;
      text-align: left;

      @media #{$extra-small-device} {
        margin-bottom: 6rem;
      }

      #not-found-retour-accueil-button {
        height: 2.625rem;
        width: 13.75rem;

        img {
          margin-left: -0.625rem;
        }

        span {
          margin-right: 1.25rem;
          margin-left: auto;
        }
      }
    }
  }
}