<div class="container-fluid container-action">
    <div>
        <div id="block-inscription-atelier" class="card-body text-center card-action-suite" >
            <img alt="Icône inscription atelier Pôle emploi" src="./assets/images/atelier_pe.svg" class="mb-3 mt-2">
            <p class="card-action-suite-text body-2-typo">Vous inscrire aux ateliers pour être accompagné dans la préparation de vos candidatures</p>
        </div>
        <div class="text-center card-body card-body-btn-action">
            <button id="btn-inscription-atelier"
            type="button"
            aria-label="S'inscrire à un atelier Pôle emploi"
            class="btn-style-perso-1 btn-action-suite mt-auto"
            data-testid="btn-inscription-atelier"
            tag-action="clic_bouton_voir_service_a_la_carte"
            (click)="onClickButtonInscriptionAtelier()"
            >

            <div class="text-center">
                <span class="mr-2 button-typo">Voir les services à la carte</span>
                <img alt="" src="./assets/images/icon-bt-primaire.svg">
            </div>
        </button>
        </div>
    </div>
</div>
