<div class="container-fluid">
    <div class [ngClass]="{'btn-sticks':this.stickyButton}">
        <div id="block-inscription-atelier" class="card-text text-center" >
            <img alt="Icône inscription atelier Pôle emploi" src="./assets/images/atelier_pe.svg" class="mb-3 mt-2">
            <p>Vous inscrire aux ateliers pour être accompagné dans la préparation de vos candidatures</p>
        </div>
        <div class="text-center">
            <button id="btn-inscription-atelier"
            type="button"
            aria-label="S'inscrire à un atelier Pôle emploi"
            class="btn-style-perso-1 btn-inscription-atelier mt-2"
            data-testid="btn-inscription-atelier"
            tag-action="Clique sur inscription à un atelier"
            (click)="btnClick()"
            >

            <div class="text-center">
                <span class="mr-2">Voir les services à la carte</span>
                <img alt="" src="./assets/images/icon-bt-primaire.svg">
            </div>
        </button>
        </div>
    </div>
</div>
