@import "../../../assets/scss/variables";

.card-deck {
  background-color: $color-white-1;
  border-radius: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  .first-card {
    border:0;
    border-radius: 0 !important;
    margin-left: 0;
    margin-right: 0;
    @media #{$medium-device}, #{$large-device}  {
      &:not(.isLastCard){
        border-right: 2px solid $color-grey-1 !important;
        border-radius: 0 !important;
      }
    }
    .second-card {
      margin: 5px;
      border: 0;
      cursor: pointer;
      .card-body {
        border-radius: 8px;
        text-align: center;
        &.active {
          background-color: $color-grey-1;
        }
        #span-mois-annee {
          font-size: 1rem;
          color: $color-blue-2;
          font-weight: bold;
        }
        span {
          @media #{$medium-device}, #{$large-device}  {
            font-size: 1.3rem;
          }
          font-weight: 900;
        }
      }
    }
  }
}