<div class="container-fluid form-container-fluid">
    <h1 class="row h1-style-2">{{getTitrePage()}}</h1>
    <div class="row">
        <h4 class="h4-style-3">
            Détail de mes ressources pour les {{demandeurEmploiConnecte.simulationAidesSociales.simulationsMensuelles.length}} mois à venir
        </h4>
    </div>
    <div class="row">
      <div class="btn-group flex-wrap">
        <label
            *ngFor="let simulationMensuel of demandeurEmploiConnecte.simulationAidesSociales.simulationsMensuelles; let index = index;"
            [ngClass]="{'last-simulation-btn': isLastCardSimulation(index)}"
            class="btn col-12 col-md-2"
            [btnRadio]="simulationMensuel"
            tabindex="0"
            [(ngModel)]="simulationSelected"
            role="button"
            (click)="onClickButtonSimulationMensuelle()">
            <div class="div-simulationMensuel p-1">
              <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">
                        {{getTitleCardSimulation(simulationMensuel)}}
                    </h5>
                    <p class="card-text">
                        {{demandeurEmploiConnecteService.calculerMontantTotalRessourcesMois(simulationMensuel)}} €
                    </p>
                </div>
            </div>
            </div>
        </label>
      </div>
    </div>
    <div class="row mt-3">
        <app-ressources-financieres-mensuelles class="col-6" [simulationSelected]="simulationSelected" [aideSocialeSelected]="aideSocialeSelected" (newAideSocialeSelected)="changeAideSocialeSelected($event)"></app-ressources-financieres-mensuelles>
        <app-detail-aide-sociale class="col-6" *ngIf="aideSocialeSelected" [aideSocialeSelected]="aideSocialeSelected"></app-detail-aide-sociale>
    </div>
    <div class="row mt-5">
        <button
            class="btn btn-primary-style-0"
            (click)="onClickButtonRetour()">
            <div>
                <img src="./assets/images/return-arrow.svg">
            </div>
            <div class="text-button">Retour</div>
        </button>
    </div>
</div>
