<div class="container-fluid form-container-fluid">
    <h1 class="row h1-style-2">5. Résultat de ma simulation</h1>
    <div class="row mt-4">
      <div class="alert alert-light alert-resultat-simulation" role="alert">
        <img src="./assets/images/info.svg">
        <span class="ml-2">Le montant total de la simulation ne prend pas en compte les allocations logement, familiales, autres ressources du foyer et le prélèvement à la source.</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-6 pl-0 mt-auto mb-auto">
        <h4 class="h4-style-3">
            Mes ressources actuelles avant reprise emploi
        </h4>
      </div>
      <div id="card-revenus-actuels" class="col-12 col-md-6">
        <div class="card">
          <h3>Revenus et aides</h3>
          <span>{{simulationAidesSociales.montantRessourcesFinancieresMoisAvantSimulation}} €</span>
        </div>
      </div>
    </div>
    <div id="div-h4-ressources-estimees" class="row">
        <h4 class="h4-style-3">
            Mes ressources estimées après reprise d'emploi pour les {{simulationAidesSociales.simulationsMensuelles.length}} mois à venir
        </h4>
    </div>
    <div class="row " [ngClass]="{'card-deck': !isSmallScreen, 'card-sm-simulations': isSmallScreen}">
        <div
            class="card first-card"
            *ngFor="let simulationMensuel of simulationAidesSociales.simulationsMensuelles; let index = index;"
            [ngClass]="{isLastCard: isLastSimulationMensuelle(index)}">
            <div class="card second-card">
                <div
                    [ngClass]="{active: isSimulationMensuelleSelected(simulationMensuel)}"
                    class="card-body"
                    (click)="onClickButtonSimulationMensuelle(simulationMensuel)">
                    <div class="row">
                        <div class="col-6 mt-auto mb-auto p-0 col-md-12">
                            <span id="span-mois-annee">
                                {{getDateStringFormat(simulationMensuel)}}
                            </span>
                        </div>
                        <div class="col-4 p-0 mt-auto mb-auto ml-auto mr-0 col-md-12">
                            <span>
                                {{deConnecteSimulationAidesSocialesService.calculerMontantTotalRessourcesMois(simulationMensuel)}} €
                            </span>
                        </div>
                        <div *ngIf="isSmallScreen" class="col-1 p-0  ml-auto mr-1">
                            <span *ngIf="isSimulationMensuelleSelected(simulationMensuel)">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                            <span *ngIf="!isSimulationMensuelleSelected(simulationMensuel)">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    class="card-footer"
                    *ngIf="isSimulationMensuelleSelected(simulationMensuel) && isSmallScreen">
                    <app-ressources-financieres-mensuelles
                        class="col-12"
                        [simulationSelected]="simulationSelected"
                        [aideSocialeSelected]="aideSocialeSelected"
                        (newAideSocialeSelected)="changeAideSocialeSelected($event)"></app-ressources-financieres-mensuelles>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngIf="simulationSelected && !isSmallScreen">
        <div class="row mt-3">
            <app-ressources-financieres-mensuelles
                class="col-6"
                [simulationSelected]="simulationSelected"
                [aideSocialeSelected]="aideSocialeSelected"
                (newAideSocialeSelected)="changeAideSocialeSelected($event)"></app-ressources-financieres-mensuelles>
            <app-detail-aide-sociale
                class="col-6 pr-0"
                *ngIf="aideSocialeSelected"
                [aideSocialeSelected]="aideSocialeSelected"></app-detail-aide-sociale>
        </div>
    </div>

    <div class="row mt-5">
        <button
            class="btn btn-primary-style-0"
            (click)="onClickButtonRetour()">
            <div>
                <img src="./assets/images/return-arrow.svg">
            </div>
            <div class="text-button">Retour</div>
        </button>
    </div>
</div>
