@import "../../../../../assets/scss/variables";

.center-actions-suite {
   margin-top: 2rem;
   margin-bottom: 1rem;
   width: 100%;
   text-align:center;
   @media #{$extra-small-device} {
      margin-left: -0.625rem;
   }
   span {
      color: $color-blue-2;
   }
 }

 .liste-actions{
   @media #{$extra-small-device} {
      margin-left: -0.9375rem;
      margin-right: 0rem;
   }
   @media #{$small-device} {
      margin-left: -0.9375rem;
      margin-right: 0rem;
   }

   .item {
      cursor: pointer;

      &:hover {
         border: $color-blue-2 0.0625rem solid;
      }
   }
 }

 .card {
    margin: 0.5rem;
    padding: 0rem;
 }

 span {
   font-size: 21px;
   font-family: Poppins;
   font-weight: 700;
   letter-spacing: 0;
   line-height: 31,5px;
   color: $color-blue-1;
 }

