<div class="centerActionsSuite">
    <span><b>Que souhaitez vous faire maintenant ?</b></span>
</div>

<div class="row">
    <div class="card col-sm">
        <app-consultation-offres class="m-4">

        </app-consultation-offres>
    </div>

    <div class="card col-sm">
        <app-mettre-a-jour-profil class="m-4">

        </app-mettre-a-jour-profil>
    </div>

    <div class="card col-sm">
        <app-inscription-atelier class="m-4">

        </app-inscription-atelier>
    </div>
</div>