@import "../../../../../assets/scss/variables";
.centerActionsSuite {
   margin-top: 2rem;
   margin-bottom: 1rem;
   width: 100%;
   text-align:center;
 }


 .card {
    margin: 0.5rem;
    padding: 0rem;  
 }