<section id="section-etapes">
    <div class="container-fluid">
        <h1 id="titre-section-etapes" class="text-center">
            Pour obtenir votre simulation financière<br> à partir d'une offre d'emploi
        </h1>
        <div class="row">
            <div class="col-12 col-md-auto col-style-0">
                <div class="card-1 card h-100">
                    <div class="card-body row">
                        <div class="icon-tache-homepage"></div>
                        <div class="icons-and-number-etape icon-and-number-job">
                            <div class="col-auto numero-etape">
                                <span>1.</span>
                            </div>
                            <div class="icons-etape icon-job"></div>
                        </div>
                        <div id="text-etape-1-home" class="col-auto text-etape">
                            <span class="text-etape-main">Connectez-vous et saisissez les informations de l'offre d'emploi</span>
                            qui vous intéresse (CDD, CDI, temps partiel)
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block d-xl-block col-lg-auto col-chevron"></div>
            <div class="col-12 col-md-auto col-style-0">
                <div class="card-2 card h-100">
                    <div class="card-body row">
                        <div class="icon-tache-homepage"></div>
                        <div class="icons-and-number-etape icon-and-number-simulation">
                            <div class="col-auto numero-etape">
                                <span>2.</span>
                            </div>
                            <div class="icons-etape icon-simulation"></div>
                        </div>
                        <div id="text-etape-2-home" class="col-auto text-etape">
                            <span class="text-etape-main">Complétez les informations pour faire la simulation.</span>
                            <br>
                            (Situation familiale, personne(s) à charge, ressources actuelles)
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block d-xl-block col-lg-auto col-chevron"></div>
            <div class="col-12 col-md-auto col-style-0">
                <div class="card-3 card h-100">
                    <div class="card-body row">
                        <div class="icon-tache-homepage"></div>
                        <div class="icons-and-number-etape icon-and-number-money">
                            <div class="col-auto numero-etape">
                                <span>3.</span>
                            </div>
                            <div class="icons-etape icon-money"></div>
                        </div>
                        <div id="text-etape-3-home" class="col-auto text-etape">
                            <span class="text-etape-main">Obtenez le montant détaillé</span>
                             de vos ressources personnalisées sur les 6 prochains mois.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
