<section id="section-etapes">
    <div class="container-fluid">
        <h1
            id="titre-section-etapes"
            class="text-center headline-2-typo">
            Comment ça marche ?
        </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="row row-etape">
                    <div class="col-12 col-md-3">
                        <div class="numero-etape-container">
                            <img
                                id="image-etape-1"
                                class="icons-etapes"
                                alt=""
                                src="../../../../assets/images/icon-section-etape-1.svg">
                        </div>
                    </div>
                    <div class="col-12 col-md-9 text-etapes body-1-typo">
                        <span class="intro-text-etape">Reprenez vos critères de recherche d'emploi ou ceux de l'offre que vous avez repérée</span><br>
                        <span>(exemple: CDD, 35h, 1231euros net)</span>
                    </div>
                </div>
                <div class="row row-etape">
                    <div class="col-12 col-md-3">
                        <div class="numero-etape-container">
                            <img
                                id="image-etape-2"
                                class="icons-etapes"
                                alt=""
                                src="../../../../assets/images/icon-section-etape-2.svg">
                        </div>
                    </div>
                    <div class="col-12 col-md-9 text-etapes body-1-typo">
                        <span>
                            <span class="intro-text-etape">Connectez-vous avec vos identifiants Pôle emploi</span><br>
                            <span>Pas d’inquiétude si vous les avez oublié, nous allons vous guider pour les retrouver</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row row-etape">
                    <div class="col-12 col-md-3">
                        <div class="numero-etape-container">
                            <img
                                id="image-etape-3"
                                class="icons-etapes"
                                alt=""
                                src="../../../../assets/images/icon-section-etape-3.svg">
                        </div>
                    </div>
                    <div class="col-12 col-md-9 text-etapes body-1-typo">
                        <span class="intro-text-etape">Complétez le formulaire pour faire la simulation</span><br>
                        <span>(Situation familiale, personne(s) à charge, ressources actuelles)</span>
                    </div>
                </div>
                <div class="row row-etape">
                    <div class="col-12 col-md-3">
                        <div class="numero-etape-container">
                            <img
                                id="image-etape-4"
                                class="icons-etapes"
                                alt=""
                                src="../../../../assets/images/icon-section-etape-4.svg">
                        </div>
                    </div>
                    <div class="col-12 col-md-9 text-etapes body-1-typo">
                        <span class="intro-text-etape">Obtenez le montant détaillé de vos ressources</span><br>
                        <span>sur les 6 prochains mois</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <button
            id="btn-je-commence"
            type="button"
            aria-label="Je commence ma simulation"
            class="btn-style-perso-1 btn-je-commence mt-4 d-flex justify-content-center button-typo"
            data-testid=" btn-je-commence"
            tag-action="clic_bouton_je_commence"
            (click)="login()">

            <div>
                <span>Je commence la simulation</span>
                <img alt="Iĉone flèche je commence" src="./assets/images/icon-bt-primaire.svg">
            </div>
            </button>
        </div>
    </div>
</section>
