<section id="section-etapes">
    <div class="container-fluid">
        <h1 class="text-center">
            Pour obtenir votre simulation financière
        </h1>
        <div class="row">
            <div class="col-12 col-md col-style-0">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="col-auto ml-0 mr-0 pl-0 pr-0">
                                <span class="numero-etape">1.</span>
                            </div>
                            <div class="ml-1 col-auto text-etape">Connectez-vous et indiquez le montant du salaire de votre prochain contrat de travail.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!screenService.isSmallScreen()" class="col-sm-auto col-chevron">
              <div>
                <img src="../../../assets/images/left-chevron.svg">
              </div>
            </div>
            <div class="col-12 col-md-4 col-style-0">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="col-auto ml-0 mr-0 pl-0 pr-0">
                                <span class="numero-etape">2.</span>
                            </div>
                            <div class="ml-1 col-auto text-etape">Complétez les informations pour la simulation. Vous aurez besoin de votre relevé CAF et de votre notification de droit ASS Pôle emploi.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!screenService.isSmallScreen()" class="col-sm-auto col-chevron">
              <div>
                <img src="../../../assets/images/left-chevron.svg">
              </div>
            </div>
            <div class="col-12 col-md col-style-0">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="col-auto ml-0 mr-0 pl-0 pr-0">
                                <span class="numero-etape">3.</span>
                            </div>
                            <div class="ml-1 col-auto text-etape">Obtenez le montant détaillé de vos ressources mois par mois.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
