@import "../../../../assets/scss/variables";

#section-etapes {
  padding-bottom: 1.5rem;
  background-color: white;

  #titre-section-etapes {
    color: $color-pe-grey-dark;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .row {
    margin-left: auto;
    margin-right: auto;

    .row-etape {
      height: 7rem;

      @media #{$extra-small-device} {
        height: unset;
        margin-bottom: 2rem;
      }
    }

    div {
      .numero-etape-container {
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$extra-small-device} {
          margin-bottom: 1rem;
        }

        margin-bottom: 1.25rem;

        .numero-etape {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          gap: 1rem;
          width: 3.5rem;
          height: 3.5rem;
          background: $color-pe-red-light;
          border-radius: 4.875rem;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }


    .text-etapes {
      padding-left: 0rem;
      padding-right: 0rem;

      @media #{$extra-small-device} {
        text-align: center;
      }

      h2 {
        color: $color-pe-grey-dark;
        font-weight: bold !important;
        text-align: left !important;

        @media #{$extra-small-device} {
          text-align: center !important;
        }
      }

      .intro-text-etape {
        padding-bottom: 1rem;
      }

      span,
      p {
        color: $color-pe-grey-dark;
      }
    }

    .btn-je-commence {
      height: 2.875rem;
      width: 17.75rem;
      -webkit-box-shadow: 0rem 0.75rem 2.125rem -0.9375rem rgba(0, 0, 0, 0.68);
      box-shadow: 0rem 0.75rem 2.125rem -0.9375rem rgba(0, 0, 0, 0.68);

      @media #{$extra-small-device} {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
      }

      span {
        height: 1.8125rem;
        color: #FFFFFF;
        vertical-align: top;
      }
    }
  }
}