@import "../../../../assets/scss/variables";

.liste-actions {
  margin: 0;
  padding: 0.5rem;
  padding-bottom: 0rem;

  @media #{$extra-small-device} {
    padding: 0rem;
  }

  div {
    margin: 0 0.5rem;

    @media #{$extra-small-device} {
      padding: 0rem;
      margin: 0rem;

    }
  }
}