<div class="row liste-actions">
    <div class="col-12">
        <app-action-suite text="Rechercher des offres d'emploi" imageLink="rechercher-offres"
            [codeAction]="codesActionsEnum.OFFRES_EMPLOI" (clickAction)="onClickButtonVoirOffres()">
        </app-action-suite>
    </div>
    <div class="col-12 mt-3">
        <app-action-suite text="Comprendre le détail du calcul de mon allocation" imageLink="comprendre-allocation"
            [codeAction]="codesActionsEnum.COMPRENDRE_MON_ALLOCATION"
            (clickAction)="onClickButtonComprendreMonAllocation()">
        </app-action-suite>
    </div>
    <div class="col-12 mt-3">
        <app-action-suite text="Mettre à jour votre profil candidat" imageLink="profil-candidat"
            [codeAction]="codesActionsEnum.MISE_A_JOUR_PROFIL" (clickAction)="onClickButtonMettreAJourProfil()">
        </app-action-suite>
    </div>
    <div class="col-12 mt-3">
        <app-action-suite text="Participer à des ateliers d'accompagnement" imageLink="atelier"
            [codeAction]="codesActionsEnum.SERVICES_A_LA_CARTE" (clickAction)="onClickButtonInscriptionAtelier()">
        </app-action-suite>
    </div>
</div>