<app-fil-etapes-desktop *ngIf="!screenService.isExtraSmallScreen()"></app-fil-etapes-desktop>
<app-fil-etapes-mobile *ngIf="screenService.isExtraSmallScreen()"></app-fil-etapes-mobile>
<div class="container-fluid container-etape">
    <div class="form-container-fluid">
        <div *ngIf="!isModificationCriteres" class="div-title-formulaire">
            <h1 class="h1-style-1" [ngClass]="screenService.isExtraSmallScreen()?' headline-2-typo':'headline-1-typo'">
                2. {{PageHeadlineEnum.ACTIVITE_REPRISE}}
            </h1>
            <div class="text-under-h1 body-2-typo">
                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
            </div>
        </div>
        <div class="card card-form card-form-style-2">
            <form #activiteRepriseForm="ngForm" [ngClass]="{'submitted':isActiviteRepriseFormSubmitted}">
                <div class="fieldset-row">
                    <div class="row pb-2">
                        <label class="label headline-4-typo" for="salaireMensuelBrut">
                            * Salaire mensuel de l'activité reprise
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex">
                            <input id="salaireMensuelBrut" name="salaireMensuelBrut" type="number"
                                class="form-control d-inline"
                                [ngClass]="{'ng-invalid':isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet), 'd-none': typeSalaireDisplay != 'mensuel_brut'}"
                                data-testid="input-salaire-mensuel-brut"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}" maxlength="6"
                                placeholder="Montant" inputmode="decimal"
                                [(ngModel)]="futurTravail.salaire.montantMensuelBrut" #salaireMensuelBrut="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                (keyup)="propagateSalaireHoraireMensuel()" required aria-label="Salaire mensuel brut"
                                [attr.aria-invalid]="isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet)">
                            <input id="salaireMensuelNet" name="salaireMensuelNet" type="number"
                                class="form-control d-inline"
                                [ngClass]="{'ng-invalid':isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet), 'd-none': typeSalaireDisplay != 'mensuel_net'}"
                                data-testid="input-salaire-mensuel-net"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}" maxlength="6"
                                placeholder="Montant" inputmode="decimal"
                                [(ngModel)]="futurTravail.salaire.montantMensuelNet" #salaireMensuelNet="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                (keyup)="propagateSalaireHoraireMensuel()" required aria-label="Salaire mensuel net"
                                [attr.aria-invalid]="isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet)">
                            <input id="salaireHoraireBrut" name="salaireHoraireBrut" type="number"
                                class="form-control d-inline"
                                [ngClass]="{'ng-invalid':isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet), 'd-none': typeSalaireDisplay != 'horaire_brut'}"
                                data-testid="input-salaire-horaire-brut"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}" maxlength="6"
                                placeholder="Montant" inputmode="decimal"
                                [(ngModel)]="futurTravail.salaire.montantHoraireBrut" #salaireHoraireBrut="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                                (keyup)="propagateSalaireHoraireMensuel()" required aria-label="Salaire horaire brut"
                                [attr.aria-invalid]="isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet)">
                            <input id="salaireHoraireNet" name="salaireHoraireNet" type="number"
                                class="form-control d-inline"
                                [ngClass]="{'ng-invalid':isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet), 'd-none': typeSalaireDisplay != 'horaire_net'}"
                                data-testid="input-salaire-horaire-net"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}" maxlength="6"
                                placeholder="Montant" inputmode="decimal"
                                [(ngModel)]="futurTravail.salaire.montantHoraireNet" #salaireHoraireNet="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                                (keyup)="propagateSalaireHoraireMensuel()" required aria-label="Salaire horaire net"
                                [attr.aria-invalid]="isChampFuturSalaireInvalide(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet)">
                            <app-text-with-euro-symbol></app-text-with-euro-symbol>
                            <select id="typeSalaireDisplay" name="typeSalaireDisplay"
                                aria-label="Type de salaire à afficher (brut/net)" data-testid="select-type-salaire"
                                [(ngModel)]="typeSalaireDisplay" class="form-select" data-width="auto" required
                                [ngClass]="{'option-selected': typeSalaireDisplay !== null}" #nombreMoisCDD="ngModel">
                                <option value="mensuel_brut">
                                    brut mensuel
                                </option>
                                <option value="mensuel_net">
                                    net mensuel
                                </option>
                                <option value="horaire_brut">
                                    brut horaire
                                </option>
                                <option value="horaire_net">
                                    net horaire
                                </option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="error-input-message" role="alert"
                                    *ngIf="isChampFuturSalaireEgalAZero(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet)">
                                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="error-input-message" role="alert"
                                    *ngIf="isChampFuturSalaireNonPresent(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet)">
                                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                                </p>
                            </div>
                            <div class="col-12">
                                <p class="error-input-message" role="alert"
                                    *ngIf="isChampFuturSalaireErreurMontant(salaireHoraireBrut, salaireHoraireNet, salaireMensuelBrut, salaireMensuelNet)">
                                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="!isModificationCriteres" class="row-btn-form">
            <button id="btn-ma-situation-retour" data-testid="btn-ma-situation-retour" class="btn-precedent"
                aria-label="Retour à la page précédente" (click)="onClickButtonRetour()"
                tag-navigation="clic_bouton_retour" type="button">
                <div>
                    <img alt="" role="presentation" src="./assets/images/icones/fleche-gauche-grey.svg">
                    <span>Retour</span>
                </div>
            </button>
            <button id="btn-obtenir-simulation-parcours-complement-are" class="btn-suivant"
                aria-label="Obtenir ma simulation" type="submit"
                data-testid="btn-obtenir-simulation-parcours-complement-are" (click)="onClickButtonObtenirSimulation()"
                tag-navigation="clic_bouton_obtenir_ma_simulation_parcours_complement_are">
                <div>
                    <span>Obtenir ma simulation</span>
                    <img alt="" role="presentation" src="./assets/images/icones/fleche-droite-pe-white.svg">
                </div>
            </button>
        </div>
    </div>
</div>