<app-page-loading *ngIf="isPageLoadingDisplay"
    message="Mise à jour de votre estimation en cours, cela peut prendre quelques secondes..."></app-page-loading>
<div class="container-fluid result-container-fluid container-etape">
    <div class="row">
        <div class="col">
            <h1 class="h1-style-1" [ngClass]="screenService.isExtraSmallScreen()?' headline-2-typo':'headline-1-typo'">
                5. {{PageHeadlineEnum.RESULTAT_SIMULATION}}
                <button id="infobulle-resultat-simulation" class="img-interrogation-icon" placement="right"
                    tag-action="ouverture-infobulle-resultat-simulation"
                    (click)="modalService.openModalOnEvent($event, modalResultatSimulationTemplate)">
                    <span class="sr-only">
                        Comment interpréter vos résultats ?
                    </span>
                    <img alt="" role="presentation" src="./assets/images/icones/question.svg">
                </button>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-diagramme-et-mois col-md-8 col-12">
            <div *ngIf="screenService.isExtraSmallScreen();" class="row row-style-3">
                <div class="col-12">
                    <app-ressources-financieres-diagramme>
                    </app-ressources-financieres-diagramme>
                </div>
            </div>
            <div class="row row-style-3 infos-resultat-container">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-2 col-md-1 d-flex flex-column align-items-center">
                            <img alt="" role="presentation" src="./assets/images/icones/localisation-white.svg">
                        </div>
                        <div class="col-10 col-md-11">
                            <div>
                                <h2 class="headline-4-typo">
                                    Basée sur une reprise d’emploi
                                </h2>
                                <h3 class="body-2-typo">
                                    <span id="mois-versement-infos-resultat">
                                        en {{ dateUtileService.getLibelleMoisApresDateJour(1).toLowerCase() }}
                                    </span>
                                    et un versement de salaire en fin de mois
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" [ngClass]="{'mt-4':screenService.isExtraSmallScreen()}">
                    <div class="row">
                        <div class="col-2 col-md-1 d-flex flex-column align-items-center">
                            <img alt="" role="presentation" src="./assets/images/icones/calendrier-white.svg">
                        </div>
                        <div class="col-10 col-md-11">
                            <h2 class="headline-4-typo">
                                Visibilité sur 6 mois maximum
                            </h2>
                            <h3 class="body-2-typo">
                                Vous pourriez bénéficier d’aides et d’allocations au-delà
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4">
                    <div class="row">
                        <div class="col-2 col-md-1 d-flex flex-column align-items-center">
                            <img alt="" role="presentation" src="./assets/images/icones/euro-white.svg">

                        </div>
                        <div class="col-10 col-md-11">
                            <h2 class="headline-4-typo">
                                Montants nets
                            </h2>
                            <h3 class="body-2-typo">
                                avant éventuel impôt sur le revenu
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4">
                    <div class="row">
                        <div class="col-2 col-md-1 d-flex flex-column align-items-center">
                            <img alt="" role="presentation" src="./assets/images/icones/info-white.svg">
                        </div>
                        <div class="col-10 col-md-11">
                            <h2 class="headline-4-typo">
                                Estimation à titre d’information
                            </h2>
                            <h3 class="body-2-typo">
                                aucune valeur contractuelle
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!screenService.isExtraSmallScreen();" class="row row-style-3">
                <div class="col-12">
                    <app-ressources-financieres-diagramme>
                    </app-ressources-financieres-diagramme>
                </div>
            </div>
            <div>
                <div id="title_avant_simulation">
                    <h3 class="headline-3-typo color-blue-2-typo text-start">Avant reprise d'emploi</h3>
                </div>
                <div id="card_ressources_avant_simulation" class="card row mb-3">
                    <div class="col-12 col-md-12">
                        <h4 id="mois_ressources_avant_simulation" class="headline-4-typo color-blue-2-typo text-start">
                            {{ dateUtileService.getLibelleDateActuelle() }}
                        </h4>
                        <h5 id="montant_ressources_avant_simulation"
                            class="headline-5-typo color-pe-teal-typo text-start"
                            data-testid="montant_ressources_actuelles">
                            {{simulation.montantRessourcesFinancieresMoisAvantSimulation}} € net
                        </h5>
                    </div>
                </div>
                <div id="title_apres_simulation">
                    <h3 class="headline-3-typo color-blue-2-typo text-start mb-0">Après reprise d'emploi</h3>
                </div>
                <div class="ressources_avant_simulation">
                    <div class="card_ressources_apres_simulation card row mt-3"
                        [ngClass]="{'card-simulations-mobile': screenService.isExtraSmallScreen(), 'card-simulations-desktop': !screenService.isExtraSmallScreen()}"
                        *ngFor="let simulationMensuelle of simulation.simulationsMensuelles; let index = index;"
                        tabindex="0" (keyup)="handleKeyUpOnSimulationMensuelle($event,simulationMensuelle);">
                        <div class="col-md-12 col-12">
                            <app-mois-apres-simulation [simulationSelected]="simulationSelected"
                                [simulationActuelle]="simulationMensuelle"
                                [detailMensuel]="this.getDetailMensuelSelected(simulationMensuelle)"
                                (simulationSelection)="simulationSelection($event)">
                            </app-mois-apres-simulation>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div *ngIf="!screenService.isExtraSmallScreen()" class="pt-4 sticky-top">
                <div *ngIf="!screenService.isExtraSmallScreen()" class="row mb-3">
                    <div class="col-md-12">
                        <div>
                            <span class="body-1-typo color-blue-2-typo text-start" style="font-weight: 700 !important">
                                Vos critères :
                            </span>
                        </div>
                        <div>
                            <span class="body-2-typo color-blue-2-typo text-start">
                                {{ getCriteresSimulation() }}...
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!screenService.isExtraSmallScreen()" class="row mb-4">
                    <div class="col-12 col-md-12 my-auto">
                        <button class="btn btn-style-perso-7" data-testid="btn-modification-criteres" tabindex="0"
                            (click)="onClickButtonModificationCriteres()"
                            (keyup)="handleKeyUpOnModificationCriteres($event)"
                            tag-navigation="clic_bouton_modification_criteres">
                            <span>Modifier les critères</span>
                        </button>
                    </div>
                    <div class="col-12 col-md-12 my-auto mt-3">
                        <button class="btn btn-style-perso-6" data-testid="btn-telecharger-simulation" tabindex="0"
                            (click)="onClickButtonImprimerMaSimulation()"
                            (keyup)="handleKeyUpOnTelechargerSimulation($event)"
                            tag-download="clic_bouton_telecharger_ma_simulation">
                            <img alt="" role="presentation" src="./assets/images/icones/download.svg">
                            <span>Télécharger</span>
                        </button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <h3 class="headline-3-typo color-blue-2-typo text-start mb-0">
                            Pour aller plus loin
                        </h3>
                    </div>
                </div>
                <div class="row mb-3 recommendation-block">
                    <div class="col-md-12">
                        <span class="body-1-typo">
                            Partager ce simulateur aux personnes qui pourraient en avoir besoin
                        </span>
                    </div>
                    <button class="pt-3 col-md-12 no-style-button" (click)="onClickCopyLinkToEstime()" tabindex="0">
                        <img alt='' role='presentation' src='./assets/images/icones/copy.svg'>
                        <span class="button-typo color-pe-red-typo pointer">
                            COPIER LE LIEN DE PARTAGE
                        </span>
                    </button>
                    <div *ngIf="isCopiedSuccessfully" class="mt-2 col-md-12 copied-successfully">
                        <img alt='' role='presentation' src='./assets/images/icones/check-black.svg'>
                        <span class="body-2-typo">
                            Copié dans votre presse-papier
                        </span>
                    </div>
                </div>
                <div id="actions-suite">
                    <app-actions-suite>
                    </app-actions-suite>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="screenService.isExtraSmallScreen()" class="container-fluid result-container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <h3 class="headline-3-typo color-blue-2-typo text-start mb-0">
                Pour aller plus loin
            </h3>
        </div>
    </div>
    <div class="row mb-3 recommendation-block">
        <div class="col-md-12">
            <span class="body-1-typo">
                Partager ce simulateur aux personnes qui pourraient en avoir besoin
            </span>
        </div>
        <button class="pt-3 col-md-12 no-style-button" (click)="onClickCopyLinkToEstime()" tabindex="0">
            <img alt='' role='presentation' src='./assets/images/icones/copy.svg'>
            <span class="button-typo color-pe-red-typo pointer">
                COPIER LE LIEN DE PARTAGE
            </span>
        </button>
        <div *ngIf="isCopiedSuccessfully" class="mt-2 col-md-12 copied-successfully">
            <img alt='' role='presentation' src='./assets/images/icones/check-black.svg'>
            <span class="body-2-typo">
                Copié dans votre presse-papier
            </span>
        </div>
    </div>
    <div id="actions-suite" class="row mb-3">
        <app-actions-suite>
        </app-actions-suite>
    </div>
    <div class="row mb-4 px-3">
        <button class="btn-telecharger-simulation-mobile" data-testid="btn-telecharger-simulation" tabindex="0"
            (click)="onClickButtonImprimerMaSimulation()" (keyup)="handleKeyUpOnTelechargerSimulation($event)"
            tag-download="clic_bouton_telecharger_ma_simulation">
            <img alt="" role="presentation" src="./assets/images/icones/download.svg">
            <span>Télécharger</span>
        </button>
    </div>
</div>
<div *ngIf="screenService.isExtraSmallScreen()" class="sticky-boutons-modifier-refaire-simulation">
    <div class="row m-0 mb-3">
        <div class="col-7 px-1 text-start">
            <div>
                <span class="body-1-typo color-blue-2-typo" style="font-weight: 700 !important">
                    Vos critères :
                </span>
            </div>
            <div>
                <span class="body-2-typo color-blue-2-typo text-start">
                    {{ getCriteresSimulation() }}...
                </span>
            </div>
        </div>
        <div class="col-5 px-1">
            <button class="btn-modifier-criteres-sticky" data-testid="btn-modification-criteres" tabindex="0"
                (click)="onClickButtonModificationCriteres()" (keyup)="handleKeyUpOnModificationCriteres($event)"
                tag-navigation="clic_bouton_modifier_la_simulation">
                <span>Modifier</span>
            </button>
        </div>
    </div>
</div>
<ng-template #modalResultatSimulationTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-1-typo'>
            Les résultats qui vous sont donnés ne sont qu’une estimation, ils sont susceptibles d’évoluer en fonction de votre situation, et des évolutions réglementaires. Ils n’ont aucun caractère contractuel.
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalModificationCriteres>
    <app-modification-criteres (displayLoading)="displayLoading($event)">
    </app-modification-criteres>
</ng-template>

<ng-template #modalDetailMoisApresSimulation>
    <app-detail-mois-apres-simulation *ngIf="simulationSelected" [simulationActuelle]="simulationSelected"
        [detailMensuel]="detailMensuelSelected" (aideSelection)="aideSelection($event)">
    </app-detail-mois-apres-simulation>
</ng-template>