a {
  cursor: pointer;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
    text-underline-position: under;
  }
}

span {
  text-decoration: underline;
  font-weight: 800;
  font-size: 12px;
}

.breadcrumb {
  background-color: unset;
  font-size: 12px;
  padding-left: 0;
}

.container-fluid {
  margin-top: 2rem;
}