




.container-fluid {
  margin-top: 2rem;

  .breadcrumb {
    background-color: unset;
    font-size: 0.75em;
    padding-left: 0;

    .active {
      span {
        text-decoration: underline;
        font-weight: 800;
      }
    }
    a, span {
      cursor: pointer;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }
}