.container-fluid {
  margin-top: 2rem;

  .breadcrumb {
    background-color: unset;
    padding-left: 0;

    .active {
      span {
        font-weight: bold;
      }
    }

    a,
    span {
      cursor: pointer;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }
}