<div class="card card-form-style-2">
    <div class="card-title">
        <span class="headline-3-typo color-pe-red-typo">Personne {{numeroNouvellePersonne}}</span>
        <button d="btn-supprimer-personne-a-charge" type="button" class="btn-close close float-end" aria-label="Fermer"
            role="button" tabindex="0" alt="Supprimer personne à charge" (click)="onClickButtonAnnuler()"
            (keyup)="handleKeyUpOnButtonAnnuler($event)">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmitNouvellePersonneAChargeForm(personnesAChargeForm)"
            [ngClass]="{'submitted':isNouvellePersonnesAChargeFormSubmitted}" #personnesAChargeForm="ngForm">
            <div class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <p class="label headline-4-typo">
                            * Date de naissance
                        </p>
                    </legend>
                    <div class="row pb-3">
                        <app-date-inputs [dateSaisie]="dateNaissanceNouvellePersonne"
                            [isFormSubmitted]="isNouvellePersonnesAChargeFormSubmitted"
                            (dateChanged)="gererAffichageNouvellePersonneSituationForm()">
                        </app-date-inputs>
                    </div>
                </fieldset>
            </div>
            <app-form-personne-a-charge-situation *ngIf="isNouvellePersonneAChargeSituationFormGroupDisplay"
                [nouvellePersonneACharge]="nouvellePersonneACharge"
                [dateNaissanceNouvellePersonne]="dateNaissanceNouvellePersonne"
                [isNouvellePersonnesAChargeFormSubmitted]="isNouvellePersonnesAChargeFormSubmitted">
            </app-form-personne-a-charge-situation>
            <div>
                <button class="btn-style-perso-3 button-typo" type="submit" data-testid="btn-valider-personne-charge">
                    <div>
                        <span>Valider</span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>