@import "../../../../../assets/scss/variables";

.card-body {
  border-radius: 0;
  border: 0.0625rem solid $color-grey-1;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top: 0;
  margin-top: 0;
  padding-top: 1.5rem;

  @media #{$medium-device},
  #{$large-device} {
    padding-left: 4rem;
  }

  .div-buttons-form {
    margin-top: 2rem;
  }
}

.row-button-valider {
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.col-salaire-with-border {
  @media #{$large-device} {
    border-bottom: 0.5px solid $color-grey-1;
  }
}