<div class="card card-body card-form">
    <form
        (ngSubmit)="onSubmitRessourcesFinancieresConjointForm(ressourcesFinancieresConjointForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresConjointFormSubmitted}"
        #ressourcesFinancieresConjointForm="ngForm">
        <div
            class="form-group"
            *ngIf="conjoint.informationsPersonnelles.salarie">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointSalaireNet">
                    * Salaire net perçu
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    le mois dernier
                </span>
                <input
                    id="conjointSalaireNet"
                    name="salaireNet"
                    data-testid="input-salaire-conjoint"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.salaire.montantNet"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.salaire.montantNet && (conjoint.ressourcesFinancieres.salaire.montantNet == 0)}"
                    required
                    placeholder="Montant"
                    inputmode="decimal"
                    #salaireNet="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="le mois dernier">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.salaire.montantNet && (conjoint.ressourcesFinancieres.salaire.montantNet == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAides.beneficiaireARE">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointAllocationMensuelleNetARE">
                    * ARE (Allocation Retour Emploi) perçue
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    le mois dernier
                </span>
                <input
                    id="conjointAllocationMensuelleNetARE"
                    name="allocationMensuelleNetARE"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet && (conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationMensuelleNetARE="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="le mois dernier">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet && (conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAides.beneficiaireASS">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointAllocationMensuelleNetASS">
                    * ASS (Allocation Solidarité Spécifique) perçue
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    le mois dernier
                </span>
                <input
                    id="conjointAllocationMensuelleNetASS"
                    name="allocationMensuelleNetASS"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationMensuelleNetASS="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="le mois dernier">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (conjoint.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAides.beneficiaireRSA">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointAllocationMensuelleNetRSA">
                    * RSA (Revenu Solidarité Active) perçu
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    le mois dernier
                </span>
                <input
                    id="conjointAllocationMensuelleNetRSA"
                    name="allocationRSA"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.aidesCAF.allocationRSA"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.aidesCAF.allocationRSA && (conjoint.ressourcesFinancieres.aidesCAF.allocationRSA == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationRSA="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="le mois dernier">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationRSA?.touched)  && allocationRSA?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationRSA?.touched)  && allocationRSA?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.aidesCAF.allocationRSA && (conjoint.ressourcesFinancieres.aidesCAF.allocationRSA == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAides.beneficiaireAAH">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointAllocationMensuelleNetAAH">
                    * AAH (Allocation Adulte Handicapé) perçue
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    le mois dernier
                </span>
                <input
                    id="conjointAllocationMensuelleNetAAH"
                    name="allocationAAH"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.aidesCAF.allocationAAH"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.aidesCAF.allocationAAH && (conjoint.ressourcesFinancieres.aidesCAF.allocationAAH == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationAAH="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="le mois dernier">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationAAH?.touched)  && allocationAAH?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationAAH.touched)  && allocationAAH.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.aidesCAF.allocationAAH && (conjoint.ressourcesFinancieres.aidesCAF.allocationAAH == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAides.beneficiairePensionInvalidite">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointPensionInvalidite">
                    * Pension d'invalidité perçue
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    le mois dernier
                </span>
                <input
                    id="conjointPensionInvalidite"
                    name="pensionInvalidite"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.aidesCPAM.pensionInvalidite"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.aidesCPAM.pensionInvalidite && conjoint.ressourcesFinancieres.aidesCPAM.pensionInvalidite == 0}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #pensionInvalidite="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="le mois dernier">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || pensionInvalidite.touched)  && pensionInvalidite.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.aidesCPAM.pensionInvalidite && (conjoint.ressourcesFinancieres.aidesCPAM.pensionInvalidite == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
            <div class="row mt-3 mb-2">
                <label
                    class="label"
                    for="conjointAllocationSupplementaireInvalidite">
                    * Allocation supplémentaire d'invalidité perçue
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    le mois dernier
                </span>
                <input
                    id="conjointAllocationSupplementaireInvalidite"
                    name="allocationSupplementaireInvalidite"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.aidesCPAM.allocationSupplementaireInvalidite"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationSupplementaireInvalidite="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="le mois dernier">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationSupplementaireInvalidite?.touched)  && allocationSupplementaireInvalidite?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationSupplementaireInvalidite.touched)  && allocationSupplementaireInvalidite.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.informationsPersonnelles.microEntrepreneur">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointRevenusMicroEntreprise">
                    * Chiffre d'affaires en tant que micro entrepreneur
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    net total 3 derniers mois
                </span>
                <input
                    id="conjointRevenusMicroEntreprise"
                    name="conjointRevenusMicroEntreprise"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    type="text"
                    maxlength="6"
                    min="0"
                    class="max-with-input-type-montant form-control"
                    placeholder="Montant"
                    [(ngModel)]="conjoint.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois && (conjoint.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois == 0)}"
                    required
                    inputmode="decimal"
                    #conjointRevenusMicroEntreprise3DerniersMois="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="net total 3 derniers mois">
                </app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointRevenusMicroEntreprise?.touched)  && conjointRevenusMicroEntreprise?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointRevenusMicroEntreprise?.touched)  && conjointRevenusMicroEntreprise?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois && (conjoint.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.informationsPersonnelles.travailleurIndependant">
            <div class="row mb-2">
                <label
                    class="label"
                    for="conjointBeneficesTravailleurIndependantDernierExercice">
                    * Bénéfices en tant qu'indépendant
                </label>
            </div>
            <div class="row">
                <span
                    *ngIf="screenService.isExtraSmallScreen()"
                    class="text-side-input ml-0">
                    de bénéfices sur le dernier exercice clos
                </span>
                <input
                    id="conjointBeneficesTravailleurIndependantDernierExercice"
                    name="conjointBeneficesTravailleurIndependantDernierExercice"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    type="text"
                    maxlength="6"
                    min="0"
                    class="max-with-input-type-montant form-control"
                    placeholder="Montant"
                    [(ngModel)]="conjoint.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice && (conjoint.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice == 0)}"
                    required
                    inputmode="decimal"
                    #conjointBeneficesTravailleurIndependantDernierExercice="ngModel">
                <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                <app-text-with-euro-symbol
                    *ngIf="!screenService.isExtraSmallScreen()"
                    message="sur le dernier exercice clos"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointBeneficesTravailleurIndependantDernierExercice?.touched)  && conjointBeneficesTravailleurIndependantDernierExercice?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || conjointBeneficesTravailleurIndependantDernierExercice?.touched)  && conjointBeneficesTravailleurIndependantDernierExercice?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice && (conjoint.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div class="row row-button-valider">
            <button
                class="btn-style-perso-3"
                aria-label="Valider ressources finançière de votre conjoint"
                data-testid="btn-ressources-conjoint-valider"
                tag-action="clic_bouton_valider_ressources_conjoint"
                type="submit">
                <div>
                    <span>Valider</span>
                </div>
            </button>
        </div>
    </form>
</div>
