<div class="card card-body card-form">
    <form
        (ngSubmit)="onSubmitRessourcesFinancieresConjointForm(ressourcesFinancieresConjointForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresConjointFormSubmitted}"
        #ressourcesFinancieresConjointForm="ngForm">
        <div
            class="form-group"
            *ngIf="conjoint.informationsPersonnelles.salarie">
            <div class="row mb-2">
                <label
                    class="label"
                    for="salaireNet">
                    * Salaire net perçu
                </label>
            </div>
            <div class="row">
                <input
                    name="salaireNet"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.salaireNet"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.salaireNet && (conjoint.ressourcesFinancieres.salaireNet == 0)}"
                    required
                    placeholder="Montant"
                    inputmode="decimal"
                    #salaireNet="ngModel">
                <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.salaireNet && (conjoint.ressourcesFinancieres.salaireNet == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAidesSociales.beneficiaireARE">
            <div class="row mb-2">
                <label
                    class="label"
                    for="allocationMensuelleNetARE">
                    * ARE (Allocation Retour Emploi) perçue
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationMensuelleNetARE"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationMensuelleNetARE="ngModel">
                <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAidesSociales.beneficiaireASS">
            <div class="row mb-2">
                <label
                    class="label"
                    for="allocationMensuelleNetASS">
                    * ASS (Allocation Solidarité Spécifique) perçue
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationMensuelleNetASS"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationMensuelleNetASS="ngModel">
                <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAidesSociales.beneficiaireRSA">
            <div class="row mb-2">
                <label
                    class="label"
                    for="allocationMensuelleNetRSA">
                    * RSA (Revenu Solidarité Active) perçu
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationMensuelleNetRSA"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA && (conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationMensuelleNetRSA="ngModel">
                <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA && (conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAidesSociales.beneficiaireAAH">
            <div class="row mb-2">
                <label
                    class="label"
                    for="allocationMensuelleNetAAH">
                    * AAH (Allocation Adulte Handicapé) perçue
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationMensuelleNetAAH"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH && (conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationMensuelleNetAAH="ngModel">
                <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetAAH?.touched)  && allocationMensuelleNetAAH?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetAAH.touched)  && allocationMensuelleNetAAH.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH && (conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="conjoint.beneficiaireAidesSociales.beneficiairePensionInvalidite">
            <div class="row mb-2">
                <label
                    class="label"
                    for="pensionInvalidite">
                    * Pension d'invalidité perçue
                </label>
            </div>
            <div class="row">
                <input
                    name="pensionInvalidite"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCPAM.pensionInvalidite"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.allocationsCPAM.pensionInvalidite}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #pensionInvalidite="ngModel">
                <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || pensionInvalidite.touched)  && pensionInvalidite.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.allocationsCPAM.pensionInvalidite && (conjoint.ressourcesFinancieres.allocationsCPAM.pensionInvalidite == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
            <div class="row mt-3 mb-2">
                <label
                    class="label"
                    for="allocationSupplementaireInvalidite">
                    * Allocation supplémentaire d'invalidité perçue
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationSupplementaireInvalidite"
                    type="text"
                    pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    min="0"
                    maxlength="6"
                    class="form-control"
                    [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCPAM.allocationSupplementaireInvalidite"
                    [ngClass]="{'ng-invalid': conjoint.ressourcesFinancieres.allocationsCPAM.allocationSupplementaireInvalidite && (conjoint.ressourcesFinancieres.allocationsCPAM.allocationSupplementaireInvalidite == 0)}"
                    placeholder="Montant"
                    inputmode="decimal"
                    required
                    #allocationSupplementaireInvalidite="ngModel">
                <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationSupplementaireInvalidite?.touched)  && allocationSupplementaireInvalidite?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationSupplementaireInvalidite.touched)  && allocationSupplementaireInvalidite.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
                <span
                    *ngIf="conjoint.ressourcesFinancieres.allocationsCPAM.allocationSupplementaireInvalidite && (conjoint.ressourcesFinancieres.allocationsCPAM.allocationSupplementaireInvalidite == 0)"
                    class="error-input-message">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                </span>
            </div>
        </div>
        <div class="row row-button-valider">
            <button
                class="btn-style-perso-3"
                type="submit">
                <div>
                    <span>Valider</span>
                </div>
            </button>
        </div>
    </form>
</div>
