@import "../../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

.container-fluid-title {
  @media #{$small-device} {
    padding-left: 257px !important;
  }
}

.card-form-style-1 {
  @media #{$extra-small-device} {
    padding-right: 33px !important;
  }
}

.div-buttons-form {
  padding-top: 15px;
}

.card-personne-list {
  border: 1px solid black;
  min-height: 103px;
  min-width: 205px;
  max-width: 205px;
  margin-top: 10px;
  img {
    margin-left: 10px;
  }
  .card-body {
    line-height: 1;
    max-width: 205px;
    margin: 0;
    padding: 0.8rem;

    .col-card-body {
      margin: auto;
      i {
        font-size: 1.5em;
      }
      .span-personne {
        color: $color-blue-3;
        font-weight: 600;
      }
    }
  }
  .card-header {
    background-color: unset;
    border-bottom: 0;
    border-top: 0;
    padding-top: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0;
    i {
      cursor: pointer;
    }
  }
  .card-footer {
    background-color: unset;
    border-bottom: 0;
    border-top: 0;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0;
    a {
      cursor: pointer;
      font-size: 0.9em;
      text-decoration: underline;
      color: $color-blue-1;
      &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }
  }
}

.button-card-add-personne {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: unset;
  padding: 0;
  min-height: 115px;
  max-height: 115px;
  margin-top: 10px;
  @media #{$small-device} {
    margin-left: 15px;
  }
  &:hover, &:focus {
    border-color: $color-black-1;
    box-shadow: -1px 1px 6px 2px $color-black-3;
  }
  .card-add-personne {
    min-height: 113px;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    .card-body {
      line-height: 1;
      max-width: 205px;
      margin: 0;
      padding: 0.8rem;
      cursor: pointer;
      margin-bottom: 0.2rem;
      span {
        color: $color-blue-1;
      }
      .row {
        margin-left: -13px;
        margin-right: -13px;
      }
    }
    img {
      width: 1.7rem;
      margin-left: 14px;
    }
  }
}
