@import "../../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

.block-ressources {

  .accordion-btn {
    background-color: $color-white-1;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: 0.0625rem solid $color-pe-grey-light;
    color: $color-blue-1;
    font-size: 1em;
    margin-top: 1rem;
    min-height: 5rem;
    max-height: unset;
    padding: 0;
    width: 100%;

    @media #{$small-device} {
      min-height: 6rem;
    }

    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
    }

    div {
      margin-top: auto;
      margin-bottom: auto;
    }

    .container-fluid-button {
      padding-left: 0.8rem;
      padding-right: 0.8rem;

      .icon-ressources-validees {
        padding-left: 1rem;

        @media #{$extra-small-device} {
          padding-left: 0.5rem;
        }
      }

      .col-euro-sign {
        padding-left: 0;
        padding-right: 0;

        .euro-sign {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 1.5625rem;

          @media #{$small-device} {
            width: 2.0625rem;
          }
        }
      }

      .col-text-button {
        padding: 0.1875rem;
        text-align: left;

        .text-button {
          color: $color-pe-red;
          font-weight: 700;
          font-weight: bold;
        }
      }

      .col-chevron {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.div-buttons-form {
  background-color: unset;
  margin-top: 2.8125rem !important;
  margin-left: auto;
  margin-right: auto;

  @media #{$extra-small-device} {
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    height: 100%;

    .first-btn {
      background-color: unset;
      margin-right: 0.4375rem;
    }

    .second-btn {
      margin-left: 0.4375rem;
    }
  }

  .btn-style-perso-2 {
    background-color: unset;
  }

  #btn-obtenir-simulation {

    min-width: 16.25rem;

    span {
      margin-left: 0.1875rem;
    }

    @media #{$extra-small-device} {
      width: 90%;
      margin-bottom: 1rem;

      div {
        padding-left: 0.5;
      }
    }
  }
}