<app-page-loading *ngIf="modalChoixConnexionComponent != null && modalChoixConnexionComponent.isPageLoadingDisplay"
    message="Connexion en cours..."></app-page-loading>
<section id="section-presentation">
    <div class="container-fluid pt-4">
        <div id="div-message-erreur-homepage">
            <input type="hidden" ngModel #messageErreurElement>
            <alert type="{{messageErreur.niveau}}" *ngIf="messageErreur">
                {{messageErreur.texte}}
            </alert>
        </div>
        <div class="row row-1 align-items-end">
            <div class="row-1-first-col col-md-auto">
                <div id="first-div-inside-first-col" class="align-text-bottom">
                    <div>
                        <h1 class="color-pe-grey-dark-typo"
                            [ngClass]="screenService.isExtraSmallScreen()?'headline-2-typo':'headline-1-typo'">
                            Découvrez le montant de vos aides en cas d'embauche
                        </h1>
                    </div>
                    <div class="row row-btn-je-commence">
                        <button id="btn-je-commence-homepage" type="button" aria-label="Commencer la simulation"
                            class="btn-homepage" data-testid="btn-je-commence" tag-action="clic_bouton_je_commence"
                            (click)="openModalOnEventChoixConnexion()">
                            <span class="button-typo">Je commence la simulation</span>
                            <img alt="" class="image-2" src="./assets/images/icones/fleche-droite-pe-white.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div class="row-1-second-col d-md-block d-lg-block d-xl-block col-md-auto">
                <img id="image-homepage-calculette" alt="" src="./assets/images/illustrations/homepage-calculette.svg">
            </div>
        </div>
    </div>
    <div class="container-fluid div-info-beneficiaires">
        <app-message-info
            contenu="Le simulateur s'adresse aux demandeurs d'emploi inscrits qui dépendent du régime général de l'assurance chômage ainsi qu'aux bénéficiaires de minima sociaux">
        </app-message-info>
    </div>
</section>
<app-section-description></app-section-description>
<app-section-etapes-simulation [login]="openModalOnEventChoixConnexion"
    (openModalOnEventChoixConnexion)="openModalOnEventChoixConnexion()">
</app-section-etapes-simulation>
<app-section-aides></app-section-aides>
<app-section-temoignages></app-section-temoignages>

<div *ngIf="this.stickyButton" class="btn-sticks">
    <button id="btn-je-commence-homepage-sticky" type="button" aria-label="Commencer la simulation" class="btn-homepage"
        data-testid="btn-je-commence" tag-action="clic_bouton_je_commence" (click)="openModalOnEventChoixConnexion()">
        <span class="button-typo">Je commence la simulation</span>
        <img alt="" src="./assets/images/icones/fleche-droite-pe-white.svg">
    </button>
</div>