@import "../../../assets/scss/variables";


.presentation-section {
  margin-bottom: unset;
  margin-top: 0.5rem;
  padding-top: 2rem;
  padding-bottom: unset;
  .container-fluid {
    h1, h2, h3 {
        text-align: left;
    }
    .div-button {
      button {
        width: 95%;
        max-width: 350px;
        @media #{$medium-device}, #{$large-device} {
          width: 60%;
        }
        #text-button-div {
          text-align: center;
          font-weight: bold;
          width: 100%;
        }
      }
    }
  }
}

.image-estime-smartphone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media #{$small-device} {
    width: 80%;
  }
}

.etapes-section {
  background-color: #1B2B67;
  color: white;
  padding-bottom: 2rem;
  padding-top: 2rem;
  .card {
    background-color: inherit;
    border: none;
  }
  h2 {
    color: white;
  }
  .div-numero-etape {
    color : #FF810B;
    font-size: 2rem;
    font-weight: 500;
  }
  .div-text-etape {
    padding-top: 10px;
    padding-left: 0;
    font-size: 1.5rem;
  }

}

.questions-section {
  background-color: #DEEEFF;
  padding-bottom: 2rem;
  padding-top: 2rem;
  h2 {
    padding-bottom: 2rem;
  }
  .card {
      border:none;
      border-radius: 8px;
      box-shadow: none;
      .card-title {
        color: #1B2B67;
        font-weight: 500;
        font-size: 1.2rem;
      }
  }

}

.temoignages-section {
  padding-bottom: 2rem;
  padding-top: 2rem;
  h2 {
    padding-bottom: 2rem;
  }
  .card {
    background-color: #fbfbfb;
    border:none;
    box-shadow: none;
    .card-text {
      p {
        margin-bottom:0.5rem;
      }
      .author-temoignage {
        font-weight: bold;
        margin-top: -10px;
      }
    }
  }
}
