<section id="section-presentation">
    <div class="container-fluid">
        <div id="div-message-erreur-homepage">
            <input type="hidden" ngModel #messageErreurElement>
            <alert
                type="{{messageErreur.niveau}}"
                *ngIf="messageErreur">
                {{messageErreur.texte}}
            </alert>
        </div>
        <div class="row row-1">
            <div class="row-1-first-col col-md-auto">
                <div id="first-div-inside-first-col" class="align-text-bottom">
                    <div class="div-span-title">
                        <span>
                            Vous percevez un minima social ?
                        </span>
                    </div>
                    <div [ngClass]="{'btn-sticks':this.stickyButton}">
                        <div>
                        <h1>
                            Simulez le montant de vos aides en cas de reprise d'emploi.
                        </h1>
                        </div>
                        <button
                            type="button"
                            class="btn-style-perso-1 btn-je-commence mt-4 d-flex justify-content-center"
                            data-testid=" btn-je-commence"
                            (click)="login()">

                            <div>
                                <span>Je commence</span>
                                <img alt="" src="./assets/images/icon-bt-primaire.svg">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row-1-second-col d-md-block d-lg-block d-xl-block col-md-auto">
                <img
                    id="image-homepage-calculette"
                    alt=""
                    src="../../../assets/images/homepage-calculette-v5.svg">
            </div>
        </div>
    </div>
</section>
<app-section-etapes-simulation id="section-etapes"></app-section-etapes-simulation>
<app-section-questions></app-section-questions>
<app-section-temoignages [stickyButton]="this.stickyButton"></app-section-temoignages>
