@import "../../../assets/scss/variables";

.jumbotron {
  background: none;
  padding-top: unset;
  padding-bottom: unset;
  @media #{$small-device} {
    margin-top: 1rem;
  }

  @media #{$large-device} {
    background-image: url("../../../assets/images/backgroung-homepage.svg");
    background-size: 100% 150%;
    height: 30rem;
    max-width: 160%;
    min-height: 30rem;
  }

  @media #{$medium-device} {
    background-image: url("../../../assets/images/backgroung-homepage.svg");
    background-size: 110% 150%;
    height: 30rem;
    max-width: 160%;
    min-height: 30rem;
  }
  .container-fluid {
    #div-logo {
      @media #{$small-device} {
        margin-top: 2rem;
        text-align: center;
      }
    }
    #div-logo-estime {
      padding-top: 0.8rem;
      @media #{$small-device} {
        text-align: center;
        padding-bottom: 2rem;
      }
    }
    button {
      font-size: 1.6rem;
    }
    h1  {
      line-height: 3rem;
      @media #{$medium-device}, #{$large-device} {
        padding-top: 6rem;
        width: 85%;
      }
      p {
        font-weight: normal;
        @media #{$small-device} {
          font-size: 1.9rem;
        }
        @media #{$medium-device}, #{$large-device}  {
          font-size: 2.375rem;
        }
      }
    }
    .container-fluid {
      margin-left: 0rem;
      background-color: white;
      @media #{$small-device} {
        width: 16.5rem;
        margin-top:1rem;
      }
      @media #{$medium-device}, #{$large-device} {
        width: 50rem;
      }
      height: 25rem;
    }
  }
}

.etapes-section {
  .card {
    box-shadow: 0 0 19px 0 rgba(27,43,103,0.2);
    border-radius: 1rem;
    p {
      font-weight: 600;
    }
    .card-header {
      border-radius: 1rem;
      height: 6rem;
      img {
        width: 13%;
      }
    }
    .card-body {
      padding-top: unset;
    }
  }
}

.questions-section {
  background-color:#F7F7F7;
  .card {
    background-color:#F7F7F7;
    border:none;
    box-shadow: none;
    .card-header {
      background-color:#F7F7F7;
      .badge {
        box-shadow: 0 2px 10px 0 rgba(27,43,103,0.2);
        border-radius: 0.6rem;
        color: #24CCB8;
        background-color: white;
        font-size: 1.9rem;
      }
    }
  }
}

.temoignages-section {
  .card {
    border:none;
    box-shadow: none;
    .card-text {
      p {
        margin-bottom:0.5rem;
      }
      .author-temoignage {
        font-weight: bold;
       margin-top: -10px;
      }
    }
  }
}
