@import "../../../assets/scss/variables";

#div-message-erreur-homepage {
  margin-bottom: 2.5rem;
}

#section-presentation {
  margin-bottom: unset;
  margin-top: 0.5rem;
  @media #{$medium-device}, #{$large-device} {
    padding-top: 2rem;
  }
  padding-bottom: unset;
  .row-1 {
    #image-homepage-calculette {
      width: 351px;
      height: 269px;
    }
    h1 {
      line-height: 3rem;
      font-size: 28px;
      font-weight: bold;
      margin-top: 10px;
      text-align: left;
      @media #{$medium-device}, #{$large-device} {
        font-size: 36px;
        margin-top: 0;
      }
    }
    .div-span-title {
      max-width: 540px;
      span {
        font-size: 21px;
      }
    }
    .pe-connect-button {
      background-color: $color-blue-3;
      border: none;
      border-radius: 100px;
      display: flex;
      margin-top: 1rem;
      max-height: 53px;
      max-width: 350px;
      min-height: 53px;
      text-decoration: none;
      width: 103%;
      @media #{$medium-device}, #{$large-device} {
        width: 100%;
      }
      &:not(:disabled):not(.disabled):active,
      &:hover,
      &:focus {
        background-color: $color-blue-2;
        border: none;
        box-shadow: none;
      }
      img {
        height: 52px;
        width: 52px;
        margin-left: -8px;
        margin-top: -6px;
        @media #{$medium-device}, #{$large-device} {
          height: 62px;
          margin-left: 0;
          margin-top: -11px;
          width: 62px;
        }
      }
      span {
        color: $color-white-3;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: auto;
        margin-top: auto;
        text-align: left;
        @media #{$medium-device}, #{$large-device} {
          font-size: 16px;
          margin-left: 5px;
        }
      }
    }
  }
  .row-2 {
    margin-top: 20px;
    @media #{$medium-device}, #{$large-device} {
      margin-top: 35px;
    }
    #image-homepage-smartphone {
      display: block;
      margin-left: auto;
      margin-right: 10px;
      @media #{$small-device} {
        width: 100%;
      }
    }
    #div-span-texte-ressources-completes {
      max-width: 480px;
      margin-bottom: 22px;
    }
    h2 {
      font-size: 26px;
      text-align: left;
      @media #{$medium-device}, #{$large-device} {
        margin-top: 35px;
      }
    }
    span {
      font-size: 20px;
    }
  }
}





