@import "../../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

.net-ou-brut {
  color: $color-pe-grey-dark;
  line-height: 2.2rem;

  @media #{$extra-small-device} {
    text-align: center;

  }
}

.subcard-contrat-travail {
  padding: 0rem 1.5rem !important;
  margin-top: 1rem;

  @media #{$extra-small-device} {
    padding: 0rem 1rem !important;
    margin-top: 0.5rem;
  }

  border-top: 1px solid $color-pe-grey-light;

  &.no-border {
    border-top: none;
    margin-top: 0;
  }
}

.subcard-contrat-travail>div,
.subcard-contrat-travail>fieldset {

  &:first-child {
    margin-top: 1.5rem !important;

    @media #{$extra-small-device} {
      margin-top: 1rem !important;
    }
  }

  &:last-child {
    margin-bottom: 0.5rem !important;

    @media #{$extra-small-device} {
      margin-bottom: 1rem !important;
    }
  }
}

.offre-emploi-invalid + label {

  background-color: $color-red-6;
  border: 0.0625rem solid $color-red-5;
}