<div class="card card-body card-form card-form-style-3">
    <form (ngSubmit)="onSubmitRessourcesFinancieresPersonnesChargeForm(ressourcesFinancieresPersonnesChargeForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresPersonnesChargeFormSubmitted}"
        #ressourcesFinancieresPersonnesChargeForm="ngForm">
        <div *ngFor="let personneDTO of personnesDTO">
            <div class="row pb-3">
                <div class="col-12">
                    <span *ngIf="!personneRecoitRSASeulement(personneDTO)" class="libelle-personne headline-3-typo">
                        Personne {{personneDTO.index + 1}}
                        ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})
                    </span>
                </div>
            </div>
            <div *ngIf="personneDTO.personne.informationsPersonnelles.isSalarie" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo" for="salaireNetPersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant du&nbsp;</span>
                        Salaire net perçu
                        <span class="sr-only">
                            par personne {{personneDTO.index + 1}}
                        </span>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="salaireNetPersonneACharge{{personneDTO.index + 1}}"
                            name="salaireNetPersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="form-control d-inline"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet && (personneDTO.personne.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet == 0)}"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                            placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet"
                            #salaireNet="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurChampMontantSalaireNetNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurChampMontantSalaireNetErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurChampMontantSalaireNetAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="personneDTO.personne.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet && (personneDTO.personne.ressourcesFinancieresAvantSimulation.salaire.montantMensuelNet == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
            <fieldset class="fieldset-row">
                <legend class="row pb-2">
                    <p class="label headline-4-typo">
                        * Personne {{personneDTO.index + 1}} a-t-elle travaillé en tant que salarié au cours des
                        {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                        derniers
                        mois ?
                    </p>
                </legend>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input id="hasTravailleAuCoursDerniersMoisOuiPersonneACharge{{personneDTO.index + 1}}"
                                name="hasTravailleAuCoursDerniersMoisOuiPersonneACharge{{personneDTO.index + 1}}"
                                type="radio" [value]="true" class="form-check-input"
                                tag-action="clic_personne_a_charge_{{personneDTO.index + 1}}_a_travaille_au_cours_14_derniers_mois_oui"
                                data-testid="btn-has-travaille-au-cours-derniers-mois-oui-personne-a-charge-{{personneDTO.index + 1}}"
                                [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.hasTravailleAuCoursDerniersMois"
                                #hasTravailleAuCoursDerniersMois="ngModel"
                                (click)="onClickButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, true)"
                                (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, $event, true)"
                                required>
                            <label class="form-check-label body-2-typo"
                                for="hasTravailleAuCoursDerniersMoisOuiPersonneACharge{{personneDTO.index + 1}}">
                                oui
                                <span class="sr-only">
                                    , j'ai travaillé au cours des
                                    {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                                    derniers mois
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-inline ms-2">
                            <input id="hasTravailleAuCoursDerniersMoisNonPersonneACharge{{personneDTO.index + 1}}"
                                name="hasTravailleAuCoursDerniersMoisNonPersonneACharge{{personneDTO.index + 1}}"
                                type="radio" [value]="false" class="form-check-input"
                                tag-action="clic_personne_a_charge_{{personneDTO.index + 1}}_a_travaille_au_cours_14_derniers_mois_non"
                                data-testid="btn-has-travaille-au-cours-derniers-mois-non-personne-a-charge-{{personneDTO.index + 1}}"
                                [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.hasTravailleAuCoursDerniersMois"
                                #hasTravailleAuCoursDerniersMois="ngModel"
                                (click)="onClickButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, false)"
                                (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, $event, false)"
                                required>
                            <label class="form-check-label body-2-typo"
                                for="hasTravailleAuCoursDerniersMoisNonPersonneACharge{{personneDTO.index + 1}}">
                                non
                                <span class="sr-only">
                                    , je n'ai pas travaillé au cours des
                                    {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                                    derniers mois
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurChampATravailleNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || hasTravailleAuCoursDerniersMois.touched)  && hasTravailleAuCoursDerniersMois.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                </div>
            </fieldset>
            <fieldset *ngIf="isAfficherChampsSalairesPersonne(personneDTO.personne)" class="fieldset-row">
                <legend class="row pb-2">
                    <p class="label headline-4-typo">
                        Indiquez le montant des salaires de
                        {{optionsNombreMoisTravailles[optionsNombreMoisTravailles.length-1].label}} à
                        {{optionsNombreMoisTravailles[0].label}}.
                        <br>
                        <span class="body-2-typo">Nécessaire pour calculer vos droits à l'aide au
                            logement.</span>
                    </p>
                </legend>
                <div class="row">
                    <div *ngFor="let optionNombreMoisTravailles of optionsNombreMoisTravailles"
                        class="col-12 col-md-4 mt-2"
                        [ngClass]="{'col-salaire-with-border':optionNombreMoisTravailles.index-12<0}">
                        <div class="ms-2 me-2">
                            <div class="row pb-2">
                                <label class="label headline-4-typo"
                                    for="salaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationPersonneACharge{{personneDTO.index + 1}}">
                                    *&nbsp;
                                    <span class="sr-only">Montant du&nbsp;</span>
                                    Salaire net perçu en {{ optionNombreMoisTravailles.label }}
                                    <span class="sr-only">
                                        par personne {{personneDTO.index + 1}}
                                    </span>
                                </label>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <input
                                        id="salaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationPersonneACharge{{personneDTO.index + 1}}"
                                        name="salaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationPersonneACharge{{personneDTO.index + 1}}"
                                        type="text" class="max-with-input-type-montant form-control d-inline"
                                        [ngClass]="{'ng-invalid': hasDouzeMoisSansSalaire(personneDTO.personne)}"
                                        attr.data-testid="input-salaire-mois-moins-{{optionNombreMoisTravailles.index}}-avant-simulation-personne-a-charge-{{personneDTO.index + 1}}"
                                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                                        placeholder="Montant" inputmode="numeric"
                                        [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire.montantMensuelNet"
                                        #salaireMoisAvantPeriodeSimulee="ngModel"
                                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                        (blur)="this.ressourcesFinancieresAvantSimulationUtileService.calculSalaireMensuelBrut(personneDTO.personne.ressourcesFinancieresAvantSimulation.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire)"
                                        required>
                                    <app-text-with-euro-symbol message="net"></app-text-with-euro-symbol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span
                                        id="erreurChampSalaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationPersonneACharge{{personneDTO.index + 1}}"
                                        class="error-input-message" role="alert"
                                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireMoisAvantPeriodeSimulee?.touched)  && salaireMoisAvantPeriodeSimulee?.errors?.pattern">
                                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <p id="erreurChampSalaireNonPresent" class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted)  && erreurSaisieSalaires">
                            Vous avez déclaré que Personne {{personneDTO.index + 1}} a travaillé lors de ces
                            {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                            derniers mois. Veuillez renseigner au moins un salaire.
                        </p>
                    </div>
                </div>
            </fieldset>
            <div *ngIf="personneDTO.personne.beneficiaireAides.beneficiaireARE" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo"
                        for="allocationMensuelleNetAREPersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant de l'&nbsp;</span>
                        ARE (Allocation Retour Emploi) perçue
                        <span class="sr-only"> par personne {{personneDTO.index + 1}} </span>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="allocationMensuelleNetAREPersonneACharge{{personneDTO.index + 1}}"
                            name="allocationMensuelleNetAREPersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="form-control d-inline" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                            min="0" maxlength="6" placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet"
                            #allocationMensuelleNetARE="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurMontantARENonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantAREErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantAREAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationMensuelleNet == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="personneDTO.personne.beneficiaireAides.beneficiaireASS" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo"
                        for="allocationMensuelleNetASSPersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant de l'&nbsp;</span>
                        ASS (Allocation Solidarité Spécifique) perçue
                        <span class="sr-only"> par personne {{personneDTO.index + 1}} </span>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="allocationMensuelleNetASSPersonneACharge{{personneDTO.index + 1}}"
                            name="allocationMensuelleNetASSPersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="form-control d-inline"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)}"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                            placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet"
                            #allocationMensuelleNetASS="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurMontantASSNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantASSErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantASSAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="personneDTO.personne.beneficiaireAides.beneficiaireAAH" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo" for="allocationAAHPersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant de l'&nbsp;</span>
                        AAH (Allocation Adulte Handicapé) perçue
                        <span class="sr-only"> par personne {{personneDTO.index + 1}} </span>
                        <button id="infobulle-montant-aah" class="img-interrogation-icon" placement="right"
                            tag-action="clic_infobulle_aah"
                            (click)="modalService.openModalOnEvent($event, modalMontantAAHTemplate)"
                            aria-describedby="labelInfobulleMontantAAHPersonneACharge{{personneDTO.index + 1}}">
                            <span id="labelInfobulleMontantAAHPersonneACharge{{personneDTO.index + 1}}" class="sr-only">
                                Où trouver le montant de l'AAH de votre personne à charge ?
                            </span>
                            <img alt="" role="presentation" src="./assets/images/icones/question.svg"
                                aria-hidden="true">
                        </button>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="allocationAAHPersonneACharge{{personneDTO.index + 1}}"
                            name="allocationAAHPersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="form-control d-inline"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH && (personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH == 0)}"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                            placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH"
                            #allocationAAH="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurMontantAAHNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationAAH?.touched)  && allocationAAH?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantAAHErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationAAH.touched)  && allocationAAH.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantAAHAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH && (personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="personneDTO.personne.beneficiaireAides.beneficiairePensionInvalidite" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo"
                        for="pensionInvaliditePersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant de la</span>
                        Pension d'invalidité nette imposable perçue
                        <span class="sr-only"> par personne {{personneDTO.index + 1}} </span>
                        <button id="infobulle-pension-invalidite" class="img-interrogation-icon" placement="right"
                            tag-action="clic_infobulle_pension_invalidite"
                            (click)="modalService.openModalOnEvent($event, modalPensionInvaliditeTemplate)"
                            aria-describedby="labelInfobulleMontantPensionInvaliditePersonneACharge{{personneDTO.index + 1}}">
                            <span id="labelInfobulleMontantPensionInvaliditePersonneACharge{{personneDTO.index + 1}}"
                                class="sr-only">
                                Où trouver le montant de la pension invalidité de votre personne à charge ?
                            </span>
                            <img alt="" role="presentation" src="./assets/images/icones/question.svg"
                                aria-hidden="true">
                        </button>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="pensionInvaliditePersonneACharge{{personneDTO.index + 1}}"
                            name="pensionInvaliditePersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="form-control d-inline"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite && personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite == 0}"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" min="0" maxlength="6"
                            placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite"
                            #pensionInvalidite="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurMontantPensionInvaliditeNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantPensionInvaliditeErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite.touched)  && pensionInvalidite.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantPensionInvaliditeAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite && (personneDTO.personne.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="personneDTO.personne.informationsPersonnelles.isMicroEntrepreneur" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo"
                        for="beneficesMicroEntreprisePersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant des&nbsp;</span>
                        Bénéfices en tant que micro entrepreneur
                        <span class="sr-only"> perçus par personne {{personneDTO.index + 1}} </span>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="beneficesMicroEntreprisePersonneACharge{{personneDTO.index + 1}}"
                            name="beneficesMicroEntreprisePersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="max-with-input-type-montant form-control d-inline"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice && (personneDTO.personne.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice == 0)}"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                            placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice"
                            #personneAChargeBeneficesMicroEntreprise3DerniersMois="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="sur le dernier exercice clos">
                        </app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurMontantMicroEnrepriseNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeBeneficesMicroEntreprise3DerniersMois?.touched) && personneAChargeBeneficesMicroEntreprise?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantMicroEnrepriseErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeBeneficesMicroEntreprise3DerniersMois?.touched) && personneAChargeBeneficesMicroEntreprise?.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantMicroEnrepriseAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeBeneficesMicroEntreprise3DerniersMois?.touched) && (personneDTO.personne.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="personneDTO.personne.informationsPersonnelles.isTravailleurIndependant" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo"
                        for="chiffreAffairesIndependantPersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant du&nbsp;</span>
                        Chiffre d'affaires en tant qu'indépendant
                        <span class="sr-only"> perçu par personne {{personneDTO.index + 1}}</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="chiffreAffairesIndependantPersonneACharge{{personneDTO.index + 1}}"
                            name="chiffreAffairesIndependantPersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="max-with-input-type-montant form-control d-inline"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice && (personneDTO.personne.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice == 0)}"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                            placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice"
                            #personneAChargeChiffreAffairesIndependantDernierExercice="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="sur le dernier exercice clos">
                        </app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurMontantIndependantNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeChiffreAffairesIndependantDernierExercice?.touched) && personneAChargeChiffreAffairesIndependant?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantIndependantErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeChiffreAffairesIndependantDernierExercice?.touched) && personneAChargeChiffreAffairesIndependant?.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantIndependantAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeChiffreAffairesIndependantDernierExercice?.touched) && (personneDTO.personne.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
            <div *ngIf="personneDTO.personne.informationsPersonnelles.hasPensionRetraite" class="fieldset-row">
                <div class="row pb-2">
                    <label class="label headline-4-typo" for="pensionRetraitePersonneACharge{{personneDTO.index + 1}}">
                        *&nbsp;
                        <span class="sr-only">Montant de la&nbsp;</span>
                        Pension de retraite nette perçue
                        <span class="sr-only"> par personne {{personneDTO.index + 1}} </span>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="pensionRetraitePersonneACharge{{personneDTO.index + 1}}"
                            name="pensionRetraitePersonneACharge{{personneDTO.index + 1}}" type="text"
                            class="max-with-input-type-montant form-control d-inline"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieresAvantSimulation.pensionRetraite && (personneDTO.personne.ressourcesFinancieresAvantSimulation.pensionRetraite == 0)}"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}" maxlength="6" min="0"
                            placeholder="Montant" inputmode="numeric"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieresAvantSimulation.pensionRetraite"
                            #personneAChargePensionRetraite="ngModel"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required>
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span id="erreurMontantPensionRetraiteNonPresentPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargePensionRetraite?.touched)  && personneAChargePensionRetraite?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantPensionRetraiteErreurPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargePensionRetraite?.touched)  && personneAChargePensionRetraite?.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span id="erreurMontantPensionRetraiteAZeroPersonneACharge{{personneDTO.index + 1}}"
                            class="error-input-message" role="alert"
                            *ngIf="personneDTO.personne.ressourcesFinancieresAvantSimulation.pensionRetraite && (personneDTO.personne.ressourcesFinancieresAvantSimulation.pensionRetraite == 0)">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-button-valider">
            <div class="col">
                <button class="btn-style-perso-3 button-typo" type="submit"
                    tag-action="clic_bouton_valider_ressources_personnes_a_charge">
                    <div>
                        <span>Valider</span>
                        <span class="sr-only">&nbsp;les ressources financières de vos personnes à charge</span>
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #modalMontantAAHTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 id='modalTitle' class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-1-typo'>
            Sur votre dernière attestation de paiement CAF 👇
        </p>
        <div class='row mb-5'>
            <img alt='' role='presentation' src='./assets/images/exemples/attestation-aah.png'>
        </div>">
    </app-tooltip>
</ng-template>

<ng-template #modalPensionInvaliditeTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 id='modalTitle' class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-1-typo'>
            Sur votre dernière attestation de paiement de pension 👇
        </p>
        <div class='row mb-5'>
            <img alt='' role='presentation' src='./assets/images/exemples/attestation-pi.png'>
        </div>">
    </app-tooltip>
</ng-template>