<div class="container-fluid form-container-fluid">
    <h1 class="h1-style-2">1. Mon futur travail</h1>
    <div class="text-under-h1">
        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
    </div>
    <div class="card card-body card-form">
        <form
            (ngSubmit)="redirectVersPageSuivante(futurTravailForm)"
            [ngClass]="{'submitted':isFuturTravailFormSubmitted}"
            #futurTravailForm="ngForm">
            <div class="row">
                <div class="col-6 col-md-2 form-group">
                    <div class="row mb-1">
                        <label
                            class="label"
                            for="typeContrat">
                            * Type de contrat
                        </label>
                    </div>
                    <div class="row">
                        <div class="custom-control custom-radio">
                            <input
                                id="typeContratCDI"
                                name="typeContrat"
                                type="radio"
                                class="custom-control-input"
                                [(ngModel)]="demandeurEmploiConnecte.futurTravail.typeContrat"
                                (click)="unsetNombreMoisContrat(typesContratTavailEnum.CDI)"
                                [value]="typesContratTavailEnum.CDI"
                                required
                                #typeContrat="ngModel">
                            <label
                                class="custom-control-label"
                                for="typeContratCDI">
                                {{typesContratTavailEnum.CDI}}
                            </label>
                        </div>
                        <div class="custom-control custom-radio ml-2">
                            <input
                                id="typeContratCDD"
                                name="typeContrat"
                                type="radio"
                                class="custom-control-input"
                                [(ngModel)]="demandeurEmploiConnecte.futurTravail.typeContrat"
                                [value]="typesContratTavailEnum.CDD"
                                required
                                #typeContrat="ngModel">
                            <label
                                class="custom-control-label"
                                for="typeContratCDD">
                                {{typesContratTavailEnum.CDD}}
                            </label>
                        </div>
                    </div>
                    <span
                        class="row error-input-message"
                        *ngIf="(isFuturTravailFormSubmitted || typeContrat.touched)  && typeContrat.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div
                    class="col-6 col-md-10 form-group"
                    *ngIf="demandeurEmploiConnecte.futurTravail.typeContrat == 'CDD'">
                    <label
                        class="label mb-2"
                        for="nombreMoisCDD">
                        * Nombre de mois
                    </label>
                    <select
                        id="nombreMoisCDD"
                        name="nombreMoisCDD"
                        [(ngModel)]="demandeurEmploiConnecte.futurTravail.nombreMoisContratCDD"
                        class="form-control"
                        data-width="auto"
                        required
                        #nombreMoisCDD="ngModel">
                        <option [value]="null">Sélectionner</option>
                        <option
                            *ngFor="let nombreMois of nombreMoisCDDSelectOptions"
                            [value]="nombreMois.value">
                            {{ nombreMois.label }}
                        </option>
                    </select>
                    <span
                        class="error-input-message"
                        *ngIf="(isFuturTravailFormSubmitted || nombreMoisCDD.touched)  && nombreMoisCDD.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row flex-column mb-2">
                    <label
                        class="label"
                        for="dureeHebdomadaire">
                        * Nombre d'heures travaillées
                    </label>
                </div>
                <div class="row">
                    <input
                        id="dureeHebdomadaire"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                        name="dureeHebdomadaire"
                        type="text"
                        min="0"
                        maxlength="2"
                        class="form-control"
                        placeholder="Nombre d'heures"
                        [(ngModel)]="demandeurEmploiConnecte.futurTravail.nombreHeuresTravailleesSemaine"
                        required
                        #dureeHebdomadaire="ngModel">
                    <span class="text-side-input">par semaine</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || dureeHebdomadaire.touched)  && dureeHebdomadaire.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>

            </div>
            <div class="form-group">
                <div class="row flex-column">
                    <label
                        class="label"
                        for="salaire-mensuel-net">
                        * Salaire mensuel net
                        <i
                            class="interrogation-icon btn far fa-question-circle"
                            [popover]="popoversalairenettemplate"
                            #popoversalairenet="bs-popover"
                            placement="right"></i>
                    </label>
                </div>
                <div class="row">
                    <input
                        id="salaireMensuelNet"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        name="salaireMensuelNet"
                        type="text"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="10"
                        class="form-control"
                        placeholder="Montant"
                        [(ngModel)]="demandeurEmploiConnecte.futurTravail.salaireMensuelNet"
                        required
                        #salaireMensuelNet="ngModel">
                    <span class="text-side-input">€ net/mois</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || salaireMensuelNet.touched)  && salaireMensuelNet.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || salaireMensuelNet.touched)  && salaireMensuelNet.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
            <div class="form-group">
                <div class="row flex-column mb-2">
                    <label
                        class="label"
                        for="distance-domicile-lieu-travail">
                        * Distance de votre domicile à votre lieu de travail
                    </label>
                </div>
                <div class="row">
                    <input
                        id="distanceDomicileLieuTravail"
                        name="distanceDomicileLieuTravail"
                        type="text"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                        min="0"
                        maxlength="4"
                        class="form-control"
                        placeholder="Distance"
                        [(ngModel)]="demandeurEmploiConnecte.futurTravail.distanceKmDomicileTravail"
                        required
                        #distanceDomicileLieuTravail="ngModel">
                    <span class="text-side-input">km</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || distanceDomicileLieuTravail.touched)  && distanceDomicileLieuTravail.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
            </div>
            <div class="form-group">
                <div class="row flex-column mb-2">
                    <label
                        class="label"
                        for="nombreTrajetsDomicileTravail">
                        * Trajets de votre domicile à votre lieu de travail
                    </label>
                </div>
                <div class="row">
                    <input
                        id="nombreTrajetsDomicileTravail"
                        name="nombreTrajetsDomicileTravail"
                        type="text"
                        min="0"
                        maxlength="2"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                        class="form-control"
                        placeholder="Nombre"
                        [(ngModel)]="demandeurEmploiConnecte.futurTravail.nombreTrajetsDomicileTravail"
                        required
                        #nombreTrajetsDomicileTravail="ngModel">
                    <span class="text-side-input">par mois</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isFuturTravailFormSubmitted || nombreTrajetsDomicileTravail.touched)  && nombreTrajetsDomicileTravail.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
            </div>
            <div class="div-buttons-form row">
                <button
                    class="btn btn-primary-style-0"
                    (click)="redirectVersPagePrecedente()">
                    <div>
                        <img src="./assets/images/return-arrow.svg">
                    </div>
                    <div class="text-button">Retour</div>
                </button>
                <button
                    class="btn btn-primary-style-3"
                    type="submit">
                    <div class="text-button">Suivant</div>
                    <div>
                        <img src="./assets/images/icon-bt-primaire.svg">
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>

<ng-template #popoversalairenettemplate>
    <div class="container">
        <div class="close-popover row float-right">
            <i
                class="fas fa-times-circle mb-2"
                (click)="popoversalairenet.hide()"></i>
        </div>
        <div class="row">
            <b>Qu'est ce que le salaire brut et net ?</b>
            <p>
                Le salaire net correspond à la somme versée sur votre compte bancaire après soustraction des cotisations sociales et du prélévement à la source.
            </p>
            <p>
                En général, le salaire indiqué dans les offres publiées par Pôle emploi est brut. Il s'agit des sommes perçues avant déduction des cotisations sociales.
            </p>
            <p>
                Pour connaître votre future salaire net :
                <a
                    href="https://code.travail.gouv.fr/outils/simulateur-embauche"
                    target="_blank">
                    https://code.travail.gouv.fr/outils/simulateur-embauche
                </a>
            </p>
        </div>
    </div>

</ng-template>
