<div class="container-fluid form-container-fluid">
  <h1 class="h1-style-2">1. Mon futur travail</h1>
  <div class="text-under-h1">* Tous les champs sont obligatoires</div>
  <div class="card card-body card-form">
    <form (ngSubmit)="redirectVersPageSuivante()">
      <div class="row">
        <div class="col-6 col-md-2 form-group">
          <div class="row">
            <label class="label" for="type-contrat">Type de contrat</label>
          </div>
          <div class="row">
            <div class="form-check form-check-inline">
              <input id="cdi" name="type-contrat"  type="radio" class="form-check-input" [(ngModel)]="demandeurEmploiConnecte.futurTravail.typeContrat" (click)="setNombreMoisContrat('CDI')" value="CDI">
              <label class="form-check-label" for="cdi">CDI</label>
            </div>
            <div class="form-check form-check-inline">
              <input id="cdd" name="type-contrat"  type="radio" class="form-check-input" [(ngModel)]="demandeurEmploiConnecte.futurTravail.typeContrat" (click)="setNombreMoisContrat('CDD')" value="CDD">
              <label class="form-check-label" for="cdd">CDD</label>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-10 form-group" *ngIf="demandeurEmploiConnecte.futurTravail.typeContrat == 'CDD'">
            <label class="label" for="nombre-mois-cdd">Nombre de mois</label>
            <select id="nombre-mois-cdd" name="nombre-mois-cdd" [(ngModel)]="demandeurEmploiConnecte.futurTravail.nombreMoisContratCDD" class="form-control" data-width="auto" >
              <option *ngFor="let nombreMois of nombreMoisCDDSelectOptions" [value]="nombreMois.value">{{ nombreMois.label }}</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <div class="row flex-column">
          <label class="label" for="duree-hebdomadaire">Nombre d'heures travaillées</label>
        </div>
        <div class="row">
          <input id="duree-hebdomadaire" name="duree-hebdomadaire" type="text" class="form-control" placeholder="Nombre d'heures"  [(ngModel)]="demandeurEmploiConnecte.futurTravail.nombreHeuresTravailleesSemaine">
          <div class="text-side-input">par semaine</div>
        </div>
      </div>
      <div class="form-group">
        <div class="row flex-column">
          <label class="label" for="salaire-mensuel-net">Salaire mensuel net<i class="interrogation-icon btn far fa-question-circle" [popover]="popoversalairenettemplate" #popoversalairenet="bs-popover" placement="right"></i></label>
        </div>
        <div class="row">
          <input id="salaire-mensuel-net" name="salaire-mensuel-net" type="text" class="form-control" placeholder="Montant"  [(ngModel)]="demandeurEmploiConnecte.futurTravail.salaireMensuelNet">
          <div class="text-side-input">€</div>
        </div>
      </div>
      <div class="form-group">
        <div class="row flex-column">
          <label class="label" for="distance-domicile-lieu-travail">Distance de votre domicile à votre lieu de travail</label>
        </div>
        <div class="row">
          <input id="distance-domicile-lieu-travail" name="distance-domicile-lieu-travail" type="text" class="form-control" placeholder="Distance" [(ngModel)]="demandeurEmploiConnecte.futurTravail.distanceKmAllerRetourDuDomicile">
          <div class="text-side-input">km</div>
        </div>
      </div>
      <div class="form-group">
        <div class="row flex-column">
          <label class="label" for="nombre-trajet-mensuel">Trajets de votre domicile à votre lieu de travail</label>
        </div>
        <div class="row">
          <input id="nombre-trajet-mensuel" name="nombre-trajet-mensuel" type="text" class="form-control" placeholder="Nombre"  [(ngModel)]="demandeurEmploiConnecte.futurTravail.nombreTrajetsDomicileTravail">
          <div class="text-side-input">par mois</div>
        </div>
      </div>
      <div class="div-buttons-form row">
        <button class="btn btn-primary-style-0" (click)="redirectVersPagePrecedente()"><div><img src="./assets/images/return-arrow.svg" /></div><div class="text-button">Retour</div></button>
        <button class="btn btn-primary-style-3" type="submit"><div class="text-button">Suivant</div><div><img src="./assets/images/icon-bt-primaire.svg" /></div></button>
      </div>
    </form>
  </div>
</div>

<ng-template #popoversalairenettemplate>
<div class="container">
  <div class="close-popover row float-right">
    <i class="fas fa-times-circle mb-2" (click)="popoversalairenet.hide()"></i>
  </div>
  <div class="row">
    <b>Qu'est ce que le salaire brut et net ?</b>
    <p>Le salaire net correspond à la somme versée sur votre compte bancaire après soustraction des cotisations sociales et du prélévement à la source.</p>
    <p>En général, le salaire indiqué dans les offres publiées par Pôle emploi est brut. Il s'agit des sommes perçues avant déduction des cotisations sociales.</p>
    <p>Pour connaître votre future salaire net : <a href="https://code.travail.gouv.fr/outils/simulateur-embauche" target="_blank">https://code.travail.gouv.fr/outils/simulateur-embauche</a></p>
  </div>
</div>

</ng-template>