<app-page-loading
    *ngIf="isPageLoadingDisplay"
    message="Calcul de votre simulation en cours..."></app-page-loading>
<div class="container-fluid form-container-fluid">
    <h1 class="h1-style-2">
        5. Ressource(s) finançière(s) de votre conjoint(e)
    </h1>
    <div class="text-under-h1">
        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
    </div>
    <div class="card card-body card-form">
        <form
            (ngSubmit)="onSubmitRessourcesFinancieresConjointForm(ressourcesFinancieresConjointForm)"
            [ngClass]="{'submitted':isRessourcesFinancieresConjointFormSubmitted}"
            #ressourcesFinancieresConjointForm="ngForm">
            <i class="row mt-auto mb-auto fas fa-info-circle"
            *ngIf="!conjoint.informationsPersonnelles.isSalarie && conjoint.informationsPersonnelles.hasRessourceAideEmploi">
                <span class="mt-auto mb-auto ml-1">indiquer 0 si aucun montant</span>
            </i>
            <div
                class="form-group mt-3"
                *ngIf="conjoint.informationsPersonnelles.isHandicape">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetAAH">
                        * Allocation Adulte Handicapé (AAH)
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetAAH"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetAAH="ngModel">
                    <span class="text-side-input">€</span>
                    <span class="text-2-side-input">du mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetAAH?.touched)  && allocationMensuelleNetAAH?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="row error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetAAH.touched)  && allocationMensuelleNetAAH.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.isSalarie">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="salaireNet">
                        * Salaire
                    </label>
                </div>
                <div class="row">
                    <input
                        name="salaireNet"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.salaireNet"
                        required
                        placeholder="Montant"
                        inputmode="decimal"
                        #salaireNet="ngModel">
                    <span class="text-side-input">€</span>
                    <span class="text-2-side-input">net</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.hasRessourceAideEmploi">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetRSA">
                        * Revenu Solidarité Active (RSA)
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetRSA"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetRSA="ngModel">
                    <span class="text-side-input">€</span>
                    <span class="text-2-side-input">du mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.hasRessourceAideEmploi && !conjoint.informationsPersonnelles.isSalarie">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetARE">
                        Allocation Retour Emploi (ARE)
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetARE"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNetARE"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetARE="ngModel">
                    <span class="text-side-input">€</span>
                    <span class="text-2-side-input">du mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.hasRessourceAideEmploi && !conjoint.informationsPersonnelles.isSalarie">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetASS">
                        * Allocation Solidarité Spécifique (ASS)
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetASS"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNetASS"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetASS="ngModel">
                    <span class="text-side-input">€</span>
                    <span class="text-2-side-input">du mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div class="div-buttons-form row">
                <button
                    class="btn btn-primary-style-0"
                    (click)="onClickButtonRetour()">
                    <div>
                        <img src="./assets/images/return-arrow.svg">
                    </div>
                    <div class="text-button">Retour</div>
                </button>
                <button
                    class="btn btn-obtenir-ma-simulation"
                    type="submit">
                    <div class="text-button">Obtenir ma simulation</div>
                    <div>
                        <img src="./assets/images/icon-bt-primaire.svg">
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>
