<div class="container-fluid form-container-fluid">
    <h1 class="h1-style-2">
        5. Les ressource(s) finançière(s) de votre conjoint(e)
    </h1>
    <div class="text-under-h1">
        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
    </div>
    <div class="card card-body card-form">
        <form
            (ngSubmit)="onSubmitRessourcesFinancieresConjointForm(ressourcesFinancieresConjointForm)"
            [ngClass]="{'submitted':isRessourcesFinancieresConjointFormSubmitted}"
            #ressourcesFinancieresConjointForm="ngForm">
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.isHandicape">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetAAH">
                        Allocation aux adultes handicapées, allocation du dernier mois
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetAAH"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH"
                        placeholder="Montant"
                        inputmode="decimal"
                        #allocationMensuelleNetAAH="ngModel">
                    <span class="text-side-input">€</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetAAH.touched)  && allocationMensuelleNetAAH.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.isSalarie">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="salaireNet">
                        * Salaire net du dernier mois
                    </label>
                </div>
                <div class="row">
                    <input
                        name="salaireNet"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.salaireNet"
                        required
                        placeholder="Montant"
                        inputmode="decimal"
                        #salaireNet="ngModel">
                    <span class="text-side-input">€</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.isSansEmploi">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetRSA">
                        Si bénéficiaire du revenu de solidarité active (RSA), allocation du dernier mois
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetRSA"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA"
                        placeholder="Montant"
                        inputmode="decimal"
                        #allocationMensuelleNetRSA="ngModel">
                    <span class="text-side-input">€</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.isSansEmploi">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetARE">
                        Si bénéficiaire de l'allocation de retour à l'emploi (ARE), allocation du dernier mois
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetARE"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNetARE"
                        placeholder="Montant"
                        inputmode="decimal"
                        #allocationMensuelleNetARE="ngModel">
                    <span class="text-side-input">€</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
            <div
                class="form-group"
                *ngIf="conjoint.informationsPersonnelles.isSansEmploi">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetASS">
                        Si bénéficiaire de l'allocation de solidarité spécifique (ASS), allocation du dernier mois
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetASS"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="conjoint.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNetASS"
                        placeholder="Montant"
                        inputmode="decimal"
                        #allocationMensuelleNetASS="ngModel">
                    <span class="text-side-input">€</span>
                </div>
                <span
                    class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresConjointFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
            <div class="div-buttons-form row">
                <button
                    class="btn btn-primary-style-0"
                    (click)="onClickButtonRetour()">
                    <div>
                        <img src="./assets/images/return-arrow.svg">
                    </div>
                    <div class="text-button">Retour</div>
                </button>
                <button
                    class="btn btn-obtenir-ma-simulation"
                    type="submit">
                    <div class="text-button">Obtenir ma simulation</div>
                    <div>
                        <img src="./assets/images/icon-bt-primaire.svg">
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>
