<div class="card card-body card-form">
    <form
        (ngSubmit)="onSubmitRessourcesFinancieresFoyerForm(ressourcesFinancieresFoyerForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresFoyerFormSubmitted}"
        #ressourcesFinancieresFoyerForm="ngForm">
        <div class="form-group">
            <div class="row mb-2">
                <label
                    class="label"
                    for="montantAllocationsLogement">
                    Allocations logement du foyer
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationsLogementMensuellesNetFoyer"
                    pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                    data-testid="input-apl"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    type="text"
                    min="0"
                    maxlength="6"
                    class="max-with-input-type-montant form-control"
                    placeholder="Montant"
                    [(ngModel)]="ressourcesFinancieres.allocationsCAF.allocationsLogementMensuellesNetFoyer"
                    inputmode="decimal"
                    ngAutofocus
                    (click)="$event.target.select()"
                    #allocationsLogementMensuellesNetFoyer="ngModel">
                <span class="text-side-input">€ net perçu le mois dernier</span>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsLogementMensuellesNetFoyer.touched)  && allocationsLogementMensuellesNetFoyer.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="deConnecteSituationFamilialeService.hasPersonneACharge()">
            <div class="row mb-2">
                <label
                    class="label"
                    for="allocationsFamilialesMensuellesNetFoyer">
                    Allocations familiales du foyer
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationsFamilialesMensuellesNetFoyer"
                    data-testid="input-af"
                    pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    type="text"
                    min="0"
                    maxlength="6"
                    class="max-with-input-type-montant form-control"
                    placeholder="Montant"
                    [(ngModel)]="ressourcesFinancieres.allocationsCAF.allocationsFamilialesMensuellesNetFoyer"
                    inputmode="decimal"
                    (click)="$event.target.select()"
                    #allocationsFamilialesMensuellesNetFoyer="ngModel">
                <span class="text-side-input">€ net perçu le mois dernier</span>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsFamilialesMensuellesNetFoyer.touched)  && allocationsFamilialesMensuellesNetFoyer.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="deConnecteSituationFamilialeService.hasPersonneACharge()">
            <div class="row mb-2">
                <label
                    class="label"
                    for="montantPersionsAlimentairesFoyer">
                    Pensions alimentaires du foyer
                </label>
            </div>
            <div class="row">
                <input
                    name="montantPersionsAlimentairesFoyer"
                    pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    type="text"
                    min="0"
                    maxlength="6"
                    class="max-with-input-type-montant form-control"
                    placeholder="Montant"
                    [(ngModel)]="ressourcesFinancieres.allocationsCAF.pensionsAlimentairesFoyer"
                    inputmode="decimal"
                    (click)="$event.target.select()"
                    #pensionsAlimentairesFoyer="ngModel">
                <span class="text-side-input">€ net perçu le mois dernier</span>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || pensionsAlimentairesFoyer.touched)  && pensionsAlimentairesFoyer.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
        </div>
        <div class="row row-button-valider">
            <button
              class="btn-style-perso-3"
              type="submit"
              data-testid="btn-ressources-foyer-valider">
              <div>
                <span>Valider</span>
              </div>
            </button>
        </div>
    </form>
</div>
