<div class="card card-body card-form">
    <form
        (ngSubmit)="onSubmitRessourcesFinancieresFoyerForm(ressourcesFinancieresFoyerForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresFoyerFormSubmitted}"
        #ressourcesFinancieresFoyerForm="ngForm">
        <div class="form-group">
            <div class="row mb-2">
                <label
                    class="label"
                    for="montantAllocationsLogement">
                    Allocations logement perçues pour les 3 derniers mois
                </label>
            </div>
            <div class="mb-2">
                <div class="row">
                    <input
                        name="allocationsLogementMensuellesNetFoyerMoisNMoins1"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        data-testid="input-apl-mois-moins-1"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        type="text"
                        min="0"
                        maxlength="6"
                        class="max-with-input-type-montant form-control"
                        placeholder="Montant"
                        [(ngModel)]="ressourcesFinancieres.allocationsCAF.allocationsLogementMensuellesNetFoyer.moisNMoins1"
                        inputmode="decimal"
                        ngAutofocus
                        (click)="$event.target.select()"
                        #allocationsLogementMensuellesNetFoyerMoisNMoins1="ngModel">
                    <span class="text-side-input">€ au mois de {{ this.dateUtileService.getDateFormateeAvantDateJour(1) }}</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsLogementMensuellesNetFoyerMoisNMoins1.touched)  && allocationsLogementMensuellesNetFoyerMoisNMoins1.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div class="mb-2">
                <div class="row">
                    <input
                        name="allocationsLogementMensuellesNetFoyerMoisNMoins2"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        data-testid="input-apl-mois-moins-2"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        type="text"
                        min="0"
                        maxlength="6"
                        class="max-with-input-type-montant form-control"
                        placeholder="Montant"
                        [(ngModel)]="ressourcesFinancieres.allocationsCAF.allocationsLogementMensuellesNetFoyer.moisNMoins2"
                        inputmode="decimal"
                        ngAutofocus
                        (click)="$event.target.select()"
                        #allocationsLogementMensuellesNetFoyerMoisNMoins2="ngModel">
                    <span class="text-side-input">€ au mois de {{ this.dateUtileService.getDateFormateeAvantDateJour(2) }}</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsLogementMensuellesNetFoyerMoisNMoins2.touched)  && allocationsLogementMensuellesNetFoyerMoisNMoins2.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div class="mb-2">
                <div class="row">
                    <input
                        name="allocationsLogementMensuellesNetFoyerMoisNMoins3"
                        pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                        data-testid="input-apl-mois-moins-2"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        type="text"
                        min="0"
                        maxlength="6"
                        class="max-with-input-type-montant form-control"
                        placeholder="Montant"
                        [(ngModel)]="ressourcesFinancieres.allocationsCAF.allocationsLogementMensuellesNetFoyer.moisNMoins3"
                        inputmode="decimal"
                        ngAutofocus
                        (click)="$event.target.select()"
                        #allocationsLogementMensuellesNetFoyerMoisNMoins3="ngModel">
                    <span class="text-side-input">€ au mois de {{ this.dateUtileService.getDateFormateeAvantDateJour(3) }}</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsLogementMensuellesNetFoyerMoisNMoins3.touched)  && allocationsLogementMensuellesNetFoyerMoisNMoins3.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="deConnecteSituationFamilialeService.hasPersonneACharge()">
            <div class="row mb-2">
                <label
                    class="label"
                    for="allocationsFamilialesMensuellesNetFoyer">
                    Allocations familiales du foyer perçues
                </label>
            </div>
            <div class="row">
                <input
                    name="allocationsFamilialesMensuellesNetFoyer"
                    data-testid="input-af"
                    pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    type="text"
                    min="0"
                    maxlength="6"
                    class="max-with-input-type-montant form-control"
                    placeholder="Montant"
                    [(ngModel)]="ressourcesFinancieres.allocationsCAF.allocationsFamilialesMensuellesNetFoyer"
                    inputmode="decimal"
                    (click)="$event.target.select()"
                    #allocationsFamilialesMensuellesNetFoyer="ngModel">
                <span class="text-side-input">€ le mois dernier</span>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsFamilialesMensuellesNetFoyer.touched)  && allocationsFamilialesMensuellesNetFoyer.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
        </div>
        <div
            class="form-group"
            *ngIf="deConnecteSituationFamilialeService.hasPersonneACharge()">
            <div class="row mb-2">
                <label
                    class="label"
                    for="montantPersionsAlimentairesFoyer">
                    Pensions alimentaires du foyer perçues
                </label>
            </div>
            <div class="row">
                <input
                    name="montantPersionsAlimentairesFoyer"
                    pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
                    (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                    type="text"
                    min="0"
                    maxlength="6"
                    class="max-with-input-type-montant form-control"
                    placeholder="Montant"
                    [(ngModel)]="ressourcesFinancieres.allocationsCAF.pensionsAlimentairesFoyer"
                    inputmode="decimal"
                    (click)="$event.target.select()"
                    #pensionsAlimentairesFoyer="ngModel">
                <span class="text-side-input">€ le mois dernier</span>
            </div>
            <div class="row">
                <span
                    class="error-input-message"
                    *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || pensionsAlimentairesFoyer.touched)  && pensionsAlimentairesFoyer.errors?.pattern">
                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                </span>
            </div>
        </div>
        <div class="row row-button-valider">
            <button
              class="btn-style-perso-3"
              type="submit"
              data-testid="btn-ressources-foyer-valider">
              <div>
                <span>Valider</span>
              </div>
            </button>
        </div>
    </form>
</div>
