<app-fil-etapes-desktop *ngIf="!screenService.isExtraSmallScreen()"></app-fil-etapes-desktop>
<app-fil-etapes-mobile *ngIf="screenService.isExtraSmallScreen()"></app-fil-etapes-mobile>
<div class="container-fluid container-etape">
    <div class="form-container-fluid">
        <div *ngIf="!isModificationCriteres" class="div-title-formulaire">
            <h1 class="h1-style-1" [ngClass]="screenService.isExtraSmallScreen()?' headline-2-typo':'headline-1-typo'">
                1. {{PageHeadlineEnum.SITUATION}}
            </h1>
            <div class="text-under-h1 body-2-typo">
                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
            </div>
        </div>
        <div class="card card-form card-form-style-2">
            <form #maSituationForm="ngForm" [ngClass]="{'submitted':isMaSituationFormSubmitted}">
                <fieldset class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Êtes-vous concerné.e par la dégressivité de l'ARE ?
                            <button id="infobulle-degressivite-are" type="button" class="img-interrogation-icon"
                                placement="right" tag-action="clic_infobulle_degressivite_are"
                                (click)="modalService.openModalOnEvent($event, modalDegressiviteTemplate)"
                                aria-describedby="labelInfobulleDegressiviteARE">
                                <span id="labelInfobulleDegressiviteARE" class="sr-only">
                                    Qu'est ce que la degressivité de l'ARE ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <input id="degressiviteAreOui" name="degressiviteAre" type="radio" [value]="true"
                                class="radio-as-button"
                                [ngClass]="{'ng-invalid':isMaSituationFormSubmitted && !hasDegressiviteAreSelectionne()}"
                                tag-action="clic_concerne_degressivite_are_oui"
                                data-testid="btn-has-degressivite-are-oui"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.hasDegressiviteAre"
                                #degressiviteAreOui="ngModel" (click)="onClickButtonRadioHasDegressiviteAreOui()"
                                (keyup)="handleKeyUpOnButtonRadioHasDegressiviteAreOui($event)" required
                                [attr.aria-invalid]="isMaSituationFormSubmitted && !hasDegressiviteAreSelectionne()">
                            <label for="degressiviteAreOui" class="me-2 mb-2">
                                <span class="body-2-typo">
                                    Oui
                                    <span class="sr-only">, vous êtes concerné par la dégressivité de l'ARE</span>
                                </span>
                            </label>
                            <input id="degressiviteAreNon" name="degressiviteAre" type="radio" [value]="false"
                                class="radio-as-button"
                                [ngClass]="{'ng-invalid':isMaSituationFormSubmitted && !hasDegressiviteAreSelectionne()}"
                                tag-action="clic_concerne_degressivite_are_non"
                                data-testid="btn-has-degressivite-are-non"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.hasDegressiviteAre"
                                #degressiviteAreNon="ngModel" (click)="onClickButtonRadioHasDegressiviteAreNon()"
                                (keyup)="handleKeyUpOnButtonRadioHasDegressiviteAreNon($event)" required
                                [attr.aria-invalid]="isMaSituationFormSubmitted && !hasDegressiviteAreSelectionne()">
                            <label for="degressiviteAreNon" class="me-2 mb-2">
                                <span class="body-2-typo">
                                    Non
                                    <span class="sr-only">, vous n'êtes pas concerné par la dégressivité de
                                        l'ARE</span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isMaSituationFormSubmitted && !hasDegressiviteAreSelectionne()">
                                {{controleChampFormulaireService.MESSAGE_SELECTION_DEGRESSIVITE_ARE}}
                            </p>
                        </div>
                    </div>
                </fieldset>
                <div class="mt-3">
                    <app-message-info
                        contenu="La dégressivité correspond à une réduction de l'indemnisation qui peut s’appliquer à partir du 7e mois pour les demandeurs d'emploi de moins de 57 ans au moment de leur fin de contrat de travail dont le salaire de référence dépassait un certain montant (plus de détail sur <a href='https://www.pole-emploi.fr/candidat/mes-droits-aux-aides-et-allocati/allocations-et-aides--les-repons/la-degressivite-des-allocations.html'>pole-emploi.fr</a>)">
                    </app-message-info>
                </div>
                <fieldset *ngIf="afficherQuestionTypeTauxDegressiviteAre()" class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Vous souhaitez avoir une estimation du montant :
                            <button id="infobulle-ma-situation-vous-percevez" type="button"
                                class="img-interrogation-icon" placement="right"
                                tag-action="clic_infobulle_taux_reduit_degressivite_are"
                                aria-label="Qu'est ce que la degressivité de l'ARE"
                                (click)="modalService.openModalOnEvent($event, modalDegressiviteTemplate)"
                                aria-describedby="labelInfobulleTauxDegressiviteARE">
                                <span id="labelInfobulleTauxDegressiviteARE" class="sr-only">
                                    Qu'est ce que la degressivité de l'ARE ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <input id="tauxPleinDegressiviteAre" name="isTauxReduit" type="radio" [value]="false"
                                class="radio-as-button"
                                [ngClass]="{'ng-invalid':(isMaSituationFormSubmitted && !isTauxDegressiviteAreSelectionne()),'ms-1':!screenService.isExtraSmallScreen()}"
                                data-testid="btn-taux-plein-degressivite-are" #tauxPleinDegressiviteAre="ngModel"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.isTauxReduit"
                                (click)="onClickCheckBoxTauxPlein()" (keyup)="handleKeyUpOnButtonTauxPlein($event)"
                                required
                                [attr.aria-invalid]="isMaSituationFormSubmitted && !isTauxDegressiviteAreSelectionne()">
                            <label for="tauxPleinDegressiviteAre" class="me-2 mb-2">
                                <span class="sr-only">
                                    Vous souhaitez simuler le montant de votre allocation&nbsp;
                                </span>
                                <span class="body-2-typo">
                                    Avant la dégressivité
                                </span>
                            </label>
                            <input id="tauxReduitDegressiviteAre" name="isTauxReduit" type="radio" [value]="true"
                                class="radio-as-button"
                                [ngClass]="{'ng-invalid':(isMaSituationFormSubmitted && !isTauxDegressiviteAreSelectionne()),'ms-1':!screenService.isExtraSmallScreen()}"
                                data-testid="btn-taux-reduit-degressivite-are"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.isTauxReduit"
                                #tauxReduitDegressiviteAre="ngModel" (click)="onClickCheckBoxTauxReduit()"
                                (keyup)="handleKeyUpOnButtonTauxReduit($event)" required
                                [attr.aria-invalid]="isMaSituationFormSubmitted && !isTauxDegressiviteAreSelectionne()">
                            <label for="tauxReduitDegressiviteAre" class="me-2 mb-2">
                                <span class="sr-only">
                                    Vous souhaitez simuler le montant de votre allocation&nbsp;
                                </span>
                                <span class="body-2-typo">
                                    Après la dégressivité
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isMaSituationFormSubmitted && !isTauxDegressiviteAreSelectionne()">
                                {{controleChampFormulaireService.MESSAGE_SELECTION_TAUX_DEGRESSIVITE_ARE}}
                            </p>
                        </div>
                    </div>
                </fieldset>
                <div *ngIf="afficherMontantAllocationAre()" class="fieldset-row"
                    [ngClass]="{'mt-3':!afficherQuestionTypeTauxDegressiviteAre()}">
                    <div class="row pb-2">
                        <label class="label headline-4-typo" for="salaireJournalierReferenceBrut">
                            * Montant de votre salaire journalier brut de référence (SJR) pour l'ARE
                            <button id="infobulle-sjr-are" type="button" class="img-interrogation-icon"
                                placement="right" tag-action="clic_infobulle_obtenir_ressources_are"
                                aria-label="Où trouver votre salaire journalier référence ARE ?"
                                (click)="modalService.openModalOnEvent($event, modalAllocationARETemplate, true)"
                                aria-describedby="labelInfobulleMontantSJR">
                                <span id="labelInfobulleMontantSJR" class="sr-only">
                                    Comment trouver le montant de votre salaire journalier de référence ARE ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="salaireJournalierReferenceBrut" name="salaireJournalierReferenceBrut" type="text"
                                class="form-control d-inline"
                                [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut == 0)}"
                                data-testid="input-salaire-journalier-reference-are"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}" min="0" maxlength="6"
                                placeholder="Montant" inputmode="decimal"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut"
                                #salaireJournalierReferenceBrut="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" required
                                [attr.aria-invalid]="isChampSJRInvalide(salaireJournalierReferenceBrut)">
                            <app-text-with-euro-symbol></app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampSJREgalAZero(salaireJournalierReferenceBrut)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampSJRNonPresent(salaireJournalierReferenceBrut)">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampSJRErreurMontant(salaireJournalierReferenceBrut)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_2}}
                            </p>
                        </div>
                    </div>
                </div>
                <div *ngIf="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.isTauxReduit"
                    class="fieldset-row">
                    <div class="row pb-2">
                        <label class="label headline-4-typo" for="allocationJournaliereBruteTauxPlein">
                            * Montant brut de votre allocation journalière
                            <span class="fw-bold">à taux plein</span>
                            pour l’ARE
                            <button id="infobulle-ma-situation-vous-percevez" type="button"
                                class="img-interrogation-icon" placement="right"
                                tag-action="clic_infobulle_taux_reduit_degressivite_are"
                                aria-label="Où trouver votre montant brut d'allocation journalière ARE ?"
                                (click)="modalService.openModalOnEvent($event, modalAllocationARETemplate, true)"
                                aria-describedby="labelInfobulleMontantAllocationJournaliereBruteTauxPlein">
                                <span id="labelInfobulleMontantAllocationJournaliereBruteTauxPlein" class="sr-only">
                                    Comment trouver le montant de votre allocation journalière brute ARE à taux
                                    plein ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="allocationJournaliereBruteTauxPlein" name="allocationJournaliereBruteTauxPlein"
                                type="text" class="form-control d-inline"
                                [ngClass]="{'ng-invalid': isChampAllocationJournaliereBrutTauxPleinInvalide(allocationJournaliereBruteTauxPlein)}"
                                data-testid="input-montant-allocation-journaliere-brut-taux-plein-are"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}" min="0" maxlength="6"
                                placeholder="Montant" inputmode="decimal"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationJournaliereBruteTauxPlein"
                                required #allocationJournaliereBruteTauxPlein="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" required
                                [attr.aria-invalid]="isChampAllocationJournaliereBrutTauxPleinInvalide(allocationJournaliereBruteTauxPlein)">
                            <app-text-with-euro-symbol message="/ jour"></app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampAllocationJournaliereBrutTauxPleinEgalAZero(allocationJournaliereBruteTauxPlein)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampAllocationJournaliereBrutTauxPleinNonPresent(allocationJournaliereBruteTauxPlein)">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampAllocationJournaliereBrutErreurMontant(allocationJournaliereBruteTauxPlein)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_2}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row pb-2">
                        <label class="label headline-4-typo" for="allocationJournaliereBrute">
                            * Montant brut de votre allocation journalière
                            <span class="fw-bold">{{ getLibelleMontantBrutAllocationJournaliere() }}</span>
                            pour l’ARE
                            <button
                                *ngIf="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.isTauxReduit"
                                id="infobulle-ma-situation-vous-percevez" class="img-interrogation-icon"
                                placement="right" tag-action="clic_infobulle_taux_reduit_degressivite_are"
                                aria-label="Où trouver votre montant brut d'allocation jouranliere à taux réduit ?"
                                (click)="modalService.openModalOnEvent($event, modalTauxReduitTemplate)"
                                aria-describedby="labelInfobulleMontantAllocationJournaliereBruteTauxReduit">
                                <span id="labelInfobulleMontantAllocationJournaliereBruteTauxReduit" class="sr-only">
                                    Comment trouver le montant de votre allocation journalière brute ARE à taux
                                    réduit ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="allocationJournaliereBrute" name="allocationJournaliereBrute" type="text"
                                class="form-control d-inline"
                                [ngClass]="{'ng-invalid': isChampAllocationJournaliereBrutInvalide(allocationJournaliereBrute)}"
                                data-testid="input-montant-allocation-journaliere-brut-are"
                                pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}" min="0" maxlength="6"
                                placeholder="Montant" inputmode="decimal"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationJournaliereBrute"
                                #allocationJournaliereBrute="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" required
                                [attr.aria-invalid]="isChampAllocationJournaliereBrutInvalide(allocationJournaliereBrute)">
                            <app-text-with-euro-symbol message="/ jour"></app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampAllocationJournaliereBrutEgalAZero(allocationJournaliereBrute)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampAllocationJournaliereBrutNonPresent(allocationJournaliereBrute)">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isChampAllocationJournaliereBrutErreurMontant(allocationJournaliereBrute)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_2}}
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="!isModificationCriteres" class="row-btn-form">
            <button id="btn-ma-situation-retour" type="button" class="btn-precedent"
                data-testid="btn-ma-situation-retour" tag-navigation="clic_bouton_retour"
                (click)="onClickButtonRetour()" aria-label="Retour à la page précédente">
                <div>
                    <img alt="" src="./assets/images/icones/fleche-gauche-grey.svg">
                    <span>Retour</span>
                </div>
            </button>
            <button id="btn-ma-situation-suivant" type="submit" class="btn-suivant"
                data-testid="btn-ma-situation-suivant" tag-navigation="clic_bouton_suivant"
                (click)="onSubmitMaSituationForm()" aria-label="Passer à la page suivante">
                <div>
                    <span>Suivant</span>
                    <img alt="" src="./assets/images/icones/fleche-droite-pe-white.svg">
                </div>
            </button>
        </div>
    </div>
</div>

<ng-template #modalAllocationARETemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-1-typo'>
            Sur la page 2 de votre dernier relevé de situation Pôle emploi 👇
        </p>
        <figure class='row mb-5'>
            <img alt='' src='./assets/images/exemples/releve-are.png'>
            <figcaption class='sr-only'>
                L'information se trouve dans le bloc “Informations sur vos droits” de votre relevé de situation Pôle emploi.
            </figcaption>
        </figure>
        <h4 class='headline-4-typo headline-4-typo-color'>
            Où trouver votre dernier relevé de situation ARE ?
        </h4>
        <h5 class='headline-5-typo headline-5-typo-color'>
            Sur Internet :
        </h5>
        <ol>
            <li class='body-1-typo'>
                Rendez-vous votre espace personnel Pôle emploi, dans la rubrique <i>“Mes courriers reçus” </i> <a href='https://courriers.pole-emploi.fr/courriersweb/mescourriers' target='_blank'>en cliquant ici</a>
            </li>
            <li class='body-1-typo'>
                Dans la liste des courriers reçus vous trouverez vos notifications ARE
            </li>
            <li class='body-1-typo'>
                Choisissez le relevé de situation le plus récent et cliquez sur <i>“Télécharger”</i>
            </li>
        </ol>
        <h5 class='headline-5-typo headline-5-typo-color'>
            Sur l'application mobile <i>'Mon Espace'</i> de Pôle emploi :
        </h5>
        <ol>
            <li class='body-1-typo'>
                Ouvrez l'application et connectez-vous si nécessaire
            </li>
            <li class='body-1-typo'>
                Accédez à vos courriers depuis la barre de menu en bas de l'écran
            </li>
            <li class='body-1-typo'>
                Dans la liste, identifiez le relevé de situation le plus récent et tapez dessus pour l'ouvrir
            </li>
        </ol>">
    </app-tooltip>
</ng-template>

<ng-template #modalTauxReduitTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-1-typo'>
            Cette information est présente sur votre premier relevé de situation tenant compte de la dégressivité, si vous n'avez pas cette information, veuillez vous connecter à votre espace personnel
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalDegressiviteTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-1-typo'>
            La dégressivité est une réduction de l'allocation chômage appliquée aux demandeurs d'emploi qui avaient moins de 57 ans au moment de leur fin de contrat et qui bénéficiaient d'un salaire brut supérieur à 4677 euros par mois
        </p>">
    </app-tooltip>
</ng-template>