@import "../../../../../assets/scss/variables";


.card {
  width: 100%;
  border: 0;
  margin-top: 1.5rem;
  background-color: unset;
  .card-body {
    padding-top: 0.5rem;
    padding-bottom: 0;
    line-height: 1.5;
    .card-title {
      span {
        font-family: Lato;
        font-size: 1.313em;
        font-weight: bold;
        margin-bottom: 0.2rem;
        text-align: left;
      }
      hr {
        border-bottom-right-radius: 10px;
        margin: 0;
        &.aah {
          border-top: 7px solid $color-green-4;
        }
        &.agepi {
          border-top: 7px solid $color-violet-2;
        }
        &.am {
          border-top: 7px solid $color-orange-2;
        }
        &.ass {
          border-top: 7px solid $color-orange-3;
        }
        &.pa {
          border-top: 7px solid $color-violet-1;
        }
      }
    }
    .card-text {
      margin-top: 2rem;
    }
  }
}