<header [ngClass]="{'header-logged-in': this.isLoggedIn}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto pl-0 ml-0">
                <img
                    id="logo-estime-header"
                    alt="Logo du service Estime"
                    src="./assets/images/logo-estime.svg"
                    [ngClass]="{'logo-estime-header-homepage':this.bigEstimeLogo}"
                    (click)="onClickLogoEstime()">
            </div>
            <div class="col-auto pl-0 ml-0">
                <div
                    id="div-beta"
                    [ngClass]="{'mt-4':this.bigEstimeLogo}"
                    class="ml-2">
                    <span>BETA</span>
                </div>
            </div>

            <div class="col pr-0">
                <button
                    id="btn-se-deconnecter"
                    class="btn-se-deconnecter d-none d-sm-block"
                    *ngIf="this.isLoggedIn"
                    (click)="logout()"
                    data-testid="btn-se-deconnecter">
                    <div>
                        <div class="img-btn-se-deconnecter"></div>
                        <span>Se deconnecter</span>
                    </div>
                </button>
                <button
                    class="btn-se-deconnecter-sm d-sm-none"
                    *ngIf="this.isLoggedIn"
                    (click)="logout()"
                    data-testid="btn-se-deconnecter-sm">
                    <div class="img-btn-se-deconnecter"></div>
                </button>

                <div
                    id="btn-pe-connect"
                    class="btn-se-connecter d-none d-sm-block"
                    *ngIf="!this.isLoggedIn"
                    data-testid="btn-pe-connect"
                    (click)="login()">
                    <div
                        class="float-right"
                        style="display:inline-flex; margin-top: 7px;">
                        <img
                            alt="Icône se connecter"
                            class="img-btn-se-connecter"
                            src="./assets/images/personne.svg">
                        <div class="label-btn-se-connecter">
                            Se connecter avec mes identifiants Pôle emploi
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
