@import "../../../../assets/scss/variables";

header {
  background-color: $color-white-3;
  // box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25) !important;
  height: $header-height;
  width: 100%;
  z-index: 100;
  @media #{$small-device} {
    height: $header-height-small-device;
  }

  .container-fluid {
    align-items: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    height: 100%;
    .row {
      align-items: center;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    #signout-sm:hover {
      color: $color-blue-3 !important;
    }

    #logo-marianne-header {
      width: 1.5rem;
      @media #{$medium-device} {
        width: 3.5rem;
      }
    }
    .logo-marianne-header-homepage {
      padding-top: 2rem !important;
      width: 4rem !important;
      @media #{$medium-device} {
        width: 5.5rem !important;
      }
    }
    #logo-estime-header {
      width: 7rem;
      @media #{$medium-device} {
        width: 9rem;
      }
      cursor: pointer;
    }
    .logo-estime-header-homepage {
      width: 7rem!important;
      padding-top: 2rem!important;
      @media #{$medium-device} {
        width: 12.5rem!important;
      }
    }
    #logo-pole-emploi-header {
      width: 2.7rem;
      margin-left: 8px;
      @media #{$medium-device} {
        width: 3.5rem;
      }
    }
    #div-beta {
      border-radius: 1rem;
      background-color: $color-blue-5;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      height: 1.8rem;
      margin-bottom: auto;
      margin-top: auto;
      span {
        color: $color-blue-2;
        font-size: 0.8em;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        line-height: 1.8rem;
        vertical-align: middle;
      }
    }
  }
}
