<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto pl-0 ml-0">
                <img
                    id="logo-estime-header"
                    src="./assets/images/logo-estime.svg"
                    (click)="onClickLogoEstime()">
                <img
                    id="logo-pole-emploi-header"
                    src="./assets/images/logo-pole-emploi-mono-blue-text-under.svg">

            </div>
            <div class="col-auto pl-0 ml-0">
                <div
                    id="div-beta"
                    class="ml-2">
                    <span>BETA</span>
                </div>
            </div>

            <div class="col pr-0">
                <button
                    class="btn-se-deconnecter d-none d-sm-block"
                    *ngIf="this.isLoggedIn"
                    (click)="logout()"
                    data-testid="btn-se-deconnecter">
                    <div>
                        <div class="img-btn-se-deconnecter"></div>
                        <span>Se deconnecter</span>
                    </div>
                </button>
                <button
                    class="btn-se-deconnecter-sm d-sm-none"
                    *ngIf="this.isLoggedIn"
                    (click)="logout()"
                    data-testid="btn-se-deconnecter-sm">
                    <div class="img-btn-se-deconnecter"></div>
                </button>
            </div>
        </div>
    </div>
</header>
