@import "../../../../../assets/scss/variables";

#mois-apres-simulation-container {

  &.card {
    border: 0;
    border-radius: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;

    @media #{$extra-small-device} {
      width: 100vw !important;
      margin-left: -1rem !important;
      margin-right: -1rem !important;
    }

    cursor: pointer;
  }

  &.mois-selected {
    background-color: $color-blue-5;
    border-radius: 0.5rem 0.5rem 0 0;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .div-vertically-centered {

    display: flex;
    align-items: center;

    @media #{$extra-small-device} {}
  }
}

.date-bold {
  font-weight: 700 !important;
}

.icone-col {
  width: unset;
  padding: unset;
}

.overflow {
  background-color: $color-white-1;
  border: 1px solid $color-grey-1;
}