<div class="row btn-group-input-date">

  <input
      name="jourDate"
      (change)="onChangeOrKeyUpDateJour()"
      class="form-control jour-input"
      [ngClass]="{'date-invalid': dateSaisie.isJourInvalide || dateSaisie.isDateSuperieurDateJour}"
      (click)="$event.target.select()"
      (focusout)="onFocusOutDateJour()"
      inputmode="numeric"
      (keyup)="onChangeOrKeyUpDateJour()"
      (keypress)="this.controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
      maxlength="2"
      min="0"
      [(ngModel)]="dateSaisie.jour"
      placeholder="JJ"
      required
      type="text"
      #jourDate="ngModel">
  <input
      name="moisDate"
      (change)="onChangeOrKeyUpDateMois()"
      class="form-control mois-input"
      [ngClass]="{'date-invalid': dateSaisie.isMoisInvalide || dateSaisie.isDateSuperieurDateJour}"
      (click)="$event.target.select()"
      (focusout)="onFocusOutDateMois()"
      inputmode="numeric"
      (keypress)="this.controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
      (keyup)="onChangeOrKeyUpDateMois()"
      maxlength="2"
      min="0"
      [(ngModel)]="dateSaisie.mois"
      placeholder="MM"
      type="text"
      required
      #moisDate="ngModel">
  <input
      name="anneeDate"
      class="form-control annee-input"
      [ngClass]="{'date-invalid': dateSaisie.isAnneeInvalide || dateSaisie.isDateSuperieurDateJour}"
      (click)="$event.target.select()"
      (focusout)="onFocusOutDateAnnee()"
      inputmode="numeric"
      (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
      (keyup)="onChangeOrKeyUpDateAnnee()"
      maxlength="4"
      min="1900"
      [(ngModel)]="dateSaisie.annee"
      placeholder="AAAA"
      required
      type="text"
      #anneeDate="ngModel">
</div>
<span
  class="row error-input-message"
  *ngIf="(isFormSubmitted || jourDate.touched)  && jourDate.errors?.required">
  {{controleChampFormulaireService.MESSAGE_DATE_JOUR_OBLIGATOIRE}}
</span>
<span
  class="row error-input-message"
  *ngIf="(isFormSubmitted || moisDate.touched)  && moisDate.errors?.required">
  {{controleChampFormulaireService.MESSAGE_DATE_MOIS_OBLIGATOIRE}}
</span>
<span
  class="row error-input-message"
  *ngIf="(isFormSubmitted || anneeDate.touched) && anneeDate.errors?.required">
  {{controleChampFormulaireService.MESSAGE_DATE_ANNEE_OBLIGATOIRE}}
</span>
<span
  class="row error-input-message"
  *ngIf="dateSaisie.isJourInvalide">
  {{dateSaisie.messageErreurFormatJour}}
</span>
<span
  class="row error-input-message"
  *ngIf="dateSaisie.isMoisInvalide">
  {{dateSaisie.messageErreurFormatMois}}
</span>
<span
  class="row error-input-message"
  *ngIf="dateSaisie.isAnneeInvalide">
  {{dateSaisie.messageErreurFormatAnnee}}
</span>
<span
  class="row error-input-message"
  *ngIf="!dateSaisie.isJourInvalide && !dateSaisie.isMoisInvalide && !dateSaisie.isAnneeInvalide && dateSaisie.isDateSuperieurDateJour">
  {{dateSaisie.messageErreurSuperieurDateJour}}
</span>