<app-page-loading *ngIf="isPageLoadingDisplay"></app-page-loading>
<app-fil-etapes-desktop *ngIf="!screenService.isExtraSmallScreen()"></app-fil-etapes-desktop>
<app-fil-etapes-mobile *ngIf="screenService.isExtraSmallScreen()"></app-fil-etapes-mobile>
<div class="container-fluid container-etape">
    <div class="form-container-fluid">
        <div class="div-title-formulaire">
            <h1 class="h1-style-1" [ngClass]="screenService.isExtraSmallScreen()?' headline-2-typo':'headline-1-typo'">
                2. {{PageHeadlineEnum.SITUATION}}
            </h1>
            <div class="text-under-h1 body-2-typo">
                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
            </div>
        </div>
        <div class="card card-form card-form-style-2">
            <form [ngClass]="{'submitted':isInformationsPersonnellesFormSubmitted}"
                #informationsPersonnellesForm="ngForm">
                <div class="fieldset-row">
                    <div class="row pb-2">
                        <label class="headline-4-typo label" for="codePostal">
                            * Votre code postal
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input id="codePostal" name="codePostal" type="text" class="form-control"
                                data-testid="code-postal" maxlength="5" minlength="5" placeholder="ex : 75001"
                                inputmode="numeric"
                                [(ngModel)]="informationsPersonnelles.logement.coordonnees.codePostal"
                                #codePostal="ngModel"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" required
                                [attr.aria-invalid]="isChampCodePostalInvalide()">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p id="erreurChampCodePostalNonPresent" class="error-input-message" role="alert"
                                *ngIf="(isInformationsPersonnellesFormSubmitted || codePostal.touched)  && codePostal.errors?.required">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p id="erreurChampCodePostalIncorrect" class="error-input-message" role="alert"
                                *ngIf="(isInformationsPersonnellesFormSubmitted || codePostal.touched)  && codePostal.invalid">
                                {{controleChampFormulaireService.MESSAGE_CODE_POSTAL_INCORRECT}}
                            </p>
                        </div>
                    </div>
                </div>
                <fieldset class="fieldset-row">
                    <legend class="row pb-2">
                        <span class="label headline-4-typo">
                            * Votre date de naissance
                        </span>
                    </legend>
                    <div class="row pb-3">
                        <app-date-inputs [dateSaisie]="dateNaissance"
                            [isFormSubmitted]="isInformationsPersonnellesFormSubmitted"
                            data_testid="naissance-demandeur">
                        </app-date-inputs>
                    </div>
                </fieldset>
                <div class="fieldset-row">
                    <div class="row pb-2">
                        <label class="label headline-4-typo" for="nationalite">
                            * Votre nationalité
                        </label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <select id="nationalite" name="nationalite" class="form-select"
                                [ngClass]="{'option-selected':this.informationsPersonnelles.nationalite !== null}"
                                data-testid="select-nationalite" data-width="auto"
                                [(ngModel)]="informationsPersonnelles.nationalite" #nationalite="ngModel"
                                (ngModelChange)="unsetTitreSejourEnFranceValide($event)" required
                                [attr.aria-invalid]="isChampNationaliteInvalide()">
                                <option [value]="null" disabled>
                                    Sélectionner
                                </option>
                                <option *ngFor="let nationalite of nationaliteSelectOptions"
                                    [value]="nationalite.label">
                                    {{ nationalite.label }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p id="erreurChampNationaliteNonPresent" class="error-input-message" role="alert"
                                *ngIf="(isInformationsPersonnellesFormSubmitted || nationalite.touched)  && nationalite.errors?.required">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                    </div>
                </div>
                <div *ngIf="informationsPersonnelles.nationalite === nationalitesEnum.AUTRE">
                    <fieldset class="fieldset-row">
                        <legend class="row pb-2">
                            <span class="label headline-4-typo">
                                Vous résidez en France depuis plus de 5 ans et avez un titre de séjour valide
                            </span>
                        </legend>
                        <div class="row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input id="titreSejourValideTrue" name="titreSejourValide"
                                        [attr.aria-invalid]="isChampTitreSejourInvalide()" type="radio"
                                        class="form-check-input d-inline"
                                        [(ngModel)]="informationsPersonnelles.hasTitreSejourEnFranceValide"
                                        [value]="true" #titreSejourValide="ngModel"
                                        (keyup)="handleKeyUpOnButtonTitreSejour($event, true)" required>
                                    <label class="form-check-label body-2-typo d-inline" for="titreSejourValideTrue">
                                        oui
                                        <span class="sr-only">
                                            , je possède un titre de séjour valide
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline ms-2">
                                    <input id="titreSejourValideFalse" name="titreSejourValide"
                                        [attr.aria-invalid]="isChampTitreSejourInvalide()" type="radio"
                                        class="form-check-input d-inline"
                                        [(ngModel)]="informationsPersonnelles.hasTitreSejourEnFranceValide"
                                        [value]="false" #titreSejourValide="ngModel"
                                        (keyup)="handleKeyUpOnButtonTitreSejour($event, false)" required>
                                    <label class="form-check-label body-2-typo d-inline" for="titreSejourValideFalse">
                                        non
                                        <span class="sr-only">
                                            , je ne possède pas de titre de séjour valide
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-12">
                                <p class="error-input-message" role="alert" *ngIf="isChampTitreSejourInvalide()">
                                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            Vos principales ressources financières
                        </p>
                        <span class="body-2-typo">Plusieurs choix possibles</span>
                    </legend>
                    <div class="row pb-3">
                        <div class="col">
                            <input id="beneficiaireAucuneRessource" name="beneficiaireAucuneRessource" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-aucune-ressource"
                                tag-action="clic-sur-situation-aucune-ressource" [(ngModel)]="isSansRessource"
                                #beneficiaireAucuneRessource="ngModel" (click)="onClickCheckBoxHasAucuneRessource()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.SANS_RESSOURCE)">
                            <label for="beneficiaireAucuneRessource" class="mb-2 me-2">
                                <span class="sr-only">Vous n'êtes bénéficiaire d'</span>
                                <span class="body-2-typo"> {{situationPersonneEnum.SANS_RESSOURCE}} </span>
                            </label>
                            <input id="beneficiaireASS" name="beneficiaireASS" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-ass"
                                tag-action="clic-sur-situation-ass" [(ngModel)]="beneficiaireAides.beneficiaireASS"
                                #beneficiaireASS="ngModel" (click)="onClickCheckBoxHasASS()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.ASS)"
                                [ngClass]="{'disabled':informationsPersonnelles.isSalarie}"
                                [disabled]="informationsPersonnelles.isSalarie">
                            <label for="beneficiaireASS" class="mb-2 me-2">
                                <span class="sr-only">Vous êtes bénéficiaire de&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.ASS}}</span>
                            </label>
                            <div *ngIf="!deConnecteBeneficiaireAidesService.hasFoyerAutreBeneficiaireRSA('demandeur')"
                                class="d-inline">
                                <input id="beneficiaireRSA" name="beneficiaireRSA" type="checkbox"
                                    class="checkbox-as-button extra-large" data-testid="btn-situation-rsa"
                                    tag-action="clic-sur-situation-rsa" [(ngModel)]="beneficiaireAides.beneficiaireRSA"
                                    #beneficiaireRSA="ngModel" (click)="onClickCheckBoxHasRSA()"
                                    (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.RSA)"
                                    [ngClass]="{'disabled':informationsPersonnelles.isSalarie}"
                                    [disabled]="informationsPersonnelles.isSalarie">
                                <label for="beneficiaireRSA" class="mb-2 me-2">
                                    <span class="sr-only">Vous percevez&nbsp;</span>
                                    <span class="body-2-typo">{{situationPersonneEnum.RSA}}</span>
                                </label>
                            </div>
                            <input id="beneficiaireARE" name="beneficiaireARE" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-are"
                                tag-action="clic-sur-situation-are" [(ngModel)]="beneficiaireAides.beneficiaireARE"
                                #beneficiaireARE="ngModel" (click)="onClickCheckBoxHasARE()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.ARE)">
                            <label for="beneficiaireARE" class="mb-2 me-2">
                                <span class="sr-only">Vous êtes bénéficiaire de&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.ARE}}</span>
                            </label>
                            <input id="microEntrepreneur" name="microEntrepreneur" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-micro-entrepreneur"
                                tag-action="clic-sur-situation-micro-entrepreneur"
                                [(ngModel)]="informationsPersonnelles.isMicroEntrepreneur" #microEntrepreneur="ngModel"
                                (click)="onClickCheckBoxIsMicroEntrepreneur()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.MICRO_ENTREPRENEUR)">
                            <label for="microEntrepreneur" class="mb-2 me-2">
                                <span class="sr-only">Vous percevez&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.MICRO_ENTREPRENEUR}}</span>
                            </label>
                            <input id="hasRevenusImmobilier" name="hasRevenusImmobilier" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-revenu-immobilier"
                                tag-action="clic-sur-situation-revenu-immobilier"
                                [(ngModel)]="informationsPersonnelles.hasRevenusImmobilier"
                                #hasRevenusImmobilier="ngModel" (click)="onClickCheckBoxHasRevenusImmobilier()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.IMMOBILIER)">
                            <label for="hasRevenusImmobilier" class="mb-2 me-2">
                                <span class="sr-only">Vous percevez&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.IMMOBILIER}}</span>
                            </label>
                            <input id="hasSalaire" name="hasSalaire" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-salarie"
                                tag-action="clic-sur-situation-salarie" [(ngModel)]="informationsPersonnelles.isSalarie"
                                #hasSalaire="ngModel" (click)="onClickCheckBoxHasSalaire()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.SALARIE)"
                                [ngClass]="{'disabled':(beneficiaireAides.beneficiaireRSA || beneficiaireAides.beneficiaireASS)}"
                                [disabled]="(beneficiaireAides.beneficiaireRSA || beneficiaireAides.beneficiaireASS)">
                            <label for="hasSalaire" class="mb-2 me-2">
                                <span class="sr-only">Vous percevez&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.SALARIE}}</span>
                            </label>
                            <input id="beneficiaireAAH" name="beneficiaireAAH" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-aah"
                                tag-action="clic-sur-situation-aah" [(ngModel)]="beneficiaireAides.beneficiaireAAH"
                                #beneficiaireAAH="ngModel" (click)="onClickCheckBoxHasAAH()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.AAH)">
                            <label for="beneficiaireAAH" class="mb-2 me-2">
                                <span class="sr-only">Vous êtes bénéficiaire de&nbsp;</span>
                                <span class="body-2-typo"> {{situationPersonneEnum.AAH}} </span>
                            </label>
                            <input id="beneficiairePensionInvalidite" name="beneficiairePensionInvalidite"
                                type="checkbox" class="checkbox-as-button extra-large"
                                data-testid="btn-situation-pension-invalidite"
                                tag-action="clic-sur-situation-pension-invalidite"
                                [(ngModel)]="beneficiaireAides.beneficiairePensionInvalidite"
                                #beneficiairePensionInvalidite="ngModel" (click)="onClickCheckBoxHasPensionInvalidite()"
                                (keyup)="handleKeyUpOnButtonSituationDemandeur($event, situationPersonneEnum.PENSION_INVALIDITE)">
                            <label for="beneficiairePensionInvalidite" class="mb-2 me-2">
                                <span class="sr-only">Vous êtes bénéficiaire d'</span>
                                <span class="body-2-typo"> {{situationPersonneEnum.PENSION_INVALIDITE}} </span>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <app-message-info *ngIf="informationsPersonnelles.isSalarie && beneficiaireAides.beneficiaireARE"
                    contenu="Attention : si vous bénéficiez de l'ARE et que votre activité salariée a débuté avant la fin du contrat de travail qui a permis votre ouverture droits (activité conservée) : Le simulateur n'est pas en mesure de vous apporter une estimation.">
                </app-message-info>
                <fieldset *ngIf="informationsPersonnelles.isSalarie" class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Allez-vous cumuler votre ancien salaire avec votre nouveau ?
                            <button id="infobulle-cumul-ancien-et-nouveau-salaire" type="button"
                                class="img-interrogation-icon" placement="right"
                                tag-action="ouverture-infobulle-cumul-ancien-et-nouveau-salaire"
                                (click)="modalService.openModalOnEvent($event, modalCumulEntreAncienEtNouveauSalaire)">
                                <span class="sr-only">
                                    Comment seront cumulés mon ancien et nouveau salaire ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input id="hasCumulAncienEtNouveauSalaireOui" name="hasCumulAncienEtNouveauSalaire"
                                    type="radio" class="form-check-input"
                                    data-testid="btn-has-cumul-ancien-et-nouveau-salaire-oui"
                                    (keyup)="handleKeyUpOnButtonHasCumulAncienEtNouveauSalaire($event, true)"
                                    [(ngModel)]="informationsPersonnelles.hasCumulAncienEtNouveauSalaire" [value]="true"
                                    #hasCumulAncienEtNouveauSalaire="ngModel">
                                <label class="form-check-label body-2-typo" for="hasCumulAncienEtNouveauSalaireOui">
                                    oui
                                    <span class="sr-only">, je vais cumuler mon ancien et mon nouveau salaire</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline ms-2">
                                <input id="hasCumulAncienEtNouveauSalaireNon" name="hasCumulAncienEtNouveauSalaire"
                                    type="radio" class="form-check-input"
                                    data-testid="btn-has-cumul-ancien-et-nouveau-salaire-non"
                                    (keyup)="handleKeyUpOnButtonHasCumulAncienEtNouveauSalaire($event, false)"
                                    [(ngModel)]="informationsPersonnelles.hasCumulAncienEtNouveauSalaire"
                                    [value]="false" #hasCumulAncienEtNouveauSalaire="ngModel">
                                <label class="form-check-label body-2-typo" for="hasCumulAncienEtNouveauSalaireNon">
                                    non
                                    <span class="sr-only">
                                        , je ne vais pas cumuler mon ancien et mon nouveau salaire
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="(isInformationsPersonnellesFormSubmitted || hasCumulAncienEtNouveauSalaire.touched) && hasCumulAncienEtNouveauSalaire.errors?.required">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="informationsPersonnelles.isMicroEntrepreneur" class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Votre date de création ou de reprise d'entreprise
                        </p>
                    </legend>
                    <div class="row pb-3">
                        <app-date-inputs [dateSaisie]="dateRepriseCreationEntreprise"
                            [isFormSubmitted]="isInformationsPersonnellesFormSubmitted"
                            data_testid="reprise-creation-entreprise">
                        </app-date-inputs>
                    </div>
                </fieldset>
                <fieldset *ngIf="isConcerneACRE()" class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Bénéficiez-vous de l'ACRE ?
                            <button id="infobulle-ma-situation-beneficiaire-acre" type="button"
                                class="img-interrogation-icon" placement="right"
                                tag-action="ouverture-infobulle-ma-situation-beneficiaire-acre"
                                (click)="modalService.openModalOnEvent($event, modalSituationBeneficiaireACRETemplate)"
                                aria-describedby="labelInfobulleACRE">
                                <span id="labelInfobulleACRE" class="sr-only">
                                    Qu'est ce que l'ACRE ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input id="isBeneficiaireACREOui" name="isBeneficiaireACRE" type="radio"
                                    class="form-check-input" [value]="true" data-testid="btn-is-beneficiaire-acre-oui"
                                    (keyup)="handleKeyUpOnButtonBeneficiaireACRE($event, true)"
                                    (click)="onClickCheckBoxBeneficiaireACRE(true)"
                                    [(ngModel)]="informationsPersonnelles.isBeneficiaireACRE"
                                    #isBeneficiaireACRE="ngModel" required
                                    [attr.aria-invalid]="isChampBeneficiaireACREInvalide()">
                                <label class=" form-check-label body-2-typo" for="isBeneficiaireACREOui">
                                    oui
                                    <span class="sr-only">, vous bénéficiez de l'ACRE</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline ms-2">
                                <input id="isBeneficiaireACRENon" name="isBeneficiaireACRE" type="radio"
                                    class="form-check-input" [value]="false" data-testid="btn-is-beneficiaire-acre-non"
                                    (keyup)="handleKeyUpOnButtonBeneficiaireACRE($event, false)"
                                    (click)="onClickCheckBoxBeneficiaireACRE(false)"
                                    [(ngModel)]="informationsPersonnelles.isBeneficiaireACRE"
                                    #isBeneficiaireACRE="ngModel" required
                                    [attr.aria-invalid]="isChampBeneficiaireACREInvalide()">
                                <label class="form-check-label body-2-typo" for="isBeneficiaireACRENon">
                                    non
                                    <span class="sr-only">, vous ne bénéficiez pas de l'ACRE</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p id="erreurChampBeneficiaireACREInvalide" class="error-input-message" role="alert"
                                *ngIf="isChampBeneficiaireACREInvalide()">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Votre situation familiale
                            <button id="infobulle-ma-situation-conjoint" type="button" class="img-interrogation-icon"
                                placement="right" tag-action="ouverture-infobulle-ma-situation-conjoint"
                                (click)="modalService.openModalOnEvent($event, modalSituationConjointTemplate)"
                                aria-describedby="labelInfobulleConjoint">
                                <span id="labelInfobulleConjoint" class="sr-only">
                                    Qui considère-t-on comme votre conjoint ?
                                </span>
                                <img alt="" src="./assets/images/icones/question.svg" aria-hidden="true">
                            </button>
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <input id="situationFamilialeSeul" name="situationFamilialeDemandeur" type="radio"
                                [value]="false" class="radio-as-button small"
                                [ngClass]="{'ng-invalid': isChampSituationFamilialeInvalide()}"
                                data-testid="btn-situation-familiale-seul" [(ngModel)]="situationFamiliale.isEnCouple"
                                #situationFamilialeDemandeur="ngModel"
                                (click)="onClickCheckBoxSituationFamiliale(false)"
                                (keyup)="handleKeyUpOnButtonSituationFamiliale($event, false)" required
                                [attr.aria-invalid]="isChampSituationFamilialeInvalide()">
                            <label for="situationFamilialeSeul">
                                <span class="sr-only">Vous êtes&nbsp;</span>
                                <span class="body-2-typo">{{situationsFamilialesEnum.SEULE}}</span>
                            </label>
                            <input id="situationFamilialeEnCouple" name="situationFamilialeDemandeur" type="radio"
                                [value]="true" class="radio-as-button small"
                                [ngClass]="{'ms-1':!screenService.isExtraSmallScreen(), 'ng-invalid': isChampSituationFamilialeInvalide()}"
                                data-testid="btn-situation-familiale-couple" [(ngModel)]="situationFamiliale.isEnCouple"
                                #situationFamilialeDemandeur="ngModel" (click)="onClickCheckBoxSituationFamiliale(true)"
                                (keyup)="handleKeyUpOnButtonSituationFamiliale($event, true)" required
                                [attr.aria-invalid]="isChampSituationFamilialeInvalide()">
                            <label for="situationFamilialeEnCouple">
                                <span class="sr-only">Vous êtes&nbsp;</span>
                                <span class="body-2-typo">{{situationsFamilialesEnum.EN_COUPLE}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p id="erreurChampSituationFamilialeInvalide" class="error-input-message" role="alert"
                                *ngIf="isChampSituationFamilialeInvalide()">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="situationFamiliale.isEnCouple === false && beneficiaireAides.beneficiaireRSA === true"
                    class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Vous vivez seul·e depuis plus de 18 mois ?
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input id="isSeulPlusDe18MoisOui" name="isSeulPlusDe18Mois" type="radio" [value]="true"
                                    class="form-check-input"
                                    [ngClass]="{'ng-invalid':isChampSeulDepuisPlusDe18MoisInvalide()}"
                                    data-testid="btn-is-seul-plus-de-18-mois-oui"
                                    [(ngModel)]="situationFamiliale.isSeulPlusDe18Mois" #isSeulPlusDe18Mois="ngModel"
                                    (keyup)="handleKeyUpOnButtonSeulPlusDe18Mois($event, true)" required
                                    [attr.aria-invalid]="isChampSeulDepuisPlusDe18MoisInvalide()">
                                <label class="form-check-label body-2-typo" for="isSeulPlusDe18MoisOui">
                                    oui
                                    <span class="sr-only">, vous vivez seul.e depuis plus de 18 mois</span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline ms-2">
                                <input id="isSeulPlusDe18MoisNon" name="isSeulPlusDe18Mois" type="radio" [value]="false"
                                    class="form-check-input"
                                    [ngClass]="{'ng-invalid':isChampSeulDepuisPlusDe18MoisInvalide()}"
                                    data-testid="btn-is-seul-plus-de-18-mois-non"
                                    [(ngModel)]="situationFamiliale.isSeulPlusDe18Mois" #isSeulPlusDe18Mois="ngModel"
                                    (keyup)="handleKeyUpOnButtonSeulPlusDe18Mois($event, false)" required
                                    [attr.aria-invalid]="isChampSeulDepuisPlusDe18MoisInvalide()">
                                <label class="form-check-label body-2-typo" for="isSeulPlusDe18MoisNon">
                                    non
                                    <span class="sr-only">, vous ne vivez pas seul.e depuis plus de 18 mois</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p id="erreurChampSeulDepuisPlusDe18MoisInvalide" class="error-input-message" role="alert"
                                *ngIf="isChampSeulDepuisPlusDe18MoisInvalide()">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="situationFamiliale.isEnCouple === true" class="fieldset-row">
                    <legend class="row pb-2">
                        <p class="label headline-4-typo">
                            * Votre conjoint·e perçoit
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <input id="conjointIsSalarie" name="conjointIsSalarie" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-conjoint-salarie"
                                tag-action="clic-sur-situation-conjoint-salarie"
                                [(ngModel)]="situationFamiliale.conjoint.informationsPersonnelles.isSalarie"
                                #conjointIsSalarie="ngModel" (click)="onClickCheckBoxConjointIsSalarie()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.SALARIE)">
                            <label for="conjointIsSalarie" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.SALARIE}}</span>
                            </label>
                            <input id="conjointHasARE" name="conjointHasARE" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-conjoint-are"
                                tag-action="clic-sur-situation-conjoint-are"
                                [(ngModel)]="situationFamiliale.conjoint.beneficiaireAides.beneficiaireARE"
                                #conjointHasARE="ngModel" (click)="onClickCheckBoxConjointHasARE()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.ARE)">
                            <label for="conjointHasARE" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.ARE}}</span>
                            </label>
                            <input id="conjointHasASS" name="conjointHasASS" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-conjoint-ass"
                                tag-action="clic-sur-situation-conjoint-ass"
                                [(ngModel)]="situationFamiliale.conjoint.beneficiaireAides.beneficiaireASS"
                                #conjointHasASS="ngModel" (click)="onClickCheckBoxConjointHasASS()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.ASS)">
                            <label for="conjointHasASS" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.ASS}}</span>
                            </label>
                            <div *ngIf="!deConnecteBeneficiaireAidesService.hasFoyerAutreBeneficiaireRSA('conjoint')"
                                class="d-inline">
                                <input id="conjointHasRSA" name="conjointHasRSA" type="checkbox"
                                    class="checkbox-as-button extra-large" data-testid="btn-situation-conjoint-rsa"
                                    tag-action="clic-sur-situation-conjoint-rsa"
                                    [(ngModel)]="situationFamiliale.conjoint.beneficiaireAides.beneficiaireRSA"
                                    #conjointHasRSA="ngModel" (click)="onClickCheckBoxConjointHasRSA()"
                                    (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.RSA)">
                                <label for="conjointHasRSA" class="mb-2 me-2">
                                    <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                    <span class="body-2-typo">{{situationPersonneEnum.RSA}}</span>
                                </label>
                            </div>
                            <input id="conjointIsMicroEntrepreneur" name="conjointIsMicroEntrepreneur" type="checkbox"
                                class="checkbox-as-button extra-large"
                                data-testid="btn-situation-conjoint-micro-entrepreneur"
                                tag-action="clic-sur-situation-conjoint-micro-entrepreneur"
                                [(ngModel)]="situationFamiliale.conjoint.informationsPersonnelles.isMicroEntrepreneur"
                                #conjointIsMicroEntrepreneur="ngModel"
                                (click)="onClickCheckBoxConjointIsMicroEntrepreneur()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.MICRO_ENTREPRENEUR)">
                            <label for="conjointIsMicroEntrepreneur" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.MICRO_ENTREPRENEUR}}</span>
                            </label>
                            <input id="conjointIsTravailleurIndependant" name="conjointIsTravailleurIndependant"
                                type="checkbox" class="checkbox-as-button extra-large"
                                data-testid="btn-situation-conjoint-travailleur-independant"
                                tag-action="clic-sur-situation-conjoint-travailleur-independant"
                                [(ngModel)]="situationFamiliale.conjoint.informationsPersonnelles.isTravailleurIndependant"
                                #conjointIsTravailleurIndependant="ngModel"
                                (click)="onClickCheckBoxConjointIsTravailleurIndependant()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.TRAVAILLEUR_INDEPENDANT)">
                            <label for="conjointIsTravailleurIndependant" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.TRAVAILLEUR_INDEPENDANT}}</span>
                            </label>
                            <input id="conjointHasRevenusImmobilier" name="conjointHasRevenusImmobilier" type="checkbox"
                                class="checkbox-as-button extra-large"
                                data-testid="btn-situation-conjoint-revenu-immobilier"
                                tag-action="clic-sur-situation-conjoint-revenus-immobiliers"
                                [(ngModel)]="situationFamiliale.conjoint.informationsPersonnelles.hasRevenusImmobilier"
                                #conjointHasRevenusImmobilier="ngModel"
                                (click)="onClickCheckBoxConjointHasRevenusImmobilier()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.IMMOBILIER)">
                            <label for="conjointHasRevenusImmobilier" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.IMMOBILIER}}</span>
                            </label>
                            <input id="conjointIsRetraite" name="conjointIsRetraite" type="checkbox"
                                class="checkbox-as-button extra-large"
                                data-testid="btn-situation-conjoint-pension-retraite"
                                tag-action="clic-sur-situation-conjoint-pension-retraite"
                                [(ngModel)]="situationFamiliale.conjoint.informationsPersonnelles.hasPensionRetraite"
                                #conjointIsRetraite="ngModel" (click)="onClickCheckBoxConjointHasPensionRetraite()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.PENSION_RETRAITE)">
                            <label for="conjointIsRetraite" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.PENSION_RETRAITE}}</span>
                            </label>
                            <input id="conjointHasAAH" name="conjointHasAAH" type="checkbox"
                                class="checkbox-as-button extra-large" data-testid="btn-situation-conjoint-aah"
                                tag-action="clic-sur-situation-conjoint-aah"
                                [(ngModel)]="situationFamiliale.conjoint.beneficiaireAides.beneficiaireAAH"
                                #conjointHasAAH="ngModel" (click)="onClickCheckBoxConjointHasAAH()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.AAH)">
                            <label for="conjointHasAAH" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.AAH}}</span>
                            </label>
                            <input id="conjointHasPensionInvalidite" name="conjointHasPensionInvalidite" type="checkbox"
                                class="checkbox-as-button extra-large"
                                data-testid="btn-situation-conjoint-pension-invalidite"
                                tag-action="clic-sur-situation-conjoint-pension-invalidite"
                                [(ngModel)]="situationFamiliale.conjoint.beneficiaireAides.beneficiairePensionInvalidite"
                                #conjointHasPensionInvalidite="ngModel"
                                (click)="onClickCheckBoxConjointHasPensionInvalidite()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.PENSION_INVALIDITE)">
                            <label for="conjointHasPensionInvalidite" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.PENSION_INVALIDITE}}</span>
                            </label>
                            <input id="conjointIsSansRessource" name="conjointIsSansRessource" type="checkbox"
                                class="checkbox-as-button extra-large"
                                data-testid="btn-situation-conjoint-sans-ressource"
                                tag-action="clic-sur-situation-conjoint-sans-ressource"
                                [(ngModel)]="situationFamiliale.conjoint.informationsPersonnelles.isSansRessource"
                                #conjointIsSansRessource="ngModel" (click)="onClickCheckBoxConjointIsSansRessource()"
                                (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.SANS_RESSOURCE)">
                            <label for="conjointIsSansRessource" class="mb-2 me-2">
                                <span class="sr-only">Votre conjoint(e) ne perçoit&nbsp;</span>
                                <span class="body-2-typo">{{situationPersonneEnum.SANS_RESSOURCE}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <p class="error-input-message" role="alert"
                                *ngIf="isInformationsPersonnellesFormSubmitted && isSituationConjointNotValide">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="row-btn-form">
            <button id="btn-ma-situation-retour" type="button" class="btn-precedent" tag-navigation="clic_bouton_retour"
                data-testid="btn-ma-situation-retour" (click)="onClickButtonRetour()"
                aria-label="Retour à la page précédente">
                <div>
                    <img alt="" src="./assets/images/icones/fleche-gauche-grey.svg">
                    <span>Retour</span>
                </div>
            </button>
            <button id="btn-ma-situation-suivant" type="submit" class="btn-suivant" tag-navigation="clic_bouton_suivant"
                data-testid="btn-ma-situation-suivant"
                (click)="onSubmitInformationsPersonnellesForm(informationsPersonnellesForm)"
                aria-label="Valider et passer à la page suivante">
                <div>
                    <span>Suivant</span>
                    <img alt="" src="./assets/images/icones/fleche-droite-pe-white.svg">
                </div>
            </button>
        </div>
    </div>
</div>

<ng-template #modalSituationBeneficiaireACRETemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-1-typo'>
            L'ACRE consiste en une exonération partielle ou totale de charges sociales, dite exonération de début d'activité pour une durée de 12 mois.
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalCumulEntreAncienEtNouveauSalaire>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-1-typo'>
            Ce salaire sera alors pris en compte chaque mois de la simulation en plus du nouveau salaire.
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalSituationConjointTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-1-typo'>
            Votre conjoint·e est la personne avec laquelle vous êtes marié·e, pacsé·e ou en concubinage.
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalPensionInvaliditeEtMicro>
    <app-tooltip [modalRef]="modalService.modalRef" atTag="popup_pension_invalidite_et_micro" modalRole="alertdialog"
        htmlData="
        <img alt='' role='presentation' src='./assets/images/icones/warning.svg'>
        <h4 id='modalTitle' class='headline-4-typo mt-4 mb-3'>
            Nous ne sommes pas en mesure d'effectuer l'estimation au regard de votre situation.
        </h3>
        <p class='body-1-typo'>
            Merci de vous renseigner auprès de l'organisme en charge du paiement de votre pension d'invalidité.
        </p>
        <a href='https://www.service-public.fr/particuliers/vosdroits/F15973' target='_blank' class='body-1-typo color-pe-red-typo text-strong text-decoration-none fw-bold'>
            Site de la Caisse primaire d’assurance maladie
            <img alt='Ouverture dans une nouvelle fenêtre' src='./assets/images/icones/open-in-new-window.svg'>
        </a>
        ">
    </app-tooltip>
</ng-template>

<ng-template #modalAAHEtMicro>
    <app-tooltip [modalRef]="modalService.modalRef" atTag="popup_aah_et_micro" modalRole="alertdialog" htmlData="
        <img alt='' role='presentation' src='./assets/images/icones/warning.svg'>
        <h4 id='modalTitle' class='headline-4-typo mt-4 mb-3'>
            Nous ne sommes pas en mesure d'effectuer l'estimation au regard de votre situation.
        </h3>
        <p class='body-1-typo'>
            Merci de vous renseigner auprès de l'organisme en charge du paiement de votre Allocation Adulte Handicapé.
        </p>
        <a href='https://caf.fr/' target='_blank' class='body-1-typo color-pe-red-typo text-strong text-decoration-none fw-bold'>
            Site de la Caisse d'allocations familiales
            <img alt='Ouverture dans une nouvelle fenêtre' src='./assets/images/icones/open-in-new-window.svg'>
        </a>
        ">
    </app-tooltip>
</ng-template>

<ng-template #modalAREEtMicro>
    <app-tooltip [modalRef]="modalService.modalRef" atTag="popup_are_et_micro" modalRole="alertdialog" htmlData="
        <img alt='' role='presentation' src='./assets/images/icones/warning.svg'>
        <h4 id='modalTitle' class='headline-4-typo mt-4 mb-3'>
            Nous ne sommes pas en mesure d'effectuer l'estimation au regard de votre situation.
        </h3>
        <p class='body-1-typo'>
            Vous pouvez vous renseigner auprès des services de Pôle emploi ou vous rapprocher de votre conseiller référent indemnisation.
        </p>
        <a href='https://www.pole-emploi.fr/candidat/mes-droits-aux-aides-et-allocati/a-chaque-situation-son-allocatio.html' target='_blank' class='body-1-typo color-pe-red-typo text-strong text-decoration-none fw-bold'>
            Plus d'informations
            <img alt='Ouverture dans une nouvelle fenêtre' src='./assets/images/icones/open-in-new-window.svg'>
        </a>
        ">
    </app-tooltip>
</ng-template>

<ng-template #modalAAHEtSalaire>
    <app-tooltip [modalRef]="modalService.modalRef" atTag="popup_aah_et_salaire" modalRole="alertdialog" htmlData="
        <img alt='' role='presentation' src='./assets/images/icones/warning.svg'>
        <h4 id='modalTitle' class='headline-4-typo mt-4 mb-3'>
            Nous ne sommes pas en mesure d'effectuer l'estimation au regard de votre situation.
        </h3>
        <p class='body-1-typo'>
            Merci de vous renseigner auprès de l'organisme en charge du paiement de votre Allocation Adulte Handicapé.
        </p>
        <a href='https://caf.fr/' target='_blank' class='body-1-typo color-pe-red-typo text-strong text-decoration-none fw-bold'>
            Site de la Caisse d'allocations familiales
            <img alt='Ouverture dans une nouvelle fenêtre' src='./assets/images/icones/open-in-new-window.svg'>
        </a>
        ">
    </app-tooltip>
</ng-template>

<ng-template #modalPensionInvaliditeEtSalaire>
    <app-tooltip [modalRef]="modalService.modalRef" atTag="popup_pension_invalidite_et_salaire" modalRole="alertdialog"
        htmlData="
        <img alt='' role='presentation' src='./assets/images/icones/warning.svg'>
        <h4 id='modalTitle' class='headline-4-typo mt-4 mb-3'>
            Nous ne sommes pas en mesure d'effectuer l'estimation au regard de votre situation.
        </h3>
        <p class='body-1-typo'>
            Merci de vous renseigner auprès de l'organisme en charge du paiement de votre pension d'invalidité.
        </p>
        <a href='https://www.service-public.fr/particuliers/vosdroits/F15973' target='_blank' class='body-1-typo color-pe-red-typo text-strong text-decoration-none fw-bold'>
            Site de la Caisse primaire d’assurance maladie
            <img alt='Ouverture dans une nouvelle fenêtre' src='./assets/images/icones/open-in-new-window.svg'>
        </a>
        ">
    </app-tooltip>
</ng-template>