@import "../../../assets/scss/variables";

.block-ressources {
  .accordion-button {
    background-color: $color-white-1;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid $color-grey-1;
    color: $color-blue-1;
    margin-top: 1rem;
    min-height: 5rem;
    max-height: unset;
    width: 100%;
    .euro-sign {
      width: 2rem;
    }
    .row-text-button {
      text-align: left;
      .text-button {
        font-weight: 700;
        font-size: 1.1rem;
        color: $color-blue-3;
        font-weight: bold;
      }

    }

  }
}

.text-2-side-input-style-inline {
  @media #{$small-device} {
    font-size: 0.9rem;
  }
}

.text-alert {
  color: $color-red-1;
}

.card-body {
  border-radius: 0;
  border: 1px solid $color-grey-1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  margin-top: 0;
  padding-left: 4rem;
  padding-top: 1.5rem;
}


