version: '3.8'

services:
  estime-frontend:
    image: registry.beta.pole-emploi.fr/estime/estime-frontend:release
    environment:
      PE_CONNECT_CLIENT_ID: "{{ PE_CONNECT_CLIENT_ID }}"
      PE_CONNECT_REDIRECT_URI: "{{ PE_CONNECT_REDIRECT_URI_PROD }}"
      PE_CONNECT_SCOPE: "{{ PE_CONNECT_SCOPE }}"
      PE_CONNECT_IDENTITY_SERVER_URL: "{{ PE_CONNECT_IDENTITY_SERVER_URL }}"
      TAG_COMMANDER_SCRIPT_URL: "{{ TAG_COMMANDER_SCRIPT_URL_PROD }}"
      TZ: "Europe/Paris"
    networks:
     - estime
    ports:
      - target: 8888
        published: 80
        mode: host
      - target: 8443
        published: 443
        mode: host
    healthcheck:
      test: curl --fail http://localhost:8888/ || exit 1
      timeout: 10s
      interval: 1m
      retries: 10
      start_period: 15s
    deploy:
      replicas: 2
      resources:
        reservations:
          cpus: '0.30'
          memory: 256Mi
        limits:
          cpus: '0.60'
          memory: 512Mi
      update_config:
        parallelism: 1
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 0
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 180s
    volumes:
      - ./etc/nginx/ssl:/etc/nginx/ssl

networks:
  estime:
    external: true
    name: estime
