version: '3.8'

services:
  estime-frontend:
    image: registry.beta.pole-emploi.fr/estime/estime-frontend:release
    environment:
      PE_CONNECT_CLIENT_ID: "{{ PE_CONNECT_CLIENT_ID }}"
      PE_CONNECT_REDIRECT_URI: "{{ PE_CONNECT_REDIRECT_URI_PROD }}"
      PE_CONNECT_SCOPE: "{{ PE_CONNECT_SCOPE }}"
      PE_CONNECT_IDENTITY_SERVER_URL: "{{ PE_CONNECT_IDENTITY_SERVER_URL }}"
      TAG_COMMANDER_SCRIPT_URL: "{{ TAG_COMMANDER_SCRIPT_URL_PROD }}"
      TZ: "Europe/Paris"
    networks:
     - estime
    ports:
      - 80:8888
      - 443:8443
    deploy:
      replicas: 2
      resources:
        reservations:
          cpus: '0.05'
          memory: 128Mi
        limits:
          cpus: '0.10'
          memory: 256Mi
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
    volumes:
      - ./etc/nginx/ssl:/etc/nginx/ssl

networks:
  estime:
    external: true
    name: estime
