<app-page-loading *ngIf="isPageLoadingDisplay"
    message="Calcul de votre estimation en cours, cela peut prendre quelques secondes..."></app-page-loading>
<app-fil-etapes-desktop *ngIf="!screenService.isExtraSmallScreen()"></app-fil-etapes-desktop>
<app-fil-etapes-mobile *ngIf="screenService.isExtraSmallScreen()"></app-fil-etapes-mobile>
<div class="container-fluid container-etape" role="form">
    <div class="form-container-fluid">
        <alert type="danger" *ngIf="messageErreur">
            {{messageErreur}}
        </alert>
        <div class="div-title-formulaire">
            <h1 class="h1-style-1" [ngClass]="screenService.isExtraSmallScreen()?' headline-2-typo':'headline-1-typo'">
                4. {{pageTitlesEnum.MES_RESSOURCES_ACTUELLES}}
            </h1>
            <div class="text-under-h1 body-2-typo">
                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
            </div>
        </div>
        <div class="block-ressources">
            <div id="block-vos-ressources">
                <button type="button" class="btn accordion-btn" (click)="onClickButtonVosRessources()">
                    <div class="container-fluid container-fluid-button">
                        <div class="row">
                            <div class="col-2 col-md-1 col-euro-sign">
                                <img alt="" class="euro-sign" src="./assets/images/icones/euro.svg">
                            </div>
                            <div class="col-9 col-md-10 col-text-button headline-4-typo">
                                <div class="text-button">
                                    Vos ressources
                                    <img *ngIf="isVosRessourcesValides()" alt="" class="icon-ressources-validees"
                                        src="./assets/images/icones/check-red.svg">
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-chevron">
                                <div>
                                    <em *ngIf="isVosRessourcesDisplay"
                                        class="fas fa-chevron-up mt-auto mb-auto me-4 ms-auto"></em>
                                    <em *ngIf="!isVosRessourcesDisplay"
                                        class="fas fa-chevron-down mt-auto mb-auto me-4 ms-auto"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
                <app-vos-ressources-financieres [hidden]="!isVosRessourcesDisplay"
                    [ressourcesFinancieresAvantSimulation]="ressourcesFinancieresAvantSimulation"
                    (validationVosRessourcesEventEmitter)="traiterValidationVosRessourcesEventEmitter()"
                    (openModalPensionInvaliditeEtSalaires)="modalService.openModal(modalPensionInvaliditeEtSalaires)">
                </app-vos-ressources-financieres>
            </div>
            <div *ngIf="deConnecteSituationFamilialeService.hasConjoint()
                && !ressourceConjointSeulementRSA" id="block-ressources-conjoint">
                <button type="button" aria-describedby="label-vos-ressources" aria-label="Vos ressources en Euros"
                    class="btn accordion-btn" (click)="onClickButtonRessourcesConjoint()">
                    <div class="container-fluid container-fluid-button">
                        <div class="row">
                            <div class="col-2 col-md-1 col-euro-sign">
                                <img alt="" class="euro-sign" src="./assets/images/icones/euro.svg">
                            </div>
                            <div class="col-9 col-md-10 col-text-button headline-4-typo">
                                <div id="label-vos-ressources" class="text-button">
                                    Ressources conjoint(e)
                                    <img *ngIf="isRessourcesConjointValides()" alt="" class="icon-ressources-validees"
                                        src="./assets/images/icones/check-red.svg">
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-chevron">
                                <div>
                                    <em *ngIf="isRessourcesConjointDisplay"
                                        class="fas fa-chevron-up mt-auto mb-auto me-4 ms-auto"></em>
                                    <em *ngIf="!isRessourcesConjointDisplay"
                                        class="fas fa-chevron-down mt-auto mb-auto me-4 ms-auto"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
                <app-ressources-financieres-conjoint [hidden]="!isRessourcesConjointDisplay"
                    (validationRessourcesConjointEventEmitter)="traiterValidationRessourcesFinancieresConjointEventEmitter()">
                </app-ressources-financieres-conjoint>
            </div>
            <div *ngIf="deConnecteSituationFamilialeService.hasPersonneAChargeAgeLegal()
                && !ressourcePersonnesAChargeSeulementRSA" id="block-ressources-personnes-a-charge">
                <button type="button" aria-describedby="label-ressources-conjoint" aria-label="Vos ressources en Euros"
                    class="btn accordion-btn" (click)="onClickButtonRessourcesPersonnesCharge()">
                    <div class="container-fluid container-fluid-button">
                        <div class="row">
                            <div class="col-2 col-md-1 col-euro-sign">
                                <img alt="" class="euro-sign" src="./assets/images/icones/euro.svg">
                            </div>
                            <div class="col-9 col-md-10 col-text-button headline-4-typo">
                                <div id="label-ressources-conjoint" class="text-button">
                                    Ressources personne(s) à charge
                                    <img *ngIf="isRessourcesPersonnesAChargeValides()" alt=""
                                        class="icon-ressources-validees" src="./assets/images/icones/check-red.svg">
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-chevron">
                                <div>
                                    <em *ngIf="isRessourcesPersonnesChargeDisplay"
                                        class="fas fa-chevron-up mt-auto mb-auto me-4 ms-auto"></em>
                                    <em *ngIf="!isRessourcesPersonnesChargeDisplay"
                                        class="fas fa-chevron-down mt-auto mb-auto me-4 ms-auto"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
                <app-ressources-financieres-personnes-a-charge [hidden]="!isRessourcesPersonnesChargeDisplay"
                    (validationRessourcesPersonnesAChargeEventEmitter)="traiterValidationRessourcesFinancieresPersonnesChargeEventEmitter()">
                </app-ressources-financieres-personnes-a-charge>
            </div>
            <div id="block-ressources-foyer">
                <button type="button" class="btn accordion-btn" aria-describedby="label-ressources-foyer"
                    aria-label="Vos ressources en Euros" (click)="onClickButtonRessourcesFoyer()">
                    <div class="container-fluid container-fluid-button">
                        <div class="row">
                            <div class="col-2 col-md-1 col-euro-sign">
                                <img alt="" class="euro-sign" src="./assets/images/icones/euro.svg">
                            </div>
                            <div class="col-9 col-md-10 col-text-button headline-4-typo">
                                <div id="label-ressources-foyer" class="text-button">
                                    Ressources du foyer
                                    <img *ngIf="isRessourcesFoyerValides()" alt="" class="icon-ressources-validees"
                                        src="./assets/images/icones/check-red.svg">
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-chevron">
                                <div>
                                    <em *ngIf="isRessourcesFoyerDisplay"
                                        class="fas fa-chevron-up mt-auto mb-auto me-4 ms-auto"></em>
                                    <em *ngIf="!isRessourcesFoyerDisplay"
                                        class="fas fa-chevron-down mt-auto mb-auto me-4 ms-auto"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
                <app-ressources-financieres-foyer [hidden]="!isRessourcesFoyerDisplay"
                    [ressourcesFinancieresAvantSimulation]="ressourcesFinancieresAvantSimulation"
                    (validationRessourcesFoyerEventEmitter)="traiterValidationRessourcesFinancieresFoyerEventEmitter()">
                </app-ressources-financieres-foyer>
            </div>
        </div>
        <div class="row-btn-form" [ngClass]="{'row': this.screenService.isExtraSmallScreen()}">
            <div class="col" *ngIf="!screenService.isExtraSmallScreen()">
                <button *ngIf="!screenService.isExtraSmallScreen()" class="btn-precedent float-end"
                    (click)="onClickButtonRetour()" aria-label="Retour à la page précédente"
                    data-testid="btn-personnes-charge-retour" tag-navigation="clic_bouton_retour">
                    <div>
                        <img alt="" src="./assets/images/icones/fleche-gauche-grey.svg">
                        <span>Retour</span>
                    </div>
                </button>
            </div>
            <div class="col" [ngClass]="{'text-center col-12': this.screenService.isExtraSmallScreen()}">
                <button id="btn-obtenir-simulation" class="btn-suivant" aria-label="Obtenir mon estimation"
                    type="submit" data-testid="btn-obtenir-simulation" (click)="onClickButtonObtenirSimulation()"
                    tag-navigation="clic_bouton_obtenir_ma_simulation">
                    <div>
                        <span>Obtenir mon estimation</span>
                        <img alt="" src="./assets/images/icones/fleche-droite-pe-white.svg">
                    </div>
                </button>
            </div>
            <div *ngIf="this.screenService.isExtraSmallScreen()" class="text-center col-12 mt-3">
                <button class="btn-precedent" (click)="onClickButtonRetour()" aria-label="Retour à la page précédente"
                    data-testid="btn-personnes-charge-retour" tag-navigation="clic_bouton_retour">
                    <div>
                        <img alt="" src="./assets/images/icones/fleche-gauche-grey.svg">
                        <span>Retour</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #modalPensionInvaliditeEtSalaires>
    <app-tooltip [modalRef]="modalService.modalRef" atTag="popup_pension_invalidite_et_salaire" htmlData="
        <img alt='' src='./assets/images/icones/warning.svg'>
        <h4 class='headline-4-typo mt-4 mb-3'>
            Estime n'est pas en mesure d'effectuer l'estimation au regard de votre situation.
        </h3>
        <p class='body-1-typo'>
            Merci de vous renseigner auprès de l'organisme en charge du paiement de votre pension d'invalidité.
        </p>
        <a href='https://www.service-public.fr/particuliers/vosdroits/F15973' target='_blank' class='body-1-typo color-pe-red-typo text-strong text-decoration-none fw-bold'>
            Site de la Caisse primaire d’assurance maladie
            <img alt='' src='./assets/images/icones/open-in-new-window.svg'>
        </a>
        ">
    </app-tooltip>
</ng-template>