<div id="details-aide-container">
    <div class="div_bouton_retour_detail_aide div-vertically-centered justify-content-start div_detail_aide_with_padding"
        (click)="sideModalService.closeSideModalAide()" (keyup)="handleKeyUpOnRetour($event);" tabindex="0"
        tag-action="clic_bouton_retour_detail_aide">
        <span class="bouton_retour body-2-typo color-blue-10-typo">
            <i alt class="ps-2 pe-2 fas fa-chevron-left"></i>
            <span class="body-2-typo color-blue-10-typo">Retour</span>
        </span>
    </div>
    <div class="div_nom_aide justify-content-start div_detail_aide_with_padding">
        <div class="row">
            <div class="col-md-1 col-2 pe-1">
                <div *ngIf="aide.organisme" class="icone-organisme me-1" [ngClass]="aide.organisme.toLowerCase()">
                    <div class="">
                        <img alt="" [src]="'./assets/images/icon-'+aide.organisme.toLowerCase()+'.png'">
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-2 ps-1">
                <div class="code-ressource me-1" [ngClass]="[aide.code.toLowerCase()]">
                    <div class="">
                        <span class="overline-typo">{{aide.code}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-12 ps-1 div-vertically-centered"
                [ngClass]="{'pt-2': screenService.isScreenInferieur(1600)}">
                <span class="headline-2-typo color-blue-2-typo ms-2">{{ aide.nom }}</span>
            </div>
        </div>
    </div>
    <div class="card-body card-body-description div_detail_aide_with_padding">
        <div id="block-detail-aide" class="card-text" [innerHTML]="aide.detail"></div>
        <div *ngIf="aide.lienExterne" class="text-center">
            <button id="btn-aides-detail" type="button" aria-label="Faire la demande d'aide"
                class="btn-style-perso-1 btn-aides-suite" data-testid="btn-aides-detail"
                tag-action="clique_bouton_demande_aide_synthèse_{{aide.code}}" (click)="onClickFaireLaDemandeAide()">
                <div class="text-center">
                    <span class="me-2 button-typo">Faire la demande d'aide</span>
                    <img alt="" src="./assets/images/icon-bt-primaire.svg">
                </div>
            </button>
        </div>
    </div>
</div>