<div class="card card-body card-form card-form-style-3">
    <form (ngSubmit)="onSubmitRessourcesFinancieresFoyerForm(ressourcesFinancieresFoyerForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresFoyerFormSubmitted}" #ressourcesFinancieresFoyerForm="ngForm">
        <div>
            <div *ngIf="(informationsPersonnelles.isSalarie || informationsPersonnelles.isMicroEntrepreneur)"
                class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <p class="label headline-4-typo">
                            * Percevez-vous une prime d'activité ?
                            <button id="infobulle-prime-activite" class="img-interrogation-icon" placement="right"
                                tag-action="ouverture-infobulle-prime-activite"
                                aria-label="Qu'est ce que la prime d'activité ?"
                                (click)="modalService.openModalOnEvent($event, modalInfosPrimeActiviteTemplate)">
                                <img alt="" role="presentation" src="./assets/images/icones/question.svg">
                            </button>
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input id="hasPrimeActiviteOui" name="hasPrimeActiviteOui"
                                    aria-label="Vous percevez une prime d'activité"
                                    data-testid="btn-has-prime-activite-oui" type="radio" class="form-check-input"
                                    (keyup)="handleKeyUpOnButtonHasPrimeActivite($event)"
                                    (click)="onClickHasPrimeActivite($event)"
                                    [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.hasPrimeActivite"
                                    required [value]="true" #hasPrimeActivite="ngModel">
                                <label class="form-check-label body-2-typo" for="hasPrimeActiviteOui">
                                    oui
                                </label>
                            </div>
                            <div class="form-check form-check-inline ms-2">
                                <input id="hasPrimeActiviteNon" name="hasPrimeActiviteNon"
                                    aria-label="Vous ne percevez pas de prime d'activité"
                                    data-testid="btn-has-prime-activite-non" type="radio" class="form-check-input"
                                    (click)="onClickHasPrimeActivite($event)"
                                    (keyup)="handleKeyUpOnButtonHasPrimeActivite($event)"
                                    [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.hasPrimeActivite"
                                    required [value]="false" #hasPrimeActivite="ngModel">
                                <label class="form-check-label body-2-typo" for="hasPrimeActiviteNon">
                                    non
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || hasPrimeActivite.touched) && hasPrimeActivite.errors?.required">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div *ngIf="ressourcesFinancieresAvantSimulation.aidesCAF.hasPrimeActivite" class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <label class="label headline-4-typo" for="primeActivite">
                            * Prime d'Activité perçue
                        </label>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <input id="primeActivite" name="primeActivite" type="text"
                                aria-label="Montant de votre prime d'activité"
                                data-testid="input-montant-prime-activite"
                                pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" min="0"
                                maxlength="8" class="form-control d-inline"
                                [ngClass]="{'ng-invalid': ressourcesFinancieresAvantSimulation.aidesCAF.primeActivite && ressourcesFinancieresAvantSimulation.aidesCAF.primeActivite == 0}"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.primeActivite" required
                                placeholder="Montant" inputmode="numeric" #primeActivite="ngModel">
                            <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="ressourcesFinancieresAvantSimulation.aidesCAF.primeActivite && (ressourcesFinancieresAvantSimulation.aidesCAF.primeActivite == 0)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || primeActivite.touched)  && primeActivite.errors?.required">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || primeActivite.touched)  && primeActivite.errors?.pattern">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div *ngIf="deConnecteBeneficiaireAidesService.hasFoyerRSA()" class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <label class="label headline-4-typo" for="allocationRSAFoyer">
                            * RSA (Revenu de Solidarité Active) perçu
                            <button id="infobulle-montant-rsa" class="img-interrogation-icon" placement="right"
                                tag-action="clic_infobulle_rsa"
                                aria-label="Où trouver le montant du RSA de votre foyer ?"
                                (click)="modalService.openModalOnEvent($event, modalMontantRSATemplate)">
                                <img alt="" role="presentation" src="./assets/images/icones/question.svg">
                            </button>
                        </label>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <input id="allocationRSAFoyer" name="allocationRSAFoyer" type="text"
                                aria-label="Montant de votre allocation RSA"
                                data-testid="input-allocation-mensuelle-net-rsa-foyer"
                                pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" min="0"
                                maxlength="8" class="form-control d-inline"
                                [ngClass]="{'ng-invalid': ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA && ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA == 0}"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA" required
                                placeholder="Montant" inputmode="numeric" #allocationRSA="ngModel">
                            <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA && (ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA == 0)">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationRSA.touched)  && allocationRSA.errors?.required">
                                {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationRSA.touched)  && allocationRSA.errors?.pattern">
                                {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <p class="label headline-4-typo">
                            * Concernant votre logement, vous êtes :
                        </p>
                    </legend>
                    <div class="row">
                        <div class="col">
                            <button id="btn-situation-locataire-non-meuble" name="isLocataireNonMeuble"
                                aria-label="Vous êtes locataire d'un logement non meublé" aria-required="true"
                                [attr.aria-invalid]="isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()"
                                [ngClass]="{'ng-invalid':isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()}"
                                class="radio-button-style-1" data-testid="btn-situation-locataire-non-meuble"
                                [(ngModel)]="this.informationsPersonnelles.logement.statutOccupationLogement.isLocataireNonMeuble"
                                btnCheckbox tabindex="0" #isLocataireNonMeuble="ngModel"
                                (click)="onClickCheckBoxIsLocataireNonMeuble($event)"
                                (keyup)="handleKeyUpOnButtonStatutOccupationLogement($event, statutOccupationLogementEnum.LOCATAIRE_VIDE)">
                                <span class="body-2-typo">{{statutOccupationLogementLibelleEnum.LOCATAIRE_VIDE}}</span>
                            </button>
                            <button id="btn-situation-locataire-meuble" name="isLocataireMeuble"
                                aria-label="Vous êtes locataire d'un logement meublé" aria-required="true"
                                [attr.aria-invalid]="isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()"
                                [ngClass]="{'ng-invalid':isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()}"
                                class="radio-button-style-1" data-testid="btn-situation-locataire-meuble"
                                [(ngModel)]="this.informationsPersonnelles.logement.statutOccupationLogement.isLocataireMeuble"
                                btnCheckbox tabindex="0" #isLocataireMeuble="ngModel"
                                (click)="onClickCheckBoxIsLocataireMeuble($event)"
                                (keyup)="handleKeyUpOnButtonStatutOccupationLogement($event, statutOccupationLogementEnum.LOCATAIRE_MEUBLE)">
                                <span
                                    class="body-2-typo">{{statutOccupationLogementLibelleEnum.LOCATAIRE_MEUBLE}}</span>
                            </button>
                            <button id="btn-situation-locataire-hlm" name="isLocataireHLM"
                                aria-label="Vous êtes locataire d'un HLM" aria-required="true"
                                [attr.aria-invalid]="isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()"
                                [ngClass]="{'ng-invalid':isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()}"
                                class="radio-button-style-1" data-testid="btn-situation-locataire-hlm"
                                [(ngModel)]="this.informationsPersonnelles.logement.statutOccupationLogement.isLocataireHLM"
                                btnCheckbox tabindex="0" #isLocataireHLM="ngModel"
                                (click)="onClickCheckBoxIsLocataireHLM($event)"
                                (keyup)="handleKeyUpOnButtonStatutOccupationLogement($event, statutOccupationLogementEnum.LOCATAIRE_HLM)">
                                <span class="body-2-typo">{{statutOccupationLogementLibelleEnum.LOCATAIRE_HLM}}</span>
                            </button>
                            <button id="btn-situation-proprietaire-avec-emprunt" name="isProprietaireAvecEmprunt"
                                aria-label="Vous êtes propriétaire avec emprunt" aria-required="true"
                                [attr.aria-invalid]="isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()"
                                [ngClass]="{'ng-invalid':isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()}"
                                class="radio-button-style-1" data-testid="btn-situation-proprietaire-avec-emprunt"
                                [(ngModel)]="this.informationsPersonnelles.logement.statutOccupationLogement.isProprietaireAvecEmprunt"
                                btnCheckbox tabindex="0" #isProprietaireAvecEmprunt="ngModel"
                                (click)="onClickCheckBoxIsProprietaireAvecEmprunt($event)"
                                (keyup)="handleKeyUpOnButtonStatutOccupationLogement($event, statutOccupationLogementEnum.PROPRIETAIRE_AVEC_EMPRUNT)">
                                <span
                                    class="body-2-typo">{{statutOccupationLogementLibelleEnum.PROPRIETAIRE_AVEC_EMPRUNT}}</span>
                            </button>
                            <button id="btn-situation-proprietaire" name="isProprietaire"
                                aria-label="Vous êtes propriétaire sans emprunt" aria-required="true"
                                [attr.aria-invalid]="isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()"
                                [ngClass]="{'ng-invalid':isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()}"
                                class="radio-button-style-1" data-testid="btn-situation-proprietaire"
                                [(ngModel)]="this.informationsPersonnelles.logement.statutOccupationLogement.isProprietaire"
                                btnCheckbox tabindex="0" #isProprietaire="ngModel"
                                (click)="onClickCheckBoxIsProprietaire($event)"
                                (keyup)="handleKeyUpOnButtonStatutOccupationLogement($event, statutOccupationLogementEnum.PROPRIETAIRE)">
                                <span class="body-2-typo">{{statutOccupationLogementLibelleEnum.PROPRIETAIRE}}</span>
                            </button>
                            <button id="btn-situation-loge-gratuitement" name="isLogeGratuitement"
                                aria-label="Vous êtes logé à titre gratuit" aria-required="true"
                                [attr.aria-invalid]="isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()"
                                [ngClass]="{'ng-invalid':isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()}"
                                class="radio-button-style-1" data-testid="btn-situation-loge-gratuitement"
                                [(ngModel)]="informationsPersonnelles.logement.statutOccupationLogement.isLogeGratuitement"
                                btnCheckbox tabindex="0" #isLogeGratuitement="ngModel"
                                (click)="onClickCheckBoxIsLogeGratuitement($event)"
                                (keyup)="handleKeyUpOnButtonStatutOccupationLogement($event, statutOccupationLogementEnum.LOGE_GRATUITEMENT)">
                                <span
                                    class="body-2-typo">{{statutOccupationLogementLibelleEnum.LOGE_GRATUITEMENT}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="isRessourcesFinancieresFoyerFormSubmitted  && !isStatutOccupationLogementSelectionne()">
                                {{controleChampFormulaireService.MESSAGE_SELECTION_AU_MOINS_UN_STATUT_OCCUPATION_LOGEMENT}}
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div *ngIf="isConcerneParAideLogement()" class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <p class="label headline-4-typo">
                            * Votre logement est :
                        </p>
                    </legend>
                    <div class="row pb-3">
                        <div class="col">
                            <button id="btn-situation-logement-crous" name="isCrous"
                                aria-label="Votre logement est un logement CROUS" class="radio-button-style-1"
                                data-testid="btn-situation-logement-crous"
                                [(ngModel)]="this.informationsPersonnelles.logement.isCrous" btnCheckbox tabindex="0"
                                #isCrous="ngModel" (click)="onClickCheckBoxIsCrous($event)"
                                (keyup)="handleKeyUpOnButtonIsCrous($event)">
                                <span class="body-2-typo">Un logement CROUS</span>
                            </button>
                            <button id="btn-situation-logement-conventionne" name="isConventionne"
                                aria-label="Votre logement est un logement conventionné" class="radio-button-style-1"
                                data-testid="btn-situation-logement-conventionne"
                                [(ngModel)]="this.informationsPersonnelles.logement.isConventionne" btnCheckbox
                                tabindex="0" #isConventionne="ngModel" (click)="onClickCheckBoxIsConventionne($event)"
                                (keyup)="handleKeyUpOnButtonIsConventionne($event)">
                                <span class="body-2-typo">Un logement conventionné</span>
                            </button>
                            <button id="btn-situation-logement-colloc" name="isColloc"
                                aria-label="Votre logement est un logement en collocation" class="radio-button-style-1"
                                data-testid="btn-situation-locataire-hlm"
                                [(ngModel)]="this.informationsPersonnelles.logement.isColloc" btnCheckbox tabindex="0"
                                #isColloc="ngModel" (click)="onClickCheckBoxIsColloc($event)"
                                (keyup)="handleKeyUpOnButtonIsColloc($event)">
                                <span class="body-2-typo">Une collocation</span>
                            </button>
                            <button id="btn-situation-logement-chambre" name="isChambre"
                                aria-label="Votre logement est une chambre" class="radio-button-style-1"
                                data-testid="btn-situation-logement-chambre"
                                [(ngModel)]="this.informationsPersonnelles.logement.isChambre" btnCheckbox tabindex="0"
                                #isChambre="ngModel" (click)="onClickCheckBoxIsChambre($event)"
                                (keyup)="handleKeyUpOnButtonIsChambre($event)">
                                <span class="body-2-typo">Une chambre</span>
                            </button>
                            <button id="btn-situation-aucun-cas" name="isAucunCas"
                                aria-label="Votre logement ne correspond à aucun des cas précédents"
                                class="radio-button-style-1" data-testid="btn-situation-aucun-cas"
                                [(ngModel)]="this.isAucunCas" btnCheckbox tabindex="0" role="button"
                                (click)="onClickCheckBoxIsAucunCas($event)"
                                (keyup)="handleKeyUpOnButtonIsAucunCas($event)">
                                <span class="body-2-typo">Aucun de ces cas</span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <p class="label headline-4-typo">
                            Percevez-vous une de ces aides au logement ?
                        </p>
                    </legend>
                    <div class="row pb-3">
                        <div class="col">
                            <button id="btn-beneficiaire-apl" #beneficiaireAPL="ngModel"
                                (click)="onClickCheckBoxHasAPL($event)" name="beneficiaireAPL"
                                aria-label="Vous êtes bénéficiaire de l'APL"
                                [ngClass]="{'ms-1':!screenService.isExtraSmallScreen()}" class="radio-button-style-1"
                                data-testid="btn-beneficiaire-apl" btnCheckbox tabindex="0"
                                [(ngModel)]="beneficiaireAides.beneficiaireAPL"
                                (keyup)="handleKeyUpOnButtonAPL($event)">
                                <span class="body-2-typo">{{libellesAidesEnum.AIDE_PERSONNALISEE_LOGEMENT}}
                                    ({{codesAidesEnum.AIDE_PERSONNALISEE_LOGEMENT}})</span>
                            </button>
                            <button id="btn-beneficiaire-alf" #beneficiaireALF="ngModel"
                                (click)="onClickCheckBoxHasALF($event)" name="beneficiaireALF"
                                aria-label="Vous êtes bénéficiaire de l'ALF"
                                [ngClass]="{'ms-1':!screenService.isExtraSmallScreen()}" class="radio-button-style-1"
                                data-testid="btn-beneficiaire-alf" btnCheckbox tabindex="0"
                                [(ngModel)]="beneficiaireAides.beneficiaireALF"
                                (keyup)="handleKeyUpOnButtonALF($event)">
                                <span class="body-2-typo">{{libellesAidesEnum.ALLOCATION_LOGEMENT_FAMILIALE}}
                                    ({{codesAidesEnum.ALLOCATION_LOGEMENT_FAMILIALE}})</span>
                            </button>
                            <div *ngIf="!screenService.isExtraSmallScreen()"></div>
                            <button id="btn-beneficiaire-als" #beneficiaireALS="ngModel"
                                (click)="onClickCheckBoxHasALS($event)" name="beneficiaireALS"
                                aria-label="Vous êtes bénéficiaire de l'ALS"
                                [ngClass]="{'ms-1':!screenService.isExtraSmallScreen()}" class="radio-button-style-1"
                                data-testid="btn-beneficiaire-als" btnCheckbox tabindex="0"
                                [(ngModel)]="beneficiaireAides.beneficiaireALS"
                                (keyup)="handleKeyUpOnButtonALS($event)">
                                <span class="body-2-typo">{{libellesAidesEnum.ALLOCATION_LOGEMENT_SOCIALE}}
                                    ({{codesAidesEnum.ALLOCATION_LOGEMENT_SOCIALE}})</span>
                            </button>
                            <button id="btn-non-beneficiaire-al" #nonBeneficiaireAL="ngModel"
                                (click)="onClickCheckBoxPasDAL($event)" name="nonBeneficiaireAL"
                                aria-label="Vous n'êtes pas bénéficiaire d'une aide au logement"
                                [ngClass]="{'ms-1':!screenService.isExtraSmallScreen()}"
                                class="radio-button-style-1 btn-al" data-testid="btn-non-beneficiaire-al" btnCheckbox
                                tabindex="0" [(ngModel)]="isNonBeneficiaireAL"
                                (keyup)="handleKeyUpOnButtonPasDAL($event)">
                                <span class="body-2-typo">Je ne perçois pas d'aide au logement</span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div *ngIf="deConnecteBeneficiaireAidesService.isBeneficiaireAideLogement()" class="row">
                <fieldset class="col-12">
                    <legend class="row">
                        <p class="label headline-4-typo">
                            * Allocations logement perçues pour les 3 derniers mois
                        </p>
                    </legend>
                    <div class="row pb-3">
                        <div class="col">
                            <input *ngIf="beneficiaireAides.beneficiaireAPL"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(1)}}"
                                name="aplMoisNMoins1" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-apl-mois-moins-1"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.aidePersonnaliseeLogement.moisNMoins1"
                                inputmode="numeric" required (click)="$event.target.select()" #aplMoisNMoins1="ngModel">
                            <input *ngIf="beneficiaireAides.beneficiaireALF"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(1)}}"
                                name="alfMoisNMoins1" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-alf-mois-moins-1"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.allocationLogementFamiliale.moisNMoins1"
                                inputmode="numeric" required (click)="$event.target.select()" #alfMoisNMoins1="ngModel">
                            <input *ngIf="beneficiaireAides.beneficiaireALS"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(1)}}"
                                name="alsMoisNMoins1" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-als-mois-moins-1"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.allocationLogementSociale.moisNMoins1"
                                inputmode="numeric" required (click)="$event.target.select()" #alsMoisNMoins1="ngModel">
                            <app-text-with-euro-symbol *ngIf="!screenService.isExtraSmallScreen()"
                                [message]="'au mois de ' + this.dateUtileService.getDateFormateeAvantDateJour(1)">
                            </app-text-with-euro-symbol>
                            <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"
                                [message]="this.dateUtileService.getDateFormateeAvantDateJour(1)">
                            </app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input *ngIf="beneficiaireAides.beneficiaireAPL"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(2)}}"
                                name="aplMoisNMoins2" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-apl-mois-moins-2"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.aidePersonnaliseeLogement.moisNMoins2"
                                inputmode="numeric" required (click)="$event.target.select()" #aplMoisNMoins2="ngModel">
                            <input *ngIf="beneficiaireAides.beneficiaireALF"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(2)}}"
                                name="alfMoisNMoins2" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-alf-mois-moins-2"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.allocationLogementFamiliale.moisNMoins2"
                                inputmode="numeric" required (click)="$event.target.select()" #alfMoisNMoins2="ngModel">
                            <input *ngIf="beneficiaireAides.beneficiaireALS"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(2)}}"
                                name="alsMoisNMoins2" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-als-mois-moins-2"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.allocationLogementSociale.moisNMoins2"
                                inputmode="numeric" required (click)="$event.target.select()" #alsMoisNMoins2="ngModel">
                            <app-text-with-euro-symbol *ngIf="!screenService.isExtraSmallScreen()"
                                [message]="'au mois de ' + this.dateUtileService.getDateFormateeAvantDateJour(2)">
                            </app-text-with-euro-symbol>
                            <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"
                                [message]="this.dateUtileService.getDateFormateeAvantDateJour(2)">
                            </app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input *ngIf="beneficiaireAides.beneficiaireAPL"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(3)}}"
                                name="aplMoisNMoins3" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-apl-mois-moins-3"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.aidePersonnaliseeLogement.moisNMoins3"
                                inputmode="numeric" required (click)="$event.target.select()" #aplMoisNMoins3="ngModel">
                            <input *ngIf="beneficiaireAides.beneficiaireALF"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(3)}}"
                                name="alfMoisNMoins3" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-alf-mois-moins-3"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.allocationLogementFamiliale.moisNMoins3"
                                inputmode="numeric" required (click)="$event.target.select()" #alfMoisNMoins3="ngModel">
                            <input *ngIf="beneficiaireAides.beneficiaireALS"
                                attr.aria-label="Allocations logement perçue au mois de {{this.dateUtileService.getDateFormateeAvantDateJour(3)}}"
                                name="alsMoisNMoins3" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                data-testid="input-als-mois-moins-3"
                                (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                type="text" min="0" maxlength="6"
                                class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesLogement.allocationLogementSociale.moisNMoins3"
                                inputmode="numeric" required (click)="$event.target.select()" #alsMoisNMoins3="ngModel">
                            <app-text-with-euro-symbol *ngIf="!screenService.isExtraSmallScreen()"
                                [message]="'au mois de ' + this.dateUtileService.getDateFormateeAvantDateJour(3)">
                            </app-text-with-euro-symbol>
                            <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"
                                [message]="this.dateUtileService.getDateFormateeAvantDateJour(3)">
                            </app-text-with-euro-symbol>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12">
                            <span class="error-input-message" role="alert"
                                *ngIf="isRessourcesFinancieresFoyerFormSubmitted && isAuMoinsUneAideLogementSuperieureAZero();">
                                {{controleChampFormulaireService.MESSAGE_MONTANTS_0}}
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div *ngIf="isConcerneParAideLogement()" class="row">
            <fieldset class="col-12">
                <legend class="row">
                    <label class="label headline-4-typo" for="montantLoyer">
                        * Montant de votre loyer mensuel hors charges
                    </label>
                </legend>
                <div class="row">
                    <div class="col">
                        <input id="montantLoyer" name="montantLoyer" aria-label="Montant de votre loyer" type="text"
                            data-testid="input-montant-loyer" pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" min="0"
                            maxlength="8" class="form-control d-inline" (click)="$event.target.select()"
                            [ngClass]="{'ng-invalid': this.informationsPersonnelles.logement.montantLoyer && this.informationsPersonnelles.logement.montantLoyer == 0}"
                            [(ngModel)]="informationsPersonnelles.logement.montantLoyer" required placeholder="Montant"
                            inputmode="numeric" #montantLoyer="ngModel">
                        <app-text-with-euro-symbol></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || montantLoyer.touched) && this.informationsPersonnelles.logement.montantLoyer == 0">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || montantLoyer.touched)  && montantLoyer.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || montantLoyer.touched)  && montantLoyer.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div *ngIf="isConcerneParDeclarationTrimestrielle()" class="row">
            <fieldset class="col-12">
                <legend class="row">
                    <label class="label pb-3 headline-4-typo" for="prochaineDeclarationTrimestrielle">
                        * Au cours de quel mois ferez-vous votre prochaine déclaration trimestrielle CAF ?
                        <button id="infobulle-prochaine-declaration-trimestrielle" class="img-interrogation-icon"
                            placement="right" tag-action="clic_infobulle_prochaine_declaration_trimestrielle"
                            aria-label="Où trouver la date de votre prochaine déclaration trimestrielle CAF ?"
                            (click)="modalService.openModalOnEvent($event, modalProchaineDeclarationTrimestrielleTemplate)">
                            <img alt="" role="presentation" src="./assets/images/icones/question.svg">
                        </button>
                    </label>
                </legend>
                <div class="row pb-3">
                    <div class="col-12">
                        <select id="prochaineDeclarationTrimestrielle" name="prochaineDeclarationTrimestrielle"
                            aria-label="La date de votre prochaine déclaration trimestrielle"
                            data-testid="select-prochaine-declaration-rsa-foyer"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.prochaineDeclarationTrimestrielle"
                            class="fit-content form-select"
                            [ngClass]="{'option-selected':ressourcesFinancieresAvantSimulation.aidesCAF.prochaineDeclarationTrimestrielle !== null}"
                            data-width="auto" required #prochaineDeclarationTrimestrielle="ngModel">
                            <option [value]="null" disabled>
                                Sélectionner
                            </option>
                            <option
                                *ngFor="let moisProchaineDeclarationTrimestrielle of optionsProchaineDeclarationTrimestrielle"
                                [value]="moisProchaineDeclarationTrimestrielle.value">
                                {{ moisProchaineDeclarationTrimestrielle.label }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || prochaineDeclarationTrimestrielle.touched)  && prochaineDeclarationTrimestrielle.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div *ngIf="deConnecteSituationFamilialeService.hasPersonneAChargeSuperieur(1)" class="row">
            <fieldset class="col-12">
                <legend class="row">
                    <label class="label headline-4-typo" for="montantAllocationsFamiliales">
                        * Allocations familiales
                    </label>
                </legend>
                <div class="row">
                    <div class="col">
                        <input id="montantAllocationsFamiliales" aria-label="Allocations familiales du mois dernier"
                            name="montantAllocationsFamiliales" data-testid="input-af"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                            min="0" maxlength="6" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesFamiliales.allocationsFamiliales"
                            inputmode="numeric" required (click)="$event.target.select()"
                            #allocationsFamiliales="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsFamiliales?.touched)  && allocationsFamiliales?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationsFamiliales.touched)  && allocationsFamiliales.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div *ngIf="deConnecteSituationFamilialeService.hasPersonneAChargeSuperieur(0)" class="row">
            <fieldset class="col-12">
                <legend class="row">
                    <label class="label headline-4-typo" for="montantAllocationSoutienFamiliale">
                        * Allocation soutien familial
                    </label>
                </legend>
                <div class="row">
                    <div class="col">
                        <input id="montantAllocationSoutienFamiliale"
                            aria-label="Montant de votre allocation de soutien familiale du mois dernier"
                            name="montantAllocationSoutienFamiliale" data-testid="input-asf"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                            min="0" maxlength="6" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesFamiliales.allocationSoutienFamilial"
                            inputmode="numeric" required (click)="$event.target.select()"
                            #allocationSoutienFamilial="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationSoutienFamilial?.touched)  && allocationSoutienFamilial?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || allocationSoutienFamilial.touched)  && allocationSoutienFamilial.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div *ngIf="deConnecteSituationFamilialeService.has3PersonnesAChargeEntre3Et21Ans()" class="row">
            <fieldset class="col-12">
                <legend class="row">
                    <label class="label headline-4-typo" for="montantComplementFamilial">
                        * Complément familial
                    </label>
                </legend>
                <div class="row">
                    <div class="col">
                        <input id="montantComplementFamilial"
                            aria-label="Montant de votre complément familial du mois dernier"
                            name="montantComplementFamilial" data-testid="input-cf"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                            min="0" maxlength="6" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesFamiliales.complementFamilial"
                            inputmode="numeric" required (click)="$event.target.select()" #complementFamilial="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || complementFamilial?.touched)  && complementFamilial?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || complementFamilial.touched)  && complementFamilial.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div *ngIf="deConnecteSituationFamilialeService.hasPersonneAChargeMoinsDe3Ans();" class="row">
            <fieldset class="col-12">
                <legend class="row">
                    <label class="label headline-4-typo" for="montantPAJEFoyer">
                        * PAJE (prestation d'accueil du jeune enfant)
                    </label>
                </legend>
                <div class="row">
                    <div class="col">
                        <input id="montantPAJEFoyer" name="montantPAJEFoyer"
                            aria-label="Montant de votre prestation d'accueil pour jeune enfant"
                            data-testid="input-prestation-accueil-jeune-enfant"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                            min="0" maxlength="6" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesFamiliales.prestationAccueilJeuneEnfant"
                            inputmode="numeric" required (click)="$event.target.select()"
                            #prestationAccueilJeuneEnfantFoyer="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || prestationAccueilJeuneEnfantFoyer?.touched)  && prestationAccueilJeuneEnfantFoyer?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || prestationAccueilJeuneEnfantFoyer.touched)  && prestationAccueilJeuneEnfantFoyer.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div *ngIf="deConnecteSituationFamilialeService.hasPersonneAChargeSuperieur(0)" class="row">
            <fieldset class="col-12">
                <legend class="row">
                    <label class="label headline-4-typo" for="montantPensionsAlimentairesFoyer">
                        * Pensions alimentaires du foyer perçues
                    </label>
                </legend>
                <div class="row">
                    <div class="col">
                        <input id="montantPensionsAlimentairesFoyer" name="montantPensionsAlimentairesFoyer"
                            aria-label="Montant de votre pension alimentaire perçue"
                            pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                            min="0" maxlength="6" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.aidesFamiliales.pensionsAlimentairesFoyer"
                            inputmode="numeric" required (click)="$event.target.select()"
                            #pensionsAlimentairesFoyer="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || pensionsAlimentairesFoyer?.touched)  && pensionsAlimentairesFoyer?.errors?.required">
                            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="error-input-message" role="alert"
                            *ngIf="(isRessourcesFinancieresFoyerFormSubmitted || pensionsAlimentairesFoyer.touched)  && pensionsAlimentairesFoyer.errors?.pattern">
                            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row row-button-valider">
            <div class="col">
                <button id="btn-ressources-foyer-valider" aria-label="Valider ressources financière de votre foyer"
                    class="btn-style-perso-3 button-typo" type="submit" data-testid="btn-ressources-foyer-valider"
                    tag-action="clic_bouton_valider_ressources_foyer">
                    <div>
                        <span>Valider</span>
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #modalMontantRSATemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-1-typo'>
            Sur votre dernière attestation de paiement CAF 👇
        </p>
        <div class='row mb-5'>
            <img alt='' role='presentation' src='./assets/images/exemples/attestation-rsa.png'>
        </div>">
    </app-tooltip>
</ng-template>

<ng-template #modalProchaineDeclarationTrimestrielleTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-1-typo'>
            Sur votre espace CAF, dans la rubrique “mon agenda”
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalInfosPrimeActiviteTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-1-typo'>
            La Prime d'activité est une aide financière versée tous les mois par la Caf pour compléter les revenus d'une activité salariée ou indépendante.
        </p>">
    </app-tooltip>
</ng-template>