@import "../../../../../../assets/scss/variables";

.action-suite {
  background: white;
  border-radius: 1.5rem !important;
  border: none;
  padding: 1.5rem !important;
  cursor: pointer;

  img {
    width: 4rem;
    height: 4rem;

    @media #{$extra-small-device} {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  .col-text {
    @media #{$extra-small-device} {
      padding-left: 2rem;
    }
  }
}