<div class="modal-header">
  <span class="float-right label-close" (click)="onClickButtonClosePopup()">Fermer</span>
  <button type="button" class="btn-close close pull-right" aria-label="Fermer" (click)="onClickButtonClosePopup()"
    focus>
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <div class="row">
      <div class="col-1" aria-label="Informations">
        <img alt="" src="./assets/images/info-black.svg">
      </div>
      <div class="col-10">
        <h4 class='headline-4-typo headline-4-typo-color text-center'>
          Le service ESTIME est destiné aux bénéficiaires des minimas-sociaux inscrits à Pôle emploi.
        </h4>
      </div>
    </div>
    <p class='body-2-typo text-center'>
      Le service n'est pour le moment pas ouvert <span class="font-weight-bold">aux bénéficiaires de l'ARE</span>.
      Nous
      travaillons activement pour réussir à vous proposer le service dans les prochains mois.
    </p>
    <p class='body-2-typo text-center'>
      Merci de votre compréhension.
    </p>
  </div>
</div>