@import "../../../../assets/scss/variables";

.modal-base {
  background-color: $color-white-1;
  color: $color-blue-1;
}



.modal-header {
  @extend .modal-base;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 1rem;

  p {
    font-size: 1.125em;
  }

  button {
    opacity: unset !important;

    span {
      font-size: 1.5em;
      color: $color-blue-1;
    }

    &:focus {
      outline: unset;
    }
  }
}

.modal-body {
  @extend .modal-base;
  border-bottom: 0;
  margin-bottom: 1.25rem;
  font-size: 1.125em;

  span {
    font-size: 1.125em;
  }
}