<div class="modal-header">
  <span class="float-right label-close" (click)="onClickButtonClosePopup()">Fermer</span>
  <button type="button" class="btn-close close pull-right" aria-label="Fermer" (click)="onClickButtonClosePopup()"
    focus>
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <div class="row">
      <div class="col-1" aria-label="Informations">
        <img alt="" src="./assets/images/info-black.svg">
      </div>
      <div class="col-11">
        <h4 class='headline-4-typo headline-4-typo-color text-center'>
          Le service ESTIME est destiné aux demandeurs d'emploi inscrits à Pôle emploi qui dépendent du régime général
          de l'assurance chômage.
        </h4>
      </div>
    </div>
    <p class='body-2-typo text-center'>
      Certaines professions et certains territoires ont des règles particulières. Vous pouvez
      retrouver les détails sur pole-emploi.fr,
      «
      <a target="_blank"
        href="https://www.pole-emploi.fr/candidat/mes-droits-aux-aides-et-allocati/a-chaque-situation-son-allocatio.html">
        chaque situation son allocation
      </a>
      ».
    </p>
    <p class='body-2-typo text-center'>
      Merci de votre compréhension.
    </p>
  </div>
</div>