<div class="modal-header">
  <div class="col-1">
    <img alt="Icône information" src="./assets/images/info-black.svg">
  </div>

  <div class="col-10 text-center">
    <p class="font-weight-bold">Le service ESTIME est destiné aux bénéficiaires des minimas-sociaux inscrits à Pôle
      emploi.</p>
  </div>

  <div class="col-1">
    <button type="button" class="close pull-right m-0 p-0" aria-label="Close" (click)="onClickButtonClosePopup()">
      <i class="fas fa-times-circle mb-2  ml-auto"></i>
    </button>
  </div>

</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        Le service n'est pour le moment pas ouvert <span class="font-weight-bold">aux bénéficiaires de l'ARE</span>. Nous
        travaillons activement pour réussir à vous proposer le service dans les prochains mois.
        <br>
        <br>
        Merci de votre compréhension.
      </div>
    </div>
  </div>
</div>