<div class="container-fluid form-container-fluid div-fil-etapes-simulation">
    <ol class="etapes">
        <li
            *ngFor="let etapeSimulation of etapesSimulation; let index = index;"
            [ngClass]="{'etape-active': etapeActive === etapeSimulation.numero, 'etape-completee': etapeActive > etapeSimulation.numero, 'etape-a-completee': etapeActive < etapeSimulation.numero}"
            class="etape">
            <div class="numero-etape">
              <span *ngIf="etapeActive <= etapeSimulation.numero">{{etapeSimulation.numero}}</span>
              <span *ngIf="etapeActive > etapeSimulation.numero" id="checkmark"></span>
            </div>
            <div class="titre-etape" [innerHTML]="etapeSimulation.titre"></div>
        </li>
    </ol>
</div>
