<div id="div-aides-actuelles" class="div-aides-container">
    <span class="row title-liste-details-aides-style-1">Mes ressources et aides actuelles</span>
    <hr class="title-hr">
    <div class="row">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemSalaireIsNotLast()}" >
                    <app-item-ressource-actuelle
                        [codeRessource]="codesRessourcesFinancieresEnum.PAIE"
                        data-testid="row-paie"
                        [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.SALAIRE"
                        [montantRessource]=" demandeurEmploiConnecte.futurTravail.salaire.montantNet">
                    </app-item-ressource-actuelle>

                </li>
                <li
                    class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemRevenusMicroEntrepriseIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois > 0">
                    <app-item-ressource-actuelle
                        [codeRessource]="codesRessourcesFinancieresEnum.MICRO_ENTREPRENEUR"
                        [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.MICRO_ENTREPRENEUR"
                        [montantRessource]="deConnecteRessourcesFinancieresService.getRevenusMicroEntrepriseSur1Mois()">
                    </app-item-ressource-actuelle>

                </li>
                <li
                    class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemBeneficesTravailleurIndependantIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice > 0">
                    <app-item-ressource-actuelle
                        [codeRessource]="codesRessourcesFinancieresEnum.TRAVAILLEUR_INDEPENDANT"
                        [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.TRAVAILLEUR_INDEPENDANT"
                        [montantRessource]="deConnecteRessourcesFinancieresService.getBeneficesTravailleurIndependantSur1Mois()">
                    </app-item-ressource-actuelle>

                </li>
                <li
                    class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemRevenusImmobilierIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.revenusImmobilier3DerniersMois > 0">
                    <app-item-ressource-actuelle
                        [codeRessource]="codesRessourcesFinancieresEnum.IMMOBILIER"
                        [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.IMMOBILIER"
                        [montantRessource]="deConnecteRessourcesFinancieresService.getRevenusImmobilierSur1Mois()">
                    </app-item-ressource-actuelle>

                </li>
                <li
                    class="list-group-item li-aide-selectable"
                    tabindex="0"
                    [ngClass]="{'is-item-not-last': isItemAahIsNotLast()}"
                    *ngIf="aidesService.getMontantAAH(simulationSelected) > 0"
                    (keyup)="handleKeyUpOnAideActuelle($event, codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)">
                    <button
                        type="button"
                        role="button"
                        class="btn"
                        tabindex="-1"
                        style="cursor: pointer;"
                        [ngClass]="{'active': isAideSelected(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)}"
                        (click)="onClickButtonAideActuelle(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)">
                        <app-item-ressource-actuelle
                            [codeRessource]="codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES"
                            [isColPictoArrowDisplay]="true"
                            [isAideSelected]="isAideSelected(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)"
                            [libelleRessource]="libellesAidesEnum.ALLOCATION_ADULTES_HANDICAPES"
                            [montantRessource]="aidesService.getMontantAAH(simulationSelected)"
                            [organismeRessource]="organismeAidesEnum.CAF">
                        </app-item-ressource-actuelle>
                    </button>
                </li>
                <app-detail-aide *ngIf="aideSelected && aideSelected.code === codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES" [aideSelected]="aideSelected"></app-detail-aide>
                <li
                    class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemPensionInvaliditeIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.aidesCPAM?.pensionInvalidite > 0">
                    <app-item-ressource-actuelle
                        [codeRessource]="codesAidesEnum.PENSION_INVALIDITE"
                        [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.PENSION_INVALIDITE"
                        [montantRessource]="aidesService.getMontantPensionInvalidite(demandeurEmploiConnecte)"
                        [organismeRessource]="organismeAidesEnum.CPAM">
                    </app-item-ressource-actuelle>

                </li>
                <li
                    class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemAllocationSupplementaireInvaliditeIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.aidesCPAM?.allocationSupplementaireInvalidite > 0">
                    <app-item-ressource-actuelle
                        [codeRessource]="codesAidesEnum.ALLOCATION_SUPPLEMENTAIRE_INVALIDITE"
                        [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.ALLOCATION_SUPPLEMENTAIRE_INVALIDITE"
                        [montantRessource]="aidesService.getMontantAllocationSupplementaireInvalidite(demandeurEmploiConnecte)"
                        [organismeRessource]="organismeAidesEnum.CPAM">
                    </app-item-ressource-actuelle>

                </li>
                <li
                    class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemRsaIsNotLast()}"
                    *ngIf="aidesService.getMontantRSA(simulationSelected) > 0">
                    <app-item-ressource-actuelle
                        [codeRessource]="codesAidesEnum.RSA"
                        data-testid="row-rsa"
                        [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.RSA"
                        [montantRessource]="aidesService.getMontantRSA(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>

                </li>
                <li
                    class="list-group-item li-aide-selectable"
                    tabindex="0"
                    *ngIf="aidesService.getMontantASS(simulationSelected) > 0"
                    (keyup)="handleKeyUpOnAideActuelle($event, codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)">
                    <button
                        type="button"
                        role="button"
                        class="btn"
                        tabindex="  -1"
                        style="cursor: pointer;"
                        [ngClass]="{'active': isAideSelected(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)}"
                        (click)="onClickButtonAideActuelle(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)">
                        <app-item-ressource-actuelle
                            [codeRessource]="codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE"
                            data-testid="row-ass"
                            [isColPictoArrowDisplay]="true"
                            [isAideSelected]="isAideSelected(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)"
                            [libelleRessource]="libellesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE"
                            [montantRessource]="aidesService.getMontantASS(simulationSelected)"
                            [organismeRessource]="organismeAidesEnum.POLE_EMPLOI">
                        </app-item-ressource-actuelle>
                    </button>
                </li>
                <app-detail-aide *ngIf="aideSelected && aideSelected.code === codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE" [aideSelected]="aideSelected"></app-detail-aide>
            </ul>
        </div>
        <div
            *ngIf="aidesService.getMessageAlerteASS(simulationSelected)"
            class="card card-body card-message-alerte-aide">
            <div class="row">
                <div class="img-card-message-alerte-aide col-auto">
                    <div>
                        <img alt="Icône information" src="./assets/images/info.svg">
                    </div>
                </div>
                <div class="col">
                    <span>
                        {{aidesService.getMessageAlerteASS(simulationSelected)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div-aides-obtenir" class="div-aides-container" *ngIf="aidesService.hasAidesObtenir(simulationSelected)">
    <span class="row title-liste-details-aides-style-1">
        Les aides que vous pouvez demander
    </span>
    <hr class="title-hr">
    <div class="row">
        <div id="card-aides-obtenir" class="card">
            <ul class="list-group list-group-flush">
                <div *ngFor="let aideKeyValue of simulationSelected.mesAides | keyvalue | callback: filtrerAidesSimulationMensuelle; let index = index;">
                    <li
                    class="list-group-item li-aide-selectable"
                    tabindex="0"
                    [ngClass]="{'active': isAideSelected(aideKeyValue.value.code), 'is-item-not-last': !isLastAideKeyValue(index)}"
                    (keyup)="handleKeyUpOnAideObtenir($event,aideKeyValue.value)">
                        <button
                            type="button"
                            role="button"
                            class="btn"
                            tabindex="-1"
                            [ngClass]="{}"
                            (click)="onClickButtonAideObtenir(aideKeyValue.value)">
                            <app-item-ressource-actuelle
                                [codeRessource]="aideKeyValue.value.code"
                                [isAideSelected]="isAideSelected(aideKeyValue.value.code)"
                                [isColPictoArrowDisplay]="true"
                                [libelleRessource]="aideKeyValue.value.nom"
                                [montantRessource]="aideKeyValue.value.montant"
                                [organismeRessource]="aideKeyValue.value.organisme">
                            </app-item-ressource-actuelle>
                        </button>
                    </li>
                    <app-detail-aide *ngIf="isAideSelected(aideKeyValue.value.code) && aidesService.isAideDemandeurPourraObtenir(aideSelected)" [aideSelected]="aideSelected"></app-detail-aide>
                    <div
                        *ngIf="(aidesService.getMessageAlerteAGEPI(simulationSelected) && aideKeyValue.value.code == codesAidesEnum.AGEPI)"
                        class="card card-body card-message-alerte-aide">
                        <div class="row">
                            <div class="img-card-message-alerte-aide col-auto">
                                <div>
                                    <img alt="Icône information" src="./assets/images/info.svg">
                                </div>
                            </div>
                            <div class="col">
                                <span>
                                    {{aidesService.getMessageAlerteAGEPI(simulationSelected)}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="(aidesService.getMessageAlertePrimeActiviteRSA(simulationSelected) && aideKeyValue.value.code == codesAidesEnum.PRIME_ACTIVITE)"
                        class="card card-body card-message-alerte-aide">
                        <div class="row">
                            <div class="img-card-message-alerte-aide col-auto">
                                <div>
                                    <img alt="Icône information" src="./assets/images/info.svg">
                                </div>
                            </div>
                            <div class="col">
                                <span>
                                    {{aidesService.getMessageAlertePrimeActiviteRSA(simulationSelected)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

