<div id="div-aides-actuelles" class="div-aides-container">
    <span class="row title-liste-details-aides-style-1 headline-5-typo">Mes ressources et aides actuelles</span>
    <hr class="title-hr">
    <div class="row">
        <div class="card card-simulation-mensuelle">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemSalaireIsNotLast()}">
                    <app-item-ressource-actuelle [codeRessource]="codesRessourcesFinancieresEnum.PAIE"
                        attr.data-testid="row-paie" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.SALAIRE"
                        [montantRessource]=" demandeurEmploiConnecte.futurTravail.salaire.montantNet">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemBeneficesMicroEntrepriseIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.beneficesMicroEntrepriseDernierExercice > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesRessourcesFinancieresEnum.MICRO_ENTREPRENEUR"
                        attr.data-testid="row-micro" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.MICRO_ENTREPRENEUR"
                        [montantRessource]="deConnecteRessourcesFinancieresService.getBeneficesMicroEntrepriseSur1Mois()">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemChiffreAffairesIndependantIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.chiffreAffairesIndependantDernierExercice > 0">
                    <app-item-ressource-actuelle
                        [codeRessource]="codesRessourcesFinancieresEnum.TRAVAILLEUR_INDEPENDANT"
                        attr.data-testid="row-indep" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.TRAVAILLEUR_INDEPENDANT"
                        [montantRessource]="deConnecteRessourcesFinancieresService.getChiffreAffairesIndependantSur1Mois()">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemRevenusImmobilierIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.revenusImmobilier3DerniersMois > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesRessourcesFinancieresEnum.IMMOBILIER"
                        attr.data-testid="row-immo" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesRessourcesFinancieresEnum.IMMOBILIER"
                        [montantRessource]="deConnecteRessourcesFinancieresService.getRevenusImmobilierSur1Mois()">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item li-aide-selectable" tabindex="0"
                    [ngClass]="{'is-item-not-last': isItemAahIsNotLast()}"
                    *ngIf="aidesService.getMontantAAH(simulationSelected) > 0"
                    (keyup)="handleKeyUpOnAideActuelle($event, codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)">
                    <button type="button" role="button" class="btn aide-selectable-button" tabindex="-1"
                        style="cursor: pointer;"
                        [ngClass]="{'active': isAideSelected(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)}"
                        (click)="onClickButtonAideActuelle(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)">
                        <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES"
                            attr.data-testid="row-aah" [isColPictoArrowDisplay]="true"
                            [isAideSelected]="isAideSelected(codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES)"
                            [libelleRessource]="libellesAidesEnum.ALLOCATION_ADULTES_HANDICAPES"
                            [montantRessource]="aidesService.getMontantAAH(simulationSelected)"
                            [organismeRessource]="organismeAidesEnum.CAF">
                        </app-item-ressource-actuelle>
                    </button>
                </li>
                <app-detail-aide
                    *ngIf="aideSelected && aideSelected.code === codesAidesEnum.ALLOCATION_ADULTES_HANDICAPES"
                    [aideSelected]="aideSelected"></app-detail-aide>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemPensionInvaliditeIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.aidesCPAM?.pensionInvalidite > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.PENSION_INVALIDITE"
                        attr.data-testid="row-pi" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.PENSION_INVALIDITE"
                        [montantRessource]="aidesService.getMontantPensionInvalidite(demandeurEmploiConnecte)"
                        [organismeRessource]="organismeAidesEnum.CPAM">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemAllocationSupplementaireInvaliditeIsNotLast()}"
                    *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.aidesCPAM?.allocationSupplementaireInvalidite > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.ALLOCATION_SUPPLEMENTAIRE_INVALIDITE"
                        attr.data-testid="row-asi" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.ALLOCATION_SUPPLEMENTAIRE_INVALIDITE"
                        [montantRessource]="aidesService.getMontantAllocationSupplementaireInvalidite(demandeurEmploiConnecte)"
                        [organismeRessource]="organismeAidesEnum.CPAM">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemRsaIsNotLast()}"
                    *ngIf="aidesService.getMontantRSA(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.RSA" data-testid="row-rsa"
                        [isColPictoArrowDisplay]="false" [libelleRessource]="libellesAidesEnum.RSA"
                        [montantRessource]="aidesService.getMontantRSA(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemAllocationSoutienFamilialIsNotLast()}"
                    *ngIf="aidesService.getMontantAllocationSoutienFamilial(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.ALLOCATION_SOUTIEN_FAMILIAL"
                        data-testid="row-asf" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.ALLOCATION_SOUTIEN_FAMILIAL"
                        [montantRessource]="aidesService.getMontantAllocationSoutienFamilial(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemAllocationsFamilialesIsNotLast()}"
                    *ngIf="aidesService.getMontantAllocationsFamiliales(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.ALLOCATIONS_FAMILIALES"
                        data-testid="row-af" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.ALLOCATIONS_FAMILIALES"
                        [montantRessource]="aidesService.getMontantAllocationsFamiliales(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemComplementFamilialIsNotLast()}"
                    *ngIf="aidesService.getMontantComplementFamilial(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.COMPLEMENT_FAMILIAL"
                        data-testid="row-cf" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.COMPLEMENT_FAMILIAL"
                        [montantRessource]="aidesService.getMontantComplementFamilial(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemPrestationAccueilJeuneEnfantIsNotLast()}"
                    *ngIf="aidesService.getMontantPrestationAccueilJeuneEnfant(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.PRESTATION_ACCUEIL_JEUNE_ENFANT"
                        data-testid="row-paje" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.PRESTATION_ACCUEIL_JEUNE_ENFANT"
                        [montantRessource]="aidesService.getMontantPrestationAccueilJeuneEnfant(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemPensionsAlimentairesIsNotLast()}"
                    *ngIf="aidesService.getMontantPensionsAlimentaires(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.PENSIONS_ALIMENTAIRES"
                        data-testid="row-paf" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.PENSIONS_ALIMENTAIRES"
                        [montantRessource]="aidesService.getMontantPensionsAlimentaires(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemAidePersonnaliseeLogementIsNotLast()}"
                    *ngIf="aidesService.getMontantAidePersonnaliseeLogement(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.AIDE_PERSONNALISEE_LOGEMENT"
                        data-testid="row-paf" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.AIDE_PERSONNALISEE_LOGEMENT"
                        [montantRessource]="aidesService.getMontantAidePersonnaliseeLogement(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item"
                    [ngClass]="{'is-item-not-last': isItemAllocationLogementFamilialeIsNotLast()}"
                    *ngIf="aidesService.getMontantAllocationLogementFamiliale(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.ALLOCATION_LOGEMENT_FAMILIALE"
                        data-testid="row-paf" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.ALLOCATION_LOGEMENT_FAMILIALE"
                        [montantRessource]=" aidesService.getMontantAllocationLogementFamiliale(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <li class="list-group-item" [ngClass]="{'is-item-not-last': isItemAllocationLogementSocialeIsNotLast()}"
                    *ngIf="aidesService.getMontantAllocationLogementSociale(simulationSelected) > 0">
                    <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.ALLOCATION_LOGEMENT_SOCIALE"
                        data-testid="row-paf" [isColPictoArrowDisplay]="false"
                        [libelleRessource]="libellesAidesEnum.ALLOCATION_LOGEMENT_SOCIALE"
                        [montantRessource]=" aidesService.getMontantAllocationLogementSociale(simulationSelected)"
                        [organismeRessource]="organismeAidesEnum.CAF">
                    </app-item-ressource-actuelle>
                </li>
                <div *ngIf="aidesService.getMessageAlerteAidesFamiliales(simulationSelected)"
                    class="card card-body card-message-alerte-aide">
                    <div class="row">
                        <div class="img-card-message-alerte-aide col-auto">
                            <div aria-label="Obtenir plus d'informations">
                                <img src="./assets/images/info.svg">
                            </div>
                        </div>
                        <div class="col">
                            <span class="body-2-typo">
                                {{aidesService.getMessageAlerteAidesFamiliales(simulationSelected)}}
                            </span>
                        </div>
                    </div>
                </div>
                <li class="list-group-item li-aide-selectable" tabindex="0"
                    *ngIf="aidesService.getMontantASS(simulationSelected) > 0"
                    (keyup)="handleKeyUpOnAideActuelle($event, codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)">
                    <button type="button" role="button" class="btn aide-selectable-button" tabindex="  -1"
                        style="cursor: pointer;"
                        [ngClass]="{'active': isAideSelected(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)}"
                        (click)="onClickButtonAideActuelle(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)">
                        <app-item-ressource-actuelle [codeRessource]="codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE"
                            data-testid="row-ass" [isColPictoArrowDisplay]="true"
                            [isAideSelected]="isAideSelected(codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE)"
                            [libelleRessource]="libellesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE"
                            [montantRessource]="aidesService.getMontantASS(simulationSelected)"
                            [organismeRessource]="organismeAidesEnum.POLE_EMPLOI">
                        </app-item-ressource-actuelle>
                    </button>
                </li>
                <app-detail-aide
                    *ngIf="aideSelected && aideSelected.code === codesAidesEnum.ALLOCATION_SOLIDARITE_SPECIFIQUE"
                    [aideSelected]="aideSelected"></app-detail-aide>
            </ul>
        </div>
        <div *ngIf="aidesService.getMessageAlerteASS(simulationSelected)"
            class="card card-body card-message-alerte-aide">
            <div class="row">
                <div class="img-card-message-alerte-aide col-auto">
                    <div aria-label="Obtenir plus d'informations">
                        <img alt="" src="./assets/images/info.svg">
                    </div>
                </div>
                <div class="col">
                    <span class="body-2-typo">
                        {{aidesService.getMessageAlerteASS(simulationSelected)}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div-aides-obtenir" class="div-aides-container" *ngIf="aidesService.hasAidesObtenir(simulationSelected)">
    <span class="row title-liste-details-aides-style-1 headline-5-typo">
        Les aides que vous pouvez demander
    </span>
    <hr class="title-hr">
    <div class="row">
        <div id="card-aides-obtenir" class="card card-simulation-mensuelle">
            <ul class="list-group list-group-flush">
                <div
                    *ngFor="let aideKeyValue of simulationSelected.mesAides | keyvalue | callback: filtrerAidesLogement; let index = index;">
                    <li class="list-group-item" [ngClass]="{'is-item-not-last': !isLastAideKeyValue(index)}">
                        <app-item-ressource-actuelle [codeRessource]="aideKeyValue.value.code"
                            data-testid="row-{{aideKeyValue.value.code}}" [isColPictoArrowDisplay]="false"
                            [libelleRessource]="aideKeyValue.value.nom" [montantRessource]="aideKeyValue.value.montant"
                            [organismeRessource]="aideKeyValue.value.organisme">
                        </app-item-ressource-actuelle>
                    </li>
                    <div *ngIf="index === 0" class="card card-body card-message-alerte-aide">
                        <div class="row">
                            <div class="img-card-message-alerte-aide col-auto">
                                <div aria-label="Obtenir plus d'informations">
                                    <img alt="" src="./assets/images/info.svg">
                                </div>
                            </div>
                            <div class="col">
                                <span [innerHtml]="aidesService.getMessageAlerteAidesLogement()">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    *ngFor="let aideKeyValue of simulationSelected.mesAides | keyvalue | callback: filtrerAidesSimulationMensuelle; let index = index;">
                    <li class="list-group-item li-aide-selectable" tabindex="0"
                        [ngClass]="{'active': isAideSelected(aideKeyValue.value.code), 'is-item-not-last': !isLastAideKeyValue(index)}"
                        (keyup)="handleKeyUpOnAideObtenir($event,aideKeyValue.value)">
                        <button type="button" role="button" class="btn aide-selectable-button" tabindex="-1"
                            [ngClass]="{}" (click)="onClickButtonAideObtenir(aideKeyValue.value)"
                            attr.aria-label="Voir la description de l'aide {{aideKeyValue.value.nom}}"
                            tag-action="clic_bouton_description_aide">
                            <app-item-ressource-actuelle [codeRessource]="aideKeyValue.value.code"
                                attr.data-testid="row-{{aideKeyValue.value.code}}"
                                [isAideSelected]="isAideSelected(aideKeyValue.value.code)"
                                [isColPictoArrowDisplay]="true" [libelleRessource]="aideKeyValue.value.nom"
                                [montantRessource]="aideKeyValue.value.montant"
                                [organismeRessource]="aideKeyValue.value.organisme">
                            </app-item-ressource-actuelle>
                        </button>
                    </li>
                    <app-detail-aide
                        *ngIf="isAideSelected(aideKeyValue.value.code) && aidesService.isAideDemandeurPourraObtenir(aideSelected)"
                        [aideSelected]="aideSelected"></app-detail-aide>
                    <div *ngIf="(aidesService.getMessageAlerteAGEPI(simulationSelected) && aideKeyValue.value.code == codesAidesEnum.AGEPI)"
                        class="card card-body card-message-alerte-aide">
                        <div class="row">
                            <div class="img-card-message-alerte-aide col-auto">
                                <div aria-label="Obtenir plus d'informations">
                                    <img alt="" src="./assets/images/info.svg">
                                </div>
                            </div>
                            <div class="col">
                                <span>
                                    {{aidesService.getMessageAlerteAGEPI(simulationSelected)}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(aidesService.getMessageAlertePrimeActiviteRSA(simulationSelected) && aideKeyValue.value.code == codesAidesEnum.PRIME_ACTIVITE)"
                        class="card card-body card-message-alerte-aide">
                        <div class="row">
                            <div class="img-card-message-alerte-aide col-auto">
                                <div aria-label="Obtenir plus d'informations">
                                    <img alt="" src="./assets/images/info.svg">
                                </div>
                            </div>
                            <div class="col">
                                <span>
                                    {{aidesService.getMessageAlertePrimeActiviteRSA(simulationSelected)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>