<h5 class="row h5-style-1">Mes ressources et aides actuelles</h5>
<div class="row mt-3">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <app-item-ressource-actuelle
                    codeRessource="PAIE"
                    data-testid="row-paie"
                    [isColPictoArrowDisplay]="false"
                    libelleRessource="Salaire net"
                    [montantRessource]=" demandeurEmploiConnecte.futurTravail.salaireMensuelNet">
                </app-item-ressource-actuelle>
                <hr *ngIf="isItemSalaireIsNotLast()">
            </li>
            <li
                class="list-group-item"
                *ngIf="aidesService.getMontantASS(simulationSelected) > 0">
                <app-item-ressource-actuelle
                    codeRessource="ASS"
                    data-testid="row-ass"
                    [isColPictoArrowDisplay]="false"
                    libelleRessource="Allocation de Solidarité Spécifique"
                    [montantRessource]="aidesService.getMontantASS(simulationSelected)"
                    organismeRessource="Pôle emploi">
                </app-item-ressource-actuelle>
                <hr *ngIf="isItemAssIsNotLast()">
            </li>
            <li
                class="list-group-item"
                *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.allocationsCAF?.allocationMensuelleNetAAH > 0">
                <app-item-ressource-actuelle
                    codeRessource="AAH"
                    [isColPictoArrowDisplay]="false"
                    libelleRessource="Allocation aux Adultes Handicapés"
                    [montantRessource]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH"
                    organismeRessource="CAF">
                </app-item-ressource-actuelle>
                <hr *ngIf="isItemAahIsNotLast()">
            </li>
            <li
                class="list-group-item"
                *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.allocationsCAF?.allocationMensuelleNetRSA > 0">
                <app-item-ressource-actuelle
                    codeRessource="RSA"
                    [isColPictoArrowDisplay]="false"
                    libelleRessource="Revenu de Solidarité Active"
                    [montantRessource]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA"
                    organismeRessource="CAF">
                </app-item-ressource-actuelle>
                <hr *ngIf="isItemRsaIsNotLast()">
            </li>
            <li
            class="list-group-item"
            *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.revenusImmobilier3DerniersMois > 0">
            <app-item-ressource-actuelle
                codeRessource="IMMO"
                [isColPictoArrowDisplay]="false"
                libelleRessource="Revenus immobilier"
                [montantRessource]="deConnecteRessourcesFinancieresService.getRevenusImmobilierSur1Mois()">
            </app-item-ressource-actuelle>
            <hr *ngIf="isItemRevenusImmobilierIsNotLast()">
           </li>
           <li
            class="list-group-item"
            *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.revenusCreateurEntreprise3DerniersMois > 0">
            <app-item-ressource-actuelle
                codeRessource="INDP"
                [isColPictoArrowDisplay]="false"
                libelleRessource="Revenus travailleur indépendant"
                [montantRessource]="deConnecteRessourcesFinancieresService.getRevenusTravailleurIndependantSur1Mois()">
            </app-item-ressource-actuelle>
           </li>
        </ul>
    </div>
</div>
<h5
    class="row h5-style-2 mt-4"
    *ngIf="aidesService.hasAidesObtenir(simulationSelected)">
    <img
        id="img-hand-finger"
        src="./assets/images/hand-finger-right.svg"
        class="mr-2">
    Les aides que vous pourriez obtenir
</h5>
<div
    class="row mt-3"
    *ngIf="aidesService.hasAidesObtenir(simulationSelected)">
    <div class="card">
        <div
            class="btn-group-vertical"
            role="group">
            <div
                class="w-100"
                *ngFor="let aideKeyValue of simulationSelected.mesAides | keyvalue | callback: filtrerAidesSimulationMensuelle; let index = index;">
                <button
                    type="button"
                    role="button"
                    class="btn"
                    tabindex="0"
                    [ngClass]="{'active': isAideSocialSelected(aideKeyValue.value)}"
                    (click)="onClickButtonAideSocialObtenir(aideKeyValue.value)">
                    <app-item-ressource-actuelle
                        [codeRessource]="aideKeyValue.value.code"
                        [isAideSocialSelected]="isAideSocialSelected(aideKeyValue.value)"
                        [isColPictoArrowDisplay]="true"
                        [libelleRessource]="aideKeyValue.value.nom"
                        [montantRessource]="aideKeyValue.value.montant"
                        [organismeRessource]="aideKeyValue.value.organisme">
                    </app-item-ressource-actuelle>
                </button>
                <app-detail-aide-sociale
                class="d-sm-none"
                *ngIf="isAideSocialSelected(aideKeyValue.value)"
                [aideSocialeSelected]="aideSocialeSelected"></app-detail-aide-sociale>
                <hr *ngIf="!isLastAideKeyValue(index)">
            </div>
        </div>
    </div>
</div>
