<section id="section-questions">
    <div class="container-fluid">
        <h1>Questions les + fréquentes</h1>
        <div class="row">
            <div class="first-card col-12 col-md-6 py-2">
                <div class="card card-body h-100">
                  <div>
                    <span>
                      Puis-je peux continuer à percevoir l'Allocation de Solidarité Spécifique en reprenant un emploi ?
                    </span>
                  </div>
                    <p class="card-text">
                        Les demandeurs d'emploi qui bénéficient de l'Allocation de Solidarité Spécifique peuvent, dans certaines limites, cumuler leur allocation avec les revenus d'une nouvelle activité professionnelle.
                        <br>
                        <br>
                        Estime est là pour vous aider à l’évaluer !
                    </p>
                </div>
            </div>
            <div class="second-card col-12 col-md-6 py-2">
                <div class="card card-body h-100">
                    <div>
                      <span>
                        Quels types d'aides existent ?
                      </span>
                    </div>
                    <p class="card-text">
                        En fonction de votre contrat de travail et de votre situation, il existe différentes aides possibles : aide à la mobilité, à la garde d’enfant , à la prime d’activité…
                        <br>
                        <br>
                        Estime va vous aider à y voir plus clair.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
