@import "../assets/scss/variables";

#logo-estime {
  margin-top: 0.5rem;
  width: 5rem;
  margin-right: 1.5rem;
  @media #{$medium-device}, #{$large-device} {
    width: 9%;
  }
  cursor: pointer;
}

#logo-pole-emploi {
  width: 2.7rem;
  @media #{$medium-device}, #{$large-device}  {
    width: 3.5rem;
  }
}

footer {
  display: block;
  width: 100vw;
  background-color: $color-white-1;
  bottom: 0;
  font-size: 0.8rem;
  height: 7rem;
  left: 0;
  margin-top: 1rem;
  position: absolute;
  right: 0;
  #copyright-div {
    margin-top: 1.5rem;
    text-align: center;
    @media #{$medium-device}, #{$large-device}  {
      float: right;
      margin-left: auto;
    }
    font-size: 0.7rem;
  }
  .container-fluid {
    .row {
      margin-top: 2.5rem;
      div {
        margin-top:auto;
      }
    }
  }

}

header {
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25) !important;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  #logo-pole-emploi {
    margin-top: 0.4rem;
  }
  .container-fluid {
    button {
      margin-top: 1rem;
      float: right;
    }

    #div-beta {
      background-color: #DEEEFF;
      padding: 0.2rem;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 17px;
      color: #1B2B67;
      font-size: 12px;
    }


  }
}
