<header class="vertical-center">
  <div class="container-fluid vertical-center my-auto d-block">
      <img id="logo-estime"  src="./assets/images/logo-estime.svg" />
      <img id="logo-pole-emploi" src="./assets/images/logo-pole-emploi-mono-blue-text-under.svg" />
      <div id="div-beta" class="d-inline ml-3"><b>BETA</b></div>
      <button class="btn btn-primary-style-1" *ngIf="this.isLoggedIn"  (click)="logout()">Se deconnecter</button>
  </div>

</header>
<router-outlet></router-outlet>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 col-md-1">
        <img id="logo-pole-emploi" src="./assets/images/logo-pole-emploi-mono-blue-text-under.svg" />
      </div>
      <div class="col-10 col-md-6">
        <a>Conditions Générales d'Utilisation</a>
      </div>
      <div class="col-12 col-md-5">
        <div id="copyright-div">Copyright 2020 ©ESTIME propulsé par POLE EMPLOI</div>
      </div>
    </div>
  </div>
</footer>
