  @import "../../../../assets/scss/variables";

  .row-style-2 {
    margin-right: 0;
  }

  .row-style-3 {
    margin: 0;

    &.infos-resultat-container {
      background-color: $color-pe-teal;
      border-radius: 1.5rem;
      padding:1.5rem;
      margin-top:1.5rem;

      @media #{$extra-small-device} {
        border-radius:unset;
        margin-right:-1rem;
        margin-left:-1rem;
        padding:1.25rem;
        margin-bottom: 2rem;
      }


      img {
        margin-top: auto;
        margin-bottom: auto;
      }

      h4, span {
        color:white;
        text-align: start;

        &#mois-versement-infos-resultat {
          font-weight: bold;
        }
      }
    }

    .col-12 {
      margin: 0;
      padding: 0;
    }
  }

  .row-telecharger-ou-refaire {
    margin-top: 2rem;

    @media #{$extra-small-device} {
      margin-top: 1.5rem !important;
    }

    .btn-telecharger-ou-refaire {
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        color: $color-pe-red;
      }

      span {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        color: $color-pe-red;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    #btn-telecharger-simulation {
      float: right;

      @media #{$extra-small-device} {
        text-align: center;
        float: unset;
      }
    }

    #btn-refaire-simulation {
      float: left;

      @media #{$extra-small-device} {
        text-align: center;
        float: unset;
      }
    }
  }

  #row-onglets-resultat-simulation {
    margin: 0;
    margin-top: 2rem;
    justify-content: center;

    #col-onglet-1-resultat-simulation {
      padding-left: 0rem;
      padding-right: 0.15rem;
    }

    #col-onglet-2-resultat-simulation {
      padding-right: 0rem;
      padding-left: 0.15rem;
    }

    .btn-onglet-resultat-simulation {
      width: calc(100%);
      min-height: 3rem;
      background-color: $color-pe-grey-dark;
      border-radius: 0.5rem;
      border: 0.0625rem solid $color-pe-grey-dark;

      @media #{$extra-small-device} {
        min-height: 2rem;
      }

      span {
        color: white;
      }

      &:focus {
        background-color: $color-pe-grey-x-dark !important;
      }

      &.isOngletInactive {
        background-color: unset;

        span {
          font-weight: normal !important;
          color: $color-blue-1;
        }

        &:hover {
          background-color: unset !important;
          border: 0.125rem solid $color-pe-grey-x-dark !important;

          span {
            color: $color-pe-grey-x-dark !important;

          }
        }

        &:focus {
          background-color: unset !important;
          border: 0.125rem solid $color-pe-grey-x-dark !important;

          span {
            color: $color-pe-grey-x-dark !important;
          }
        }
      }
    }
  }

  .container-fluid {
    margin-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;

    @media #{$large-device} {
      max-width: 72vw !important;
    }

    #info-resultat-simulation {

      @media #{$large-device} {
        padding: 0;
      }

      div {
        height: 100%;

        @media #{$extra-small-device} {
          max-width: 35.3125rem;
        }

        color: $color-pe-grey-dark;
      }
    }

    #card-revenus-actuels {
      padding-left: 0.5625rem;
      padding-right: 0.5625rem;

      @media #{$small-device} {
        padding-left: 0;
        padding-right: 0.9375rem;
      }

      .card {
        border: 0;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        padding: 0.4rem 1rem;
        width: 100%;

        @media #{$extra-small-device} {
          margin-left: auto;
          margin-right: auto;
        }

        .card-body {
          background-color: $color-white-3;
        }
      }
    }

    #row-montants-total {
      margin-top: 0.5rem;

      @media #{$small-device} {
        margin-top: 1.5rem;
      }

      .card {
        height: 100%;
        padding: 0.625rem;

        @media #{$extra-small-device} {
          background-color: unset;
        }

        margin-bottom: 4rem;
      }

      #details_ressources_estimees_title {
        text-align: center;
        margin: auto;
      }
    }

    .card {
      border: 0;
    }

    .card-group {
      border: 0;
      border-radius: 0.5rem;
      margin-bottom: 0;

      @media #{$small-device} {
        padding-bottom: 0.3125rem;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .first-card {
      border: 0;
      border-radius: 0.5rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.5rem;
      padding-left: 0rem;
      padding-right: 0rem;
      width: 100%;
      background-color: unset;

      .second-card {
        border: 0;
        cursor: pointer;
        margin-bottom: 0;

        @media #{$extra-small-device} {
          margin: 0.3125rem;
          margin-left: -0.4375rem;
          margin-right: -0.4375rem;
        }

        background-color: unset;

        .card-body {
          padding: 0.25rem;
          height: 4.5rem !important;
          text-align: center;
          border-radius: 0.5rem;
          vertical-align: text-bottom;
          background-color: $color-white-1;

          @media #{$extra-small-device} {
            padding-right: 1rem;
            padding-left: 1rem;
          }

          &.active {
            background-color: $color-blue-8;
          }

          &.hovered {
            background-color: $color-blue-7;
          }

          &:focus {
            background-color: $color-blue-7 !important;
            border: 0 !important;
            outline: none !important;
          }

          span {
            line-height: 4.5rem !important;
          }

          .span-mois-annee {
            color: $color-pe-red !important;

            @media #{$extra-small-device} {
              padding-left: 0.5rem;
              white-space: nowrap;
              float: left;
            }
          }

          .span-montant-mensuel {
            color: $color-pe-grey-dark;
          }
        }

        .card-footer {
          background-color: unset;
          padding-bottom: 0;
        }

        .card-footer-mobile {
          background-color: unset;
          padding-right: 0 !important;
          padding-left: 0 !important;
          border: 0;
        }

        .card-footer-desktop {
          background-color: unset;
          padding-bottom: 0;
          border: 0;
        }
      }
    }



    .card-simulations-mobile {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .div-button-retour {
      margin-top: 1.25rem;
      margin-bottom: 1.875rem;

      .btn-style-perso-2 {
        background-color: unset;
      }
    }

    .row {
      @media #{$small-device} {
        margin-left: 0;
        margin-right: 0;
      }
    }

    #resultat_simulation_div_boutons {

      margin: auto !important;
      margin-top: 40.3125rem !important;
      background-color: unset;

      #resultat_simulation_bouton_retour {
        background-color: unset;
        // width:auto;
      }

      #resultat_simulation_bouton_refaire_simulation {
        width: 15.625rem !important;
      }
    }
  }

  .card-simulations-desktop {
    border: 0;
    position: relative;
  }


  .titre-apres-reprise-emploi {
    padding-left: 2rem !important;

    @media #{$extra-small-device} {
      width: 100vw !important;
    }
  }

  #card_ressources_avant_simulation {
    border-radius: 1rem;
    width: 50%;
    margin: 0;

    @media #{$extra-small-device} {
      width: 100% !important;
    }

    div {
      padding: 1rem 1.5rem;

      @media #{$extra-small-device} {
        padding: 1rem;
      }
    }
  }

  .card_ressources_apres_simulation {
    border-radius: 1rem;
    margin: 0;

    div {
      padding: 1rem 1.5rem;

      @media #{$extra-small-device} {
        padding: 1rem;
      }
    }
  }


  .sticky-boutons-modifier-refaire-simulation {
    box-shadow: 0px -2px 6px 0px rgba(216, 216, 216, 1);
    background-color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: $button-sticky-height !important;
    text-align: center;
    z-index: 1000;
    padding: 0.75rem 1rem;
    align-items: center;
  }


  .div_aller_plus_loin_with_padding {
    padding: 0rem 1.5rem;

    @media #{$extra-small-device} {
      padding: 0rem 1rem;
    }
  }

  .recommendation-block {
    background: white;
    border-radius: 1.5rem !important;
    border: none;
    padding: 1.5rem !important;
    margin-right: 0.75rem !important;
    margin-left: 1.75rem !important;

    .copied-successfully {
      background: $color-pe-blue-light;
      border-radius: 0.5rem !important;
      border: none;
      padding:1rem;

    }
  }