<div class="container-fluid">
    <div>
        <div id="block-mettre-a-jour-profil" class="card-body text-center card-action-suite" >
            <img alt="Icône profil candidat" src="./assets/images/profil_candidat.svg" class="mb-3 mt-2">
            <p>Mettre à jour votre profil candidat pour améliorer votre visibilité auprès des recruteurs</p>
        </div>
        <div class="text-center card-body card-body-btn-action">
            <button id="btn-mettre-a-jour-profil"
            type="button"
            aria-label="Mettre à jour son profil candidat"
            class="btn-style-perso-1 btn-action-suite mt-auto"
            data-testid="btn-mettre-a-jour-profil"
            tag-action="clique_bouton_mettre_a_jour_profil_candidat"
            (click)="btnClick()"
            >

            <div class="text-center">
                <span class="mr-2">Mettre à jour mon profil</span>
                <img alt="" src="./assets/images/icon-bt-primaire.svg">
            </div>
        </button>
        </div>
    </div>
</div>
