<div id="details-mois-container">
    <div class="div_bouton_retour_detail_mois div-vertically-centered justify-content-start div_detail_mois_with_padding"
        (click)="sideModalService.closeSideModalMois()" (keyup)="handleKeyUpOnRetour($event);" tabindex="0"
        tag-action="clic_bouton_retour_detail_mois" data-testid="bouton_retour_detail_mois">
        <span class="bouton_retour body-2-typo color-blue-10-typo">
            <i alt class="ps-2 pe-2 fas fa-chevron-left span-montant-mensuel"></i>
            <span class="body-2-typo color-blue-10-typo">Retour</span>
        </span>
    </div>
    <div class="div_mois_montant_mois_detail_mois div_detail_mois_with_padding" data-testid="div-montant-ressource">
        <div class="libelle_mois_apres_simulation_row row">
            <div class="col-md-12">
                <h2 class="headline-2-typo color-blue-2-typo text-start">
                    {{dateUtileService.getDateStringFormatSimulationMensuelle(simulationActuelle,
                    screenService.isTabletScreen())}}
                </h2>
                <h3 class="headline-3-typo color-blue-10-typo text-start" data-testid="montant-ressource">
                    {{deConnecteSimulationAidesService.calculerMontantTotalRessourcesMois(simulationActuelle)}} €
                    net
                </h3>
            </div>
        </div>
    </div>
    <div class="div_detail_mois_with_padding">
        <app-message-info contenu="Pensez à déclarer tout changement de situation auprès de votre CAF">
        </app-message-info>
    </div>
    <div class="div_detail_mois_with_padding">
        <div class="card my-2 p-3" [class]="{'aide-avec-detail':isAideAvecDetail(aide)}"
            *ngFor="let aide of aidesEtRevenusMois" (click)="onClickOnAide(aide);"
            (keyup)="handleKeyUpOnAide($event,aide);" [tabindex]="isAideAvecDetail(aide)?0:-1"
            tag-action="clic_bouton_detail_aide">
            <div class="row pe-3">
                <div class="col-md-1 col-2">
                    <div class="code-ressource me-1" [ngClass]="[aide.code.toLowerCase()]">
                        <div class="">
                            <span class="overline-typo">{{aide.code}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-8 div-vertically-centered">
                    <span class="body-2-typo ms-2">{{ aide.nom }}</span>
                </div>
                <div class="col-md-1 col-2">
                    <div *ngIf="aide.organisme" class="icone-organisme me-1" [class]="aide.organisme.toLowerCase()">
                        <div class="">
                            <img alt="" [src]="'./assets/images/icon-'+aide.organisme.toLowerCase()+'.png'">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="aide.messageAlerte" class="row mt-3">
                <app-message-info [contenu]="aide.messageAlerte">
                </app-message-info>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-10">
                    <span class="headline-4-typo color-blue-10-typo justify-content-start"
                        attr.data-testid="aide_{{aide.code}}_mois_{{dateUtileService.getIndexMoisSimule(deConnecteSimulationAidesService.getDatePremierMoisSimule(), simulationActuelle.datePremierJourMoisSimule)}}">
                        {{ aide.montant }} €
                    </span>
                    <span *ngIf="isAideADemander(aide)" class="demande-a-effectuer overline-typo">
                        DEMANDE À EFFECTUER
                    </span>
                </div>
                <div class="col-md-6 col-2 div-vertically-centered justify-content-end">
                    <div *ngIf="isAideAvecDetail(aide)" class="justify-content-end">
                        <span class="bouton-detail body-2-typo color-blue-10-typo">
                            <span *ngIf="!screenService.isExtraSmallScreen()"
                                class="body-2-typo color-blue-10-typo">Voir le détail</span>
                            <i alt class="ps-2 fas fa-chevron-right span-montant-mensuel"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>