export const environment = {
  urlApplication: 'http://localhost.estime:9001/',
  peConnectUserIdentifiant: '{{ CYPRESS_USER_PE_CONNECT }}',
  peConnectUserMotDePasse: '{{ CYPRESS_USER_PE_CONNECT_MDP }}'
};


