export const environment = {
  urlApplication: '{{ CYPRESS_URL_APPLICATION }}',
  peConnectUserAahIdentifiant: '{{ CYPRESS_USER_AAH_PE_CONNECT }}',
  peConnectUserAssIdentifiant: '{{ CYPRESS_USER_ASS_PE_CONNECT }}',
  peConnectUserRsaIdentifiant: '{{ CYPRESS_USER_RSA_PE_CONNECT }}',
  peConnectUserMotDePasse: '{{ CYPRESS_USER_PE_CONNECT_MDP }}',
  enableParcoursComplementARE: false
};


