export const environment = {
  urlApplication: 'http://localhost:9001/',
  peConnectUserAahIdentifiant: '{{ CYPRESS_USER_AAH_PE_CONNECT }}',
  peConnectUserAssIdentifiant: 'Caro{{ CYPRESS_USER_ASS_PE_CONNECT }}',
  peConnectUserRsaIdentifiant: '{{ CYPRESS_USER_RSA_PE_CONNECT }}',
  peConnectUserMotDePasse: '{{ CYPRESS_USER_PE_CONNECT_MDP }}'
};


