@import "../../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

#div-title-ma-situation {

  @media #{$medium-device},
  #{$large-device} {
    padding-left: 10.75rem !important;
  }
}

#btn-aucune-ressource {
  display: inline-block;
  cursor: pointer;
  height: 1.875rem !important;
  min-height: 1.875rem !important;
}