@import "../../../../../assets/scss/variables";

#ressources-financieres-diagramme-container {
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  @media #{$extra-small-device} {
    padding:0;
  }
}

#ressources-financieres-diagramme-title {
  text-align: center;
  margin: auto;
}

.simulateur-caf-link {
  color: $color-pe-red !important;
  font-weight: bold;
}

#diagramme-canvas-container {
  @media #{$extra-small-device} {
    margin:0rem;
    padding:0;
  }
}

#chart-container {
  position: relative;
  max-width: 62.5rem;
  min-width: 15.625rem;
}