@import "../../../../../assets/scss/variables";

#ressources-financieres-diagramme-container {
  background-color: white;
  border-radius: 0.625rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#ressources-financieres-diagramme-title {
  text-align: center;
  margin: auto;
}

.simulateur-caf-link {
  color: $color-blue-10 !important;
  font-weight: bold;
}