#ressources-financieres-diagramme-container {
    background-color: white;
    border-radius: 10px;
    margin-top:3rem;
    margin-bottom:3rem;
}

#ressources-financieres-diagramme-title {
    text-align: center;
    margin:auto;
}