<div id="ressources-financieres-diagramme-container" class="container-fluid">
    <div class="row">
        <div id="diagramme-canvas-container-extra-small-screen" class="col-12 mt-auto mb-auto">
            <app-diagramme-canvas [simulationAides]="simulationAides"></app-diagramme-canvas>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div *ngIf="aidesService.hasAideLogement(simulationAides)" class="card card-body card-message-alerte-aide">
                <div class="row">
                    <div class="img-card-message-alerte-aide col-auto">
                        <div>
                            <img alt="Icône information" src="./assets/images/info.svg">
                        </div>
                    </div>
                    <div class="col">
                        <span [innerHtml]="aidesService.getMessageAlerteAidesLogement()">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>