@import "../../../../assets/scss/variables";



.modal-base {
  background-color: $color-white-1;
  color: $color-blue-1;
}

.modal-header {
  @extend .modal-base;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 1rem;
  button {
    opacity: unset !important;
    span {
      font-size: 1.5em;
      color: $color-blue-1;
    }
    &:focus {
      outline: unset;
    }
  }
}

.modal-body {
  @extend .modal-base;
  border-bottom: 0;
  span {
    font-weight: bold;
    font-size: 1.125em;
  }
}

.modal-footer {
  button {
    margin-left: auto;
    margin-right: auto;
  }
  border-top: 0;
}

