<div class="modal-header">
    <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="onClickButtonClosePopup()">
        <i class="fas fa-times-circle mb-2  ml-auto"></i>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                    <img alt="Icône information" src="./assets/images/info-blue-1.svg">
            </div>
            <div class="col-11">
                <span>Votre session a expiré, vous devez vous reconnecter pour continuer votre simulation.</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn-pe-connect"
        (click)="onClickButtonSeConnecterAvecPE()">
        <div>
            <img alt="Icône se connecter avec Pôle emploi" src="./assets/images/logo-pole-emploi-mono-picto-white.svg">
            <span>Se connecter avec pôle emploi</span>
        </div>
    </button>
</div>
