@import "../../../../assets/scss/variables";

#btn-se-connecter {
  box-shadow: unset;

  @media #{$extra-small-device} {
    width: 100% !important;
    margin: 0;
    padding: 0;
  }

  img {
    @media #{$extra-small-device} {
      margin-left: -0.5rem;
    }
  }

  span {
    text-decoration: none;

    @media #{$extra-small-device} {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    padding-left: 0;
    padding-right: 0.5rem;
  }
}