<div class="modal-header">
    <div class="close-popover col" aria-label="Close">
        <em class="fas fa-times-circle mb-2 ms-auto float-end" (click)="onClickButtonClosePopup()">
        </em>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-1 text-center">
                <img alt src="./assets/images/info-blue-1.svg">
            </div>
            <div class="col-12 col-md-11 text-center">
                <span>Votre session a expiré, vous devez vous reconnecter pour continuer votre simulation.</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn-homepage btn-pe-connect" (click)="onClickButtonSeConnecterAvecPE()">
        <span class="button-typo">Me connecter avec Pôle emploi</span>
        <img *ngIf="!screenService.isExtraSmallScreen()" alt="Connexion Pôle emploi"
            src="./assets/images/logo-pole-emploi-mono-picto-white.svg">
    </button>
</div>