  @import "../../../../assets/scss/variables";


  .container-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .row-style-2 {
    margin-right: 0;
  }

  .row-style-3 {
    margin: 0;

    .col-12 {
      margin: 0;
      padding: 0;
    }
  }

  .row-telecharger-ou-refaire {
    margin-top: 2rem;

    @media #{$extra-small-device} {
      margin-top: 1.5rem !important;
    }

    .btn-telecharger-ou-refaire {
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        color: $color-blue-10;
      }

      span {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        color: $color-blue-10;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    #btn-telecharger-simulation {
      float: right;

      @media #{$extra-small-device} {
        text-align: center;
        float: unset;
      }
    }

    #btn-refaire-simulation {
      float: left;

      @media #{$extra-small-device} {
        text-align: center;
        float: unset;
      }
    }
  }

  #row-onglets-resultat-simulation {
    margin: 0;
    margin-top: 2rem;
    justify-content: center;

    #col-onglet-1-resultat-simulation {
      padding-left: 0rem;
      padding-right: 0.15rem;
    }

    #col-onglet-2-resultat-simulation {
      padding-right: 0rem;
      padding-left: 0.15rem;
    }

    .btn-onglet-resultat-simulation {
      width: calc(100%);
      min-height: 3rem;
      background-color: $color-blue-2;
      border-radius: 0.5rem;
      border: 0.0625rem solid $color-blue-2;

      @media #{$extra-small-device} {
        min-height: 2rem;
      }

      span {
        color: white;
      }

      &:focus {
        background-color: $color-blue-2-darker !important;
      }

      &.isOngletInactive {
        background-color: unset;

        span {
          font-weight: normal !important;
          color: $color-blue-1;
        }

        &:hover {
          background-color: unset !important;
          border: 0.125rem solid $color-blue-2-darker !important;

          span {
            color: $color-blue-2-darker !important;

          }
        }

        &:focus {
          background-color: unset !important;
          border: 0.125rem solid $color-blue-2-darker !important;

          span {
            color: $color-blue-2-darker !important;
          }
        }
      }
    }
  }

  .container-fluid {
    margin-top: 2rem;

    #alert-resultat-simulation {
      @media #{$extra-small-device} {
        margin-bottom: 1.5625rem !important;
      }

      div {
        height: 100%;

        @media #{$extra-small-device} {
          max-width: 35.3125rem;
        }

        color: $color-blue-2;
      }
    }

    #card-revenus-actuels {
      padding-left: 0.5625rem;
      padding-right: 0.5625rem;

      @media #{$small-device} {
        padding-left: 0;
        padding-right: 0.9375rem;
      }

      .card {
        border: 0;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        padding: 0.4rem 1rem;
        width: 100%;

        @media #{$extra-small-device} {
          margin-left: auto;
          margin-right: auto;
        }

        .card-body {
          background-color: $color-white-3;
        }
      }
    }

    #row-montants-total {
      margin-top: 0.5rem;

      @media #{$small-device} {
        margin-top: 1.5rem;
      }

      .card {
        height: 100%;
        padding: 0.625rem;

        @media #{$extra-small-device} {
          background-color: unset;
        }

        margin-bottom: 4rem;
      }

      #details_ressources_estimees_title {
        text-align: center;
        margin: auto;
      }
    }

    .card {
      border: 0;
    }

    .card-group {
      border: 0;
      border-radius: 0.5rem;
      margin-bottom: 0;

      @media #{$small-device} {
        padding-bottom: 0.3125rem;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .first-card {
      border: 0;
      border-radius: 0.5rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.75rem;
      padding-left: 0rem;
      padding-right: 0rem;
      width: 100%;
      background-color: unset;

      .second-card {
        border: 0;
        cursor: pointer;
        margin-bottom: 0;

        @media #{$extra-small-device} {
          margin: 0.3125rem;
          margin-left: -0.4375rem;
          margin-right: -0.4375rem;
        }

        background-color: unset;

        .card-body {
          padding: 0.25rem;
          height: 4.5rem !important;
          text-align: center;
          border-radius: 0.5rem;
          vertical-align: text-bottom;
          background-color: $color-white-1;

          @media #{$extra-small-device} {
            padding-right: 1rem;
            padding-left: 1rem;
          }

          &.active {
            background-color: $color-blue-8;
          }

          &.hovered {
            background-color: $color-blue-7;
          }

          &:focus {
            background-color: $color-blue-7 !important;
            border: 0 !important;
            outline: none !important;
          }

          span {
            line-height: 4.5rem !important;
          }

          .span-mois-annee {
            color: $color-blue-10 !important;

            @media #{$extra-small-device} {
              padding-left: 0.5rem;
              white-space: nowrap;
              float: left;
            }
          }

          .span-montant-mensuel {
            color: $color-blue-2;
          }
        }

        .card-footer {
          background-color: unset;
          padding-bottom: 0;
        }

        .card-footer-mobile {
          background-color: unset;
          padding-right: 0 !important;
          padding-left: 0 !important;
          border: 0;
        }

        .card-footer-desktop {
          background-color: unset;
          padding-bottom: 0;
          border: 0;
        }
      }
    }

    .card-simulations-desktop {
      border: 0;
      line-height: 4.5rem;
      position: relative;
    }

    .card-simulations-mobile {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .div-button-retour {
      margin-top: 1.25rem;
      margin-bottom: 1.875rem;

      .btn-style-perso-2 {
        background-color: unset;
      }
    }

    .row {
      @media #{$small-device} {
        margin-left: 0;
        margin-right: 0;
      }
    }

    #resultat_simulation_div_boutons {

      margin: auto !important;
      margin-top: 40.3125rem !important;
      background-color: unset;

      #resultat_simulation_bouton_retour {
        background-color: unset;
        // width:auto;
      }

      #resultat_simulation_bouton_refaire_simulation {
        width: 15.625rem !important;
      }
    }
  }

  .card-message-alerte-aide {
    background-color: $color-grey-1;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;

    span {
      color: $color-blue-2
    }

    .row {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      line-height: normal;

      .img-card-message-alerte-aide {
        max-width: fit-content !important;
        padding-right: 0.3125rem;
        padding-left: 0.3125rem;

        div {
          width: 1.25rem;
          height: 100%;
          position: relative;

          img {
            bottom: 0;
            margin: auto;
            position: absolute;
            top: 0;
            width: 1.375rem;
          }
        }
      }
    }
  }