<div class="container-fluid form-container-fluid">
    <h1 class="h1-style-1">
        5. {{pageTitlesEnum.RESULTAT_MA_SIMULATION}}
        <div
            id="infobulle-resultat-simulation"
            role="tooltip"
            class="img-interrogation-icon"
            style="vertical-align: baseline;"
            [ngClass]="{'popover-open': popoverResultatSimulation.isOpen}"
            placement="right top"
            tag-action="ouverture-infobulle-resultat-simulation"
            [popover]="popoverResultatSimulationTemplate"
            #popoverResultatSimulation="bs-popover"></div>
    </h1>
    <div class="row row-style-2">
        <div
            id="alert-resultat-simulation"
            class="col-12 col-md-12 mt-auto mb-auto">
            <div
                id="label-alerte-montants-resultat-simulation"
                class="mx-2 text-justify">
                Les futures allocations logement, familiales et autres ressources du foyer, ainsi que le prélèvement à la source sont à ajouter au résultat de la simulation. Nous travaillons actuellement à enrichir ce résultat des allocations logement recalculées ainsi que des prestations familiales. Nous faisons tout pour vous les proposer très prochainement.
            </div>
        </div>
    </div>
    <div class="row row-telecharger-ou-refaire row-style-2">
        <div class="col-12 col-md-6 my-auto">
            <span
                id="btn-telecharger-simulation"
                class="btn-telecharger-ou-refaire"
                data-testid="btn-telecharger-simulation"
                tabindex="0"
                (click)="onClickButtonImprimerMaSimulation()"
                tag-download="clic_bouton_telecharger_ma_simulation">
                <div>
                    <img
                        alt="Icône téléchargement"
                        src="./assets/images/download_2.svg">
                    <span id="telecharger_simulation_text">Télécharger la simulation</span>
                </div>
            </span>
        </div>
        <div [ngStyle]="{'margin-bottom': (this.screenService.isExtraSmallScreen())?'10vh':'0'}"></div>
        <div class="col-12 col-md-6 my-auto">
            <span
                id="btn-refaire-simulation"
                class="btn-telecharger-ou-refaire"
                data-testid="btn-refaire-simulation"
                tabindex="0"
                (click)="onClickButtonRefaireSimulation()">
                <div>
                    <img
                        alt="Icône refaire simulation"
                        src="./assets/images/refaire_simulation.svg">
                    <span id="refaire_simulation_text">Refaire une simulation</span>
                </div>
            </span>
        </div>
    </div>
    <div id="row-onglets-resultat-simulation" class="row">
        <div id="col-onglet-1-resultat-simulation" class="col-6">
            <button
                id="btn-onglet-details"
                class="btn btn-onglet-resultat-simulation"
                (click)="onClickOnglet(true)"
                tabindex="0"
                [ngClass]="{isOngletInactive: !afficherDetails}">
                <span>
                    Détail <span *ngIf="!screenService.isExtraSmallScreen()">des ressources estimées</span>
                </span>
            </button>
        </div>
        <div id="col-onglet-2-resultat-simulation" class="col-6">
            <button
                id="btn-onglet-evolution"
                class="btn btn-onglet-resultat-simulation"
                (click)="onClickOnglet(false)"
                tabindex="0"
                [ngClass]="{isOngletInactive: afficherDetails}">
                <span>
                    Évolution <span *ngIf="!screenService.isExtraSmallScreen()">des ressources sur 6 mois</span>
                </span>
            </button>
        </div>
    </div>
    <div *ngIf="afficherDetails" class="mt-5">
        <div class="row mb-3"
            [ngClass]="{'card-simulations-mobile': screenService.isExtraSmallScreen(), 'card-simulations-desktop': !screenService.isExtraSmallScreen()}">
            <div
                class="col-12 col-md-12 card first-card"
                *ngFor="let simulationMensuel of simulationAides.simulationsMensuelles; let index = index;"
                [ngClass]="{isLastCard: isLastSimulationMensuelle(index)}">
                <div
                    id="btn-simulation-mois-{{index}}"
                    class="card second-card"
                    aria-label="Voir ressources fincancières de {{getDateStringFormat(simulationMensuel)}}"
                    role="button">
                    <div
                        [ngClass]="{active: isSimulationMensuelleSelected(simulationMensuel), hovered: index == hoveredButtonSimulationMensuelle}"
                        class="card-body"
                        data-testid="card-simulation-mensuel"
                        tabindex="0"
                        (mouseover)="onMouseOverButtonSimulationMensuelle(index)"
                        (mouseleave)="onMouseLeaveButtonSimulationMensuelle()"
                        (click)="onClickButtonSimulationMensuelle(simulationMensuel)"
                        (keyup)="handleKeyUpOnSimulationMensuelle($event, simulationMensuel)"
                        attr.aria-label="Voir ressources fincancières de {{getDateStringFormat(simulationMensuel)}}"
                        tag-action="clic_bouton_detail_ressources_du_mois">
                        <div class="row">
                            <div id="span-mois-annee" [ngClass]="{'col-6 mt-auto mb-auto p-0 col-md-12': screenService.isExtraSmallScreen(), 'col-3 pl-5 text-left': !screenService.isExtraSmallScreen()}">
                                <span>
                                    {{getDateStringFormat(simulationMensuel)}}
                                </span>
                            </div>
                            <div [ngClass]="{'col-6': !screenService.isExtraSmallScreen()}"></div>
                            <div [ngClass]="{'col-4 p-0 mt-auto mb-auto ml-auto mr-0': screenService.isExtraSmallScreen(), 'col-2': !screenService.isExtraSmallScreen()}">
                                <span class="float-right">
                                    {{deConnecteSimulationAidesService.calculerMontantTotalRessourcesMois(simulationMensuel)}} €
                                </span>
                            </div>
                            <div class="col-1" [ngClass]="{'p-0 ml-auto mr-1': screenService.isExtraSmallScreen()}">
                                <span *ngIf="isSimulationMensuelleSelected(simulationMensuel)">
                                    <i alt class="fas fa-chevron-up"></i>
                                </span>
                                <span *ngIf="!isSimulationMensuelleSelected(simulationMensuel)">
                                    <i alt class="fas fa-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="card-footer"
                        [ngClass]="{'card-footer-mobile': screenService.isExtraSmallScreen(), 'card-footer-desktop': !screenService.isExtraSmallScreen()}"
                        *ngIf="isSimulationMensuelleSelected(simulationMensuel)">
                        <app-ressources-financieres-mensuelles
                            [simulationSelected]="simulationSelected"
                            [aideSelected]="aideSelected"
                            (newAideSelected)="changeAideSelected($event)"></app-ressources-financieres-mensuelles>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!afficherDetails" class="row row-style-2">
        <div class="col-12 mt-auto mb-auto">
            <app-ressources-financieres-diagramme [simulationAides]="simulationAides"></app-ressources-financieres-diagramme>
        </div>
    </div>
    <div id="actions-suite">
        <app-actions-suite>
        </app-actions-suite>
    </div>
</div>

<ng-template #popoverResultatSimulationTemplate>
    <div class="container">
        <div class="close-popover row">
            <i
                class="fas fa-times-circle mb-2  ml-auto"
                (click)="popoverResultatSimulation.hide()"></i>
        </div>
        <div class="row">
            <p>
                Pour information, si votre situation change et que vous reprenez un emploi, vos allocations sont susceptibles d'évoluer.
            </p>
        </div>
    </div>
</ng-template>
