<div class="container-fluid form-container-fluid">
    <h1 class="h1-style-2">
        5. {{pageTitlesEnum.RESULTAT_MA_SIMULATION}}
    </h1>
    <div class="row mt-4">
        <div
            id="alert-resultat-simulation"
            class="col-12 col-md-9 mt-auto mb-auto">
            <div
                class="alert alert-light alert-resultat-simulation mb-0"
                role="alert">
                <img src="./assets/images/info.svg">
                <span class="ml-2">
                    Le montant total de la simulation ne prend pas en compte les allocations logement, familiales, autres ressources du foyer et le prélèvement à la source.
                </span>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-auto mb-auto d-flex justify-content-center">
            <button
                class="btn-imprimer-simulation"
                data-testid="btn-personnes-charge-suivant"
                (click)="onClickButtonImprimerMaSimulation()">
                <div>
                    <img [src]="getSrcImgButtonImprimerSimulation()">
                    <span>{{getTextButtonImprimerSimulation()}}</span>
                </div>
            </button>
        </div>
    </div>
    <div *ngIf="screenService.isExtraSmallScreen()" class="row mt-4">
      <div class="col-12 col-md-6 mt-auto mb-auto">
        <h4 class="h4-style-1">
            Avant reprise d'emploi
        </h4>
      </div>
      <div id="card-revenus-actuels" class="col-12 col-md-6">
        <div class="card">
          <h3>Revenus et aides</h3>
          <span data-testid="span-revenus-aides-actuelles">{{simulationAidesSociales.montantRessourcesFinancieresMoisAvantSimulation}} €</span>
        </div>
      </div>
    </div>
    <div id="row-montants-total" class="row">
        <div *ngIf="!screenService.isExtraSmallScreen()" class="col-12 col-md-3 pl-0">
          <div class="card">
            <h4 class="h4-style-1 text-center  mt-auto mb-auto">Avant reprise d'emploi</h4>
          </div>
        </div>
        <div class="col-12 col-md-9 pl-0 pr-0">
          <div class="card">
            <h4 class="h4-style-1 mt-auto mb-auto">
                Mes ressources estimées après reprise d'emploi pour les {{simulationAidesSociales.simulationsMensuelles.length}} mois à venir
            </h4>
          </div>
        </div>
    </div>
    <div
        class="row "
        [ngClass]="{'card-deck': !screenService.isExtraSmallScreen(), 'card-sm-simulations': screenService.isExtraSmallScreen()}">
        <div *ngIf="!screenService.isExtraSmallScreen()"
            id="card-revenus-actuels"
            class="col-12 col-md-3">
            <div class="card">
                  <h3>Revenus et aides</h3>
                  <span data-testid="span-revenus-aides-actuelles">
                      {{simulationAidesSociales.montantRessourcesFinancieresMoisAvantSimulation}} €
                  </span>
            </div>
        </div>
        <div
            class="col-12 col-md-9 card first-card"
            *ngFor="let simulationMensuel of simulationAidesSociales.simulationsMensuelles; let index = index;"
            [ngClass]="{isLastCard: isLastSimulationMensuelle(index)}">
            <div class="card second-card">
                <div
                    [ngClass]="{active: isSimulationMensuelleSelected(simulationMensuel)}"
                    class="card-body"
                    data-testid="card-simulation-mensuel"
                    (click)="onClickButtonSimulationMensuelle(simulationMensuel)">
                    <div class="row">
                        <div class="col-6 mt-auto mb-auto p-0 col-md-12">
                            <span id="span-mois-annee">
                                {{getDateStringFormat(simulationMensuel)}}
                            </span>
                        </div>
                        <div class="col-4 p-0 mt-auto mb-auto ml-auto mr-0 col-md-12">
                            <span>
                                {{deConnecteSimulationAidesSocialesService.calculerMontantTotalRessourcesMois(simulationMensuel)}} €
                            </span>
                        </div>
                        <div
                            *ngIf="screenService.isExtraSmallScreen()"
                            class="col-1 p-0  ml-auto mr-1">
                            <span *ngIf="isSimulationMensuelleSelected(simulationMensuel)">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                            <span *ngIf="!isSimulationMensuelleSelected(simulationMensuel)">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    class="card-footer"
                    *ngIf="isSimulationMensuelleSelected(simulationMensuel) && screenService.isExtraSmallScreen()">
                    <app-ressources-financieres-mensuelles
                        class="col-12"
                        [simulationSelected]="simulationSelected"
                        [aideSocialeSelected]="aideSocialeSelected"
                        (newAideSocialeSelected)="changeAideSocialeSelected($event)"></app-ressources-financieres-mensuelles>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="simulationSelected && !screenService.isExtraSmallScreen()">
        <div class="row mt-3">
            <app-ressources-financieres-mensuelles
                class="col-6"
                [simulationSelected]="simulationSelected"
                [aideSocialeSelected]="aideSocialeSelected"
                (newAideSocialeSelected)="changeAideSocialeSelected($event)"></app-ressources-financieres-mensuelles>
            <app-detail-aide-sociale
                class="col-6 pr-0"
                *ngIf="aideSocialeSelected"
                [aideSocialeSelected]="aideSocialeSelected"></app-detail-aide-sociale>
        </div>
    </div>

    <div class="div-button-retour row d-flex justify-content-center">
        <button
            class="btn-style-perso-2"
            (click)="onClickButtonRetour()">
            <div>
              <img src="./assets/images/return-arrow.svg">
              <span>Retour</span>
          </div>
        </button>
    </div>
</div>
