<div class="container-fluid form-container-fluid">
    <h1 class="h1-style-2">
        5. {{pageTitlesEnum.RESULTAT_MA_SIMULATION}}
        <div
        id="infobulle-resultat-simulation"
        role="tooltip"
        class="img-interrogation-icon"
        style="vertical-align: baseline;"
        [ngClass]="{'popover-open': popoverResultatSimulation.isOpen}"
        placement="right top"
        tag-action="ouverture-infobulle-resultat-simulation"
        [popover]="popoverResultatSimulationTemplate"
        #popoverResultatSimulation="bs-popover"></div>
    </h1>
    <div class="row row-style-2">
        <div
            id="alert-resultat-simulation"
            class="col-12 col-md-9 mt-auto mb-auto">
            <div id="label-alerte-montants-resultat-simulation" class="mx-2 text-justify">
                Les futures allocations logement, familiales et autres ressources du foyer, ainsi que le prélèvement à la source sont à ajouter au résultat de la simulation. Nous travaillons actuellement à enrichir ce résultat des allocations logement recalculées ainsi que des prestations familiales. Nous faisons tout pour vous les proposer très prochainement.            </div>
            </div>
        <div class="col-12 col-md-3 mt-auto mb-auto d-flex justify-content-center">
            <span
                class="btn-imprimer-simulation"
                data-testid="btn-personnes-charge-suivant"
                (click)="onClickButtonImprimerMaSimulation()">
                <div>
                    <img alt="Icône téléchargement" src="./assets/images/download_2.svg">
                    <span id="telecharger_simulation_text">Télécharger la simulation</span>
                </div>
            </span>
        </div>
    </div>
    <div class="row row-style-2">
        <div class="col-12 mt-auto mb-auto">
            <app-ressources-financieres-diagramme [simulationAidesSociales]="simulationAidesSociales"></app-ressources-financieres-diagramme>
        </div>
    </div>
    <div *ngIf="screenService.isExtraSmallScreen()" class="row mt-4 row-style-2">
      <div id="card-revenus-actuels" class="col-12 col-md-12">
        <div class="card">
          <h3 style="font-family: Lato">Revenus et aides</h3>
          <span data-testid="span-revenus-aides-actuelles">{{simulationAidesSociales.montantRessourcesFinancieresMoisAvantSimulation}} €</span>
        </div>
      </div>
    </div>
    <div id="row-montants-total" class="row row-style-2">
        <div class="col-12 col-md-12 pl-0 pr-0">
          <div class="card">
            <h4 id="details_ressources_estimees_title" class="h4-style-1 mt-auto mb-auto">
                Détail des ressources estimées après reprise d'emploi pour les {{simulationAidesSociales.simulationsMensuelles.length}} mois à venir
            </h4>
          </div>
        </div>
    </div>
    <div
        class="row "
        [ngClass]="{'card-deck': !screenService.isExtraSmallScreen(), 'card-sm-simulations': screenService.isExtraSmallScreen()}">
        <div
            class="col-12 col-md-12 card first-card"
            *ngFor="let simulationMensuel of simulationAidesSociales.simulationsMensuelles; let index = index;"
            [ngClass]="{isLastCard: isLastSimulationMensuelle(index)}">
            <div class="card second-card" role="button">
                <div
                    [ngClass]="{active: isSimulationMensuelleSelected(simulationMensuel), hovered: index == hoveredButtonSimulationMensuelle}"
                    class="card-body"
                    data-testid="card-simulation-mensuel"
                    (mouseover)="onMouseOverButtonSimulationMensuelle(index)"
                    (mouseleave)="onMouseLeaveButtonSimulationMensuelle()"
                    (click)="onClickButtonSimulationMensuelle(simulationMensuel)">
                    <div class="row">
                        <div id="span-mois-annee" class="col-6 mt-auto mb-auto p-0 col-md-12">
                            <span >
                                {{getDateStringFormat(simulationMensuel)}}
                            </span>
                        </div>
                        <div class="col-4 p-0 mt-auto mb-auto ml-auto mr-0 col-md-12">
                            <span>
                                {{deConnecteSimulationAidesSocialesService.calculerMontantTotalRessourcesMois(simulationMensuel)}} €
                            </span>
                        </div>
                        <div
                            *ngIf="screenService.isExtraSmallScreen()"
                            class="col-1 p-0  ml-auto mr-1">
                            <span *ngIf="isSimulationMensuelleSelected(simulationMensuel)">
                                <i alt="" class="fas fa-chevron-down"></i>
                            </span>
                            <span *ngIf="!isSimulationMensuelleSelected(simulationMensuel)">
                                <i alt=""  class="fas fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    class="card-footer"
                    *ngIf="isSimulationMensuelleSelected(simulationMensuel) && screenService.isExtraSmallScreen()">
                    <app-ressources-financieres-mensuelles
                        class="col-12"
                        [simulationSelected]="simulationSelected"
                        [aideSocialeSelected]="aideSocialeSelected"
                        (newAideSocialeSelected)="changeAideSocialeSelected($event)"></app-ressources-financieres-mensuelles>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="simulationSelected && !screenService.isExtraSmallScreen()">
        <div class="row mt-3">
            <app-ressources-financieres-mensuelles
                class="col-6"
                [simulationSelected]="simulationSelected"
                [aideSocialeSelected]="aideSocialeSelected"
                (newAideSocialeSelected)="changeAideSocialeSelected($event)"></app-ressources-financieres-mensuelles>
            <app-detail-aide-sociale
                class="col-6 pr-0"
                [aideSocialeSelected]="aideSocialeSelected"></app-detail-aide-sociale>
        </div>
    </div>

    <div id="resultat_simulation_div_boutons" class="div-buttons-form row d-flex justify-content-center">
        <button
            id="resultat_simulation_bouton_retour"
            class="btn-style-perso-2 first-btn float-right"
            (click)="onClickButtonRetour()">
            <div>
                <img alt="Icône flèche retour" src="./assets/images/return-arrow-v2.svg">
                <span>Retour</span>
            </div>
        </button>
        <div [ngStyle]="{'margin-bottom': (this.screenService.isExtraSmallScreen())?'10vh':'0'}"></div>
        <button
            id="resultat_simulation_bouton_refaire_simulation"
            class="btn-style-perso-1 second-btn"
            type="button"
            data-testid="btn-refaire-simulation"
            (click)="onClickButtonRefaireSimulation()">
            <div class="px-0 justify-content-center">
                <span>Refaire une simulation</span>
            </div>
        </button>
    </div>
</div>

<ng-template #popoverResultatSimulationTemplate>
    <div class="container">
        <div class="close-popover row">
            <i
                class="fas fa-times-circle mb-2  ml-auto"
                (click)="popoverResultatSimulation.hide()"></i>
        </div>
        <div class="row">
            <p>
                Pour information, si votre situation change et que vous reprenez un emploi, vos allocations sont susceptibles d'évoluer.
            </p>
        </div>
    </div>
</ng-template>