@import "../../../../assets/scss/variables";

.row-style-2 {
  margin-right: 0;
  @media #{$small-device} {
    margin-right: 15px;
  }
}

.container-fluid {
  margin-top: 2rem;
  padding-left: 15px;

  #alert-resultat-simulation {
    @media #{$extra-small-device} {
      margin-bottom: 25px !important;
    }
    .alert-resultat-simulation {
      border: 1px solid $color-black-2;
      padding: 0.5rem;
      img {
        width: 1.2rem;
      }
      span {
        color: $color-black-2;
      }
    }
  }
  #card-revenus-actuels {
    padding-left: 9px;
    padding-right: 9px;
    @media #{$small-device} {
      padding-left: 0;
      padding-right: 15px;
    }
    .card {
      border: 0;
      height: 100%;
      margin-right: 0;
      margin-left: 0;
      text-align: center;
      padding: 0.4rem 1rem;
      width: 100%;
      @media #{$extra-small-device} {
        margin-left: auto;
        margin-right: auto;
      }
      .div-title-card {
        @media #{$tablet-device} {
          min-height: 50px;
        }
        align-items: center;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
        height: 100%;
        justify-content: center;
        h3 {
          color: $color-blue-3;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 16px;
        }
      }
      .div-span-card {
        align-items: center;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
        height: 100%;
        justify-content: center;
      }

      span {
        font-weight: 900;
        @media #{$small-device} {
          font-size: 17px;
        }
        @media #{$medium-device} {
          font-size: 24px;
        }
      }
      .card-body {
        background-color: $color-white-3;
      }
    }
  }
  #row-montants-total {
    margin-top: 0.5rem;
    @media #{$small-device} {
      margin-top: 1.5rem;
    }
    .card {
      height: 100%;
      padding: 10px;
      @media #{$extra-small-device} {
        background-color: unset;
      }
    }
  }
  .card {
    border: 0;
  }
  .card-deck {
    border: 0;
    border-radius: 8px;
    margin-bottom: 0;
    @media #{$small-device} {
      padding-bottom: 5px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .first-card {
    border: 0;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    @media #{$extra-small-device} {
      padding-left: 0;
      padding-right: 0;
    }
    @media #{$small-device} {
      margin-bottom: 0px;
      &:not(.isLastCard) {
        border-right: 1px solid $color-grey-2 !important;
        border-radius: 0 !important;
      }
    }
    .second-card {
      border: 0;
      cursor: pointer;
      margin-bottom: 0;
      @media #{$small-device} {
        margin: 5px;
        margin-left: -7px;
        margin-right: -7px;
      }
      .card-body {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 1.25rem;
        text-align: center;
        @media #{$small-device} {
          padding: 0.15rem;
          border-radius: 8px;
        }
        &.active {
          background-color: $color-grey-1;
        }
        #span-mois-annee {
          @media #{$tablet-device} {
            min-height: 50px;
            align-items: center;
            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox; /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
            height: 100%;
          }
          span {
            font-size: 16px;
            color: $color-blue-3;
            font-weight: bold;
          }
        }
        span {
          @media #{$small-device} {
            font-size: 17px;
          }
          @media #{$medium-device} {
            font-size: 24px;
          }
          font-weight: 900;
        }
      }
      .card-footer {
        background-color: unset;
        padding-bottom: 0;
      }
    }
  }
  .card-sm-simulations {
    margin-right: 0 !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
  }

  .div-button-retour {
    margin-top: 20px;
    margin-bottom: 30px;
    .btn-style-perso-2 {
      background-color: unset;
    }
  }
  .row {
    @media #{$small-device} {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #resultat_simulation_div_boutons {

    margin:auto!important;
    margin-top:45px!important;
    background-color: unset;

    #resultat_simulation_bouton_retour {
      background-color:unset;
      // width:auto;
    }
    #resultat_simulation_bouton_refaire_simulation {
      width: 250px!important;
    }
  }
}
