@import "../../../../assets/scss/variables";

.card-message-info {
  background-color: $color-blue-7;
  border-radius: 0.5rem;
  width: unset;
  padding: 1rem;

  span {
    color: $color-blue-2
  }

  .row {
    width: fit-content;
    line-height: normal;

    .img-card-message-info {
      max-width: fit-content !important;
      padding-right: 0.3125rem;

      div {
        width: 1.25rem;
        height: 100%;
        position: relative;

        img {
          bottom: 0;
          margin: auto;
          position: absolute;
          top: 0;
          width: 1.25rem;
        }
      }
    }
  }
}