<div class="titre-carte">
    <div class="row">
        <div class="col-lg-1">
            <img class="icone-carte" 
            alt="Icone de L’Allocation de Solidarité Spécifique"
                    src={{aideIcon}}>
        </div>
        <div class="col-lg-11" style="padding-left: 0%;">
            <div class="row">
                <div class="col-lg-12">
                    <p class="titre-carte-texte">
                        {{aideTitre}}
                    </p>
                </div>
                <div class="col-lg-12">
                    <div class="rectangle" style="{{aideColor}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
