@import "../../../../../../assets/scss/variables";

.action-suite {
  background: white;
  border-radius: 1.5rem !important;
  border: none;
  min-height: 6.5rem;
  padding: 1.5rem !important;
  cursor: pointer;

  @media #{$extra-small-device} {
    height: 6.5rem !important;
  }

  &:hover {
    border: $color-blue-2 0.0625rem solid !important;
  }

  img {
    width: 2.75rem;
    height: 2.75rem;
  }

  .col-text {
    @media #{$extra-small-device} {
      padding-left: 2rem;
    }
  }
}