@import "../../../../../assets/scss/variables";

.card {
  background-color: $color-white-2;
  border: 0.0625rem solid $color-blue-2;
  border-radius: 8px;
  box-shadow: none;
  height: 11.5625rem;
  padding: 1.875rem;
  div {
    position: relative;
    height: 100%;
    margin-top: 2.1875rem;
    span {
      bottom: 0;
      position: absolute;
      font-weight: bold !important;
    }
  }
}