<carousel [interval]="12000" appCarouselSwipe>
    <slide>
        <div
            class="card card-body">
            <p class="body-1-typo">{{temoignages[0].temoignage}}</p>
            <div>
                <p class="author-temoignage body-2-typo">{{temoignages[0].auteur}}</p>
            </div>
        </div>
    </slide>
    <slide>
        <div
            class="card card-body">
            <p class="body-1-typo">{{temoignages[1].temoignage}}</p>
            <div>
                <p class="author-temoignage body-2-typo">{{temoignages[1].auteur}}</p>
            </div>
        </div>
    </slide>
    <slide>
        <div
            class="card card-body">
            <p class="body-1-typo">{{temoignages[2].temoignage}}</p>
            <div>
                <p class="author-temoignage body-2-typo">{{temoignages[2].auteur}}</p>
            </div>
        </div>
    </slide>
</carousel>
