<div class="action-suite" attr.tag-action="{{getTagAction()}}" (click)="onClickAction($event, codeAction)" tabindex="1">
    <div class="row my-auto">
        <div class="col-2 col-md-auto col-xl-3 justify-content-center">
            <img alt="" role="presentation" [src]="'./assets/images/illustrations/'+imageLink+'.svg'">
        </div>
        <div class="col-text col-10 col-md-auto col-xl-9 my-auto">
            <h5 class="headline-5-typo color-blue-2-typo">
                {{text}}
            </h5>
        </div>
    </div>
</div>