<div class="container-fluid container-action">
    <div>
        <div id="block-offres-emploi" class="card-body text-center card-action-suite" >
            <img alt="Icône rechercher offres d'emploi" src="./assets/images/rechercher_offres.svg" class="mb-3 mt-2">
            <p class="card-action-suite-text">Rechercher des offres qui correspondent à vos critères de simulation sur pôle emploi.fr</p>
        </div>
        <div class="text-center card-body card-body-btn-action">
            <button id="btn-offres-emploi"
            type="button"
            aria-label="Rechercher des offres d'emploi"
            class="btn-style-perso-1 btn-action-suite mt-auto"
            data-testid="btn-offres-emploi"
            tag-action="clic_bouton_voir_offres_emploi"
            (click)="onClickButtonVoirOffres()"
            >

            <div class="text-center">
                <span class="mr-2">Voir les offres d'emploi</span>
                <img alt="" src="./assets/images/icon-bt-primaire.svg">
            </div>
        </button>
        </div>
    </div>
</div>
