@import "../../../../assets/scss/variables";


#input-email {
  margin-top: 1.375rem;
  width: 16.25rem;
  margin-right: 1rem;

  @media #{$extra-small-device} {
    width: 100%;
  }
}

#bouton-submit-email {

  @media #{$extra-small-device} {
    margin-top: 1rem;
    width: 100%;
  }

}

#titre-modal-pas-de-compte {
  margin-bottom: 1.375rem;
}

#logo-modal-pas-de-compte {
  margin-top: 0.375rem;
  margin-bottom: 1.375rem;
}