<div class="container-fluid form-container-fluid">
  <h1 class="h1-style-2">3. Mes ressources actuelles</h1>
  <div class="text-under-h1">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}</div>
  <div class="card card-body card-form">
    <form (ngSubmit)="redirectVersPageSuivante(ressourcesFinancieresForm)" [ngClass]="{'submitted':isRessourcesFinancieresFormSubmitted}" #ressourcesFinancieresForm="ngForm">
      <div class="form-group">
        <div class="row mb-2">
          <label class="label" for="hasASSPercu">* J'ai perçu le mois précédent de l'ASS (Allocation de Solidarité Spécifique)</label>
        </div>
        <div class="row">
          <div class="custom-control custom-radio">
            <input id="hasASSPercuOui" name="hasASSPercu" type="radio" class="custom-control-input" [(ngModel)]="demandeurEmploiConnecte.beneficiaireAidesSociales.beneficiairePrestationSolidarite" [value]="true">
            <label class="custom-control-label" for="hasASSPercuOui">oui</label>
          </div>
          <div class="custom-control custom-radio  ml-2">
            <input id="hasASSPercuNon" name="hasASSPercu" type="radio" class="custom-control-input" [(ngModel)]="demandeurEmploiConnecte.beneficiaireAidesSociales.beneficiairePrestationSolidarite" [value]="false" disabled>
            <label class="custom-control-label" for="hasASSPercuNon">non</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-2">
          <label class="label" for="montantJounalierASS">* Montant journalier net de votre allocation</label>
        </div>
        <div class="row">
          <input name="montantJounalierASS" type="text" pattern="{{controleChampFormulaireService.REGEX_MONTANT}}" (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0" maxlength="6" class="form-control" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsPoleEmploi.montantJournalierNetAllocationSolidariteSpecifique" required placeholder="Montant" #montantJounalierASS="ngModel">
          <span class="text-side-input">€ net/jour</span>
        </div>
        <span class="row error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantJounalierASS.touched)  && montantJounalierASS.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
        <span class="row error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantJounalierASS.touched)  && montantJounalierASS.errors?.pattern">{{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}</span>
      </div>
      <div class="form-group">
        <div class="row  mb-2">
          <label class="label" for="dateDerniereOuvertureASS">* Date dernière ouverture de droit à l'ASS</label>
        </div>
        <div class="form-group">
          <div class="row btn-group-input-date">
            <input name="jourDateDerniereOuvertureASS" (focus)="onFocusDateDerniereOuvertureASS()" class="form-control jour-input" (change)="onChangeOrKeyUpDateDerniereOuvertureASSJour($event)" maxlength="2" type="text" min="0" (keyup)="onChangeOrKeyUpDateDerniereOuvertureASSJour($event)" (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" placeholder="JJ" [(ngModel)]="dateDernierOuvertureDroitASS.jour" required #jourDateDerniereOuvertureASS="ngModel">
            <input name="moisDateDerniereOuvertureASS" (focus)="onFocusDateDerniereOuvertureASS()" class="form-control mois-input" (change)="onChangeOrKeyUpDateDerniereOuvertureASSMois($event)" maxlength="2" type="text" min="0" (keyup)="onChangeOrKeyUpDateDerniereOuvertureASSMois($event)" (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" placeholder="MM" [(ngModel)]="dateDernierOuvertureDroitASS.mois" required #moisDateDerniereOuvertureASS="ngModel">
            <input name="anneeDateDerniereOuvertureASS" class="form-control annee-input" maxlength="4" type="text" min="1900" (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" placeholder="AAAA" [(ngModel)]="dateDernierOuvertureDroitASS.annee" required #anneeDateDerniereOuvertureASS="ngModel">
          </div>
          <span class="row error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || jourDateDerniereOuvertureASS.touched)  && jourDateDerniereOuvertureASS.errors?.required">{{controleChampFormulaireService.MESSAGE_DATE_JOUR_OBLIGATOIRE}}</span>
          <span class="row error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || moisDateDerniereOuvertureASS.touched)  && moisDateDerniereOuvertureASS.errors?.required">{{controleChampFormulaireService.MESSAGE_DATE_MOIS_OBLIGATOIRE}}</span>
          <span class="row error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || anneeDateDerniereOuvertureASS.touched) && anneeDateDerniereOuvertureASS.errors?.required">{{controleChampFormulaireService.MESSAGE_DATE_ANNEE_OBLIGATOIRE}}</span>
          <span class="row error-input-message" *ngIf="isRessourcesFinancieresFormSubmitted  && dateDernierOuvertureDroitASS.messageErreurFormat">{{dateDernierOuvertureDroitASS.messageErreurFormat}}</span>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-2">
          <label class="label" for="isAssEtSalairePercu">* J'ai déjà cumulé l'ASS + un salaire au cours des 3 derniers mois</label>
        </div>
        <div class="row">
          <div class="custom-control custom-radio">
            <input id="isAssEtSalairePercuOui" name="isAssEtSalairePercu" type="radio" class="custom-control-input" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsPoleEmploi.hasASSPlusSalaireCumule" (click)="unsetNombreMoisCumulesASSPercueEtSalaire(true)" required [value]="true" #isAssEtSalairePercu="ngModel">
            <label class="custom-control-label" for="isAssEtSalairePercuOui">oui</label>
          </div>
          <div class="custom-control custom-radio ml-2">
            <input id="isAssEtSalairePercuNon" name="isAssEtSalairePercu" type="radio" class="custom-control-input" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsPoleEmploi.hasASSPlusSalaireCumule" [value]="false" required #isAssEtSalairePercu="ngModel">
            <label class="custom-control-label" for="isAssEtSalairePercuNon">non</label>
          </div>
        </div>
        <span class="row error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || isAssEtSalairePercu.touched)  && isAssEtSalairePercu.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
      </div>
      <div class="form-group" *ngIf="demandeurEmploiConnecte.ressourcesFinancieres.allocationsPoleEmploi.hasASSPlusSalaireCumule === true">
        <div class="row flex-column">
          <label class="label mb-2" for="nombreMoisCumulAssSalaire">* Nombre de mois ASS + salaire cumulés</label>
          <select name="nombreMoisCumulAssSalaire" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsPoleEmploi.nombreMoisCumulesASSPercueEtSalaire" class="fit-content form-control" data-width="auto" required #nombreMoisCumulAssSalaire="ngModel">
            <option [value]="null">Sélectionner</option>
            <option *ngFor="let nombreMois of nombreMoisCumulAssSalaireSelectOptions" [value]="nombreMois.value">{{ nombreMois.label }}</option>
          </select>
          <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || nombreMoisCumulAssSalaire.touched)  && nombreMoisCumulAssSalaire.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
        </div>
      </div>
      <div class="form-group flex-column" *ngIf="demandeurEmploiConnecteService.hasSituationExceptionnelle()">
        <div class="row mb-3 flex-column">
          <label class="label">Mes autre(s) ressource(s) perçue(s)</label>
        </div>
        <div class="row mt-3" *ngIf="demandeurEmploiConnecte.informationsIdentite.isHandicape">
          <div class="col-12 col-md-4 pl-0 mt-auto mb-auto">
            <label class="label label-left-style-1" for="montantAAH">* Allocations aux adultes handicapées</label>
          </div>
          <div class="col-12 col-md-8  mt-auto mb-auto">
            <div class="row pl-0 d-inline d-flex">
              <input name="montantAAH" pattern="{{controleChampFormulaireService.REGEX_MONTANT}}" (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text" min="0" class="max-with-input-type-montant form-control" placeholder="Montant" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsCAF.montantAllocationAdultesHandicapes" required #montantAAH="ngModel">
              <span class="text-side-input">€ net du mois dernier</span>
            </div>
            <div class="row">
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantAAH.touched)  && montantAAH.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantAAH.touched)  && montantAAH.errors?.pattern">{{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}</span>
            </div>
          </div>
        </div>
        <div class="row mt-3" *ngIf="demandeurEmploiConnecte.informationsIdentite.isCreateurEntreprise">
          <div class="col-12 col-md-4 pl-0 mt-auto mb-auto">
            <label class="label label-left-style-1" for="montantCreateurEntreprise">* Revenus créateur d'entreprise</label>
          </div>
          <div class="col-12 col-md-8  mt-auto mb-auto">
            <div class="row pl-0 d-inline d-flex">
              <input name="montantCreateurEntreprise" pattern="{{controleChampFormulaireService.REGEX_MONTANT}}" (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text" min="0" class="max-with-input-type-montant form-control" placeholder="Montant" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.montantCreateurEntreprise" required #montantCreateurEntreprise="ngModel">
              <span class="text-side-input">€ net total des 3 derniers mois</span>
            </div>
            <div class="row">
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantCreateurEntreprise.touched)  && montantCreateurEntreprise.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantCreateurEntreprise.touched)  && montantCreateurEntreprise.errors?.pattern">{{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="demandeurEmploiConnecte.informationsIdentite.hasRevenusImmobilier">
        <div class="col-12 col-md-4 pl-0 mt-auto mb-auto">
          <label class="label label-left-style-1" for="montantRevenusImmobilier">* Revenus immobilier</label>
        </div>
        <div class="col-12 col-md-8  mt-auto mb-auto">
          <div class="row pl-0 d-inline d-flex">
            <input name="montantRevenusImmobilier" pattern="{{controleChampFormulaireService.REGEX_MONTANT}}" (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text" min="0" class="max-with-input-type-montant form-control" placeholder="Montant" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.montantRevenusImmobilier" required #montantRevenusImmobilier="ngModel">
            <span class="text-side-input">€ net total des 3 derniers mois</span>
          </div>
          <div class="row">
            <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantCreateurEntreprise.touched)  && montantCreateurEntreprise.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
            <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantCreateurEntreprise.touched)  && montantCreateurEntreprise.errors?.pattern">{{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}</span>
          </div>
        </div>
      </div>
      <div class="form-group flex-column mt-3">
        <div class="row mb-3 flex-column">
          <label class="label">Les ressource(s) perçue(s) par mon foyer</label>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 pl-0 mt-auto mb-auto">
            <label class="label label-left-style-1" for="montantAllocationsLogement">* Allocations logement du foyer</label>
          </div>
          <div class="col-12 col-md-8  mt-auto mb-auto">
            <div class="row pl-0 d-inline d-flex">
              <input name="montantAllocationsLogement" pattern="{{controleChampFormulaireService.REGEX_MONTANT}}" (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text" min="0" class="max-with-input-type-montant form-control" placeholder="Montant" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsCAF.montantPensionAlimentaire" required #montantAllocationsLogement="ngModel">
              <span class="text-side-input">€ net total du mois dernier</span>
            </div>
            <div class="row">
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantAllocationsLogement.touched)  && montantAllocationsLogement.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantAllocationsLogement.touched)  && montantAllocationsLogement.errors?.pattern">{{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}</span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-md-4 pl-0 mt-auto mb-auto">
            <label class="label label-left-style-1" for="montantAllocationsFamiliales">* Allocations familiales du foyer</label>
          </div>
          <div class="col-12 col-md-8  mt-auto mb-auto">
            <div class="row  pl-0 d-inline d-flex">
              <input name="montantAllocationsFamiliales" pattern="{{controleChampFormulaireService.REGEX_MONTANT}}" (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text" min="0" class="max-with-input-type-montant form-control" placeholder="Montant" [(ngModel)]="demandeurEmploiConnecte.ressourcesFinancieres.allocationsCAF.montantAllocationFamiliale" required #montantAllocationsFamiliales="ngModel">
              <span class="text-side-input">€ net total du mois dernier</span>
            </div>
            <div class="row">
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantAllocationsFamiliales.touched)  && montantAllocationsFamiliales.errors?.required">{{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}</span>
              <span class="error-input-message" *ngIf="(isRessourcesFinancieresFormSubmitted || montantAllocationsFamiliales.touched)  && montantAllocationsFamiliales.errors?.pattern">{{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="div-buttons-form row">
        <div class="col-12 col-md-6">
          <button class="btn btn-primary-style-3" type="submit">
            <div class="text-button">Suivant</div>
            <div><img src="./assets/images/icon-bt-primaire.svg" /></div>
          </button>
        </div>
        <div class="col-12 col-md-6 order-md-first">
          <button class="btn btn-primary-style-0" (click)="redirectVersPagePrecedente()">
            <div><img src="./assets/images/return-arrow.svg" /></div>
            <div class="text-button">Retour</div>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>