<div class="form-group">
    <div class="row mb-2">
        <label
            class="label"
            for="situation">
            * Cette personne perçoit
        </label>
    </div>
    <div class="row">
        <label
            name="isHandicape"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isHandicape"
            btnCheckbox
            tabindex="0"
            role="button"
            (click)="onClickCheckBoxIsHandicape()"
            #isHandicape="ngModel">
            {{situationPersonneEnum.HANDICAPE}}
        </label>
        <label
            name="isSalarie"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isSalarie"
            btnCheckbox
            tabindex="0"
            role="button"
            #isSalarie="ngModel"
            (click)="onClickCheckBoxIsSalarie()">
            {{situationPersonneEnum.SALARIE}}
        </label>
        <label
            name="hasRessourceAideEmploi"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.hasRessourceAideEmploi"
            btnCheckbox
            tabindex="0"
            role="button"
            #hasRessourceAideEmploi="ngModel"
            (click)="onClickCheckBoxHasRessourceAideEmploi()">
            {{situationPersonneEnum.RESSOURCE_AIDE_EMPLOI}}
        </label>
        <label
            name="isSansRessource"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isSansRessource"
            btnCheckbox
            tabindex="0"
            role="button"
            #isSansEmploi="ngModel"
            (click)="onClickCheckBoxIsSansRessource()">
            {{situationPersonneEnum.SANS_RESSOURCE}}
        </label>
    </div>
</div>
<div class="mb-3" *ngIf="this.nouvellePersonneACharge.informationsPersonnelles.hasRessourceAideEmploi === true && !nouvellePersonneACharge.informationsPersonnelles.isSalarie">
  <i class="mt-auto mb-auto fas fa-info-circle">
    <span class="mt-auto mb-auto ml-1">indiquer 0 si aucun montant</span>
  </i>
</div>
<div
    class="form-group"
    *ngIf="nouvellePersonneACharge.informationsPersonnelles.isHandicape">
    <div class="row mb-2">
        <label
            class="label"
            for="allocationMensuelleNetAAH">
            * Allocation Adulte Handicapé (AAH)
        </label>
    </div>
    <div class="row">
        <input
            name="allocationMensuelleNetAAH"
            type="text"
            pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
            min="0"
            maxlength="6"
            class="form-control d-inline"
            [(ngModel)]="nouvellePersonneACharge.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH"
            placeholder="Montant"
            inputmode="decimal"
            required
            #allocationMensuelleNetAAH="ngModel">
        <span class="text-side-input">€</span>
        <span class="text-2-side-input">du mois dernier</span>
    </div>
    <div class="row">
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetAAH?.touched)  && allocationMensuelleNetAAH?.errors?.required">
            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
        </span>
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetAAH?.touched)  && allocationMensuelleNetAAH?.errors?.pattern">
            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
        </span>
    </div>
</div>
<div
    class="form-group"
    *ngIf="nouvellePersonneACharge.informationsPersonnelles.isSalarie">
    <div class="row mb-2">
        <label
            class="label"
            for="salaireNet">
            * Salaire
        </label>
    </div>
    <div class="row">
        <input
            name="salaireNet"
            type="text"
            pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
            min="0"
            maxlength="6"
            class="form-control d-inline"
            [(ngModel)]="nouvellePersonneACharge.ressourcesFinancieres.salaireNet"
            required
            placeholder="Montant"
            inputmode="decimal"
            #salaireNet="ngModel">
        <span class="d-inline text-side-input">€</span>
        <span class="text-2-side-input">net</span>
    </div>
    <div class="row">
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
        </span>
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
        </span>
    </div>
</div>
<div
    class="form-group"
    *ngIf="nouvellePersonneACharge.informationsPersonnelles.hasRessourceAideEmploi">
    <div class="row mb-2">
        <label
            class="label"
            for="allocationMensuelleNetRSA">
            * Revenu Solidarité Active (RSA)
        </label>
    </div>
    <div class="row">
        <input
            name="allocationMensuelleNetRSA"
            type="text"
            pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
            min="0"
            maxlength="6"
            class="form-control d-inline"
            [(ngModel)]="nouvellePersonneACharge.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA"
            placeholder="Montant"
            inputmode="decimal"
            required
            #allocationMensuelleNetRSA="ngModel">
        <span class="text-side-input d-inline">€</span>
        <span class="text-2-side-input">du mois dernier</span>
    </div>
    <div class="row">
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.required">
            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
        </span>
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.pattern">
            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
        </span>
    </div>
</div>
<div
    class="form-group"
    *ngIf="nouvellePersonneACharge.informationsPersonnelles.hasRessourceAideEmploi && !nouvellePersonneACharge.informationsPersonnelles.isSalarie">
    <div class="row mb-2">
        <label
            class="label"
            for="allocationMensuelleNetARE">
            Allocation Retour Emploi (ARE)
        </label>
    </div>
    <div class="row">
        <input
            name="allocationMensuelleNetARE"
            type="text"
            pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
            min="0"
            maxlength="6"
            class="form-control d-inline"
            [(ngModel)]="nouvellePersonneACharge.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNetARE"
            placeholder="Montant"
            inputmode="decimal"
            required
            #allocationMensuelleNetARE="ngModel">
        <span class="text-side-input d-inline">€</span>
        <span class="text-2-side-input">du mois dernier</span>
    </div>
    <div class="row">
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
            {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
        </span>
        <span
            class="error-input-message"
            *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
            {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
        </span>
    </div>
</div>
<div
    class="form-group"
    *ngIf="nouvellePersonneACharge.informationsPersonnelles.hasRessourceAideEmploi && !nouvellePersonneACharge.informationsPersonnelles.isSalarie">
    <div class="row mb-2">
        <label
            class="label"
            for="allocationMensuelleNetASS">
            Allocation Solidarité Spécifique (ASS)
        </label>
    </div>
    <div class="row">
        <input
            name="allocationMensuelleNetASS"
            type="text"
            pattern="{{controleChampFormulaireService.REGEX_MONTANT}}"
            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
            min="0"
            maxlength="6"
            class="form-control d-inline"
            [(ngModel)]="nouvellePersonneACharge.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNetASS"
            placeholder="Montant"
            inputmode="decimal"
            required
            #allocationMensuelleNetASS="ngModel">
        <span class="text-side-input d-inline">€</span>
        <span class="text-2-side-input">du mois dernier</span>
    </div>
    <div class="row">
      <span
          class="error-input-message"
          *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
          {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
      </span>
      <span
          class="error-input-message"
          *ngIf="(isNouvellePersonnesAChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
          {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
      </span>
    </div>
</div>
