<div class="form-group">
    <div class="row mb-2">
        <label
            class="label"
            for="situation">
            * Cette personne perçoit
        </label>
    </div>
    <div class="row">
        <label
            name="isHandicape"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isHandicape"
            btnCheckbox
            tabindex="0"
            role="button"
            (click)="onClickCheckBoxIsHandicape()"
            #isHandicape="ngModel">
            {{situationPersonneEnum.HANDICAPE}}
        </label>
        <label
            name="isSalarie"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isSalarie"
            btnCheckbox
            tabindex="0"
            role="button"
            #isSalarie="ngModel"
            (click)="onClickCheckBoxIsSalarie()">
            {{situationPersonneEnum.SALARIE}}
        </label>
        <label
            name="hasRessourceAideEmploi"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.hasRessourceAideEmploi"
            btnCheckbox
            tabindex="0"
            role="button"
            #hasRessourceAideEmploi="ngModel"
            (click)="onClickCheckBoxHasRessourceAideEmploi()">
            {{situationPersonneEnum.RESSOURCE_AIDE_EMPLOI}}
        </label>
        <label
            name="isSansRessource"
            class="btn radio-button-style-1"
            [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isSansRessource"
            btnCheckbox
            tabindex="0"
            role="button"
            #isSansEmploi="ngModel"
            (click)="onClickCheckBoxIsSansRessource()">
            {{situationPersonneEnum.SANS_RESSOURCE}}
        </label>
    </div>
</div>
