<div class="row">
    <div class="col-1 col-md-2 card-code-ressource paie mt-auto mb-auto"
         [ngClass]="[codeRessource.toLowerCase()]">
        <span>{{codeRessource}}</span>
    </div>
    <div class="col-6 col-md-auto mt-auto mb-auto">
        <div class="row flex-column">
            <span class="span-libelle-aide">{{libelleRessource}}</span>
            <span *ngIf="organismeRessource" class="span-organisme">{{organismeRessource}}</span>
        </div>
    </div>
    <div class="col-3 col-md-2 mt-auto mb-auto ml-auto col-montant">
        <span>
            {{montantRessource}} €
        </span>
    </div>
    <div class="col-1 col-md-1 mt-auto mb-auto col-picto-arrow" *ngIf="isColPictoArrowDisplay && (!isOnSmartphone || (isOnSmartphone && !isAideSocialSelected))"><span class="span-chevron"><i class="fas fa-chevron-right"></i></span></div>
    <div class="col-1 col-md-1 mt-auto mb-auto col-picto-arrow" *ngIf="isColPictoArrowDisplay && isAideSocialSelected && isOnSmartphone"><span class="span-chevron"><i class="fas fa-chevron-down"></i></span></div>
</div>