<div class="row">
    <div class="col-2 card-code-ressource paie mt-auto mb-auto"
         [ngClass]="[codeRessource.toLowerCase()]">
        <span>{{codeRessource}}</span>
    </div>
    <div class="col-7 col-sm-auto mt-auto mb-auto">
        <div class="row flex-column">
            <span class="span-libelle-aide">{{libelleRessource}}</span>
            <span *ngIf="organismeRessource" class="span-organisme">{{organismeRessource}}</span>
        </div>
    </div>
    <div class="col-2 mt-auto mb-auto ml-auto mr-0 col-montant">
        <span>
            {{montantRessource}} €
        </span>
    </div>
    <div class="col-1 mt-auto mb-auto  ml-0 mr-2  col-picto-arrow"><span *ngIf="isColPictoArrowDisplay">></span></div>
</div>