<div class="container-fluid">
    <div class="card card-body">
        <a
            href="mailto:estime@pole-emploi.fr"
            target="_blank">
            <img
                src="./assets/images/contact_mobile.svg"
                class="img-fluid d-sm-none"
                alt="Image contactez-nous">
            <img
                src="./assets/images/contact_desktop.svg"
                class="img-fluid d-none d-sm-block"
                alt="Image contactez-nous">
        </a>
    </div>
</div>
