@import "../../../assets/scss/variables";

.container-fluid {
  padding-top: 10px;
  @media #{$extra-small-device} {
    margin-bottom: -16px;
  }
  a {
    display: block;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}