<div class="container-fluid form-container-fluid">
  <h1 class="h1-style-2">3. Mes personnes à charge</h1>
  <div class="text-under-h1">* Tous les champs sont obligatoires</div>
  <div class="card card-body card-form">
    <form (ngSubmit)="redirectVersPageSuivante()" #formPersonnesACharge="ngForm">
      <div class="form-group">
        <div class="form-group">
          <div class="row">
            <label class="label" for="personne-a-charge">Nombre d'enfant(s) ou de personne(s) à charge</label>
          </div>
          <div class="row">
            <input id="personne-a-charge" name="personne-a-charge" type="number" min="0" class="form-control" value="0" [(ngModel)]="demandeurEmploiConnecte.situationFamiliale.nombrePersonnesACharge" required #personnesACharges="ngModel">
          </div>
          <span class="row required-message" *ngIf="!personnesACharges.valid && personnesACharges.touched">Cette donnée est obligatoire.</span>
        </div>
      </div>
      <div class="div-buttons-form row">
        <button class="btn btn-primary-style-0" (click)="redirectVersPagePrecedente()"><div><img src="./assets/images/return-arrow.svg" /></div><div class="text-button">Retour</div></button>
        <button class="btn btn-primary-style-3" type="submit" [disabled]="!formPersonnesACharge.valid"><div class="text-button">Suivant</div><div><img src="./assets/images/icon-bt-primaire.svg" /></div></button>
      </div>
    </form>
  </div>
</div>