<div class="card card-body card-form card-form-style-3">
    <form [ngClass]="{'submitted':isRessourcesFinancieresFormSubmitted}" #vosRessourcesFinancieresForm="ngForm">
        <div *ngIf="deConnecteBeneficiaireAidesService.isBeneficiaireASS()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="input-allocation-journaliere-net-ass">
                    * Montant de votre allocation journalière ASS
                    <button id="infobulle-allocation-ass" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_allocation_ass" aria-label="Infobulle montant ASS"
                        (click)="modalService.openModal($event, modalAllocationASSTemplate)">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="input-allocation-journaliere-net-ass" name="allocationJournaliereNetASS" type="text"
                        data-testid="input-allocation-journaliere-net-ass"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                        maxlength="5" class="form-control d-inline"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet == 0 || this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet > this.controleChampFormulaireService.MONTANT_ASS_JOURNALIER_MAX)}"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet"
                        required placeholder="Montant" inputmode="decimal" #allocationJournaliereNetASS="ngModel">
                    <app-text-with-euro-symbol message="/jour"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet == 0 || this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationASS.allocationJournaliereNet > this.controleChampFormulaireService.MONTANT_ASS_JOURNALIER_MAX)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_JOURNALIER_ASS}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationJournaliereNetASS.touched)  && allocationJournaliereNetASS.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationJournaliereNetASS.touched)  && allocationJournaliereNetASS.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_2}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteBeneficiaireAidesService.isBeneficiaireARE()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="input-salaire-journalier-reference-brut">
                    * Montant de votre salaire journalier brut de référence (SJR) pour l'ARE
                    <button id="infobulle-sjr-are" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_obtenir_ressources_are"
                        aria-label="Infobulle salaire journalier référence ARE"
                        (click)="modalService.openModal($event, modalAllocationARETemplate)">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="input-salaire-journalier-reference-brut" name="salaireJournalierReferenceBrut"
                        type="text" data-testid="input-salaire-journalier-reference-are"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                        maxlength="5" class="form-control d-inline"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut == 0 || this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut > this.controleChampFormulaireService.MONTANT_ARE_SALAIRE_JOURNALIER_REFERENCE_BRUT_MAX)}"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut"
                        required placeholder="Montant" inputmode="decimal" #salaireJournalierReferenceBrut="ngModel">
                    <app-text-with-euro-symbol></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.salaireJournalierReferenceBrut == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || salaireJournalierReferenceBrut.touched)  && salaireJournalierReferenceBrut.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || salaireJournalierReferenceBrut.touched)  && salaireJournalierReferenceBrut.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_2}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteBeneficiaireAidesService.isBeneficiaireARE()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="input-nombre-jours-restants">
                    * Nombre de jours d'allocation restants (reliquat) pour l'ARE
                    <button id="infobulle-nombre-jours-restants-are" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_obtenir_ressources_are"
                        aria-label="Infobulle nombre jours restants ARE"
                        (click)="modalService.openModal($event, modalAllocationARETemplate)">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="input-nombre-jours-restants" name="nombreJoursRestants" type="text"
                        data-testid="input-nombre-jours-restants-are"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" min="0"
                        maxlength="5" class="form-control d-inline"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.nombreJoursRestants && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.nombreJoursRestants == 0 || this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.nombreJoursRestants > this.controleChampFormulaireService.MONTANT_ARE_NOMBRE_JOURS_RESTANTS_MAX)}"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.nombreJoursRestants"
                        required placeholder="Nombre" inputmode="numeric" #nombreJoursRestants="ngModel">
                    <span class="text-side-input d-inline body-2-typo">jours</span>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.nombreJoursRestants == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || nombreJoursRestants.touched)  && nombreJoursRestants.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || nombreJoursRestants.touched)  && nombreJoursRestants.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="afficherQuestionDegressiviteAre()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="input-allocation-journaliere-brut">
                    * Êtes-vous concerné.e par la dégressivité de l'ARE ?
                    <button id="infobulle-degressivite-are" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_degressivite_are" aria-label="Infobulle degressivité ARE"
                        (click)="modalService.openModal($event, modalDegressiviteTemplate)">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input id="hasDegressiviteAreOui" name="hasDegressiviteAreOui"
                            attr.aria-label="Vous êtes concerné par la dégressivité de l'ARE"
                            data-testid="btn-has-degressivite-are-oui" type="radio" class="form-check-input"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.hasDegressiviteAre"
                            (click)="onClickButtonRadioHasDegressiviteAre(true)" required [value]="true"
                            #hasDegressiviteAre="ngModel" tag-action="clic_concerne_degressivite_are_oui"
                            (keyup)="handleKeyUpOnButtonRadioHasDegressiviteAre($event, true)">
                        <label class="form-check-label" for="hasDegressiviteAreOui">
                            oui
                        </label>
                    </div>
                    <div class="form-check form-check-inline ms-2">
                        <input id="hasDegressiviteAreNon" name="hasDegressiviteAreNon"
                            data-testid="btn-has-degressivite-are-non"
                            attr.aria-label="Vous n'êtes pas concerné par la dégressivité de l'ARE" type="radio"
                            class="form-check-input"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.hasDegressiviteAre"
                            [value]="false" (click)="onClickButtonRadioHasDegressiviteAre(false)" required
                            #hasDegressiviteAre="ngModel" tag-action="clic_concerne_degressivite_are_non"
                            (keyup)="handleKeyUpOnButtonRadioHasDegressiviteAre($event, false)">
                        <label class="form-check-label" for="hasDegressiviteAreNon">
                            non
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted)  && hasDegressiviteAre.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="afficherQuestionTypeTauxDegressiviteAre()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="input-allocation-journaliere-brut">
                    * Je souhaite simuler le montant de mon allocation en cas de reprise d'emploi en :
                    <button id="infobulle-ma-situation-vous-percevez" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_taux_reduit_degressivite_are"
                        aria-label="Infobulle taux réduit degressivité"
                        (click)="modalService.openModal($event, modalSituationDemandeurAllocationJournaliereTemplate)">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <button id="btn-taux-plein-degressivite-are" #tauxPleinDegressiviteAre="ngModel"
                        (click)="onClickCheckBoxTauxPlein($event)" name="tauxPleinDegressiviteAre"
                        aria-label="Vous souhaitez simuler le montant de votre allocation en taux plein"
                        [ngClass]="{'ms-1':!screenService.isExtraSmallScreen()}" class="radio-button-style-1"
                        data-testid="btn-taux-plein-degressivite-are" btnCheckbox tabindex="0"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.isTauxPlein"
                        (keyup)="handleKeyUpOnButtonTauxPlein($event)">
                        <span class="body-2-typo">
                            Taux plein (avant application de la dégressivité)
                        </span>
                    </button>
                    <button id="btn-taux-reduit-degressivite-are" #tauxReduitDegressiviteAre="ngModel"
                        (click)="onClickCheckBoxTauxReduit($event)" name="tauxReduitDegressiviteAre"
                        aria-label="Vous souhaitez simuler le montant de votre allocation en taux réduit"
                        [ngClass]="{'ms-1':!screenService.isExtraSmallScreen()}" class="radio-button-style-1"
                        data-testid="btn-taux-reduit-degressivite-are" btnCheckbox tabindex="0"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.isTauxReduit"
                        (keyup)="handleKeyUpOnButtonTauxReduit($event)">
                        <span class="body-2-typo">
                            Taux réduit (après application de la dégressivité)
                        </span>
                    </button>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="isRessourcesFinancieresFormSubmitted  && !isTauxDegressiviteAreSelectionne()">
                        {{controleChampFormulaireService.MESSAGE_SELECTION_TAUX_DEGRESSIVITE_ARE}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteBeneficiaireAidesService.isBeneficiaireARE()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="input-allocation-journaliere-brut">
                    * {{ getLibelleMontantBrutAllocationJournaliere() }}
                    <button id="infobulle-ma-situation-vous-percevez" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_taux_reduit_degressivite_are"
                        aria-label="Infobulle taux réduit degressivité"
                        (click)="modalService.openModal($event, modalAllocationARETemplate)">
                    </button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="input-montant-journalier-brut" name="allocationJournaliereBrute" type="text"
                        data-testid="input-montant-allocation-journaliere-brut-are"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                        maxlength="5" class="form-control d-inline"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationJournaliereBrute && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationJournaliereBrute== 0 || this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationJournaliereBrute > this.controleChampFormulaireService.MONTANT_ARE_ALLOCATION_JOURNALIERE_BRUT_MAX)}"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationJournaliereBrute"
                        required placeholder="Montant" inputmode="decimal" #allocationJournaliereBrute="ngModel">
                    <app-text-with-euro-symbol></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE && (this.ressourcesFinancieresAvantSimulation.aidesPoleEmploi.allocationARE.allocationJournaliereBrute == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationJournaliereBrute.touched)  && allocationJournaliereBrute.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationJournaliereBrute.touched)  && allocationJournaliereBrute.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_2}}
                    </span>
                </div>
            </div>
        </div>
        <div
            *ngIf="deConnecteSituationFamilialeService.isCelibataireSansEnfant() && deConnecteBeneficiaireAidesService.isBeneficiaireRSA()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="allocationRSA">
                    * RSA (Revenu de Solidarité Active) perçu
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="allocationRSA" name="allocationRSA" type="text"
                        data-testid="input-allocation-mensuelle-net-rsa"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" min="0"
                        maxlength="8" class="form-control d-inline"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA && this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA == 0}"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA" required
                        placeholder="Montant" inputmode="numeric" #allocationRSA="ngModel">
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA && (this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationRSA == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationRSA.touched)  && allocationRSA.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationRSA.touched)  && allocationRSA.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteBeneficiaireAidesService.isBeneficiaireAAH()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="allocationAAH">
                    * Allocation Adulte Handicapé (AAH) perçue
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="allocationAAH" name="allocationAAH" data-testid="input-allocation-mensuelle-aah"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                        maxlength="6" min="0"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH && (this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH == 0)}"
                        class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH " required
                        inputmode="numeric" #allocationAAH="ngModel">
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationAAH?.touched)  && allocationAAH?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || allocationAAH?.touched)  && allocationAAH?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH && (this.ressourcesFinancieresAvantSimulation.aidesCAF.allocationAAH == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
        </div>
        <div
            *ngIf="deConnecteSituationFamilialeService.isCelibataireSansEnfant() && deConnecteBeneficiaireAidesService.isBeneficiaireRSA()">
            <div class="row flex-column">
                <label class="label pb-3 headline-4-typo" for="prochaineDeclarationTrimestrielle">
                    * Au cours de quel mois ferez-vous votre prochaine déclaration trimestrielle CAF ?
                </label>
                <div class="col">
                    <select id="prochaineDeclarationTrimestrielle" name="prochaineDeclarationTrimestrielle"
                        data-testid="select-prochaine-declaration-trimestrielle"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCAF.prochaineDeclarationTrimestrielle"
                        class="fit-content form-select"
                        [ngClass]="{'option-selected':ressourcesFinancieresAvantSimulation.aidesCAF.prochaineDeclarationTrimestrielle !== null}"
                        data-width="auto" required #prochaineDeclarationTrimestrielle="ngModel">
                        <option [value]="null" disabled>
                            Sélectionner
                        </option>
                        <option
                            *ngFor="let moisProchaineDeclarationTrimestrielle of optionsProchaineDeclarationTrimestrielle"
                            [value]="moisProchaineDeclarationTrimestrielle.value">
                            {{ moisProchaineDeclarationTrimestrielle.label }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || prochaineDeclarationTrimestrielle.touched)  && prochaineDeclarationTrimestrielle.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="row pb-3">
                <label class="label headline-4-typo" for="hasTravailleAuCoursDerniersMois">
                    * Avez-vous travaillé au cours des
                    {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                    derniers mois ?
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input id="hasTravailleAuCoursDerniersMoisOui" name="hasTravailleAuCoursDerniersMoisOui"
                            attr.aria-label="Vous avez travaillé au cours des {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}} derniers mois"
                            data-testid="btn-has-travaille-au-cours-derniers-mois-oui" type="radio"
                            class="form-check-input"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.hasTravailleAuCoursDerniersMois"
                            (click)="onClickButtonRadioHasTravailleAuCoursDerniersMois(true)" required [value]="true"
                            #hasTravailleAuCoursDerniersMois="ngModel"
                            tag-action="clic_a_travaille_au_cours_14_derniers_mois_oui"
                            (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMois($event, true)">
                        <label class="form-check-label" for="hasTravailleAuCoursDerniersMoisOui">
                            oui
                        </label>
                    </div>
                    <div class="form-check form-check-inline ms-2">
                        <input id="hasTravailleAuCoursDerniersMoisNon" name="hasTravailleAuCoursDerniersMoisNon"
                            data-testid="btn-has-travaille-au-cours-derniers-mois-non"
                            attr.aria-label="Vous n'avez pas travaillé au cours des {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}} derniers mois"
                            type="radio" class="form-check-input"
                            [(ngModel)]="ressourcesFinancieresAvantSimulation.hasTravailleAuCoursDerniersMois"
                            [value]="false" (click)="onClickButtonRadioHasTravailleAuCoursDerniersMois(false)" required
                            #hasTravailleAuCoursDerniersMois="ngModel"
                            tag-action="clic_a_travaille_au_cours_14_derniers_mois_non"
                            (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMois($event, false)">
                        <label class="form-check-label" for="hasTravailleAuCoursDerniersMoisNon">
                            non
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted)  && hasTravailleAuCoursDerniersMois.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="isAfficherChampsSalaires();">
            <div>
                <div class="row pb-3">
                    <label class="label headline-4-typo">
                        Indiquez le montant de vos salaires de
                        {{optionsNombreMoisTravailles[optionsNombreMoisTravailles.length-1].label}} à
                        {{optionsNombreMoisTravailles[0].label}}.
                        <br>
                        <span class="body-2-typo">Nécessaire pour calculer vos droits à l'aide au logement.</span>
                    </label>
                </div>
                <div class="row">
                    <div *ngFor="let optionNombreMoisTravailles of optionsNombreMoisTravailles" class="col-12 col-md-4"
                        [ngClass]="{'col-salaire-with-border':optionNombreMoisTravailles.index-12<0, 'mt-3': !screenService.isExtraSmallScreen()}">
                        <div [ngClass]="{'ms-2 me-2':!screenService.isExtraSmallScreen()}">
                            <div class="row pb-3">
                                <label class="label headline-4-typo"
                                    [for]="'salaireMoisMoins'+optionNombreMoisTravailles.index+'AvantSimulation'">
                                    * Salaire en {{ optionNombreMoisTravailles.label }}
                                </label>
                            </div>
                            <div class="row pb-3">
                                <div class="col">
                                    <input [id]="'salaireMoisMoins'+optionNombreMoisTravailles.index+'AvantSimulation'"
                                        [name]="'salaireMoisMoins'+optionNombreMoisTravailles.index+'AvantSimulation'"
                                        attr.data-testid="input-salaire-mois-moins-{{optionNombreMoisTravailles.index}}-avant-simulation"
                                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                        type="text" maxlength="6" min="0"
                                        class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                                        (blur)="this.ressourcesFinancieresAvantSimulationUtileService.calculSalaireMensuelBrut(ressourcesFinancieresAvantSimulation.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire);"
                                        [(ngModel)]="ressourcesFinancieresAvantSimulation.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire.montantNet"
                                        [ngClass]="{'ng-invalid': hasQuatorzeMoisSansSalaire()}" required
                                        inputmode="numeric" (click)="$event.target.select()"
                                        #salaireMoisAvantPeriodeSimulee="ngModel">
                                    <app-text-with-euro-symbol message="net"></app-text-with-euro-symbol>
                                </div>
                            </div>
                            <div class="row">
                                <span class="row error-input-message"
                                    *ngIf="(isRessourcesFinancieresFormSubmitted || salaireMoisAvantPeriodeSimulee?.touched)  && salaireMoisAvantPeriodeSimulee?.errors?.pattern">
                                    {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message"
                            *ngIf="(isRessourcesFinancieresFormSubmitted)  && erreurSaisieSalaires">
                            Vous avez déclaré avoir travaillé lors de ces
                            {{ressourcesFinancieresAvantSimulationUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                            derniers mois. Veuillez renseigner au moins un salaire.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteBeneficiaireAidesService.isBeneficiairePensionInvalidite()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="pensionInvalidite">
                    * Pension d'invalidité perçue
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="pensionInvalidite" name="pensionInvalidite"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                        maxlength="6" class="max-with-input-type-montant form-control d-inline" placeholder="Montant"
                        data-testid="input-pension-invalidite"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite && (this.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite == 0)}"
                        required inputmode="numeric" #pensionInvalidite="ngModel">
                    <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite && (this.ressourcesFinancieresAvantSimulation.aidesCPAM.pensionInvalidite == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteInfosPersonnellesService.isMicroEntrepreneur()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="beneficesMicroEntrepriseDernierExercice">
                    * Bénéfices en tant que micro entrepreneur
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="beneficesMicroEntrepriseDernierExercice" name="beneficesMicroEntrepriseDernierExercice"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                        maxlength="6" min="0" class="max-with-input-type-montant form-control d-inline"
                        data-testid="input-revenus-micro-entrepreneur" placeholder="Montant"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice && (this.ressourcesFinancieresAvantSimulation.beneficesMicroEntrepriseDernierExercice == 0)}"
                        required inputmode="numeric" #beneficesMicroEntrepriseDernierExercice="ngModel">
                    <app-text-with-euro-symbol message="sur le dernier exercice clos"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || beneficesMicroEntrepriseDernierExercice?.touched)  && beneficesMicroEntrepriseDernierExercice?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || beneficesMicroEntrepriseDernierExercice?.touched)  && beneficesMicroEntrepriseDernierExercice?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteInfosPersonnellesService.isTravailleurIndependant()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="chiffreAffairesIndependantDernierExercice">
                    * Chiffre d'affaires en tant qu'indépendant
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="chiffreAffairesIndependantDernierExercice"
                        name="chiffreAffairesIndependantDernierExercice"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                        maxlength="6" min="0" class="max-with-input-type-montant form-control d-inline"
                        placeholder="Montant" data-testid="input-revenus-independant"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice && (this.ressourcesFinancieresAvantSimulation.chiffreAffairesIndependantDernierExercice == 0)}"
                        required inputmode="numeric" #chiffreAffairesIndependantDernierExercice="ngModel">
                    <app-text-with-euro-symbol message="sur le dernier exercice clos"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || chiffreAffairesIndependantDernierExercice?.touched)  && chiffreAffairesIndependantDernierExercice?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || chiffreAffairesIndependantDernierExercice?.touched)  && chiffreAffairesIndependantDernierExercice?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="deConnecteInfosPersonnellesService.hasRevenusImmobilier()">
            <div class="row pb-3">
                <label class="label headline-4-typo" for="revenusImmobilierFoyer">
                    * Revenus annuels de placement ou du patrimoine
                    <button id="infobulle-revenus-immobilier" class="img-interrogation-icon" placement="right"
                        tag-action="clic_infobulle_ressources_du_foyer_revenus_annuels_placement_patrimoine"
                        aria-label="Infobulle revenus immobilier"
                        (click)="modalService.openModal($event, modalRevenusImmobiliersTemplate)"></button>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input id="revenusImmobilier" name="revenusImmobilier"
                        pattern="{{controleChampFormulaireService.REGEX_NUMERIC}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)" type="text"
                        maxlength="6" min="0" class="max-with-input-type-montant form-control d-inline"
                        placeholder="Montant"
                        [(ngModel)]="ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois"
                        [ngClass]="{'ng-invalid': this.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois && (this.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois == 0)}"
                        required inputmode="numeric" #revenusImmobilier="ngModel">
                    <app-text-with-euro-symbol message="net total 3 derniers mois"></app-text-with-euro-symbol>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || revenusImmobilier?.touched)  && revenusImmobilier?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresFormSubmitted || revenusImmobilier?.touched)  && revenusImmobilier?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR_ENTIER}}
                    </span>
                </div>
                <div class="col-12">
                    <span class="error-input-message"
                        *ngIf="this.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois && (this.ressourcesFinancieresAvantSimulation.revenusImmobilier3DerniersMois == 0)">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="row row-button-valider">
        <div class="col">
            <button id="btn-vos-ressources-valider" class="btn-style-perso-3 button-typo"
                aria-label="Valider votre saisie" data-testid="btn-vos-ressources-valider"
                (click)="onSubmitRessourcesFinancieresForm(vosRessourcesFinancieresForm)"
                tag-action="clic_bouton_valider_vos_ressources">
                <div>
                    <span>Valider</span>
                </div>
            </button>
        </div>
    </div>
</div>

<ng-template #modalAllocationARETemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-2-typo'>
            Sur la page 2 de votre dernier relevé de situation Pôle emploi 👇
        </p>
        <div class='row mb-5'>
            <img alt='' src='./assets/images/exemples/releve-are.png'>
        </div>
        <h4 class='headline-4-typo headline-4-typo-color'>
            Où trouver votre dernier relevé de situation ARE ?
        </h4>
        <h5 class='headline-5-typo headline-5-typo-color'>
            Sur Internet :
        </h5>
        <ol class='body-2-typo'>
            <li>
                Rendez-vous votre espace personnel Pôle emploi, dans la rubrique <i>'Mes courriers reçus' </i> <a href='https://courriers.pole-emploi.fr/courriersweb/mescourriers' target='_blank'>en cliquant ici</a>
            </li>
            <li>
                Dans la liste des courriers reçus vous trouverez vos notifications ARE
            </li>
            <li>
                Choisissez le relevé de situation le plus récent et cliquez sur <i>'Télécharger'</i>
            </li>
        </ol>
        <h5 class='headline-5-typo headline-5-typo-color'>
            Sur l'application mobile <i>'Mon Espace'</i> de Pôle emploi :
        </h5>
        <ol class='body-2-typo'>
            <li>
                Ouvrez l'application et connectez-vous si nécessaire
            </li>
            <li>
                Accédez à vos courriers depuis la barre de menu en bas de l'écran
            </li>
            <li>
                Dans la liste, identifiez le relevé de situation le plus récent et tapez dessus pour l'ouvrir
            </li>
        </ol>">
    </app-tooltip>
</ng-template>

<ng-template #modalAllocationASSTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h3 class='headline-3-typo headline-3-typo-color'>
            Où trouver cette information ?
        </h3>
        <p class='body-2-typo'>
            Sur votre dernière attestation de période indemnisée Pôle emploi 👇
        </p>
        <div class='row mb-5'>
            <img alt='' src='./assets/images/exemples/releve-are.png'>
        </div>
        <h4 class='headline-4-typo headline-4-typo-color'>
            Où trouver votre dernier relevé de situation ARE ?
        </h4>
        <h5 class='headline-5-typo headline-5-typo-color'>
            Sur Internet :
        </h5>
        <ol class='body-2-typo'>
            <li>
                Rendez-vous votre espace personnel Pôle emploi, dans la rubrique <i>'Mes courriers reçus' </i> <a href='https://courriers.pole-emploi.fr/courriersweb/mescourriers' target='_blank'>en cliquant ici</a>
            </li>
            <li>
                Dans la liste des courriers reçus vous trouverez vos notifications ARE
            </li>
            <li>
                Choisissez le relevé de situation le plus récent et cliquez sur <i>'Télécharger'</i>
            </li>
        </ol>
        <h5 class='headline-5-typo headline-5-typo-color'>
            Sur l'application mobile <i>'Mon Espace'</i> de Pôle emploi :
        </h5>
        <ol class='body-2-typo'>
            <li>
                Ouvrez l'application et connectez-vous si nécessaire
            </li>
            <li>
                Accédez à vos courriers depuis la barre de menu en bas de l'écran
            </li>
            <li>
                Dans la liste, identifiez le relevé de situation le plus récent et tapez dessus pour l'ouvrir
            </li>
        </ol>">
    </app-tooltip>
</ng-template>

<ng-template #modalDegressiviteTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <p class='body-2-typo'>
            La dégressivité est une réduction de l'allocation chômage appliquée aux demandeurs d'emploi qui avaient moins de 57 ans au moment de leur fin de contrat et qui bénéficiaient d'un salaire brut supérieur à 4545 euros par mois
        </p>">
    </app-tooltip>
</ng-template>

<ng-template #modalRevenusImmobiliersTemplate>
    <app-tooltip [modalRef]="modalService.modalRef" htmlData="
        <h4 class='headline-4-typo headline-4-typo-color'>
            Retrouvez cette information sur le dernier avis d'imposition sur le revenu :
        </h4>
        <p class='body-2-typo'> * revenus fonciers ou micro-fonciers
            <br>
            * revenus des capitaux (actions, obligations)
            <br>
            * bénéfices d'une rente viagère
        </p>">
    </app-tooltip>
</ng-template>