<div class="card card-body card-form">
    <form (ngSubmit)="onSubmitRessourcesFinancieresPersonnesChargeForm(ressourcesFinancieresPersonnesChargeForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresPersonnesChargeFormSubmitted}"
        #ressourcesFinancieresPersonnesChargeForm="ngForm">
        <div class="form-group" *ngFor="let personneDTO of personnesDTO">
            <span *ngIf="!personneRecoitRSASeulement(personneDTO)" class="libelle-personne row headline-4-typo">
                Personne {{personneDTO.index + 1}}
                ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})
            </span>
            <div class="form-group" *ngIf="personneDTO.personne.informationsPersonnelles.salarie">
                <div class="row mb-2">
                    <label class="label headline-4-typo" [for]="'salaireNetPersonneACharge'+personneDTO.index + 1">
                        * Salaire net perçu
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input
                            attr.aria-label="Salaire perçu par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            [name]="'salaireNetPersonneACharge'+personneDTO.index + 1"
                            [id]="'salaireNetPersonneACharge'+personneDTO.index + 1" type="text"
                            pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                            maxlength="6" class="form-control d-inline"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.salaire.montantNet"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.salaire.montantNet && (personneDTO.personne.ressourcesFinancieres.salaire.montantNet == 0)}"
                            required placeholder="Montant" inputmode="decimal" #salaireNet="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.salaire.montantNet && (personneDTO.personne.ressourcesFinancieres.salaire.montantNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-2">
                    <label class="label headline-4-typo" for="hasTravailleAuCoursDerniersMois">
                        * Personne {{personneDTO.index + 1}} a-t-elle travaillé au cours des
                        {{ressourcesFinancieresUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}} derniers
                        mois ?
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input id="hasTravailleAuCoursDerniersMoisOuiPersonneACharge{{personneDTO.index + 1}}"
                                name="hasTravailleAuCoursDerniersMoisOuiPersonneACharge{{personneDTO.index + 1}}"
                                attr.aria-label="Vous avez travaillé au cours des {{ressourcesFinancieresUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}} derniers mois"
                                data-testid="btn-has-travaille-au-cours-derniers-mois-oui-personne-a-charge-{{personneDTO.index + 1}}"
                                type="radio" class="form-check-input"
                                [(ngModel)]="personneDTO.personne.ressourcesFinancieres.hasTravailleAuCoursDerniersMois"
                                (click)="onClickButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, true)"
                                required [value]="true" #hasTravailleAuCoursDerniersMois="ngModel"
                                (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, $event, true)">
                            <label class="form-check-label"
                                for="hasTravailleAuCoursDerniersMoisOuiPersonneACharge{{personneDTO.index + 1}}">
                                oui
                            </label>
                        </div>
                        <div class="form-check form-check-inline ms-2">
                            <input id="hasTravailleAuCoursDerniersMoisNonPersonneACharge{{personneDTO.index + 1}}"
                                name="hasTravailleAuCoursDerniersMoisNonPersonneACharge{{personneDTO.index + 1}}"
                                data-testid="btn-has-travaille-au-cours-derniers-mois-non-personne-a-charge-{{personneDTO.index + 1}}"
                                attr.aria-label="Vous n'avez pas travaillé au cours des {{ressourcesFinancieresUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}} derniers mois"
                                type="radio" class="form-check-input"
                                [(ngModel)]="personneDTO.personne.ressourcesFinancieres.hasTravailleAuCoursDerniersMois"
                                [value]="false"
                                (click)="onClickButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, false)"
                                required #hasTravailleAuCoursDerniersMois="ngModel"
                                (keyup)="handleKeyUpOnButtonRadioHasTravailleAuCoursDerniersMoisPersonne(personneDTO.personne, $event, false)">
                            <label class="form-check-label"
                                for="hasTravailleAuCoursDerniersMoisNonPersonneACharge{{personneDTO.index + 1}}">
                                non
                            </label>
                        </div>
                    </div>
                </div>
                <span class="row error-input-message"
                    *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || hasTravailleAuCoursDerniersMois.touched)  && hasTravailleAuCoursDerniersMois.errors?.required">
                    {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                </span>
            </div>
            <div *ngIf="isAfficherChampsSalairesPersonne(personneDTO.personne);">
                <div class="form-group">
                    <div class="row mb-3">
                        <label class="label headline-4-typo">
                            Indiquez le montant de vos salaires de
                            {{optionsNombreMoisTravailles[optionsNombreMoisTravailles.length-1].label}} à
                            {{optionsNombreMoisTravailles[0].label}}.
                            <br>
                            <span class="body-2-typo">Nécessaire pour calculer vos droits à l'aide au logement.</span>
                        </label>
                    </div>
                    <div class="row">
                        <div *ngFor="let optionNombreMoisTravailles of optionsNombreMoisTravailles"
                            class="col-12 col-md-4 mt-2"
                            [ngClass]="{'col-salaire-with-border':optionNombreMoisTravailles.index-12<0}">
                            <div class="ms-2 me-2">
                                <div class="row mb-2">
                                    <label class="label headline-4-typo"
                                        [for]="'salaireMoisMoins'+optionNombreMoisTravailles.index+'AvantSimulation'">
                                        * Salaire en {{ optionNombreMoisTravailles.label }}
                                    </label>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <input
                                            id="salaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationPersonneACharge{{personneDTO.index + 1}}"
                                            name="salaireMoisMoins{{optionNombreMoisTravailles.index}}AvantSimulationPersonneACharge{{personneDTO.index + 1}}"
                                            attr.data-testid="input-salaire-mois-moins-{{optionNombreMoisTravailles.index}}-avant-simulation-personne-a-charge-{{personneDTO.index + 1}}"
                                            pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForNumberOnly($event)"
                                            type="text" maxlength="6" min="0"
                                            class="max-with-input-type-montant form-control d-inline"
                                            placeholder="Montant"
                                            (blur)="this.ressourcesFinancieresUtileService.calculSalaireMensuelBrut(personneDTO.personne.ressourcesFinancieres.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire);"
                                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.periodeTravailleeAvantSimulation.mois[optionNombreMoisTravailles.index].salaire.montantNet"
                                            [ngClass]="{'ng-invalid': hasDouzeMoisSansSalaire(personneDTO.personne)}"
                                            required inputmode="decimal" (click)="$event.target.select()"
                                            #salaireMoisAvantPeriodeSimulee="ngModel">
                                        <app-text-with-euro-symbol message="net"></app-text-with-euro-symbol>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="row error-input-message"
                                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireMoisAvantPeriodeSimulee?.touched)  && salaireMoisAvantPeriodeSimulee?.errors?.pattern">
                                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col error-input-message"
                            *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted)  && erreurSaisieSalaires">
                            Vous avez déclaré que Personne {{personneDTO.index + 1}} a travaillé lors de ces
                            {{ressourcesFinancieresUtileService.getNombreMaxMoisTravailleAuCoursDerniersMois()}}
                            derniers mois. Veuillez renseigner au moins un salaire.
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="personneDTO.personne.beneficiaireAides.beneficiaireARE">
                <div class="row mb-2">
                    <label class="label headline-4-typo"
                        [for]="'allocationMensuelleNetAREPersonneACharge_'+personneDTO.index + 1">
                        * ARE (Allocation Retour Emploi) perçue
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input
                            attr.aria-label="ARE (Allocation Retour Emploi) perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            [id]="'allocationMensuelleNetAREPersonneACharge_'+personneDTO.index + 1"
                            [name]="'allocationMensuelleNetAREPersonneACharge_'+personneDTO.index + 1" type="text"
                            pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                            maxlength="6" class="form-control d-inline"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet"
                            placeholder="Montant" inputmode="decimal" required #allocationMensuelleNetARE="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationARE.allocationMensuelleNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div class="form-group" *ngIf="personneDTO.personne.beneficiaireAides.beneficiaireASS">
                <div class="row mb-2">
                    <label class="label headline-4-typo"
                        [for]="'allocationMensuelleNetASSPersonneACharge'+personneDTO.index + 1">
                        * ASS (Allocation Solidarité Spécifique) perçue
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input [name]="'allocationMensuelleNetASSPersonneACharge'+personneDTO.index + 1"
                            [id]="'allocationMensuelleNetASSPersonneACharge'+personneDTO.index + 1"
                            attr.aria-label="ASS (Allocation Solidarité Spécifique)) perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            type="text" pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                            maxlength="6" class="form-control d-inline"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)}"
                            placeholder="Montant" inputmode="decimal" required #allocationMensuelleNetASS="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.aidesPoleEmploi.allocationASS.allocationMensuelleNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div class="form-group mt-2" *ngIf="personneDTO.personne.beneficiaireAides.beneficiaireAAH">
                <div class="row mb-2">
                    <label class="label headline-4-typo" [for]="'allocationAAHPersonneACharge'+personneDTO.index + 1">
                        * AAH (Allocation Adulte Handicapé) perçue
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input [name]="'allocationAAHPersonneACharge'+personneDTO.index + 1"
                            [id]="'allocationAAHPersonneACharge'+personneDTO.index + 1"
                            attr.aria-label="AAH (Allocation Adulte Handicapé) perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            type="text" pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                            maxlength="6" class="form-control d-inline"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.aidesCAF.allocationAAH"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.aidesCAF.allocationAAH && (personneDTO.personne.ressourcesFinancieres.aidesCAF.allocationAAH == 0)}"
                            placeholder="Montant" inputmode="decimal" required #allocationAAH="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationAAH?.touched)  && allocationAAH?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationAAH.touched)  && allocationAAH.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.aidesCAF.allocationAAH && (personneDTO.personne.ressourcesFinancieres.aidesCAF.allocationAAH == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div class="form-group mt-2" *ngIf="personneDTO.personne.beneficiaireAides.beneficiairePensionInvalidite">
                <div class="row mb-2">
                    <label class="label headline-4-typo"
                        [for]="'pensionInvaliditePersonneACharge'+personneDTO.index + 1">
                        * Pension d'invalidité perçue
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input [name]="'pensionInvaliditePersonneACharge'+personneDTO.index + 1"
                            [id]="'pensionInvaliditePersonneACharge'+personneDTO.index + 1"
                            attr.aria-label="Pension d'invalidité perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            type="text" pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                            maxlength="6" class="form-control d-inline"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.aidesCPAM.pensionInvalidite"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.aidesCPAM.pensionInvalidite && personneDTO.personne.ressourcesFinancieres.aidesCPAM.pensionInvalidite == 0}"
                            placeholder="Montant" inputmode="decimal" required #pensionInvalidite="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="row error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite.touched)  && pensionInvalidite.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.aidesCPAM.pensionInvalidite && (personneDTO.personne.ressourcesFinancieres.aidesCPAM.pensionInvalidite == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
                <div class="row mt-3 mb-2">
                    <label class="label headline-4-typo"
                        [for]="'allocationSupplementaireInvaliditePersonneACharge'+personneDTO.index + 1">
                        * Allocation supplémentaire d'invalidité perçue
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input [name]="'allocationSupplementaireInvaliditePersonneACharge'+personneDTO.index + 1"
                            [id]="'allocationSupplementaireInvaliditePersonneACharge'+personneDTO.index + 1" type="text"
                            attr.aria-label="Allocation supplémentaire d'invalidité perçue le mois dernier par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" min="0"
                            maxlength="6" class="form-control d-inline"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.aidesCPAM.allocationSupplementaireInvalidite"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.aidesCPAM.allocationSupplementaireInvalidite }"
                            placeholder="Montant" inputmode="decimal" required
                            #allocationSupplementaireInvalidite="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationSupplementaireInvalidite?.touched)  && allocationSupplementaireInvalidite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="row error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationSupplementaireInvalidite.touched)  && allocationSupplementaireInvalidite.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div class="form-group" *ngIf="personneDTO.personne.informationsPersonnelles.microEntrepreneur">
                <div class="row mb-2">
                    <label class="label headline-4-typo"
                        [for]="'beneficesMicroEntreprisePersonneACharge'+personneDTO.index + 1">
                        * Bénéfices en tant que micro entrepreneur
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input [name]="'beneficesMicroEntreprisePersonneACharge'+personneDTO.index + 1"
                            [id]="'beneficesMicroEntreprisePersonneACharge'+personneDTO.index + 1"
                            attr.aria-label="Chiffre d'affaires net total 3 derniers mois en tant que micro entrepreneur pour personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text"
                            maxlength="6" min="0" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.beneficesMicroEntrepriseDernierExercice"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.beneficesMicroEntrepriseDernierExercice && (personneDTO.personne.ressourcesFinancieres.beneficesMicroEntrepriseDernierExercice == 0)}"
                            required inputmode="decimal"
                            #personneAChargeBeneficesMicroEntreprise3DerniersMois="ngModel">
                        <app-text-with-euro-symbol message="sur le dernier exercice clos"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeBeneficesMicroEntreprise?.touched)  && personneAChargeBeneficesMicroEntreprise?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeBeneficesMicroEntreprise?.touched)  && personneAChargeBeneficesMicroEntreprise?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.beneficesMicroEntrepriseDernierExercice && (personneDTO.personne.ressourcesFinancieres.beneficesMicroEntrepriseDernierExercice == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div class="form-group" *ngIf="personneDTO.personne.informationsPersonnelles.travailleurIndependant">
                <div class="row mb-2">
                    <label class="label headline-4-typo"
                        [for]="'chiffreAffairesIndependantPersonneACharge'+personneDTO.index + 1">
                        * Chiffre d'affaires en tant qu'indépendant
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input [name]="'chiffreAffairesIndependantPersonneACharge'+personneDTO.index + 1"
                            [id]="'chiffreAffairesIndependantPersonneACharge'+personneDTO.index + 1"
                            attr.aria-label="Bénéfices de l'année dernière en tant qu'indépendant pour personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                            pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text"
                            maxlength="6" min="0" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.chiffreAffairesIndependantDernierExercice"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.chiffreAffairesIndependantDernierExercice && (personneDTO.personne.ressourcesFinancieres.chiffreAffairesIndependantDernierExercice == 0)}"
                            required inputmode="decimal"
                            #personneAChargeChiffreAffairesIndependantDernierExercice="ngModel">
                        <app-text-with-euro-symbol message="sur le dernier exercice clos"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeChiffreAffairesIndependant?.touched)  && personneAChargeChiffreAffairesIndependant?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeChiffreAffairesIndependant?.touched)  && personneAChargeChiffreAffairesIndependant?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.chiffreAffairesIndependantDernierExercice && (personneDTO.personne.ressourcesFinancieres.chiffreAffairesIndependantDernierExercice == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div class="form-group" *ngIf="personneDTO.personne.informationsPersonnelles.hasPensionRetraite">
                <div class="row mb-2">
                    <label class="label headline-4-typo" for="personneAChargePensionRetraite">
                        * Pension de retraite nette perçue
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="personneAChargePensionRetraite" name="personneAChargePensionRetraite"
                            pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                            (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)" type="text"
                            maxlength="6" min="0" class="max-with-input-type-montant form-control d-inline"
                            placeholder="Montant"
                            [(ngModel)]="personneDTO.personne.ressourcesFinancieres.pensionRetraite"
                            [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.pensionRetraite && (personneDTO.personne.ressourcesFinancieres.pensionRetraite == 0)}"
                            required inputmode="decimal" #personneAChargePensionRetraite="ngModel">
                        <app-text-with-euro-symbol message="le mois dernier"></app-text-with-euro-symbol>
                    </div>
                </div>
                <div class="row">
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargePensionRetraite?.touched)  && personneAChargePensionRetraite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargePensionRetraite?.touched)  && personneAChargePensionRetraite?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.pensionRetraite && (personneDTO.personne.ressourcesFinancieres.pensionRetraite == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row row-button-valider">
            <div class="col">
                <button class="btn-style-perso-3 button-typo"
                    aria-label="Valider ressources finançières de vos personnes à charge" type="submit"
                    tag-action="clic_bouton_valider_ressources_personnes_a_charge">
                    <div>
                        <span>Valider</span>
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>