<div class="card card-body card-form">
    <form
        (ngSubmit)="onSubmitRessourcesFinancieresPersonnesChargeForm(ressourcesFinancieresPersonnesChargeForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresPersonnesChargeFormSubmitted}"
        #ressourcesFinancieresPersonnesChargeForm="ngForm">
        <div
            class="form-group"
            *ngFor="let personneDTO of personnesDTO">
            <span class="libelle-personne row">
                Personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})
            </span>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.informationsPersonnelles.salarie">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="salaireNetPersonneACharge">
                        * Salaire net perçu
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        le mois dernier
                    </span>
                    <input
                        attr.aria-label="Salaire perçu par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        name="salaireNet"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.salaire.montantNet"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.salaire.montantNet && (personneDTO.personne.ressourcesFinancieres.salaire.montantNet == 0)}"
                        required
                        placeholder="Montant"
                        inputmode="decimal"
                        #salaireNet="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="le mois dernier">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.salaire.montantNet && (personneDTO.personne.ressourcesFinancieres.salaire.montantNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireARE">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetARE">
                        * ARE (Allocation Retour Emploi) perçue
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        le mois dernier
                    </span>
                    <input
                        attr.aria-label="ARE (Allocation Retour Emploi) perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        name="allocationMensuelleNetARE"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control d-inline"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetARE="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="le mois dernier">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireASS">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetASS">
                        * ASS (Allocation Solidarité Spécifique) perçue
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        le mois dernier
                    </span>
                    <input
                        name="allocationMensuelleNetASS"
                        attr.aria-label="ASS (Allocation Solidarité Spécifique)) perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control d-inline"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetASS="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="le mois dernier">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireRSA">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetRSA">
                        * RSA (Revenu Solidarité Active) perçu
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        le mois dernier
                    </span>
                    <input
                        name="allocationMensuelleNetRSA"
                        attr.aria-label="RSA (Revenu Solidarité Active) perçu par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetRSA="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="le mois dernier">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group mt-2"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireAAH">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetAAH">
                        * AAH (Allocation Adulte Handicapé) perçue
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        le mois dernier
                    </span>
                    <input
                        name="allocationMensuelleNetAAH"
                        attr.aria-label="AAH (Allocation Adulte Handicapé) perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetAAH="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="le mois dernier">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetAAH?.touched)  && allocationMensuelleNetAAH?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetAAH.touched)  && allocationMensuelleNetAAH.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group mt-2"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiairePensionInvalidite">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="pensionInvalidite">
                        * Pension d'invalidité perçue
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        le mois dernier
                    </span>
                    <input
                        name="pensionInvalidite"
                        attr.aria-label="Pension d'invalidité perçue par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite && (personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #pensionInvalidite="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="le mois dernier">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="row error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite.touched)  && pensionInvalidite.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite && (personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
                <div class="row mt-3 mb-2">
                    <label
                        class="label"
                        for="allocationSupplementaireInvalidite">
                        * Allocation supplémentaire d'invalidité perçue
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        le mois dernier
                    </span>
                    <input
                        name="allocationSupplementaireInvalidite"
                        type="text"
                        attr.aria-label="Allocation supplémentaire d'invalidité perçue le mois dernier par personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsCPAM.allocationSupplementaireInvalidite"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsCPAM.allocationSupplementaireInvalidite }"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationSupplementaireInvalidite="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="le mois dernier">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationSupplementaireInvalidite?.touched)  && allocationSupplementaireInvalidite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="row error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationSupplementaireInvalidite.touched)  && allocationSupplementaireInvalidite.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.informationsPersonnelles.microEntrepreneur">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="personneAChargeRevenusMicroEntreprise">
                        * Chiffre d'affaires en tant que micro entrepreneur
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        net total 3 derniers mois
                    </span>
                    <input
                        name="personneAChargeRevenusMicroEntreprise"
                        attr.aria-label="Chiffre d'affaires net total 3 derniers mois en tant que micro entrepreneur pour personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        type="text"
                        maxlength="6"
                        min="0"
                        class="max-with-input-type-montant form-control"
                        placeholder="Montant"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois && (personneDTO.personne.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois == 0)}"
                        required
                        inputmode="decimal"
                        #personneAChargeRevenusMicroEntreprise3DerniersMois="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="net total 3 derniers mois">
                    </app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeRevenusMicroEntreprise?.touched)  && personneAChargeRevenusMicroEntreprise?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeRevenusMicroEntreprise?.touched)  && personneAChargeRevenusMicroEntreprise?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois && (personneDTO.personne.ressourcesFinancieres.revenusMicroEntreprise3DerniersMois == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.informationsPersonnelles.travailleurIndependant">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="personneAChargeBeneficesTravailleurIndependant">
                        * Bénéfices en tant qu'indépendant
                    </label>
                </div>
                <div class="row">
                    <span
                        *ngIf="screenService.isExtraSmallScreen()"
                        class="text-side-input ml-0">
                        des bénéfices de l'année dernière
                    </span>
                    <input
                        name="personneAChargeBeneficesTravailleurIndependant"
                        attr.aria-label="Bénéfices de l'année dernière en tant qu'indépendant pour personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        type="text"
                        maxlength="6"
                        min="0"
                        class="max-with-input-type-montant form-control"
                        placeholder="Montant"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice && (personneDTO.personne.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice == 0)}"
                        required
                        inputmode="decimal"
                        #personneAChargeBeneficesTravailleurIndependantDernierExercice="ngModel">
                    <app-text-with-euro-symbol *ngIf="screenService.isExtraSmallScreen()"></app-text-with-euro-symbol>
                    <app-text-with-euro-symbol
                        *ngIf="!screenService.isExtraSmallScreen()"
                        message="sur le dernier exercice clos"></app-text-with-euro-symbol>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeBeneficesTravailleurIndependant?.touched)  && personneAChargeBeneficesTravailleurIndependant?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || personneAChargeBeneficesTravailleurIndependant?.touched)  && personneAChargeBeneficesTravailleurIndependant?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice && (personneDTO.personne.ressourcesFinancieres.beneficesTravailleurIndependantDernierExercice == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row row-button-valider">
            <button
                class="btn-style-perso-3"
                aria-label="Valider votre saisie"
                type="submit">
                <div>
                    <span>Valider</span>
                </div>
            </button>
        </div>
    </form>
</div>
