<div class="card card-body card-form">
    <form
        (ngSubmit)="onSubmitRessourcesFinancieresPersonnesChargeForm(ressourcesFinancieresPersonnesChargeForm)"
        [ngClass]="{'submitted':isRessourcesFinancieresPersonnesChargeFormSubmitted}"
        #ressourcesFinancieresPersonnesChargeForm="ngForm">
        <div
            class="form-group"
            *ngFor="let personneDTO of personnesDTO">
            <span class="libelle-personne row">
                Personne {{personneDTO.index + 1}} ({{dateUtileService.getDateStringFormat(personneDTO.personne.informationsPersonnelles.dateNaissance)}})
            </span>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.informationsPersonnelles.salarie">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="salaireNet">
                        * Salaire net perçu
                    </label>
                </div>
                <div class="row">
                    <input
                        name="salaireNet"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.salaireNet"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.salaireNet && (personneDTO.personne.ressourcesFinancieres.salaireNet == 0)}"
                        required
                        placeholder="Montant"
                        inputmode="decimal"
                        #salaireNet="ngModel">
                    <span class="text-side-input">€</span>
                    <span class="text-2-side-input">le mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || salaireNet?.touched)  && salaireNet?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.salaireNet && (personneDTO.personne.ressourcesFinancieres.salaireNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireARE">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetARE">
                        * ARE (Allocation Retour Emploi) perçue
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetARE"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control d-inline"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetARE="ngModel">
                    <span class="text-side-input d-inline">€ le mois dernier</span>
                </div>
                <div class="row">
                  <span
                      class="error-input-message"
                      *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.required">
                      {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                  </span>
                  <span
                      class="error-input-message"
                      *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetARE?.touched)  && allocationMensuelleNetARE?.errors?.pattern">
                      {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                  </span>
                  <span
                      *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)"
                      class="error-input-message">
                      {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                  </span>
              </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireASS">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetASS">
                        * ASS (Allocation Solidarité Spécifique) perçue
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetASS"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control d-inline"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetASS="ngModel">
                    <span class="text-side-input d-inline">€ le mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetASS?.touched)  && allocationMensuelleNetASS?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet && (personneDTO.personne.ressourcesFinancieres.allocationsPoleEmploi.allocationMensuelleNet == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireRSA">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetRSA">
                        * RSA (Revenu Solidarité Active) perçu
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetRSA"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetRSA="ngModel">
                    <span class="text-side-input">€ le mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetRSA?.touched)  && allocationMensuelleNetRSA?.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetRSA == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group mt-2"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiaireAAH">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="allocationMensuelleNetAAH">
                        * AAH (Allocation Adulte Handicapé) perçue
                    </label>
                </div>
                <div class="row">
                    <input
                        name="allocationMensuelleNetAAH"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #allocationMensuelleNetAAH="ngModel">
                    <span class="text-side-input">€ le mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetAAH?.touched)  && allocationMensuelleNetAAH?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || allocationMensuelleNetAAH.touched)  && allocationMensuelleNetAAH.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH && (personneDTO.personne.ressourcesFinancieres.allocationsCAF.allocationMensuelleNetAAH == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
            <div
                class="form-group mt-2"
                *ngIf="personneDTO.personne.beneficiaireAidesSociales.beneficiairePensionInvalidite">
                <div class="row mb-2">
                    <label
                        class="label"
                        for="pensionInvalidite">
                        * Pension d'invalidité perçue
                    </label>
                </div>
                <div class="row">
                    <input
                        name="pensionInvalidite"
                        type="text"
                        pattern="{{controleChampFormulaireService.REGEX_DECIMAL}}"
                        (keypress)="controleChampFormulaireService.isKeyAuthorizeForDecimal($event)"
                        min="0"
                        maxlength="6"
                        class="form-control"
                        [(ngModel)]="personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite"
                        [ngClass]="{'ng-invalid': personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite && (personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite == 0)}"
                        placeholder="Montant"
                        inputmode="decimal"
                        required
                        #pensionInvalidite="ngModel">
                    <span class="text-side-input">€ le mois dernier</span>
                </div>
                <div class="row">
                    <span
                        class="error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite?.touched)  && pensionInvalidite?.errors?.required">
                        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE}}
                    </span>
                    <span
                        class="row error-input-message"
                        *ngIf="(isRessourcesFinancieresPersonnesChargeFormSubmitted || pensionInvalidite.touched)  && pensionInvalidite.errors?.pattern">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_ERREUR}}
                    </span>
                    <span
                        *ngIf="personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite && (personneDTO.personne.ressourcesFinancieres.allocationsCPAM.pensionInvalidite == 0)"
                        class="error-input-message">
                        {{controleChampFormulaireService.MESSAGE_MONTANT_0}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row row-button-valider">
            <button
                class="btn-style-perso-3"
                type="submit">
                <div>
                    <span>Valider</span>
                </div>
            </button>
        </div>
    </form>
</div>
