<div class="container-fluid form-container-fluid">
    <h1 class="h1-style-2">3. Mes personnes à charge</h1>
    <div class="text-under-h1">
        {{controleChampFormulaireService.MESSAGE_CHAMP_OBLIGATOIRE_ASTERIX}}
    </div>
    <div class="card card-body card-form">
        <div class="row mb-3">
            <label class="label">
                Nombre d'enfant(s) ou de personne(s) à charge
                <i
                    class="interrogation-icon btn far fa-question-circle"
                    [popover]="popoverPersonnesAChargeTemplate"
                    #popoverPersonnesACharge="bs-popover"
                    placement="right"></i>
            </label>
        </div>
        <div class="row mb-2">
            <div class="card-deck">
                <div
                    class="card card-personne card-personne-list"
                    *ngFor="let personne of personnesACharge;let indexOfelement=index;">
                    <div class="card-header">
                        <i
                            class="fas fa-times-circle float-right"
                            (click)="onClickButtonSupprimerPersonneACharge(indexOfelement)">
                        </i>
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="row">
                            <div class="col-3 col-card-body">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="col-9 col-card-body">
                                <span class="span-personne">Personne {{indexOfelement + 1}}</span>
                                <span>
                                    {{personne.informationsPersonnelles.dateNaissance | date: 'dd/MM/yyyy'}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a
                            class="float-right"
                            (click)="onClickButtonModifierPersonneACharge(personne, indexOfelement)">
                            Modifier
                        </a>
                    </div>
                </div>
                <div
                    class="card card-personne card-add-personne"
                    (click)="onClickButtonAjouterPersonne()">
                    <div class="card-body d-flex align-items-center">
                        <div class="row">
                            <div class="col-3 col-card-body">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <div class="col-9 col-card-body">
                                <span>Ajouter un enfant ou une personne à charge</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-form-personne-a-charge
            *ngIf="isNouvellePersonneAChargeFormDisplay === true"
            [dateNaissanceNouvellePersonne]="dateNaissanceNouvellePersonne"
            [isModeModification]="isModeModification"
            [nouvellePersonneACharge]="nouvellePersonneACharge"
            [numeroNouvellePersonne]="numeroNouvellePersonne"
            (ajoutNouvellePersonneEventEmitter)="traiterAjoutePersonneEvent($event)">
        </app-form-personne-a-charge>
        <div
            class="div-buttons-form row"
            *ngIf="isNouvellePersonneAChargeFormDisplay === false">
            <button
                class="btn btn-primary-style-0"
                (click)="onClickButtonRetour()">
                <div>
                    <img src="./assets/images/return-arrow.svg">
                </div>
                <div class="text-button">Retour</div>
            </button>
            <button
                class="btn btn-primary-style-3"
                (click)="onClickButtonSuivant()">
                <div class="text-button">Suivant</div>
                <div>
                    <img src="./assets/images/icon-bt-primaire.svg">
                </div>
            </button>
        </div>
    </div>
</div>

<ng-template #popoverPersonnesAChargeTemplate>
    <div class="container">
        <div class="close-popover row">
            <i
                class="fas fa-times-circle mb-2 ml-auto"
                (click)="popoverPersonnesACharge.hide()"></i>
        </div>
        <div class="row">
            <b>Qui sont les « personnes à charge » ?</b>
            <p>
                Ce sont les personnes qui apparaissent sur votre fiche d’imposition (enfants ou parents).
            </p>
        </div>
    </div>
</ng-template>
