@import "assets/scss/fonts/_fonts.scss";
/* vairables file to import before others scss files */
@import "assets/scss/variables";
/* You can add global styles to this file, and also import other style files */
@import "assets/scss/accordion";
@import "assets/scss/alert";
@import "assets/scss/buttons";
@import "assets/scss/carousel";
@import "assets/scss/container";
@import "assets/scss/font";
@import "assets/scss/form";
@import "assets/scss/images";
@import "assets/scss/modal";
@import "assets/scss/popover";
@import "assets/scss/position";
@import "assets/scss/progress";
@import "assets/scss/reboot";
@import "assets/scss/tooltip";

.btn-style-perso-2 {
    &:hover {
        background-color: unset!important;
    }
    &:focus {
        background-color: unset !important;
    }
}

.accordion-button {
    &:hover {
        background-color: unset!important;
    }
    &:focus {
        background-color: unset !important;
    }
}