<div class="personne-a-charge-situation-container">
    <fieldset class="fieldset-row">
        <legend class="row pb-2">
            <p class="label headline-4-typo">
                * Cette personne perçoit
            </p>
        </legend>
        <div class="row">
            <div class="col">
                <input id="personneAChargeIsSalarie" name="personneAChargeIsSalarie"
                    class="checkbox-as-button extra-large" type="checkbox"
                    data-testid="btn-situation-personne-a-charge-salarie"
                    [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isSalarie"
                    #personneAChargeIsSalarie="ngModel" (click)="onClickCheckBoxIsSalarie()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.SALARIE)">
                <label for="personneAChargeIsSalarie" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.SALARIE}}</span>
                </label>
                <input id="personneAChargeIsBeneficiaireARE" name="personneAChargeIsBeneficiaireARE"
                    class="checkbox-as-button extra-large" type="checkbox"
                    data-testid="btn-situation-personne-a-charge-beneficiaire-are"
                    [(ngModel)]="nouvellePersonneACharge.beneficiaireAides.beneficiaireARE"
                    #personneAChargeIsBeneficiaireARE="ngModel" (click)="onClickCheckBoxHasARE()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.ARE)">
                <label for="personneAChargeIsBeneficiaireARE" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.ARE}}</span>
                </label>
                <input id="personneAChargeIsBeneficiaireASS" name="personneAChargeIsBeneficiaireASS"
                    class="checkbox-as-button extra-large" type="checkbox"
                    data-testid="btn-situation-personne-a-charge-beneficiare-ass"
                    [(ngModel)]="nouvellePersonneACharge.beneficiaireAides.beneficiaireASS"
                    #personneAChargeIsBeneficiaireASS="ngModel" (click)="onClickCheckBoxHasASS()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.ASS)">
                <label for="personneAChargeIsBeneficiaireASS" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.ASS}}</span>
                </label>
                <div *ngIf="!deConnecteBeneficiaireAidesService.hasFoyerAutreBeneficiaireRSA('personnesACharge') || nouvellePersonneACharge.beneficiaireAides.beneficiaireRSA"
                    class="d-inline">
                    <input id="personneAChargeIsBeneficiaireRSA" name="personneAChargeIsBeneficiaireRSA"
                        class="checkbox-as-button extra-large" type="checkbox"
                        data-testid="btn-situation-personne-a-charge-beneficiaire-rsa"
                        [(ngModel)]="nouvellePersonneACharge.beneficiaireAides.beneficiaireRSA"
                        #personneAChargeIsBeneficiaireRSA="ngModel" (click)="onClickCheckBoxHasRSA()"
                        (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.RSA)">
                    <label for="personneAChargeIsBeneficiaireRSA" class="mb-2 me-2">
                        <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                        <span class="body-2-typo">{{situationPersonneEnum.RSA}}</span>
                    </label>
                </div>
                <input id="personneAChargeIsMicroEntrepreneur" name="personneAChargeIsMicroEntrepreneur"
                    class="checkbox-as-button extra-large" type="checkbox"
                    data-testid="btn-situation-personne-a-charge-micro-entrepreneur"
                    [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isMicroEntrepreneur"
                    #personneAChargeIsMicroEntrepreneur="ngModel" (click)="onClickCheckBoxIsMicroEntrepreneur()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.MICRO_ENTREPRENEUR)">
                <label for="personneAChargeIsMicroEntrepreneur" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.MICRO_ENTREPRENEUR}}</span>
                </label>
                <input id="personneAChargeIsTravailleurIndependant" name="personneAChargeIsTravailleurIndependant"
                    class="checkbox-as-button extra-large" type="checkbox"
                    data-testid="btn-situation-personne-a-charge-travailleur-independant"
                    [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isTravailleurIndependant"
                    #personneAChargeIsTravailleurIndependant="ngModel"
                    (click)="onClickCheckBoxIsTravailleurIndependant()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.TRAVAILLEUR_INDEPENDANT)">
                <label for="personneAChargeIsTravailleurIndependant" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.TRAVAILLEUR_INDEPENDANT}}</span>
                </label>
                <input id="personneAChargeIsBeneficiaireAAH" name="personneAChargeIsBeneficiaireAAH"
                    class="checkbox-as-button extra-large" type="checkbox"
                    data-testid="btn-situation-personne-a-charge-beneficiaire-rsa"
                    [(ngModel)]="nouvellePersonneACharge.beneficiaireAides.beneficiaireAAH"
                    #personneAChargeIsBeneficiaireAAH="ngModel" (click)="onClickCheckBoxHasAAH()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.AAH)">
                <label for="personneAChargeIsBeneficiaireAAH" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.AAH}}</span>
                </label>
                <input id="personneAChargeIsBeneficiairePensionInvalidite"
                    name="personneAChargeIsBeneficiairePensionInvalidite" class="checkbox-as-button extra-large"
                    type="checkbox" data-testid="btn-situation-personne-a-charge-beneficiaire-pension-invalidite"
                    tag-action="clic-sur-situation-personne-a-charge-pension-invalidite"
                    [(ngModel)]="nouvellePersonneACharge.beneficiaireAides.beneficiairePensionInvalidite"
                    #personneAChargeIsBeneficiairePensionInvalidite="ngModel"
                    (click)="onClickCheckBoxHasPensionInvalidite()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.PENSION_INVALIDITE)">
                <label for="personneAChargeIsBeneficiairePensionInvalidite" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.PENSION_INVALIDITE}}</span>
                </label>
                <div *ngIf="hasAgeEligibleRetraite()" class="d-inline">
                    <input id="personneAChargeHasPensionRetraite" name="personneAChargeHasPensionRetraite"
                        class="checkbox-as-button extra-large" type="checkbox"
                        data-testid="btn-situation-personne-a-charge-pension-retraite"
                        tag-action="clic-sur-situation-personne-a-charge-pension-retraite"
                        [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.hasPensionRetraite"
                        #personneAChargeHasPensionRetraite="ngModel" (click)="onClickCheckBoxHasPensionRetraite()"
                        (keyup)="handleKeyUpOnButtonSituationConjoint($event, situationPersonneEnum.PENSION_RETRAITE)">
                    <label for="personneAChargeHasPensionRetraite" class="mb-2 me-2">
                        <span class="sr-only">Cette personne à charge perçoit&nbsp;</span>
                        <span class="body-2-typo">{{situationPersonneEnum.PENSION_RETRAITE}}</span>
                    </label>
                </div>
                <input id="personneAChargeIsSansRessource" name="sansRessource" class="checkbox-as-button extra-large"
                    type="checkbox" data-testid="btn-situation-personne-a-charge-sans-ressource"
                    tag-action="clic-sur-situation-personne-a-charge-sans-ressource"
                    [(ngModel)]="nouvellePersonneACharge.informationsPersonnelles.isSansRessource"
                    #personneAChargeIsSansRessource="ngModel" (click)="onClickCheckBoxIsSansRessource()"
                    (keyup)="handleKeyUpOnButtonSituation($event, situationPersonneEnum.SANS_RESSOURCE)">
                <label for="personneAChargeIsSansRessource" class="mb-2 me-2">
                    <span class="sr-only">Cette personne à charge ne perçoit&nbsp;</span>
                    <span class="body-2-typo">{{situationPersonneEnum.SANS_RESSOURCE}}</span>
                </label>
            </div>
        </div>
    </fieldset>
</div>