.container-fluid {
  margin-top: 2rem;
}

.button-tc-plateform {
  border: 0;
  background-color: unset;
  color: #007bff;
  padding: 0;
  &:focus, &:hover {
    border: 0;
    box-shadow: none;
    outline: none;
  }
}

