<div class="container-fluid">

    <h1 class="h1-style-1 headline-1-typo">{{pageTitlesEnum.CGU}}</h1>
    <p class="body-2-typo">
        L’utilisateur du service doit respecter ces conditions générales d’utilisation. Elles peuvent être modifiées par
        Pôle emploi et s’imposent à l’utilisateur dès leur mise en ligne. L’utilisateur est donc invité à consulter
        régulièrement la dernière version mise à jour.
    </p>
    <p class="body-2-typo">
        Dernière modification : 24 décembre 2020
    </p>

    <h2 class="h2-style-2 headline-2-typo">1. Mentions légales</h2>
    <p class="body-2-typo">
        Le directeur de la publication et l’éditeur du site est M. Jean Bassères, directeur général de Pôle emploi, dont
        le siège est situé au 1, avenue du Docteur Gley, 75020 Paris. Tél : 33(0)140306000
    </p>
    <p class="body-2-typo">
        L’hébergeur du service est OVH (2 rue Kellermann 59100 Roubais – 09 72 10 10 07)
    </p>

    <h2 class="h2-style-2 headline-2-typo">2. Objet du service</h2>
    <p class="body-2-typo">
        Le site internet
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr/
        </a>
        est un service de Pôle emploi dédié aux demandeurs d’emploi bénéficiaires de l’Allocation de Solidarité
        Spécifique. Il permet d’accéder à une simulation des ressources mensuelles sur 6 mois en cas de reprise
        d’emploi, avec une vision détaillée mois par mois. Cette simulation présente une estimation qui n’a qu’une
        valeur informative.
    </p>
    <p class="body-2-typo">
        Le site internet permet aussi de connaitre les démarches à effectuer pour demander les aides auxquelles
        l’utilisateur est éligible, en fonction des informations personnelles complétées sur le site (Allocation de
        Solidarité Spécifique, Aide à la mobilité, Aide à la Garde d’Enfant pour Parent Isolé, Prime d’activité).
    </p>

    <h2 class="h2-style-2 headline-2-typo">3. Identification</h2>
    <p class="body-2-typo">
        Utilisez vos identifiants Pôle emploi pour vous identifier sur ESTIME comme sur pole-emploi.fr.
    </p>
    <p class="body-2-typo">
        L’identification sur ESTIME permet la remontée des informations de l’utilisateur par l’intermédiaire des API de
        Pôle emploi.
    </p>
    <p class="body-2-typo">
        L’utilisateur doit veiller à la confidentialité du mot de passe et de l’identifiant et demander la modification
        du mot de passe lorsqu’ils ont été divulgués à une personne non autorisée. En cas d’oubli de vos identifiants,
        rendez-vous sur
        <a href="https://www.pole-emploi.fr/" target="_blank" rel="noopener noreferrer">
            pole-emploi.fr
        </a>
    </p>

    <h2 class="h2-style-2 headline-2-typo">4. Fonctionnement</h2>
    <p class="body-2-typo">
        ESTIME utilise un moteur de calcul développé par Pôle emploi pour réaliser la simulation des ressources
        financières de l’utilisateur concernant l’Allocation de Solidarité Spécifique, l’Aide à la mobilité, et l’Aide à
        la Garde d’Enfant pour Parent Isolé.
    </p>
    <p class="body-2-typo">
        ESTIME utilise le moteur de calcul OpenFisca pour réaliser la simulation des ressources financières de
        l’utilisateur concernant la Prime d’activité. OpenFisca est un logiciel open source développé par Etalab, une
        administration publique rattachée à la Direction interministérielle du numérique.
    </p>
    <p class="body-2-typo">
        La simulation est réalisée à partir des informations renseignées par l’utilisateur lors de son utilisation du
        service et des informations remontées par l’intermédiaire des API de Pôle emploi.
    </p>
    <p class="body-2-typo">
        Aussi à des fins d'amélioration de service, il est possible que vous receviez par mail un questionnaire de
        satisfaction suite à l'utilisation du service Estime.
    </p>

    <h2 class="h2-style-2 headline-2-typo">
        5. Protection des données à caractère personnel
    </h2>

    <p class="body-2-typo">
        Pôle emploi utilise vos données pour délivrer le service décrit à l’article 2.
    </p>
    <p class="body-2-typo">
        Au titre de la licéité du traitement exigée par l’article 6 du règlement général (UE) sur la protection des
        données n°2016/679 du 27 avril 2016 (RGPD), le fondement juridique du traitement est la mission de service
        public de Pôle emploi relatif à l’accompagnement des personnes à la recherche d’un emploi que le service permet
        d’exécuter en application de l’article L. 5312-1 du code du travail.
    </p>
    <p class="body-2-typo">
        Vos données sont traitées pour la réalisation de la simulation par le moteur de calcul, elles ne sont conservées
        que pour la durée de la session de l’utilisateur.
        Conformément aux articles 12 à 23 du règlement général (UE) sur la protection des données n°2016/679 du 27 avril
        2016 et à la loi Informatique et libertés n°78-17 du 6 janvier 1978 modifiée, vous bénéficiez notamment d’un
        droit d’accès, de rectification, de limitation du traitement, le droit de définir des directives sur le sort des
        données après votre mort et le droit de porter une réclamation devant la Commission nationale de l’informatique
        et des libertés pour les données vous concernant.
    </p>
    <p class="body-2-typo">
        Pour exercer vos droits, vous pouvez vous adresser par courrier postal ou électronique auprès de votre agence
        Pôle emploi, auprès du délégué à la protection des données de Pôle emploi par courrier postal (1 avenue du
        Docteur Gley, 75987 Paris cedex 20) ou par courriel (Courriers-cnil@pole-emploi.fr).
    </p>
    <p *ngIf="this.isLoggedIn">
        <span>
            Si vous souhaitez supprimer définitivement la trace de vos données personnelles suite à l'utilisation du
            service Estime, cliquez sur le bouton ci-dessous
        </span>
    </p>
    <div class="col-md-12 text-center mt-4">
        <button *ngIf="this.isLoggedIn" type="button" class="btn-style-perso-5 button-typo"
            tag-action="clic_bouton_supprimer_mes_donnees_personnelles" aria-label="Supprimer mes données personnelles"
            (click)="onClickBoutonSupprimerDonneesPerso()">
            <div>
                <span>Supprimer mes données personnelles</span>
            </div>
        </button>
    </div>
    <div id="div-text-info-suppression-donnees-perso"
        [ngClass]="isErreurMessageInfoSuppression ? 'message-error' : 'message-ok'" class="card mt-3"
        *ngIf="messageInfoSuppressionDonneesPerso">
        <div class="row">
            <div id="img-text-info-suppression-donnees-perso" class="col-auto">
                <div>
                    <img alt="Suppression des données personnelles"
                        [src]="isErreurMessageInfoSuppression ? './assets/images/info-blue-1.svg' : './assets/images/check-mark.svg'">
                </div>
            </div>
            <div id="text-info-suppression-donnees-perso" class="col-auto">
                <span>{{messageInfoSuppressionDonneesPerso}}</span>
            </div>
        </div>
    </div>

    <h2 class="h2-style-2 headline-2-typo" [ngClass]="this.isLoggedIn ? 'mt-5' : ''">
        6. Cookies et autres traceurs
    </h2>

    <h3 class="h3-style-1 headline-3-typo">6.1. Qu'est-ce qu'un cookie ?</h3>
    <p class="body-2-typo">
        Un cookie est un petit fichier texte déposé sur le terminal des utilisateurs (par exemple un ordinateur, une
        tablette, un « Smartphone», etc.) lors de la visite d’un site internet. Il contient plusieurs données : le nom
        du serveur qui l’a déposé, un identifiant sous forme de numéro unique, et une date d’expiration. Les cookies ont
        différentes fonctionnalités. Ils ont pour but d’enregistrer les paramètres de langue d’un site, de collecter des
        informations relatives à votre navigation sur les sites, d’adresser des services personnalisés, etc. Seul
        l’émetteur d’un cookie est susceptible de lire, enregistrer ou de modifier les informations qui y sont
        contenues.
    </p>

    <h3 class="h3-style-1 headline-3-typo">6.2. Les cookies déposés sur le site</h3>
    <p class="body-2-typo">
        Sous réserve du choix de l’utilisateur, plusieurs cookies peuvent être utilisés sur le site internet
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr
        </a>
        . Les différentes finalités de ces cookies sont décrites ci-dessous.
    </p>
    <p class="body-2-typo">
        <b>
            Cookies strictement nécessaires au fonctionnement du site
        </b>
    </p>
    <p class="body-2-typo">
        Des cookies sont utilisés sur le site
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr
        </a>
        pour permettre le bon fonctionnement du site internet et l’utilisation des principales fonctionnalités du site.
        Ces cookies ne sont pas soumis au consentement de l’utilisateur (par exemple, cookie permettant
        l’authentification). Sans ces cookies, l’utilisation du site peut être dégradée et l’accès à certains services
        être rendu impossible (par exemple, l’usage des formulaires permettant l’utilisation de vos informations par le
        moteur de calcul chargé de la simulation de vos ressources financières). Il est déconseillé de les désactiver.
        L’utilisateur peut cependant s’opposer à leur dépôt en suivant les indications données au point 6.3. Ces cookies
        sont exclusivement déposés par Pôle emploi.
    </p>
    <p class="body-2-typo">
        <b>
            Cookies statistiques ou de mesure d’audience
        </b>
    </p>
    <p class="body-2-typo">
        Des cookies sont utilisés sur le site
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr
        </a>
        afin d’effectuer de la mesure d’audience, des analyses statistiques dans le but d'améliorer l'expérience
        utilisateur et la performance du site internet. Ces cookies sont déposés par des tiers pour le compte de Pôle
        emploi. L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 6.3. Le
        fait de refuser la mise en œuvre de tels cookies n'a pas d'incidence sur la navigation sur le site.
    </p>
    <p class="body-2-typo">
        Pour plus d’informations sur les cookies notamment sur le type de cookies déposés ainsi que leurs finalités
        précises, vous pouvez consulter la plateforme de gestion du consentement,
        <a onclick="tC.privacyCenter.showPrivacyCenter();return false">disponible ici</a>
        .
    </p>

    <h3 class="h3-style-1 headline-3-typo">6.3. Accepter ou refuser les cookies</h3>
    <p class="body-2-typo">
        L’utilisateur dispose de différents moyens pour gérer ses choix en matière de cookies. Les modalités de gestion
        diffèrent selon que le cookie est soumis ou non à un consentement préalable. L’utilisateur peut modifier ses
        choix à tout moment. Pour information, le paramétrage des cookies est susceptible de modifier les conditions de
        navigation sur le site internet
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr
        </a>
        , ainsi que les conditions d’accès à certains services et d’entrainer des dysfonctionnements de certaines
        fonctionnalités.
    </p>
    <p class="body-2-typo">
        <b>
            La plateforme de gestion du consentement
        </b>
    </p>
    <p class="body-2-typo">
        Pour les cookies donnant lieu à consentement préalable, l’utilisateur peut accepter ou refuser le dépôt de tout
        ou partie des cookies, à tout moment, en formulant des choix sur la plateforme de gestion du consentement
        <a onclick="tC.privacyCenter.showPrivacyCenter();return false">via ce lien dédié</a>
        .
    </p>
    <p class="body-2-typo"><b>Le paramétrage du navigateur</b></p>
    <p class="body-2-typo">L’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment,
        en modifiant les paramètres de son navigateur (consulter la fonction « Aide » du navigateur pour en savoir plus)
        ou en se rendant sur l’une des pages suivantes, selon le navigateur utilisé :</p>

    <ul class="ul-liens-aide-navigateur">
        <li>

            <span>
                Google Chrome :
                <a href="https://support.google.com/chrome/answer/95647?hl=fr" target="_blank"
                    rel="noopener noreferrer">
                    https://support.google.com/chrome/answer/95647?hl=fr
                </a>
            </span>
        </li>
        <li>
            <span>
                Internet Explorer :
                <a href="https://support.microsoft.com/fr-fr/help/17442" target="_blank" rel="noopener noreferrer">
                    https://support.microsoft.com/fr-fr/help/17442
                </a>
            </span>
        </li>

        <li>
            <span>
                Mozilla Firefox :
                <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies" target="_blank"
                    rel="noopener noreferrer">
                    https://support.mozilla.org/fr/kb/activer-desactiver-cookies
                </a>
            </span>
        </li>
        <li>
            <span>
                Safari :
                <a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank"
                    rel="noopener noreferrer">
                    https://support.apple.com/fr-fr/guide/safari/sfri11471/mac
                </a>
            </span>
        </li>
    </ul>

    <p class="body-2-typo">
        Pour information, la plupart des navigateurs acceptent par défaut le dépôt de cookies. L’utilisateur peut
        modifier ses choix en matière de cookies à tout moment. Le paramétrage des cookies est susceptible de modifier
        les conditions de navigation sur le site internet, ainsi que les conditions d’accès à certains services, et
        d’entrainer des dysfonctionnements de certaines fonctionnalités.
    </p>
    <p class="body-2-typo">
        Pour plus d’informations sur les cookies et les moyens permettant d’empêcher leur installation, l’utilisateur
        peut se rendre sur la page dédiée sur le site internet de la CNIL :
        <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank"
            rel="noopener noreferrer">
            https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser
        </a>
        .
    </p>

    <h2 class="h2-style-2 headline-2-typo">7. Usages non autorisés</h2>
    <p class="body-2-typo">L’utilisateur ne doit pas utiliser le service dans un autre but que celui fixé à l’article 2
        ou de façon contraire aux conditions générales d’utilisation.</p>
    <p class="body-2-typo">Pôle emploi peut bloquer l’accès au compte de l’utilisateur en cas de violation de ces
        dispositions.</p>

    <h2 class="h2-style-2 headline-2-typo">8. Responsabilité</h2>
    <p class="body-2-typo">
        L’utilisateur doit veiller à l’exactitude des données qu’il inscrit dans les formulaires du service proposé par
        le site
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr
        </a>
        pour permettre au moteur de calcul l’estimation la plus précise possible de ses ressources financières.
    </p>
    <p class="body-2-typo">
        Les résultats de la simulation réalisée par le moteur de calcul n’ont qu’une valeur informative et sont
        susceptibles d’évoluer notamment en fonction des évolutions législatives et règlementaires. En aucun cas
        l’estimation réalisée par le site
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr
        </a>
        n’a une valeur de décision.
    </p>
    <p class="body-2-typo">
        L’utilisateur ne peut prétendre à aucune indemnité en cas d’impossibilité d’accéder au service ou en cas de
        dommages de toute nature, directs ou indirects, résultant de l’utilisation du service.
    </p>

    <h2 class="h2-style-2 headline-2-typo">9. Propriété intellectuelle</h2>
    <p class="body-2-typo">
        La marque Pôle emploi est protégée au titre des articles L.712-1 et suivants du code de la propriété
        intellectuelle. Toute représentation, reproduction ou diffusion, intégrale ou partielle de la marque Pôle emploi
        sur quelque support que ce soit, sans l'autorisation expresse et préalable de Pôle emploi constitue un acte de
        contrefaçon, sanctionné en application des articles L.716-1 du même code.
    </p>
    <p class="body-2-typo">
        Par ailleurs, le site
        <a href="https://estime.pole-emploi.fr" target="_blank" rel="noopener noreferrer">
            https://estime.pole-emploi.fr
        </a>
        contient des contenus sur lesquels des tiers détiennent des droits de propriété intellectuelle (dessin,
        graphisme, marque, etc.) ou un droit à l’image (photo, visuel mettant en scène une personne physique, vidéo,
        etc.). Les internautes ne sont pas autorisés à réutiliser ces contenus en l’absence de l’autorisation préalable
        et expresse de ces tiers.
    </p>
    <p class="body-2-typo">
        Les autres contenus constituent des informations publiques librement réutilisables sous réserve du respect de la
        licence ouverte pour la réutilisation d’informations publiques consultable à l’adresse suivante :
        <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence" target="_blank" rel="noopener noreferrer">
            https://www.etalab.gouv.fr/licence-ouverte-open-licence.
        </a>
    </p>
</div>