@import "../../../assets/scss/variables";

.container-fluid {
  margin-top: 2rem;
}

.ul-liens-aide-navigateur li span {
  display: inline-block;
  word-break:break-word;
  vertical-align:top;
}

#div-text-info-suppression-donnees-perso {
  background-color: $color-blue-7 !important;
  &.message-error {
    background-color: $color-red-3 !important;
    .row {
      #text-info-suppression-donnees-perso {
        max-width: 270px;
        @media #{$small-device} {
          max-width: 360px;
        }
      }
    }
  }

  border-radius: unset;
  border: unset;
  margin-left: auto;
  margin-right: auto;
  @media #{$small-device} {
    max-width: 445px;
  }
  padding: 10px;
  .row {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    #img-text-info-suppression-donnees-perso {
      padding-left: 0;
      padding-right: 10px;
      div {
        width: 20px;
        height: 100%;
        position: relative;
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    #text-info-suppression-donnees-perso {
      padding: 0;
      span {
        color: $color-blue-3;
      }
      @media #{$extra-small-device} {
        max-width: 225px;
      }
    }
  }
}



