<div class="row" data-testid="row-montant-ressource">
    <div class="col-auto paie mt-auto mb-auto col-code-ressource"
         [ngClass]="[codeRessource.toLowerCase()]">
         <div>
           <span>{{codeRessource}}</span>
         </div>
    </div>
    <div class="col-auto mt-auto mb-auto col-libelle">
        <div class="row flex-column">
            <span class="span-libelle-aide">{{libelleRessource}}</span>
            <span *ngIf="organismeRessource" class="span-organisme">{{organismeRessource}}</span>
        </div>
    </div>
    <div class="col-auto mt-auto mb-auto col-montant" data-testid="col-montant-ressource">
      <div data-testid="div-span-montant-ressource" class="span-montant-ressource">
        <span data-testid="span-montant-ressource">
            {{montantRessource}} €
        </span>
      </div>
    </div>
    <div class="col-auto mt-auto mb-auto col-picto-arrow" *ngIf="!isColPictoArrowDisplay"><span></span></div>
    <div class="col-auto mt-auto mb-auto col-picto-arrow" *ngIf="isColPictoArrowDisplay && (!screenService.isExtraSmallScreen() || (screenService.isExtraSmallScreen() && !isAideSelected))"><span class="span-chevron"><i alt="" class="fas fa-chevron-right"></i></span></div>
    <div class="col-auto mt-auto mb-auto col-picto-arrow" *ngIf="isColPictoArrowDisplay && isAideSelected && screenService.isExtraSmallScreen()"><span class="span-chevron"><i alt="" class="fas fa-chevron-down"></i></span></div>
</div>