@import "../../../../../../assets/scss/variables";

.row {
  padding-left: 5px;
  @media #{$small-device} {
    padding-left: 6px;
  }
  .col-code-ressource {
    background-color: $color-grey-1;
    border-radius: 8px;
    height: 40px!important;
    width: 40px !important;
    text-align: center;
    div {
      align-items: center;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
      height: 100%;
      justify-content: center;
      span {
        font-size: 12px;
        font-weight: bold;
      }
    }
    &.paie {
      background-color: $color-green-1;
    }
    &.immo {
      background-color: $color-green-2;
    }
    &.indp {
      background-color: $color-green-3;
    }
    &.ass {
      background-color: $color-blue-4;
    }
    &.aah,
    &.are {
      background-color: $color-orange-3;
    }
    &.rsa {
      background-color: $color-blue-4;
    }
    &.apl {
      background-color: $color-red-3;
    }
    &.af {
      background-color: $color-red-4;
    }
    &.agepi {
      background-color: $color-violet-2;
    }
    &.am {
      background-color: $color-orange-2;
    }
    &.pa {
      background-color: $color-violet-1;
    }
  }
  .col-libelle {
    padding-right: 0;
    width: 55% !important;
    .span-libelle-aide {
      color: $color-blue-1;
      font-weight: bold;
      margin-left: 15px;
      @media #{$extra-small-device} {
        font-size: 0.9rem;
      }
    }
    .span-organisme {
      color: $color-blue-2;
      margin-left: 15px;
      @media #{$extra-small-device} {
        font-size: 0.9rem;
      }
    }
  }
  .col-montant {
    margin-left: auto;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 0;
    text-align: right;
    width: 20% !important;
    .span-montant-ressource {
      span {
        font-weight: 800;
        font-size: 12px;
        @media #{$small-device} {
          font-size: 14px;
        }
        @media #{$medium-device} {
          font-size: 18px;
        }
        color: $color-black-1;
      }
    }
  }
  .col-picto-arrow {
    margin-left: auto;
    margin-right: 0;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 0;
    width: 30px;
  }
  .span-chevron {
    @media #{$extra-small-device} {
      font-size: 0.8rem;
    }
  }
}
