@import "../../../../../assets/scss/variables";

.card {
  margin-top: 1rem;

  i {
    cursor: pointer;
  }
}

.card-body {
  padding-top: 0;

  @media #{$extra-small-device} {
    padding: 0rem;
  }
}