<div class="row card">
    <div class="card-title">
        <span class="headline-3-typo">Personne {{numeroNouvellePersonne}}</span>
        <i tabindex="0" class="fas fa-times-circle mb-2 me-2 float-end" (click)="onClickButtonAnnuler()"
            (keyup)="handleKeyUpOnButtonAnnuler($event)">
        </i>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmitNouvellePersonneAChargeForm(personnesAChargeForm)"
            [ngClass]="{'submitted':isNouvellePersonnesAChargeFormSubmitted}" #personnesAChargeForm="ngForm">
            <div class="form-group">
                <div class="mb-2">
                    <label class="label headline-4-typo" for="dateNaissance">
                        * Date de naissance
                    </label>
                </div>
                <div class="form-group ms-3">
                    <app-date-inputs [dateSaisie]="dateNaissanceNouvellePersonne"
                        [isFormSubmitted]="isNouvellePersonnesAChargeFormSubmitted"
                        (dateChanged)="gererAffichageNouvellePersonneSituationForm()">
                    </app-date-inputs>
                </div>
            </div>
            <app-form-personne-a-charge-situation *ngIf="isNouvellePersonneAChargeSituationFormGroupDisplay"
                [nouvellePersonneACharge]="nouvellePersonneACharge"
                [isNouvellePersonnesAChargeFormSubmitted]="isNouvellePersonnesAChargeFormSubmitted"
                [isSituationNotValide]="isSituationNotValide">
            </app-form-personne-a-charge-situation>
            <div>
                <button class="btn-style-perso-3 button-typo" type="submit" data-testid="btn-valider-personne-charge">
                    <div>
                        <span>Valider</span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>