@import "../../../../../assets/scss/variables";

.card {
  @media #{$small-device} {
    margin-right: 0 !important;
  }
  .card-title {
    padding: 1.25rem;
    padding-bottom: 0;
    span {
      color: $color-blue-10;
      font-weight: 600;
    }
    i {
      cursor: pointer;
    }
  }
  .card-body {
    padding-top: 0;
  }
}