<div class="modal-header" attr.tag-page="{{atTag}}">
    <span class="float-right label-close" (click)="modalRef?.hide()">Fermer</span>
    <button type="button" class="btn-close close pull-right" aria-label="Fermer" (click)="modalRef?.hide()" focus>
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <alert type="danger" *ngIf="messageErreur">
        {{messageErreur}}
    </alert>
    <div *ngIf="messageSucces">
        <h3 class='pt-3 headline-3-typo'>
            {{messageSucces}}
        </h3>
        <div class="row-btn-form">
            <button id="btn-aller-sur-site-pe" data-testid="btn-aller-sur-site-" class="btn-suivant"
                aria-label="Aller sur le site Pôle emploi" (click)="redirectionVersSitePoleEmploi()"
                tag-navigation="clic_aller_sur_pe_autres_situations">
                <div>
                    <span>Aller sur le site Pôle emploi</span>
                    <img alt="" src="./assets/images/icones/fleche-droite-pe-white.svg">
                </div>
            </button>
        </div>
    </div>
    <div *ngIf="!messageSucces && !messageErreur">
        <h3 class='pt-3 headline-3-typo color-blue-2-typo'>
            L'estimation n'est pas disponible pour d'autres ressources que celles listées précédemment
        </h3>
        <p class='body-1-typo'>
            Aidez-nous à faire évoluer l’outil en nous indiquant votre situation
        </p>
        <h4 class="headline-4-typo">De quelle(s) ressources disposez-vous à l’heure actuelle ?</h4>
        <div class="row">
            <div class="col">
                <button name="autre-situation-salaire" aria-label="Vous percevez un salaire"
                    class="radio-button-style-1" data-testid="btn-autre-situation-salaire" btnCheckbox tabindex="0"
                    tag-action="clic-autre-situation-salaire" [(ngModel)]="autresSituations.salaire">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.SALAIRE}}</span>
                </button>
                <button name="autre-situation-alternant" aria-label="Vous percevez un salaire d'alternant"
                    class="radio-button-style-1" data-testid="btn-autre-situation-alternant" btnCheckbox tabindex="0"
                    tag-action="clic-autre-situation-alternant" [(ngModel)]="autresSituations.alternant">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.ALTERNANT}}</span>
                </button>
                <button name="autre-situation-travailleur-independant"
                    aria-label="Vous percevez des revenus de travailleur indépendant" class="radio-button-style-1"
                    data-testid="btn-autre-situation-travailleur-independant" btnCheckbox tabindex="0"
                    tag-action="clic-autre-situation-travailleur-independant"
                    [(ngModel)]="autresSituations.travailleurIndependant">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.TRAVAILLEUR_INDEPENDANT}}</span>
                </button>
                <button name="autre-situation-remu-formation" aria-label="Vous percevez une rémunération de formation"
                    class="radio-button-style-1" data-testid="btn-autre-situation-remu-formation" btnCheckbox
                    tabindex="0" tag-action="clic-autre-situation-remu-formation"
                    [(ngModel)]="autresSituations.formation">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.FORMATION}}</span>
                </button>
                <button name="autre-situation-cej" aria-label="Vous percevez une allocation CEJ"
                    class="radio-button-style-1" data-testid="btn-autre-situation-cej" btnCheckbox tabindex="0"
                    tag-action="clic-autre-situation-cej" [(ngModel)]="autresSituations.cej">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.CEJ}}</span>
                </button>
                <button name="autre-situation-ada" aria-label="Vous percevez une allocation de demandeur d'asile"
                    class="radio-button-style-1" data-testid="btn-autre-situation-ada" btnCheckbox tabindex="0"
                    tag-action="clic-autre-situation-ada" [(ngModel)]="autresSituations.ada">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.ADA}}</span>
                </button>
                <button name="autre-situation-allocation-securisation-professionnelle"
                    aria-label="Vous percevez une allocation de sécurisation professionnelle"
                    class="radio-button-style-1"
                    data-testid="btn-autre-situation-allocation-securisation-professionnelle" btnCheckbox tabindex="0"
                    tag-action="clic-autre-situation-allocation-securisation-professionnelle"
                    [(ngModel)]="autresSituations.securisationProfessionnelle">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.SECURISATION_PROFESSIONNELLE}}</span>
                </button>
                <button name="autre-situation-autre" aria-label="Vous percevez autre chose"
                    class="radio-button-style-1 me-1" data-testid="btn-autre-situation-autre" btnCheckbox tabindex="0"
                    tag-action="clic-autre-situation-autre" (click)="onClickCheckBoxAutreSituationAutre()"
                    (keyup)="handleKeyUpOnButtonAutreSituationAutre($event)" [(ngModel)]="autresSituations.autre">
                    <span class="body-2-typo">{{autresSituationsPersonneEnum.AUTRE}}</span>
                </button>
                <input *ngIf="autresSituations.autre === true" id="autre-input" class="form-control d-inline mb-2"
                    data-testid="input-autre-situation-autre" aria-label="Vous percevez d'autres ressources"
                    name="dureeHebdomadaire" [(ngModel)]="autresSituations.autreContenu" placeholder="Précisez" required
                    type="text">
                <div class="row pb-3">
                    <div class="col-12">
                        <span class="error-input-message" *ngIf="isFormSubmitted  && !checkFormIsValid()">
                            {{controleChampFormulaireService.MESSAGE_SELECTION_AUTRES_SITUATIONS}}
                        </span>
                    </div>
                </div>
                <div class="row-btn-form">
                    <button id="btn-ma-situation-suivant" data-testid="btn-enregistrer-autre-situation"
                        class="btn-suivant" aria-label="Passer à la page suivante"
                        aria-label="Passer à la page suivante" (click)="onSubmitAutresSituationsForm()"
                        tag-navigation="clic_bouton_enregistrer_autre_situation">
                        <div>
                            <span>Enregistrer</span>
                            <img alt="" src="./assets/images/icones/fleche-droite-pe-white.svg">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>