@import "../../../../../assets/scss/variables";


#autre-input {

  max-width: 20rem;
  min-width: 20rem;

  @media #{$extra-small-device} {
    max-width: 10rem;
    min-width: 10rem;
  }

  //   margin-left: 0.25rem;
  margin-top: 0.3rem;
}